


 <div>

	<div id="post" class="tab-pane fade in admin-page">
		<div class="section-heading">
			<h4> Support Group</h4>
			<p></p>
		</div>
		<div class="section-content" id="create-job">
			<div class="shadow-container">
				<div class="inner-head">
					 <h4>Create new Support Group</h4> 
				</div>
				<div class="inner-form">

					<form ng-submit="saveSupportGroupName()">
					<div>
							<div>
								<div>

									<div>
										<div>
											<div>
												<div>



															<div class="form-group">
																<label>choose</label> <select
																	class="form-control flat-control-inner"
																	ng-model="supportGroup.regionId" required ng-options="region.id as region.region for region in regionList">
																	<!-- <select class="form-control flat-control-inner"  ng-model="supportGroupId"> -->
																	<option value="">choose</option>
																</select>
															</div>
															<div class="form-group">
																<label> Name</label> 
																<input type="text" class="form-control flat-control-inner " ng-model="supportGroup.name"
																		required>
															</div>
															
															<button class="btn btn-default btn-bluer">Save</button>
														
																</div>

											</div>
											</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>
</div>




<!--  <div class="col-md-7">
          <div id="user-calling" >
          <div class="table-responsive">
        <div class="job-search-cntnr">
          <div class="srch-head" style="background-color: #fff;margin: 0px 0px 14px;">
            <h2>Create Sub Support Group</h2>
          </div>
          
           <div class="col-md-7">
          <div id="user-calling" >
          <div class="table-responsive">
        <div class="job-search-cntnr">
          <div class="srch-head" style="background-color: #fff;margin: 0px 0px 14px;">
            <h6><font color="red">*Required</font></h6>
          </div>
          </div>
          
          <div class="col-md-7">
          <div id="user-calling" >
          <div class="table-responsive">
        <div class="job-search-cntnr">
          <div class="srch-head" style="background-color: #fff;margin: 0px 0px 14px;">
            <h4>Support Group<font color="red">*</font></h4>
          </div>
          
          <div class="row" style="margin: 0px;">
          <div class="col-md-4">
            <div class="form-group">
              <label>choose</label>
              <select class="form-control flat-control-inner"  ng-model="subSupportGroupId"  ng-change="fetchSupportGroupList()">
              <select class="form-control flat-control-inner"  ng-model="subSupportGroupId">
                  <option value="">choose</option>
                  <option ng-repeat="region in regionList" value="{{region.id}}">{{region.region}}</option>
                  <option ng-repeat="subSupportGroup in subSupportGroupList" value="{{subSupportGroup.id}}">{{subSupportGroup.name}}</option>
              </select>
            </div>
          </div> -->