 <div class="tab-pane fade in admin-page">
	<div class="section-heading">
		<h4>Sub-Support Group</h4>
	</div>
	<div class="section-content" id="list-uploaded-files">
		<div class="upper-actions">
			<div class="col-md-4 col-lg-4" style="padding: 0;">
				<div class="button-group">
					<a><button class="btn btn-default btn-create" ng-click="addEditSubSupportGroup(undefined)" id="create-req-btn"><i class="icon-plus"></i></button></a>
					<button class="btn btn-default btn-delete" ng-click="check()">
						<i class="icon-trash-2"></i>
					</button>
				</div>
			</div>
			<div class="col-md-1 col-lg-1"></div>
			<div class="col-md-7 col-lg-7">
				<div class="srch-uppr" style="float: right;">
					</div>
					<div class="button-group" style="padding-left: 10px;">
					</div>
					<div class="search-cntnr">
            <div class="form-group search-box inline-blck">
              <input type="text" name="" id="id_of_textbox" class="form-control flat-control-search mar-bottom-zero" ng-model="searchterm">
              <i class="icon-search" id="id_of_button" ng-click="fetchListingSubSupportGroupList(0,10,null,null,searchterm);fetchSubSupportGroupListCount(searchterm)"></i>
            </div>

			<div class="clearfix"></div>
		</div>
				</div>
			</div>
			
		<div class="table-cntnr">
			<table class="table table-striped red-table">
				<caption>List Of Sub-Support Group</caption>
				<thead>
					<tr>
						<th>
							<div class="chckbx-cntnr zeromargin">
								<input type="checkbox" id="rd" name="check"  ng-click="checkedAllList(subSupportGroupList,all)" ng-model="all" class="flashadmin">
								<label class="cstmchk_lbladmin" for="rd"></label>
							</div>
						</th>
 						<th style="vertical-align: middle;min-width: 95px;">Name <i class="fa fa-sort"  ng-click="SortingSubSupportGroupList('subsupportgroup',searchterm)"></i></th>
						<th style="vertical-align: middle;min-width: 135px;">Support Group  <i class="fa fa-sort" ng-click="SortingSubSupportGroupList('supportgroup',searchterm)"></i></th>
						</tr>
				</thead>
				<tbody>
					<tr ng-repeat="subSupportGroup in subSupportGroupList">
						<td>
							<div class="chckbx-cntnr zeromargin">
								<input type="checkbox" id="subSupportGroup{{subSupportGroup.id}}" ng-checked="all" ng-click="checkSubSupportGroup(subSupportGroup.id)" name="check" class="flashadmin">
								<label class="cstmchk_lbladmin" for="subSupportGroup{{subSupportGroup.id}}"></label>
							</div>
						</td>						 
						<td><a ng-click="addEditSubSupportGroup(subSupportGroup)">{{subSupportGroup.name}}</a></td>
						<td>{{subSupportGroup.supportGroup.name}}</td>
 						</tr>
				</tbody>
			</table>
			
			<div class="text-right" style="margin: 12px 0;">           
	            <ul class="pagination" style="margin-top: 0;">
				<li><a ng-hide="start == 0" ng-click="previous()">&laquo;</a>
				<li ng-repeat="i in navButtons" ng-class="$parent.offset == i * $parent.limit && 'active'"><a class="" ng-click="current(i)">{{i+1}}</a></li>
				<li><a ng-hide="(((start+5)*10) + 10) >= count" ng-click="next()">&raquo;</a></li>
				</ul>
            </div>
 
		</div>
	</div>
	
	<div class="modal fade" id="add_edit_sub_support_group" role="dialog">
          <div class="modal-dialog modal-md add-brand">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">X</button>
                <h4 class="modal-title">Sub Support Group</h4>
              </div>
              <div class="modal-body">
                <form ng-submit="saveSubSupportGroup(subSupportGroup)">
                  <p>Sub Support Group Name:</p>
                  <div class="form-group">
                   <input type="text" name="brand-name" class="brand-name" ng-model="subSupportGroup.name">
                 </div>
                 <p>Support Group:</p>
                <div class="form-group">
                  <select class="form-control"  ng-model="subSupportGroup.supportGroup.id" ng-options="cl.id as cl.name for cl in supportGroupList" required>
                    <option value="">--Select Support Group--</option> 
                  </select>
                  
                  <!-- <select class="form-control flat-control-inner" ng-model="subSupportGroup.supportGroup.id"  >
                       <option value = ""> --Please Support Group-- </option>
                       <option data-ng-repeat="q in supportGroupList" value="{{q.id}}" ng-selected="q.id==subSupportGroup.supportGroup.id">{{q.name}}</option>
                  </select> -->
                  
                </div>
                <p>Working hours:</p>
                <div class="form-group col-md-12">
                <div class="radio-cntnr" style="margin-top: 8px;"><input type="radio" id="rad_24" name="radio-group" ng-value="true"  ng-model="subSupportGroup.allDayShift" required="" ng-checked="subSupportGroup.allDayShift">
                      <label for="rad_24">24/7</label>
                      </div>
                       <div class="radio-cntnr" style="margin-top: 8px;"><input type="radio" id="rad_fixed" name="radio-group" ng-value="false"  ng-model="subSupportGroup.allDayShift" required="" ng-checked="!subSupportGroup.allDayShift">
                      <label for="rad_fixed">Fixed Hours Shift</label>
                      </div>
				</div>
				<div class="row">
				<div class="form-group col-md-12" ng-show="!subSupportGroup.allDayShift">
				 <div class="col-md-6">
                  <div class='input-group date '  id='datetimepicker_strt'>
                    <input type='text' class="form-control" ng-model="subSupportGroup.workingHoursStartString" placeholder="Shift start time" ng-required="!subSupportGroup.allDayShift"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                </div> 
                </div>  
                <div class="col-md-6">
                <div class='input-group date ' id='datetimepicker_end'>
                    <input type='text' class="form-control"  ng-model="subSupportGroup.workingHoursEndString" placeholder="Shift end time" ng-required="!subSupportGroup.allDayShift"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                </div> 
                </div>    
				</div>
				</div>
				<br>
                 <p>Offline Hours Text:</p>
                <div class="form-group">
                 <textarea ng-model="subSupportGroup.offlineHoursMessage"  class="form-control" rows="5" id="comment" ng-required="!subSupportGroup.allDayShift"></textarea>
                 </div>
                <div class="form-group text-right">
                  <button type="submit" class="btn-info add_brand" >Save Changes</button>
                </div>
               </form>
              </div>
            </div>            
          </div>
      </div>
      
      <div id="deletelist" class="modal fade" role="dialog">
	  <div class="modal-dialog modal-sm add-brand">	
	    <!-- Modal content-->
	    <div class="modal-content flat-modal">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">X</button>
	        <h4 class="modal-title common-title" style="margin-left: 0;">Delete Record</h4>
	      </div>
	      <div class="modal-body flat-body">
	          <div class="clearfix"></div>
	        Are you sure want to delete {{checkedSubSupportGroupIds.length}} records?
	      <div class="modal-footer text-left">
	        <button type="button" class="btn btn-default" data-dismiss="modal" id="show_ass" ng-click="deleteSubSupportGroup()">Delete</button>
	        <a class="btn btn-link" data-dismiss="modal" >Cancel</a>
	      </div>
	    </div>
	   </div>
	    </div>
    </div>
	
	</div>
	<script type="text/javascript">
       
       
        $("#id_of_textbox").keyup(function(event) {
            if (event.keyCode === 13) {
                $("#id_of_button").click();
            }
        });
        $('#datetimepicker_strt').datetimepicker({
            format: 'LT'
        });
        $('#datetimepicker_end').datetimepicker({
            format: 'LT'
        });
   
    </script>