<section id="jobs-main" style="padding: 5% 0;" >
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2">
				<div class="text-center">
					<div class="profile-pic-big"
						style="background: url({{userdetails.profilePic}}) center no-repeat"></div>
					<div class="username">{{userdetails.firstName+"
						"+userdetails.lastName}}</div>
					<div class="username">{{userdetails.RefNo}}</div>
					<!-- <div class="position">Chief Cook</div> -->
					<div class="city">{{userdetails.userContact.city.cityName+","+userdetails.countryName}}</div>

				</div>
			</div>
			<div class="section-content col-md-8" id="user-video-screen" style="padding: 0px;">
          <div class="table-responsive">
            <div class="job-search-cntnr" style="padding: 0px;">
                <div id="video-calling" class="">
                  <div>
              <video id="videoOutput" autoplay width="100%" height="450" controls
				poster="resources/img/loder-voice.gif"></video> 
					
                  </div> 
                </div> 
				 
                <div class="btn-cntnr" style="margin: 15px 15px;">
                  <!-- <button class="btn btn-default btn-bluer" id="next-btn">Next</button> -->
                 <a >
                  <div class="cancel-btn" onclick="stop()">
                  	<i class="fa fa-phone"></i>
                  </div>
                  </a>
                 
                  <a href="" id="audio-cancel">Back</a> 
                </div> 

            </div>  
          </div>  
          <div id="videoSmall" style="display:none">
					<video id="videoInput" autoplay width="240px" height="180px"
						poster="./img/webrtc.png"></video>
				</div>
        </div>
		</div>
	</div>
</section>