<!----Main Content---->
<style>
#videoInput {
	    height: 108px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 10;
    padding: 0px;
    border: solid 1px #000000;
    width: 144px;
    margin: 0px;
}
</style>
<script src="modules/internetCalling/js/index.js"></script>
<div class="height-70"></div>
<div id="call_controller" >
<section id="jobs-main" style="padding: 5% 0;" >
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2">
				<div class="text-center">
					<div class="profile-pic-big"
						style="background: url({{userdetails.profilePic}}) center no-repeat"></div>
					<div class="username">{{userdetails.firstName+"
						"+userdetails.lastName}}</div>
					<div class="username">{{userdetails.RefNo}}</div>
					<!-- <div class="position">Chief Cook</div> -->
					<div class="city">{{userdetails.userContact.city.cityName+","+userdetails.countryName}}</div>

				</div>
			</div>
			<div class="section-content col-md-8 clearfix" id="user-video-screen" style="padding: 0px;">
          <div class="table-responsive">
            <div class="job-search-cntnr" style="padding: 0px;">
                <div id="video-calling" class="">
                  <div>
              <video id="videoOutput" autoplay width="100%" height="400" controls
				poster="resources/img/loder-voice.gif"></video> 
				<video id="videoInput" autoplay width="200px" height="119px"
						poster=""></video>	
                  </div> 
                </div> 
				 
                <div class="btn-cntnr" style="margin: 15px 15px;">
                  <!-- <button class="btn btn-default btn-bluer" id="next-btn">Next</button> -->
                  <div class="text-center">
                  <button class="btn btn-default call-btn mic_unmute" onclick="muteUnmuteCall(this)" style="padding: 0px 6px; margin-bottom:10px" >
					</button>
                  
                  <button ng-click="endCall()" class="btn btn-default call-btn ng-scope" style="padding: 0px 6px; margin-bottom:10px">
						<img src="resources/img/end-call-button.png" class="img-responsive">
					</button>
                 </div>
                </div> 

            </div>  
          </div>  
        </div>
		</div>
	</div>
	<button ng-click="callEndNotification()" id="call_ended" style="display:none"></button>
	<button ng-if="CallEnabled" id="call_btn" type="button" ng-click="call()"></button>
</section>
</div> 