<style>
	.voice-message-div{
		text-align:center;	
	}
	.list-of-attachment{
	list-style:none;
	padding:0px;
	}
	.list-of-attachment li{
	text-align:left;
	positin:relative;
	}
	.list-of-attachment li i{
	padding-right:5px;
	}
	
	.voice-message-div .logo-voice{
	margin: 0 auto;
	width:100px;
	}
	#next-btn{
	
	}
	#timertime{
	margin:0px;}
	
	.btn-right-1 {
    margin: 20px 0px;
    text-align: center;
}
.btn-right-1 .btn-bluer{
margin:0px !important
}
	.next-btn{
	margin:0px!important}
	
	.leave-msg textarea{
	width: 100%;
    padding: 0.5rem;
    font-size: 16px;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    min-height: 100px;
    margin-bottom: 1rem;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor:pointer
}

.upload-btn-wrapper .btn {
  border: 1px solid #00aeef;
    color: #00aeef;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    height: 100%;
    cursor: pointer;
}
</style>

<div class="height-70"></div>
<section id="jobs-main">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2">
				<div class="text-center">
					<div class="profile-pic-big"
						style="background: url({{userdetails.profilePic}}) center no-repeat"></div>
					<div class="username">{{userdetails.firstName+"
						"+userdetails.lastName}}</div>
					<div class="username">{{userdetails.RefNo}}</div>
					<!-- <div class="position">Chief Cook</div> -->
					<div class="city">{{userdetails.userContact.city.cityName+","+userdetails.countryName}}</div>

				</div>
			</div>

			<div class="col-md-10">
				<div id="user-calling">
					<div class="table-responsive  user-calling-border">
						<div class="job-search-cntnr">
							<div class="srch-head"
								style="background-color: #fff; margin: 0px 0px 14px;">
								<h4>Welcome to P & O Cruises and Cunard Crew Services
									Center</h4>
							</div>
							<form ng-submit="showCommunicationOptions()">
								<div class="row" style="margin: 0px;">

									<div class="col-md-4">
										<div class="form-group">
											<!-- <label>Please Select The Region</label> -->
											 <select
												class="form-control flat-control-inner" ng-model="regionId"
												required ng-change="fetchSupportGroupList()">
												<option value="">Please Select The Region</option>
												<option ng-repeat="region in regionList"
													value="{{region.id}}">{{region.region}}</option>
											</select>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<!-- <label>Please Select Option</label>  -->
											<select ng-show="regionId"
												class="form-control flat-control-inner"
												ng-model="supportGroupId" required
												ng-change="fetchSubSupportGroupList()">
												<option value="">Please Select Option</option>
												<option ng-repeat="supportGroup in supportGroupList"
													value="{{supportGroup.id}}">{{supportGroup.name}}</option>
											</select>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group" ng-show="supportGroupId&&regionId">
										
										<select class="form-control flat-control-inner" ng-options="subSupportGroup as subSupportGroup.name  for subSupportGroup  in subSupportGroupList" ng-model="subSupportGroup" ng-change="checkIfOfflineHours()">
										<option value="">Please Select Sub-Option</option>
										</select>
										</div>
									</div>

								</div>

								<!-- <div class="btn-right" style="" ng-show="subSupportGroup.id">
									<button class="btn btn-default btn-bluer"  id="next-btn">Next</button>
									<a href="">Cancel</a>
								</div> -->
							</form>
							<div class="row" style="margin: 0px;"
								ng-show="subSupportGroup.id&&regionId&&!subSupportGroup.allDayShift&&offline">
								<div 
								style="background-color: #fff;margin: 0px 0px 14px;padding: 20px 20px;text-align: center;">
								<h5>{{subSupportGroup.offlineHoursMessage}}</h5>
								<h5>Online Hours: {{subSupportGroup.workingHoursStartString}} - {{subSupportGroup.workingHoursEndString}}</h5>
							</div>
								</div>
							<div class="row" style="margin: 0px;"
								ng-show="subSupportGroup.id&&regionId">
								<div class="inner-voice-msg flex-div">

									<div class="col-md-12 flex-contaoner con" >
										<div class="user-voice-call flex-item con-tooltip top support-icon-res" ng-show="subSupportGroup.allDayShift||!offline">
											<a id="voice-call-user" style="cursor: pointer;"
												ng-click="selectCommunicationOption(2)"><img
												src="resources/img/04.png" class="img-responsive"></a>
												<div class="tooltip ">
											        <p>Voice Call</p>
											      </div>
											<!-- <p>Voice Call</p> -->
										</div>

										<div class="user-voice-call flex-item con-tooltip top support-icon-res" ng-show="subSupportGroup.allDayShift||!offline">
											<a id="video-call-user" style="cursor: pointer;" tooltip="Video Call"
												ng-click="selectCommunicationOption(1)"><img
												src="resources/img/03.png" class="img-responsive" title="Video Call"></a>
											<!-- <p>Video Call</p> -->
											<div class="tooltip ">
											        <p>Video Call</p>
											      </div>
										</div>

										<div class="user-voice-call flex-item con-tooltip top support-icon-res">
											<a id="message-user" style="cursor: pointer;"
												ng-click="textmessage=true;voicemessage=false;enableFileEvent();"><img
												src="resources/img/02.png" class="img-responsive" title="Leave a Message"></a>
											<!-- <p>Leave a Message</p> -->
											<div class="tooltip ">
											        <p>Leave a Message</p>
											      </div>
										</div>

										<div class="user-voice-call flex-item con-tooltip top support-icon-res">
											<a id="message-user" style="cursor: pointer;"
												ng-click="voicemessage=true;textmessage=false"><img
												src="resources/img/leav-voice-message.png" title="Leave a Voice Message"
												class="img-responsive"></a>
											<!-- <p>Leave a Voice Message</p> -->
											<div class="tooltip ">
											        <p>Leave a Voice Message</p>
											      </div>
										</div>
									</div>
									<div class="col-md-2"></div>
								</div>
							</div>
							<div class="row clearfix leave-msg" style="margin: 0px;" ng-show="textmessage">
								<div class="col-md-12">
								<form ng-submit="sendMessage(3,textMessage)"
									enctype="multipart/form-data">
									<div id="" class="">
										<div class="" style="text-align: center;">
											<!-- <p style="font-size: 20px; font-weight: 600; margin: 0;font-size: 20px;
    font-weight: 600;
    margin: 20px 0px;
    text-align: left;">Message Description</p> -->
											<textarea class="text-field" ng-model="textMessage"
												style="width: 100%" placeholder="Please leave a message" required></textarea>
										</div>
										<div class="" style="text-align: center;">
										<ul class="list-of-attachment">
										<li ng-repeat="file in attachments"><i class="fa fa-paperclip" aria-hidden="true"></i>{{file.name}}</li></ul>
										</div>
										<div class="upload-btn-wrapper">
										  <button class="btn">Upload Files</button>
										  <input type="file" name="myfile" id="attachments" multiple/>
										</div>
									</div>
									<div class="btn-right" style="">
										<button class="btn btn-default btn-bluer" style="margin:0px" id="next-btn">Send</button>
										<div class="form-group width-200"></div>
									</div>
								</form>
								</div>
								<!-- <a href="">Cancel</a> -->
							</div>
							<div class="row voice-message-div" style="margin: 0px;" ng-if="voicemessage">
							<form ng-submit="sendVoiceMessage(4)"
									enctype="multipart/form-data">
									

									<img class="img-responsive text-center logo-voice" src="resources/img/voice-rec.png"/>
									<h3 id="timertime">00.00.00</h3>
									<!-- <button type="button" onClick="myTimer = setInterval(myCounter, 1000)">Start counter!</button>
                                    <p id="demo">Click on the button above and I will count forever.</p>

                                       <button type="button" onClick="clearInterval(myTimer)">Stop counter!</button> -->
									
									
								<button type="button" id="button_play" onClick="myTimer = setInterval(myCounter, 1000)" class="btn play-audio"
									title="Start Your Recording" ng-click="recordAudio(true)">
									<i class="fa fa-play"></i>
								</button>
								
								<button disabled type="button" id="button_stop" onClick="clearInterval(myTimer)"
									class="btn play-stop" title="Stop Your Recording"
									ng-click="recordAudio(false);checkvalueSelected(audioRecorded)">
									<i class="fa fa-stop"></i>
								</button>
								<!-- <img src="resources/img/audio.png" ng-if="question.isVoiceEnabled==true && audioRecorded==true" class="audio-png"  ng-click="enabledAudioT=true;generatedSignUrl(question.audioAns)" alt="" style="display: block;">
 -->
 
 								
 								
								<audio style="margin: 15px auto;display: block;text-align: center; display:none" src=""
									id="voice-respnce" type="audio/ogg" controls
									controlsList="nodownload"></audio>
									<div class="btn-right-1" style="">
										<button class="btn btn-default btn-bluer"  id="next-btn" ng-disabled="!recorded">Send</button>
										<div class="form-group width-200"></div>
									</div>
								</form>
								
							</div>
						</div>
					</div>





				</div>
			</div>
		</div>
	</div>
<script>
var sec = 0;
var min=0;
var hr=0;
function myCounter() {
if(sec==60){
min++;
sec = 0;
}
if(min==60){
hr++;
min=0;
sec = 0;
}

sec++;
var seconds=""+sec;
var mins=""+min;
var hours=""+hr;
if(sec<10){
seconds="0"+sec;
}
if(min<10){
mins="0"+min;
}
if(hr<10){
hours="0"+hr;
}
    document.getElementById("timertime").innerHTML = hours+":"+mins+":"+seconds;
   
    
}

</script>

	</div>



</section>