
<div class="section-content" id="task-flow-list"
	style=" padding: 0px;">
	<!-- <div class="section-heading">
            <h4>Calling Option</h4>
            <p>Create new requisition for recruitment from customers.</p>
          </div> -->
	<div class="table-responsive">
		<div class="job-search-cntnr">
			<div class="srch-head"
				style="background-color: #fff; margin: 0px 0px 14px;">
				<h4>Welcome to P & O Cruises and Cunard Crew Services Center</h4>
			</div>
			<div class="row" style="margin: 0px;">
				<div class="inner-voice-msg" style="margin: 50px 0;">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<div class="user-voice-call">
							<a id="voice-call-user" style="cursor: pointer;"><img
								src="resources/img/04.png" class="img-responsive"></a>
							<p>Voice Call</p>
						</div>

						<div class="user-voice-call">
							<a id="video-call-user" style="cursor: pointer;"><img
								src="resources/img/03.png" class="img-responsive"></a>
							<p>Video Call</p>
						</div>

						<div class="user-voice-call">
							<a id="message-user" style="cursor: pointer;"><img
								src="resources/img/02.png" class="img-responsive"></a>
							<p>Leave a Message</p>
						</div>
					</div>
					<div class="col-md-2"></div>
				</div>
			</div>

			<!-- <div class="btn-cntnr" style="">
                  <button class="btn btn-default btn-bluer" id="next-btn">Next</button>
                   <a href="">Cancel</a> 
                </div> -->

		</div>
	</div>

</div>