<script src="modules/internetCalling/js/player.js"></script>
<div class="height-70"></div>

<div class="section-head">
	<div class="header-chat">
		<h3>My Support Tickets</h3>
		<button type=button class="btn btn-default refresh-ticket"
			ng-hide="!tickets||tickets.length==0||ticket.isClosed"
			ng-click="fetchTicketDetails(ticket)">Refresh</button>

		<button type=button class="btn btn-default close-ticket"
			ng-hide="!tickets||tickets.length==0||ticket.isClosed"
			ng-click="closeTicket(ticket)">Close Ticket</button>

		<button class="btn btn-default close-ticket" ng-show="ticket.isClosed" id="ticketClosed">Ticket
			Closed</button>
	</div>
	<div class="container-fluid" style="padding: 0; margin: 0;">
		<div class="messaging">
			<div class="inbox_msg">
				<div class="inbox_people">
					<div class="headind_srch">
						<div class="search-cntnr" style="width: 100%;">
							<div class="form-group search-box"
								style="margin-bottom: 0px !important;">
								<input type="text" ng-model="searchText"
									class="form-control flat-control-search" id="id_of_textbox"
									style="margin-bottom: 0px !important;"> <i
									class="icon-search" id="id_of_button"></i>
							</div>
						</div>
						<!-- <div class="srch_bar">
						<div class="stylish-input-group">
							<input type="text" class="search-bar" placeholder="Search">
						</div>
					</div> -->
					</div>
					<div class="inbox_chat">
						<div class="chat_list" ng-show="!tickets||tickets.length==0">
							<div class="chat_people">No Tickets found</div>
						</div>
						<div class="chat_list"
							ng-repeat="ticket in tickets | filter:searchText"
							ng-click="fetchTicketDetails(ticket)">
							<div class="chat_people">
								<div class="chat_img">
									<img src="resources/img/male.png" alt="sunil">
								</div>
								<div class="chat_ib">
									<h5>
										Ticket # {{ticket.id}} <span class="chat_date">{{dateformate(ticket.createdTimestamp)}}</span>
									</h5>
									<p>{{ticket.subSupportGroup.name}}</p>
								</div>
							</div>
						</div>

					</div>
				</div>
				<div class="mesgs" ng-hide="!tickets||tickets.length==0">
					<div class="msg_history" chat-screen>
						<div class="outgoing_msg">
							<div class="sent_msg">
								<p ng-if="ticket.textMessage">{{ticket.textMessage}}</p>
								<div ng-if="ticket.voiceMessage">
									<audio width="100%" height="350" controls autoplay
										id="player{{ticket.id}}" poster="" style="display: none">
									</audio>
									<div class="video_controls_bar">
										<button class="pButton pause" onclick="playPause(this)"
											style="display: none"></button>
										<button class="pButton start_play"
											ng-click="showAudioMessage(ticket)"></button>
										<div class="timeline">
											<div class="playhead"></div>
										</div>
										<!-- 								  <div class="video_duration"><span class="curtimetext">00:00</span> -->
										<!-- 								/ <span class="durtimetext">00:00</span></div> -->
										<button class="mutebtn unmute" onclick="muteUnmute(this)"></button>
									</div>
								</div>
								<span class="time_date"> {{dateformate(ticket.createdTimestamp)}}</span>
							</div>
						</div>
						<div class="outgoing_msg"
							ng-repeat="userCallAttachment in userCallAttachmentList">
							<div class="sent_msg">
								<p ng-click="download(userCallAttachment.path)" style="cursor:pointer">
									<i class="fa fa-download" style="font-size: 20px;"></i> <span><i>{{userCallAttachment.attachmentName}}</i></span>
								</p>
								<span class="time_date"> {{dateformate(ticket.createdTimestamp)}}</span>
							</div>
						</div>
						<div ng-repeat="conversation in ticketDetails" chat-screen>
							<div class="incoming_msg" ng-if="conversation.agentId">
								<div class="incoming_msg_img">
									<img src="resources/img/male.png" alt="sunil"
										style="height: 40px;">
								</div>
								<div class="received_msg">
									<div class="received_withd_msg">
										<p ng-if="conversation.textMessage">{{conversation.textMessage}}</p>
										<audio width="100%" height="350" controls autoplay
											id="player{{conversation.id}}" poster=""
											style="display: none">
										</audio>
										<div class="video_controls_bar"
											ng-if="conversation.voiceMessage">
											<button class="pButton pause" onclick="playPause(this)"
												style="display: none"></button>
											<button class="pButton start_play"
												ng-click="showAudioMessage(conversation)"></button>
											<div class="timeline">
												<div class="playhead"></div>
											</div>
											<!-- 								  <div class="video_duration"><span class="curtimetext">00:00</span> -->
											<!-- 								/ <span class="durtimetext">00:00</span></div> -->
											<button class="mutebtn unmute" onclick="muteUnmute(this)"></button>
										</div>
										<span class="time_date">
											{{dateformate(conversation.callReceivedAt)}}</span>
									</div>
								</div>
							</div>
							<div class="incoming_msg" ng-if="conversation.agentId"
								ng-repeat="userCallAttachment in conversation.userAttachments">
								<div class="incoming_msg_img">
									<img src="resources/img/male.png" style="height: 40px;"
										alt="sunil">
								</div>
								<div class="received_msg">
									<div class="received_withd_msg">
										<p ng-click="download(userCallAttachment.path)">
											<i class="fa fa-download" style="font-size: 20px;"></i> <span><i>{{userCallAttachment.attachmentName}}</i></span>
										</p>
										<span class="time_date">
											{{dateformate(conversation.callReceivedAt)}}</span>
									</div>
								</div>
							</div>
							<div class="outgoing_msg" ng-if="!conversation.agentId">
								<div class="sent_msg">
									<p>{{conversation.textMessage}}</p>
									<span class="time_date"> {{dateformate(conversation.callReceivedAt)}}</span>
								</div>
							</div>
							<div class="outgoing_msg" ng-if="!conversation.agentId"
								ng-repeat="userCallAttachment in conversation.userAttachments">
								<div class="sent_msg">
									<p ng-click="download(userCallAttachment.path)">
										<i class="fa fa-download" style="font-size: 20px;"></i> <span><i>{{userCallAttachment.attachmentName}}</i></span>
									</p>
									<span class="time_date"> {{dateformate(ticket.createdTimestamp)}}</span>
								</div>
							</div>
						</div>
					</div>
					<div class="type_msg" ng-show="!ticket.isClosed">
						<form ng-submit="replyByMessage(message)" style="margin: 6px 0px;"
							id="reply">

							<div class="fileUpload attach_file">
								<i class="fa fa-paperclip"></i> <input id="attachments"
									type="file" class="upload" multiple />
							</div>
							<div class="input_msg_write">
								<input type="text" class="write_msg" ng-model="message"
									placeholder="Type a message" required />

								<button class="btn btn-enter-msg" type="submit">
									<i class="fa fa-paper-plane-o" aria-hidden="true"></i>
								</button>
							</div>
						</form>
					</div>
					<div class="type_msg" ng-if="ticket.isClosed" ng-init="disableButton()">
						<button class="btn btn-default close-ticket"
							ng-show="ticket.isClosed"
							style="width: 97%; height: 61px; font-size: large;">Ticket
							Closed</button>
					</div>
					<ul class="list-of-attachment">
						<li ng-repeat="file in attachments"><i
							class="fa fa-paperclip" aria-hidden="true"></i>{{file.name}}</li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</div>

<script>

	$('.chat_list').click(function(){
		$(this).addClass('active_chat');
	})
</script>
<script>
</script>