<div class="modal fade" id="support_history" role="dialog">
	<div class="modal-dialog modal-md add-brand">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Communication History</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="audio-main" style="padding: 0 15px;">
						<p></p>
						<div class="incoming_msg">
							<div class="received_msg">
									<div class="received_withd_msg">
								<p>{{callLog.textMessage}}</p>
								<span class="time_date"> {{callLog.createdTimestamp}}</span>
							</div>
							</div>
						</div>
						<div class="incoming_msg"
							ng-repeat="userCallAttachment in userCallAttachmentList">
							<div class="received_msg">
									<div class="received_withd_msg">
								<p ng-click="download(userCallAttachment.path)">
									<i class="fa fa-download" style="font-size: 20px;"></i> <span><i>{{userCallAttachment.attachmentName}}</i></span>
								</p>
								<span class="time_date"> {{callLog.createdTimestamp}}</span>
							</div>
							</div>
						</div>
						<div ng-repeat="conversation in ticketDetails">

							<div class="incoming_msg" ng-if="!conversation.agentId">
								<div class="received_msg">
									<div class="received_withd_msg">
										<p>{{conversation.textMessage}}</p>
										
										<span class="time_date">
											{{conversation.callReceivedAt}}</span>
									</div>
								</div>
							</div>
							<div class="incoming_msg" ng-if="!conversation.agentId"
								ng-repeat="userCallAttachment in conversation.userAttachments">
								<div class="received_msg">
									<div class="received_withd_msg">
										<p ng-click="download(userCallAttachment.path)">
											<i class="fa fa-download" style="font-size: 20px;"></i> <span><i>{{userCallAttachment.attachmentName}}</i></span>
										</p>
										<span class="time_date">
											{{conversation.callReceivedAt}}</span>
									</div>
								</div>
							</div>
							<div class="outgoing_msg" ng-if="conversation.agentId">
								<div class="incoming_msg_img" style="float: right;">
									<img src="resources/img/male.png" alt="sunil">
								</div>
								<div class="sent_msg">
									<p>{{conversation.textMessage}}</p>
									<span class="time_date"> {{conversation.callReceivedAt}}</span>
								</div>
							</div>
							<div class="outgoing_msg" ng-if="conversation.agentId" ng-repeat="userCallAttachment in conversation.userAttachments">
								<div class="incoming_msg_img" style="float: right;">
									<img src="resources/img/male.png" alt="sunil">
								</div>
								<div class="sent_msg">
									<p ng-click="download(userCallAttachment.path)"><i class="fa fa-download" style="font-size: 20px;"></i> <span><i>{{userCallAttachment.attachmentName}}</i></span></p>
									<span class="time_date"> {{conversation.callReceivedAt}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="btn-cntnr" style="">
                                 <button class="btn btn-default btn-bluer" id="cancel-req-btn">Save</button>
                                 <a data-target="">Cancel</a>
                                 </div> -->
			</div>
		</div>
	</div>
</div>