 <div class="tab-pane fade in admin-page">
	<div class="section-heading">
		<h4>Documents Upload</h4>
	</div>
	<div class="section-content" id="list-uploaded-files">
		<div class="upper-actions">
			<div class="col-md-4 col-lg-4" style="padding: 0;">
				<div class="button-group">
					<button class="btn btn-default btn-create" id="create-req-btn"><i class="icon-plus"></i></button>
					<button class="btn btn-default btn-delete">
						<i class="icon-trash-2"></i>
					</button>
				</div>
				<div class="addfiles-btn">
					<button class="btn btn-add-files" id="add-upload-files">
						<i class="fa fa-plus-circle" style="font-size: 20px;"></i> Add
						Files
					</button>
				</div>
			</div>
			<div class="col-md-1 col-lg-1"></div>
			<div class="col-md-7 col-lg-7">
				<div class="srch-uppr" style="float: right;">
					<div class="addfiles-btn" id="documents-upload-configur">
						<button class="btn btn-configuration">
							<i class="fa fa-cog" style="font-size: 20px;"></i> Configuration
						</button>
						<br>
					</div>
					
					<div class="button-group"
						style="text-align: right; display: inline-block; padding-left: 10px;">
						<button class="btn btn-default btn-create" id="create-report-btn"
							style="background: #1fa67a;" ng-click="generateExcel()">
							<i class="fa fa-file-excel-o"></i>
						</button>
					</div>
					
					
				<!-- 	<div class="search-cntnr" style="float: initial;">
						<div class="form-group search-box">
							<input type="text" name=""
								class="form-control flat-control-search"> <i
								class="icon-search"></i>
						</div>
				 -->	</div>
					<!-- <div class="button-group" style="padding-left: 10px;">
						<button class="btn btn-default btn-create"
							style="margin-right: 0px;">
							<i class="fa fa-check-square-o"></i>
						</button>
					</div>
				</div> -->
			</div>
			<div class="search-cntnr">
            <div class="form-group search-box inline-blck">
              <input type="text" name="" id="id_of_textbox" class="form-control flat-control-search mar-bottom-zero" ng-model="searchterm">
              <i class="icon-search" id="id_of_button" ng-click="fetchDocumentList(0,10,null,null,searchterm);fetchDocumentListCount(searchterm)"></i>
            </div>
            
          <div class="col-md-1 col-lg-1">
          	<div class="button-group">
			<button class="btn-default btn-create icon-navigation1 dropdown-toggle" data-toggle="dropdown" id="create-req-btn"><i class="fa fa-check-square-o"></i></button>
           <!--  <a class="dropdown-toggle select-drop" data-toggle="dropdown"></a>
         	<span class="fa fa-filter"></span> -->
	      	<ul class="dropdown-menu selection-column" style="overflow:auto;left: -73px;">
						 <li>
						  	<div class="chckbx-cntnr zeromargin">
						     <input type="checkbox" id="app1" name="check" class="flashadmin" ng-click="selectAllColoumns(colcheck);savesettings()" ng-model="colcheck">
						     <label class="cstmchk_lbladmin"  for="app1"></label><label for="app1" class="table-label">Select All</label> 
						   </div>
						  </li>
						  <li ng-repeat="c in columnlist">
						  <div class="chckbx-cntnr zeromargin" ng-if="c.name=='Id' || c.name=='File Name' || c.name=='Date' || c.name=='Emp Name'">
						     <input type="checkbox" id="column{{$index}}" name="check" ng-model="c.isActive" class="flashadmin" ng-click="savesettings()" disabled>
						     <label class="cstmchk_lbladmin"  for="column{{$index}}"></label><label for="column{{$index}}" class="table-label">{{c.name}}</label> 
						   </div>
						  	<div class="chckbx-cntnr zeromargin" ng-hide="c.name=='Id' || c.name=='File Name' || c.name=='Date' || c.name=='Emp Name'">
						     <input type="checkbox"  id="column{{$index}}" name="check" ng-model="c.isActive" class="flashadmin" ng-click="savesettings()">
						     <label class="cstmchk_lbladmin"  for="column{{$index}}"></label><label for="column{{$index}}" class="table-label">{{c.name}}</label> 
						   </div>
						  </li>
						</ul>          </div>
          </div>    
          
          
			<div class="clearfix"></div>
		</div>
		<div class="table-cntnr">
			<table class="table table-striped red-table">
				<caption>Uploaded Files</caption>
				<thead>
					<tr>
						<th>
							<div class="chckbx-cntnr zeromargin">
								<input type="checkbox" id="rd" name="check"  ng-click="checkedAllList(documentList,all)" ng-model="all" class="flashadmin">
								<label class="cstmchk_lbl" for="rd"></label>
							</div>
						</th>
						<th style="vertical-align: middle;min-width: 135px;" ng-show="activeColumn('Id')">#</th>
						<th style="vertical-align: middle;min-width: 95px;" ng-show="activeColumn('File Name')">File Name <i class="fa fa-sort" aria-hidden="true" ng-click="SortingDocumentList('Documents',searchterm)"></i></th>
						<th style="vertical-align: middle;min-width: 135px;" ng-show="activeColumn('Date')">Date <i class="fa fa-sort" aria-hidden="true" ng-click="SortingDocumentList('Documents',searchterm)"></i></th>
						<th style="vertical-align: middle;min-width: 145px;" ng-show="activeColumn('File Type')">File Type<i class="fa fa-sort" aria-hidden="true" ng-click="SortingDocumentList('Documents',searchterm)"></i></th>
						<th style="vertical-align: middle;min-width: 95px;" ng-show="activeColumn('Emp Id')">Emp Id<i class="fa fa-sort" aria-hidden="true" ng-click="SortingDocumentList('Documents',searchterm)"></i></th>
						<th style="vertical-align: middle;min-width: 125px;" ng-show="activeColumn('Emp Name')">Emp Name<i class="fa fa-sort" aria-hidden="true" ng-click="SortingDocumentList('Documents',searchterm)"></i></th>
						<th>Download</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="document in documentList">
						<td>
							<div class="chckbx-cntnr zeromargin">
								<input type="checkbox" id="1" name="check" class="flash">
								<label class="cstmchk_lbl" for="1"></label>
							</div>
						</td>
						<td><a data-toggle="modal" data-target="#email-info-modal"
							style="cursor: pointer;" ng-show="activeColumn('Id')">#{{$index+1}}</a></td>
						<td  ng-show="activeColumn('File Name')">{{document.filename}}</td>
						<td ng-show="activeColumn('Date')">{{document.created_on}}</td>
						<td ng-show="activeColumn('File Type')">{{document.documentType.name}}</td>
						<td ng-show="activeColumn('Emp Id')">{{document.emp_id}}</td>
						<td ng-show="activeColumn('Emp Name')">{{document.employee.firstName}} {{document.employee.lastName}}</td>
						<td><button class="btn btn-configuration">
								<i class="fa fa-download" style="font-size: 20px;"></i> Download
							</button></td>
					</tr>
				</tbody>
			</table>
			
			<div class="text-right">
            
            <ul class="pagination" style="margin-top: 0;">
			<li><a ng-hide="start == 0" ng-click="previous()">&laquo;</a>
			<li ng-repeat="i in navButtons" ng-class="$parent.offset == i * $parent.limit && 'active'"><a class="" ng-click="current(i)">{{i+1}}</a></li>
			<li><a ng-hide="(((start+5)*10) + 10) >= count" ng-click="next()">&raquo;</a></li>
			</ul>
 
            </div>
 
		</div>
	</div>
	
	

	<div class="section-content" id="upload-configuration"
		style="display: none;">
		<div class="addmore_email" style="float: left;">
			<button type="button" class="btn btn-default btn-round-add"
				id="Add-info-configuration">
				<i class="icon-plus"></i>
			</button>
			<p class="expense-heading">Add More</p>
		</div>
		<div class="act-btn">
			<button type="submit" class="btn btn-default btn-bluer">Submit</button>
			<a href="">Cancel</a>
		</div>

		<div>
			<div class="table-cntnr"
				style="margin: 10px 0px; display: inline-block; width: 100%;">
				<table class="table table-striped red-table"
					id="table-configuration-info">
					<caption>Configuration</caption>
					<thead>
						<tr>
							<th>
								<div class="chckbx-cntnr zeromargin">
									<input type="checkbox" id="rd" name="check" class="flash">
									<label class="cstmchk_lbl" for="rd"></label>
								</div>
							</th>
							<th>Document Types</th>
							<th>Assign To</th>
						</tr>
					</thead>
					<tbody>
						<tr ">
							<td>
								<div class="chckbx-cntnr zeromargin">
									<input type="checkbox" id="1" name="check" class="flash">
									<label class="cstmchk_lbl" for="1"></label>
								</div>
							</td>
							<td>{{}}</td>
							<td>Admin, Business, Job</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="add-more-det-conf" style="display: none;">
				<div class="conf-form">
					<form>
						<div class="col-md-4">
							<div class="form-group">
								<label for="status" class="">Mail Type</label>
								<div class="dropdown form-control flat-control-inner">
									<div class="dropdown-toggle checkdrop " data-toggle="dropdown"
										aria-expanded="true" style="padding: 5px 0;">
										Mail Type <span class="caret"
											style="margin: 10px 0px; float: right;"></span>
									</div>
									<div class="dropdown-backdrop"></div>
									<ul
										class="dropdown-menu padmenu selection-column mail-type-listing"
										style="width: 100% !important; left: 0px !important; border-radius: 0;">
										<li>
											<div class="chckbx-cntnr zeromargin">
												<input type="checkbox" id="mail1" name="check" class="flash">
												<label class="cstmchk_lbl" for="mail1"></label>
											</div> <label class="cstmchk_lbluser" for="allbrands"
											style="margin: 0px 10px;">Admin@gmail.com</label>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label for="status" class="">Assign To</label>
								<div class="dropdown form-control flat-control-inner">
									<div class="dropdown-toggle checkdrop " data-toggle="dropdown"
										aria-expanded="true" style="padding: 5px 0;">
										Assign To <span class="caret"
											style="margin: 10px 0px; float: right;"></span>
									</div>
									<div class="dropdown-backdrop"></div>
									<ul
										class="dropdown-menu padmenu selection-column mail-type-listing"
										style="width: 100% !important; left: 0px !important; border-radius: 0;">
										<li>
											<div class="chckbx-cntnr zeromargin">
												<input type="checkbox" id="admin" name="check" class="flash">
												<label class="cstmchk_lbl" for="admin"></label>
											</div> <label class="cstmchk_lbluser" for="allbrands"
											style="margin: 0px 10px;">Admin</label>
										</li>
										<li>
											<div class="chckbx-cntnr zeromargin">
												<input type="checkbox" id="owner" name="check" class="flash">
												<label class="cstmchk_lbl" for="owner"></label>
											</div> <label class="cstmchk_lbluser" for="allbrands"
											style="margin: 0px 10px;">Owner</label>
										</li>
										<li>
											<div class="chckbx-cntnr zeromargin">
												<input type="checkbox" id="employee" name="check"
													class="flash"> <label class="cstmchk_lbl"
													for="employee"></label>
											</div> <label class="cstmchk_lbluser" for="allbrands"
											style="margin: 0px 10px;">Employee</label>
										</li>
									</ul>
								</div>
							</div>
						</div>

					</form>
				</div>
			</div>

		</div>


	</div>


	<div class="section-content" id="file-upload-section"
		style="display: none;">
		<form id="fileupload" method="POST" enctype="multipart/form-data">
			<div class="fileupload-buttonbar">
				<div class="col-lg-7">
					<span class="btn btn-success fileinput-button"> <i
						class="fa fa-plus-circle" style="font-size: 20px;"></i> <span>Add
							files</span> <input type="file" name="files[]" multiple>
					</span>
					<button type="submit" class="btn btn-primary start upload-action">
						<i class="glyphicon glyphicon-upload" style="font-size: 20px;"></i>
						<span>Upload</span>
					</button>
					<button type="reset" class="btn btn-warning cancel-action">
						<i class="fa fa-times-circle-o" style="font-size: 20px;"></i> <span>Cancel</span>
					</button>
				</div>
				<div class="col-lg-5 fileupload-progress fade">
					<div class="progress progress-striped active" role="progressbar"
						aria-valuemin="0" aria-valuemax="100">
						<div class="progress-bar progress-bar-success" style="width: 0%;"></div>
					</div>
					<div class="progress-extended">&nbsp;</div>
				</div>
			</div>
			<table role="presentation" class="table table-striped">
				<tbody class="files"></tbody>
			</table>
		</form>
	</div>
</div>
 
 
 
 
 
 
 
 