<!-- <link rel="stylesheet" href="resources/css/workflowdashboard.css"> -->
<div>
<div class="height-70"></div>
<section id="jobs-main">
<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<div class="text-center">
				<div class="profile-pic-big" style="background: url({{userProfile.profilePic}}) center no-repeat"></div>
				<div class="username">{{userdetails.firstName+" "+userdetails.lastName}}</div>
				 <!-- <div class="position">Chief Cook</div> -->
				<div class="city">{{userProfile.userContact.city.cityName+","+userProfile.countryName}}</div> 
			</div>
			<a class="edit-prof" href="#!myprofile">View or edit full profile</a>
		</div>
		<div class="col-md-6 col-md-offset-1">
			<h3 class="search-text">My Dashboard</h3>
			<div class="text-right">
				<div class="form-group col-md-offset-7 col-md-5">
					<div class="dropdown" style="display: inline-block;">
        <div class="dropdown-toggle checkdrop" data-toggle="dropdown">Design my dashboard <span class="caret"></span></div>
<ul class="dropdown-menu padmenu">
  <li>
  	<div class="chckbx-cntnr zeromargin">
     <input type="checkbox" id="app" name="check" class="flashuser" checked disabled>
     <label class="cstmchk_lbluser"  for="app">Applied Jobs</label> 
   </div>
  </li>
  <li>
  	<div class="chckbx-cntnr zeromargin">
     <input type="checkbox" id="pv" name="check" class="flashuser" checked disabled>
     <label class="cstmchk_lbluser" for="pv">Profile Views</label> 
   </div>
  </li>
  <li>
  	<div class="chckbx-cntnr zeromargin">
     <input type="checkbox" id="rj" name="check" class="flashuser" checked disabled>
     <label class="cstmchk_lbluser" for="rj">Recommended Jobs</label> 
   </div>
  </li>
  <li>
  	<div class="chckbx-cntnr zeromargin">
     <input type="checkbox" id="ia" name="check" class="flashuser" checked disabled>
     <label class="cstmchk_lbluser" for="ia">Interview Appeared</label> 
   </div>
  </li>
  <li>
  	<div class="chckbx-cntnr zeromargin">
     <input type="checkbox" id="nit" name="check" class="flashuser" checked disabled>
     <label class="cstmchk_lbluser" for="nit">Notifications</label> 
   </div>
  </li>
  <li>
  	<div class="chckbx-cntnr zeromargin">
     <input type="checkbox" id="pc" name="check" class="flashuser" checked disabled>
     <label class="cstmchk_lbluser" for="pc">Profile Completed</label> 
   </div>
  </li>
  
</ul>
  </div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="tile">
						<div class="colored-count green">
							<i class="icon-briefcase"></i>
							<h2 >{{appliedjob}}</h2>
						</div>
						<h4><a class="">Job Postings</a></h4>						
					</div>
				</div>
				<div class="col-md-4">
					<div class="tile">
						<div class="colored-count blue">
							<i class="icon-search"></i>
							<h2>00</h2>
						</div>
						<h4><a class="">To Do List</a></h4>						
					</div>
				</div>
				<div class="col-md-4">
					<div class="tile">
						<div class="colored-count red">
							<i class="icon-flag"></i>
							<h2>00</h2>
						</div>
						<h4 style="padding: 19px 5px;"><a class="">Assessments</a></h4>						
					</div>
				</div>
			</div>
			<!-- <div class="row">
				<div class="col-md-4">
					<div class="tile">
						<div class="colored-count teal">
							<i class="icon-mic"></i>
							<h2>00</h2>
						</div>
						<h4 style="padding: 19px 5px;">Interviews Appeared</h4>						
					</div>
				</div>
				<div class="col-md-4">
					<div class="tile">
						<div class="colored-count purple">
							<i class="icon-bell"></i>
							<h2>00</h2>
						</div>
						<h4>Notifications</h4>						
					</div>
				</div>
				<div class="col-md-4">
					<div class="tile">
						<div class="colored-count brown">
							<i class="icon-user"></i>
							<h2>{{total}} %</h2>
						</div>
						<h4>Profile Completed</h4>						
					</div>
				</div> 
			</div>
		   <div  class="row">
				<div ng-click="assessmentList()" class="col-md-4">
					<div class="tile">
						<div class="colored-count yellow">
							<i class="fa fa-file"></i>
							<h2>{{assignedAssessment}}</h2>
						</div>
						<h4 style="padding: 19px 5px;">Assigned Assessments</h4>						
					</div>
				</div>
		   </div>  -->
	</div>
		<!-- <div class="col-md-3">
			<div class="hot_jobs">
          <h5>All Hot Jobs</h5>
          <ul type="none">
            <li ng-repeat="p in hotJobs track by p.id"><a ui-sref="restricted.job_results({categoryId: p.id,flag: 'position'})">{{p.name}}</a></li>
            <li><a href="">AB Seaman Jobs</a></li>
            <li><a href="">Steward Jobs</a></li>
            <li><a href="">Galley Manager Jobs</a></li>
            <li><a href="">Deck Jobs</a></li>
            <li><a href="">Engine Jobs</a></li>
            <li><a href="">Entertainment Jobs</a></li>
            <li><a href="">Food &amp; Beverages Jobs</a></li>
            <li><a href="">Casino Jobs</a></li> 
            <li class="big-explore"><a ui-sref="restricted.job_results({categoryId: 0,flag: 'no'})" >Explore All Jobs</a></li> 
          </ul>
        </div>
       
				<button class="btn btn-default white-btn" ng-click="fetchJobResult(0,'no')">Explore All Jobs</button>
      		
		</div> -->
	</div>
</div>
</section>

<!----Footer---->
  <footer id="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-sm-4">
        <img src="resources/img/logo-big.png">
      </div>
      <div class="col-md-3 col-sm-4">
        <h5>ADDRESS</h5>
        <p>Carnival Support Services India Ltd,
Kohinoor City, Tower 2, Floor 5,
Kirol Road, Off. LBS Marg, Kurla West,
Mumbai 400 070</p>
      </div>
      <div class="col-md-2 col-sm-4">
        <h5>CONTACT</h5>
        <p><a class="footer-contact" href="tel:+917942529292">+91-7942529292</a>
 </p>
      </div>
      <div class="col-md-2 col-sm-12">
        <h5>GET IN TOUCH</h5>
        <ul type="none" class="social-foot">
          <li><a href="https://www.facebook.com/cruisecareersindia/" target="_blank" class="facebook-link"><i class="icon-facebook"></i></a></li>
          <li><a href="https://twitter.com/cruisecareers" target="_blank" class="twitter-link"><i class="icon-twitter2"></i></a></li>
          <li><a href="" target="_blank" class="google-link"><i class="icon-instagram"></i></a></li>
          <li><a href="https://www.linkedin.com/company/carnival-support-services-india-pvt.-ltd" target="_blank" class="utube-link"><i class="icon-linkedin"></i></a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-12">
        <h5>MOBILE APP</h5>
        <ul type="none" class="social-foot">
          <li><a href="coming_soon.html" class="android-link"><i class="icon-android"></i></a></li>
          <li><a href="coming_soon.html" class="ios-link"><i class="icon-apple"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
	
	
</div>

<script>
$('body').on("click", ".dropdown-menu", function (e) {
    $(this).parent().is(".open") && e.stopPropagation();
});
</script>
<script src="https://apis.google.com/js/platform.js" async defer></script>		
<script>
	///Script to hide logo on click
    $(".hide-logo").click(function(){
    	$(".cruise-logo").fadeToggle();
    });
	
    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
         // console.log('User signed out.');
        }); 

    }
	</script>
	
	
