<div >
<!---- Sticky Button ---->
<a class="btn btn-default sticky-btn smooth" href="#slider">
	<i class="icon-chevron-left"></i>
</a>

<div class="height-70"></div>

<section id="jobs-main" style="padding: 5% 0;">
  <div id="profl" class="container-fluid">
    
    <div class="row">
      <div class="col-md-2">
        <div class="recent-searches fixed-pills">
          <h5>My Dashboard</h5>
          <ul class="nav nav-pills nav-stacked">
            <li id="liPersonal" class="active"><a data-toggle="pill" href="" ng-click="showFlag = 1" class="profile-tabs">Job Postings</a> <img ng-if="userPersonal.dob" src="resources/img/checked.svg" class="profile-complete"></li>
            <li id="liEducational"><a data-toggle="pill" href="" ng-click="showFlag = 2" class="profile-tabs">To Do List</a><img ng-if="userEducation.length > 0" src="resources/img/checked.svg" class="profile-complete ng-scope"></li>
            <li id="liWork"><a data-toggle="pill" href="" ng-click="showFlag = 3" class="profile-tabs">Assessments</a><img ng-if="userProfile.userCV.cvPath" src="resources/img/checked.svg" class="profile-complete"></li>
          </ul>
        </div>
      </div>
      <div class="col-md-10">
        <div class="tab-content">
		<div ng-show="showFlag == 1" id="personal" class="">
	 
		
            <div class="job-search-cntnr">
              <div class="srch-head"><h4>Job Postings</h4></div>
              
              <ul class="nav nav-tabs posting-tabs">
			    <li class="active"><a data-toggle="tab" href="#home">Job Postings</a></li>
			    <li><a data-toggle="tab" href="#menu1">History</a></li>
			  </ul>

			  <div class="tab-content">
			   <div id="home" class="tab-pane fade in active">
			 	<form ng-submit="savePersonaldetails(userPersonal);setApplyClass(2)">
              <div class="inner-details"> 
	              
	           <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Brand</th>
                        <th>Ship</th>
                        <th>Department</th>
                        <th>Position</th>
                        <th>Location</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                      </tr>
                    </thead>
                    <tbody>
                    	<tr>
                    		<td>Cosco Shipping</td>
                    		<td>Royal Princess</td>
                    		<td>Galley</td>
                    		<td>Slot Technician</td>
                    		<td>Madaira</td>
                    		<td>18-04-2018</td>
                    		<td>26-05-2018</td>
                    	</tr>
                    </tbody>
                    </table>
               </div>
	             
              <div class="btn-cntnr">
                      <button class="btn btn-default btn-bluer" id="" type="submit">Save</button>
                      <a ng-click="cancell()">Cancel</a>
                    </div>
              
              </div>
              </form>
			    </div>
			    <div id="menu1" class="tab-pane fade">
			   	  <form ng-submit="savePersonaldetails(userPersonal);setApplyClass(2)">
              <div class="inner-details"> 
	              
	           <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Brand</th>
                        <th>Ship</th>
                        <th>Department</th>
                        <th>Position</th>
                        <th>Location</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                      </tr>
                    </thead>
                    <tbody>
                    	<tr>
                    		<td>Cosco Shipping</td>
                    		<td>Royal Princess</td>
                    		<td>Galley</td>
                    		<td>Slot Technician</td>
                    		<td>Madaira</td>
                    		<td>04-09-2017</td>
                    		<td>26-12-2017</td>
                    	</tr>
                    </tbody>
                    </table>
               </div>
	             
              <div class="btn-cntnr">
                      <button class="btn btn-default btn-bluer" id="" type="submit">Save</button>
                      <a ng-click="cancell()">Cancel</a>
                    </div>
              
              </div>
              </form>   
			    </div>
			  </div>
		
              
            </div>
          </div>
          <div ng-show="showFlag == 2" id="educational">
            <h3 class="search-text">To Do List</h3>
            <div class="job-search-cntnr">
              <div class="srch-head"><h4>To Do List</h4></div>
             <form>
              <div class="inner-details"> 
                <div class="table-responsive">
                
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Document Name</th>                       
                        <th>Days</th>
                        <th>Document No.*</th>
                        <th>Issue Date*</th>
                        <th>Expiry Date*</th>
                        <th>Country of Issue*</th>
                        <th>Expected Date</th>
                        <th>Status</th>
                        <th>Completion Date*</th>
                        <th>Attach Documents*</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                      <td>
                      	<input class="form-control flat-control-inner" name="task-name" value="Medical">
                      </td>
                      <td style="width: 80px;">
                      	<input class="form-control flat-control-inner" name="task-name" value="15">
                      </td>
                      <td>
                      	<input type="text" class="form-control flat-control-inner"  name="document no" value="4566">
                      </td>
                      <td>
                      	<input type="text" class="dateonly form-control flat-control-inner" style="margin-bottom: 0;position:relative;">
                      </td>
                      <td>
                      	<input type="text" class="dateonly form-control flat-control-inner" style="margin-bottom: 0;position:relative;">
                      </td>
                      <td>
                      	<select id="countryOfIssue{{$index}}" class="form-control flat-control-inner" ng-model="cl.countryOfIssue"> 
    					   <option ng-value="0">Select</option>          
                           <option data-ng-repeat="ct in countryList" data-ng-value="{{ct.id}}" ng-selected="ct.id==cl.countryOfIssue">{{ct.CountryName}}</option>                                  
        				</select>
                      </td>
                      <td>
                      	<input type="text" class="dateonly form-control flat-control-inner" style="margin-bottom: 0;position:relative;">
                      </td>
                      <td>
                      	 <div class="chckbx-cntnr zeromargin">
		                      <input type="checkbox" name="chck" class="flashuser todayBox">
		                      <input type="checkbox" id="chck" name="check" class="flashuser todayBox">
		                   
		                      <label class="cstmchk_lbl" for="chck" id="rdcheck" style="border: 1px solid #ccc; padding: 10px;margin: 10px 10px;"></label> 
		                  </div>
                      </td>
                      <td>
                      	<input type="text" class="dateonly form-control flat-control-inner" style="margin-bottom: 0;position:relative;" disabled>
                      </td>
                      <td style="width:150px;">
                      	<div class="input-group">
                               <input type="text" id="file_name0" readonly="" class="form-control flat-control-inner ng-scope">
                                <span class="input-group-btn"> 
                                     <span class="btn btn-primary btn-file"> Browse 
                                       <input id="documentfilefotodo0"data-label="Browse" type="file" onchange="angular.element(this).scope().fileNameChanged(this)" single="">
                                     </span>
                                 </span>  
                             </div>
                      </td>
                      <td>
                      	<button type="button" class="btn bigblue-btn new-btn-dwn"><i class="fa fa-download" aria-hidden="true"></i></button>
                      </td>
                      </tr>
                    </tbody>
                  </table>                
                </div>               
              <div class="btn-cntnr" ng-show="complianceFlag">
              <button class="btn btn-default btn-bluer" id="" type="submit">Save</button>
              <a ng-click="cancell()">Cancel</a>
            </div>
              </div>
              </form>
            </div>
          </div>
          <div ng-show="showFlag == 3" id="professional" class="">
            <h3 class="search-text">Assessments</h3>
            <div class="job-search-cntnr">
             <ul class="nav nav-tabs posting-tabs">
			    <li class="active"><a data-toggle="tab" href="#home">Current Assessments</a></li>
			    <li><a data-toggle="tab" href="#menu1">History</a></li>
			  </ul>
              <div class="srch-head"><h4>List of Assessments</h4></div>
              <form ng-submit="saveworkExperience(userWork)">
              <div class="inner-details"> 
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Employee's Name</th>
                        <th>Date</th>
                        <th>Brand</th>
                        <th>Ship</th>
                        <th>Department</th>
                        <th>Position</th>
                        <th>Score</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                   	
                      <tr>
                        <td>
                        	<input class="form-control flat-control-inner" name="employers-name" value="Suraj Pujari">
                      	</td>
                        <td>
                          <div class="form-group width-200">
                            <input class="dateonly form-control flat-control-inner linked-date">
                          </div>
                        </td>
                        <td>
                          <input class="form-control flat-control-inner" name="brand" value="P & O Cruises">
                        </td>
                        <td>
                           <input class="form-control flat-control-inner" name="ship" value="Royal Princess">
                        </td>
                        <td>
                           <input class="form-control flat-control-inner" name="department" value="Office">
                        </td>
                        <td>
                         <input class="form-control flat-control-inner" name="position" value="Slot Technician">
                        </td>
                        <td>
                         <input class="form-control flat-control-inner" name="score" value="">
                        </td>
                        <td>
                         <button class="btn btn-default btn-delete"><i class="fa fa-plane"></i></button>
                        </td>
                     </tr>
                    </tbody>
                  </table>
                  <div class="text-right adder">
                  <button class="btn btn-default btn-round-add" ng-click="addRowForworkExperience()"><i class="icon-plus"></i></button>
                </div>
                </div>
              <div class="btn-cntnr">
              <button class="btn btn-default btn-bluer" id="" type="submit">Save</button>
              <a ng-click="cancell()">Cancel</a>
            </div>
              </div>
              </form>
            </div>

			<!-- <form ng-submit="saveUserCV();setApplyClass(4)">
            <div class="job-search-cntnr">
              <div class="srch-head"><h4>Resume Details</h4></div>
              <div class="inner-details"> 
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Upload Your CV</label>
                            <div class="input-group">
                                <input type="text" class="form-control flat-control-inner"  readonly >
                                <span class="input-group-btn">
                                    <span class="btn btn-primary btn-file">
                                        Upload CV <input type="file" id="filecv" single >
                                    </span>
                                </span>
                            </div>
                          </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Languages Known</label>
                      <input type="text" class="form-control flat-control-inner" ng-model="langeageKnown">      
                          </div>
                  </div>
                </div>
                <div class="row">
                	<div class="col-md-12">
                    <div class="form-group">
                      <label>Do you have any pictures of your work that you wish to share?</label>
                      <div class="row">
                   
                        <div class="col-md-4"><input data-label="Upload Picture" class="demo" type="file" id="userimage" ng-model="userImage.image" multiple/></div>
                        <div class="col-md-4"><input data-label="Upload Picture" class="demo" type="file" multiple/></div>
                        <div class="col-md-4"><input data-label="Upload Picture" class="demo" type="file" multiple/></div>
                       </div>
                      </div>
                    </div>
                    <div class="text-right">
                  <button class="btn btn-default btn-round-add" ng-click="addUserImage()"><i class="icon-plus"></i></button>
                </div>
                  </div> 
                  <div class="btn-cntnr">
              <button class="btn btn-default btn-bluer" id="" type="submit">Save</button>
              <a ng-click="cancell()">Cancel</a>
            </div>
                </div>
              
              </div>
              </form> -->
            </div>
          </div>
          
                                    
        </div>
      </div>
    </div>
    </section> 
 </div>
     
 </div>
   
<!----Footer---->
  <footer id="footer" style="margin-top: 10%;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-sm-4">
        <img src="resources/img/logo-big.png">
      </div>
      <div class="col-md-3 col-sm-4">
        <h5>ADDRESS</h5>
        <p>Carnival Support Services India Ltd,
Kohinoor City, Tower 2, Floor 5,
Kirol Road, Off. LBS Marg, Kurla West,
Mumbai 400 070</p>
      </div>
      <div class="col-md-2 col-sm-4">
        <h5>CONTACT</h5>
        <p><a class="footer-contact" href="tel:+917942529292">+91-7942529292</a>
 </p>
      </div>
      <div class="col-md-2 col-sm-12">
        <h5>GET IN TOUCH</h5>
        <ul type="none" class="social-foot">
          <li><a href="https://www.facebook.com/cruisecareersindia/" target="_blank" class="facebook-link"><i class="icon-facebook"></i></a></li>
          <li><a href="https://twitter.com/cruisecareers" target="_blank" class="twitter-link"><i class="icon-twitter2"></i></a></li>
          <li><a href="" target="_blank" class="google-link"><i class="icon-instagram"></i></a></li>
          <li><a href="https://www.linkedin.com/company/carnival-support-services-india-pvt.-ltd" target="_blank" class="utube-link"><i class="icon-linkedin"></i></a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-12">
        <h5>MOBILE APP</h5>
        <ul type="none" class="social-foot">
          <li><a href="coming_soon.html" class="android-link"><i class="icon-android"></i></a></li>
          <li><a href="coming_soon.html" class="ios-link"><i class="icon-apple"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>  

<!-- <div class="lower-footer">
  &#169; 2017 CSSI Pvt. Ltd.
</div>
 -->

  <script type="text/javascript">
  $(function () {
	    
                $('.dateonly').datetimepicker({
                  format: 'DD-MM-YYYY',
                	  maxDate:new Date()
                });
               
                $('#educational').on('focus',".dateonlyyear", function(){
                	$('.dateonlyyear').datetimepicker({
                        //debug: true,
                		format: 'MM-YYYY',
                    });
        		    });
                
                
                /* $('#professional').on('focus',".linked-date", function(){
                 $('.linked-date').datetimepicker({
                   format: 'DD-MM-YYYY'
                 });
                }); */

                
               /*  $('#professional').on('focus',".linked-date2", function(){  
        	$('.linked-date2').datetimepicker({
          format: 'DD-MM-YYYY',
            useCurrent: false //Important! See issue #1075
         
        });
       }); */
       
       $('#professional').on('focus',".dateonly", function(){  
	    	$('.dateonly').datetimepicker({	    		
	 			 format: 'DD-MM-YYYY',
	  			 useCurrent: false, 
	  			 //minDate:new Date()     	
	    	}).on('dp.change', function (e) { $(this).change()});
	});
                
                 /* $('#travel').on('focus',".dateonly", function(){
                    $('.linked-date3').datetimepicker({
                      format: 'DD-MM-YYYY'
                    });
                   });  */ 
                   $('#travel').on('focus',".dateonly", function(){  
           	$('.dateonly').datetimepicker({
             format: 'DD-MM-YYYY',
               useCurrent: false, //Important! See issue #1075
               
           }).on('dp.change', function (e) { $(this).change()});
          });    
       });
</script>


<script type="text/javascript">
  $(document).on('change', '.btn-file :file', function() {
  var input = $(this),
      numFiles = input.get(0).files ? input.get(0).files.length : 1,
      label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
  input.trigger('fileselect', [numFiles, label]);
  
  var input = $(this).parents('.input-group').find(':text'),
  log = numFiles > 1 ? numFiles + ' files selected' : label;

if( input.length ) {
  input.val(log);
} else {
  if( log ) alert(log);
}
});

$(document).ready( function() {
    $('.btn-file :file').on('fileselect', function(event, numFiles, label) {
       
    });     
});

</script>
<script>
	   
$(document).ready(function() {
$("input[type='file'].demo").filepicker({
style: 'bootstrap' // default, bootstrap or jquery-ui
});
});
</script>

<script>
 document.getElementById('getval').addEventListener('change', readURL, true);
 function readURL(){
    var file = document.getElementById("getval").files[0];
    var reader = new FileReader();
    reader.onloadend = function(){
       document.getElementById('clock').style.backgroundImage = "url(" + reader.result + ")";        
    }
    if(file){
       reader.readAsDataURL(file);
     }else{
     }
 }
 </script>
 <script>
	///Script to hide logo on click
    $(".hide-logo").click(function(){
    	$(".cruise-logo").fadeToggle();
    });
	
    function signOut() {    	
        var auth2 = gapi.auth2.getAuthInstance();
          auth2.signOut().then(function () {
            //console.log('User signed out.');
          }); 
      }

	</script>
 
 <script type="text/javascript">
    $(function () {
    	
 
     $(".linked-date2").datetimepicker({
        format: 'DD/MM/YYYY'
    });
        $(".linked-date5").datetimepicker({
            format: 'DD/MM/YYYY'
        });
        
        $(".linked-date39").datetimepicker({
            format: 'DD/MM/YYYY'
        });
             
         $(".linked-date").on("dp.change", function (e) {
         	debugger;
         	var index = this.id.slice(-1);
         	var idWithoutIndex =this.id.slice(0,-1);
         	if(idWithoutIndex = 'fromdate'){
         		idWithoutIndex ='#todate';
         	}
         	/* else if(idWithoutIndex ='issuedate')
         	{
         		idWithoutIndex='#expirydate';
         	} */
         	
         	//console.log('aaaaaa',idWithoutIndex+index);
             $(idWithoutIndex+index).data("DateTimePicker").minDate(e.date);
         });  
        
          $(".linked-date4").datetimepicker({
               format: 'DD/MM/YYYY'
           });
                $(".linked-date3").on("dp.change", function (e) {
                
                	
                	var index = this.id.slice(-1);
                	var idWithoutIndex =this.id.slice(0,-1);
                
                	 if(idWithoutIndex ='issuedate')
                	{
                		idWithoutIndex='#expirydate';
                	}
                	
                	//console.log('aaaaaa',idWithoutIndex+index);
                    $(idWithoutIndex+index).data("DateTimePicker").minDate(e.date);
                });       
    });        
</script>
 <script type="text/javascript">
    $(function () {
    	   
    });
    </script>
 <script type="text/javascript">
 $(".speaker").hide();
 $("#ans-switch").click(function() {
     if($(this).is(":checked")) {
         $(".speaker").show();
     } else {
         $(".speaker").hide();
     }
 });
 
 $(".speaker1").hide();
 $("#ans-switch1").click(function() {
     if($(this).is(":checked")) {
         $(".speaker1").show();
     } else {
         $(".speaker1").hide();
     }
 });     
 </script>

<script>
$(function() {
    $(".inputWrapper").mousedown(function() {
        var button = $(this);
        button.addClass('clicked');
        setTimeout(function(){
            button.removeClass('clicked');
        },50);
    });
});
</script>