<!-- CC-441 -->
<style>
.section-content_interview {
	padding: 6px 6px 0px 14px;
	background: #fafafa;
}
.shadow-container_interview {
	box-shadow: 0px 0px 6px rgb(0 0 0 / 14%);
}
.give_inter_page {
	background-color: #fff;
	padding: 35px 0 10px 0;
}
.give_inter_page .label-temp{
	font-size:14px !important;
}
.row_margin_0{
	margin:0;
	background-color:#fff;
	padding-bottom:30px;
}
.Interview_time_div {
	background-color: #00AEEF;
	padding: 10px 0 6px 0;
	color:#fff;
}
.Interview_time_div .row {
	margin:0;
}
.Interview_time_div p{
    padding-top: 10px;
    font-weight: 600;
}
.Interview_time_div .label-temp{
    font-size: 14px !important;
    margin-bottom: 0;
}
.give_inter_page .row{
	margin:0;
}
.give_inter_page .col-md-5:after{
	
}
.give_inter_page_2 {
	background-color: #fff;
	padding: 35px 50px 10px 50px;
}
.give_inter_page_2 .row{
	margin:0;
}
.center_border {
    width: 2px;
    background: #ddd;
    text-align: center;
    height: 70vh;
    margin: 0 auto;
}
.give_inter_page_2 .row .col-md-5:nth-child(1) {
    border-right:1px solid #ddd;
}
.user_inter_question_box{
    margin-bottom: 50px;    
    min-height: 220px;
}
.user_inter_question_box p{

}
.user_inter_question_box textarea{
	resize: none;
    width: 70%;
    margin-left: 15px;
}
.second_textarea{
	margin-left: 17px !important;
	width:70%;
}
.inter_check {
    margin-bottom: 10px;
    margin-left: 22px;
}
.inter_radio {
    margin-bottom: 10px;
    margin-left: 15px;
}
.inter_radio label{
	font-weight: 500;
    font-size: 14px !important;
    color: #333;
}
.div_slid_range{
	display: flex;
    justify-content: space-between;
    margin-top: 50px;
    color: #888888;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    margin-left: 17px;
    width:70%;
}
.div_slid_range p{
    margin: 0 0 10px 0;
    display: inline-block;
}
.range_marg_left{
    margin-left: 17px;
    width: 70% !important;
}
/**.div_slid_range p:first-child{
    margin-left: 0.6%;
}
.div_slid_range p:nth-child(2){
    margin-left: 10%;
}
.div_slid_range p:nth-child(3){
    margin-left: 10%;
}
.div_slid_range p:nth-child(4){
    margin-left: 10%;
}
.div_slid_range p:nth-child(5){
    margin-left: 10%;
}
.div_slid_range p:nth-child(6){
    margin-left: 10%;
}**/
.user_inter_video{
	margin-left:5px;
}
.user_inter_audio{
	margin-left:5px;
}
.inter_submit_cancel_btn_css {
    text-align: center;
    margin-top: 60px;
}
.inter_submit_cancel_btn_css .subbtn{
	background-color: #00aeef;
    color: #fff;
    border: none;
    font-size: 14px;
    height: 30px;
    text-align: center;
    line-height: initial;
    margin-right:20px;
}
.inter_submit_cancel_btn_css .subbtn:hover, .inter_submit_cancel_btn_css .subbtn:focus, .inter_submit_cancel_btn_css .subbtn:active{
	background-color: #009ad4 !important;
    color: #fff;
}
.inter_submit_cancel_btn_css .cancelbtn{
	color: #009ad4 !important;
	border:none;
}
.inter_submit_cancel_btn_css .cancelbtn:hover, .inter_submit_cancel_btn_css .cancelbtn:focus, .inter_submit_cancel_btn_css .cancelbtn:active{
    background: none;
    border: none;
    box-shadow: none;
}
</style>
<div class="section-content_interview" id="" >
  <div class="shadow-container_interview">
    <div class="give_inter_page">
      <div class="form-group" style="margin-bottom: 0" ng-if="checkpreview=='nonpreview'">
          <!--   <label for="" class="label-temp">Please Select Interview Assessment Question Template</label>
    <select class="form-control flat-control-inner" style="width: 25% !important;">
          <option> Hr Interview Assessment </option>
        </select> -->
       
     <label for="select-template" class="label-temp">Please Select Interview Assessment Question Template</label>
      <select class="form-control flat-control-inner" ng-model="temp1" ng-options="it.assessmentName for it in interviewAssessmentTemplates" ng-change="fetchInterviewAssessmentQuestions(temp1)"  style="width: 25% !important;">
      <option value="">Select Interview Assessment</option>       <!-- ng-click="OnChangeTemplate(temp)" -->
      </select>

        
        
      </div>
    </div>
    <div class="Interview_time_div" >
      <div class="row">
        <div class="col-md-4">
          <p>Interview Assessment Questions.</p>
        </div>
      
        
  <!--       <div class="col-md-8" ng-if="checkpreview=='nonpreview'">
            	<div class="form-group pull-right" style="margin-bottom: 0; width: 45%;">
            		<label class="label-temp">Please Select Date & Time</label>
            		<div class='input-group date' id="date-time">
	                    <input type='text' id="date-time1" data-ng-init="onloadDateTime(this)" ng-model="question.createdDate" class="form-control flat-control-inner" />
	                    <span class="input-group-addon">
	                        <span class="glyphicon glyphicon-calendar"></span>
	                    </span>
	                </div>
            		
            	</div>
            </div> -->
        
        
        
        
      </div>
    </div>
    
    
    <div class="give_inter_page_2"  ng-repeat="question in questionList">
    
    <td>{{question.count}}.) {{question.questionText}}</td>
    
    
        
    	
    	
    	<ul class="single-ans">
    	
    	
	     	     <!------------------------------------------------------------   questionType==1 is for Short Answers   --------------------------------------->
	     	     
	     	     
	     <li ng-if="question.questionType == 1">	                     
	               <div class="input-group">
                    <!-- <textarea ng-if="!question.isVoiceEnabled && !question.isvideoEnabled" type="text" class="form-control flat-control-inner ng-pristine ng-valid ng-empty ng-touched" id="transcript1" data-ng-model="question.shortAns" placeholder="Short answers here..." style="width:100%;" cols="100" rows="4" ng-change="checkvalueSelected(question.shortAns)"></textarea> -->
                        
                      <textarea ng-if="!question.isVoiceEnabled && !question.isvideoEnabled" type="text" class="form-control flat-control-inner ng-pristine ng-valid ng-empty ng-touched" id="transcript1" data-ng-model="question.shortAns" placeholder="Short answers here..." style="width:100%;" cols="100" rows="4" ng-change="checkvalueSelected(question.shortAns)"></textarea>      
          		
          		
          		
      				<button ng-if="question.isVoiceEnabled" type="button" id="button_play_{{question.id}}" class="btn play-audio" title="Start Your Recording" ng-click="recordAudio(true,question.count-1,question)">
      				<i class="fa fa-play"></i>
    				</button>
    
    
    				<button ng-if="question.isVoiceEnabled" disabled type="button" id="button_stop_{{question.id}}" class="btn play-stop" title="Stop Your Recording" ng-click="recordAudio(false,question.count-1,question)">
      				<i class="fa fa-stop"></i> 
    				</button>
        				
        				
        				
        				<button ng-if="question.isvideoEnabled" type="button" id="play_button_{{question.id}}" class="btn play-audio" title="Start Your Recording" ng-click="recordVideo(true,question.count-1,question)">
      				<i class="fa fa-play"></i>
    				</button>
    
    
    				<button ng-if="question.isvideoEnabled" disabled type="button" id="stop_button_{{question.id}}" class="btn play-stop" title="Stop Your Recording" ng-click="recordVideo(false,question.count-1,question)">
      				<i class="fa fa-stop"></i> 
    				</button>
        	
    

 <audio style=" margin: 15px 0 0; display: block;" ng-if=" question.isVoiceEnabled==true && audioRecorded==true && audioValue=='true'" src="{{question.audioAns}}" name=audio_{{question.id}} id="voice-respnce{{question.count-1}}" type="audio/ogg" controls controlsList="nodownload"></audio>

 <video ng-if="question.isvideoEnabled==true && audioRecorded==true && videoValue=='true'" style="width: 411px;    margin-top: 17px; pointer-events: none;" name=video_{{question.id}} id="video-respnce{{question.count-1}}" src="{{question.audioAns}}"  class="img-responsive video-user" type="video/mp4" controls controlsList="nodownload" autoplay></video>
                     
                     </div>
                               
                                               
	       </li>
	     
	     
	     <!------------------------------------------------------------   questionType==2 is for radio option   --------------------------------------->
	     
	     
	     
	     
	  <li data-ng-repeat="a in question.ans" ng-if="question.questionType==2" style="float: none;margin: 5px 35px;"><!--  ng-init="innerIndex = a.id" -->
	                      	<div class="radio-cntnr new-chc radio-quecheck-ans" >
	                      	<input type="radio" id="option_{{outerIndex}}_{{a.id}}" name="redioAnsName_{{question.id}}" data-ng-value="true"  data-ng-model="a.isCorrect"  ng-change="checkvalueSelected(a.isCorrect)">
	                  		<label for="option_{{outerIndex}}_{{a.id}}"></label>
	                  		</div>
	                  		<label for="option_{{outerIndex}}_{{a.id}}" style="display:block !important;margin-left: 28px;">{{a.answerText}}</label>	                  		
	                  	</li>
	                  	
	                  	
	                  	
	          <!-------------------------------------------------------   questionType==3 is for checkbox option   --------------------------------------->         	
	                  	
	                  	
	                  	
	 <li data-ng-repeat="a in question.ans" ng-if="question.questionType == 3" style="float: none;margin: 5px 35px;">
                          <div class="chckbx-cntnr" style="float: left;margin-right: 18px;">                          
	                      <input type="checkbox" id="checkboxAns{{a.id}}" class="flashadmin ng-pristine ng-untouched ng-valid" ng-model="a.isCorrect" ng-change="checkvalueSelected(a.isCorrect)">
	                      <label class="cstmchk_lbladmin" for="checkboxAns{{a.id}}"></label> 	                      
                       	  </div>                         	                      
                           <label class="cstmchk_lbl" for="checkboxAns{{a.id}}" style="display:block !important;">{{a.answerText}}</label>                            
                        </li>        
                          <!-- " ng-checked="selection.indexOf(a) > -1" ng-click="myFunc(a)" -->
                        
                        
                               	
	                  	
	                  	
	               
	           <!----------------------------------------------------   questionType==4 is for linear option   ---------------------------------------> 
	               
	               
	                 <li ng-if="question.questionType==4" style="float: none;margin: 50px 0px 45px;" ng-init="innerIndex = $index">
                  	  		<div class="form-group counting-show" style="display: inline-block;width: 5%;margin-bottom: 0px;">
                   					<input type="text" name="brand-name" class="brand-name" ng-model="question.selectedAns" style="width: 60%;margin: 0px;" required disabled>
                 				</div>	
                  	  	 	 <div class="range-slider" style="display: inline-block; width: 50%; margin: 0px; position: relative;">
                  	  	 	 	<div ng-if="(question.ans.length % 2) == 0" id="slidevalue" class="range-values">
                  	  	 	 		<p class="range-min">0</p>
                  	  	 	 		<label ng-if="question.scaleAnsLabel.length>0"class="start" style="top: 50px; left: 0%;"">{{question.scaleAnsLabel[0].answerText}}</label>
                  	  	 	 		<p ng-repeat="a in question.ans | limitTo: 1">{{a.answerText}}</p>
                  	  	 	 		<p ng-repeat="a in question.ans" ng-if="$index < (question.ans.length)/2 && $index >= 1">{{a.answerText}}</p><label ng-if="question.scaleAnsLabel.length>0" class="mid" style="top: 50px; left: 48%;">{{question.scaleAnsLabel[1].answerText}}</label>
                  	  	 	 		<p ng-repeat="a in question.ans" ng-if="$index > ((question.ans.length)/2)-1">{{a.answerText}}</p><label ng-if="question.scaleAnsLabel.length>0" class="end" style="top: 50px; left: 97%;">{{question.scaleAnsLabel[2].answerText}}</label>

                  	  	 	 	 </div> 
                  	  	 	 <div ng-if="(question.ans.length % 2) != 0" id="slidevalue" class="range-values">
                  	  	 	 		<p class="range-min">0</p>
                  	  	 	 		<label ng-if="question.scaleAnsLabel.length>0"class="start" style="top: 50px; left: 9%;">{{question.scaleAnsLabel[0].answerText}}</label>
                  	  	 	 		<p ng-repeat="a in question.ans | limitTo: 1">{{a.answerText}}</p>
                  	  	 	 		<p ng-repeat="a in question.ans" ng-if="$index < (question.ans.length)/2 && $index >= 1">{{a.answerText}}</p><label ng-if="question.scaleAnsLabel.length>0" class="mid" style="top: 50px; left: 48%;">{{question.scaleAnsLabel[1].answerText}}</label>
                  	  	 	 		<p ng-repeat="a in question.ans" ng-if="$index > ((question.ans.length)/2)">{{a.answerText}}</p><label ng-if="question.scaleAnsLabel.length>0" class="end" style="top: 50px; left: 97%;">{{question.scaleAnsLabel[2].answerText}}</label>
								 </div> 
                  	  	 	 <input class="range-slider__range" id="set-range" ng-model="question.selectedAns" type="range" value="0" min="0" max="{{question.ans.length}}" title="{{question.selectedAns}}" ng-change="rangeSlider(question.selectedAns)">
                  	  	 	 	
                  	  	 									
                  	  	 	 </div>
                  	  </li>
                  	
	               
	                  	
	             </ul>
	   
	    	 
	   
	      
	  
	   
	    </div>
	    
	    
	    
	    
	    <div class="row row_margin_0" ng-if="(checkpreview=='nonpreview' && showSubmitButton=='checked') || checkpreview=='preview'">
	    	<div class="col-md-12">
	    		<div class="inter_submit_cancel_btn_css">
	    		<button class="btn btn-default subbtn" id="" type="submit" ng-click="saveInterviewAssessmentAns()">Submit</button> 
	    			<!-- <a href="#" class="btn btn-default subbtn">Submit</a> -->
	    			<a href="#" class="btn btn-default cancelbtn" ng-click="cnacelInterviewAssessmentAns()">Cancel</a>
	    		</div>
	    	</div>
	    </div>
    </div>
    
    
  </div>
</div>
<script>
  	$('.dateonly').datetimepicker({	    		
			 format: 'DD-MM-YYYY',
			 useCurrent: false, 
			 //minDate:new Date()     	
  	}).on('dp.change', function (e) { $(this).change()});
</script>


