<div class="admin-page">
<div class="section-content" id="adding-task-list">        
            <div class="upper-actions">
        <div class="top-actions">
          <div class="col-md-6 col-lg-6">
            <div class="name-field" style="float: left;margin: 0px 10px 0 0px;">
                <h4>Workflow Name : {{workflow.name}}</h4>
             </div>  
              
          </div><div style="text-align: right;padding-right:10px; "><a ui-sref="restricted.admin.taskslist" style="text-decoration: underline;">Back</a></div>
          <div class="col-md-6 col-lg-6">
            <div class="clone-upper">
            <!-- <div class="settings-btn">
                <button class="btn btn-default btn-bluer" id="settings-btn" style="margin-right: 0px;">Settings</button>
            </div> -->
            <!-- <div class="button-group" style="text-align: right;display: inline-block;padding-left: 10px;">
               <button class="btn btn-default btn-create" id="create-report-btn" style="background:#1fa67a;" ng-click="generateExcel()"><i class="fa fa-file-excel-o"></i></button>
            </div>
          <div class="search-cntnr" style="float: initial;">
            <div class="form-group search-box">
              <input type="text" name="" class="form-control flat-control-search">
              <i class="icon-search"></i>
            </div>
          </div>
          <div class="button-group" style="padding-left: 10px;">
            <button class="btn btn-default btn-create" id="create-req-btn" style="margin-right: 0px;"><i class="fa fa-check-square-o"></i></button>
          </div> -->
        </div>
        </div>
          </div>
          <div class="clearfix"></div>
            <div class="task-creation">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Task Name*</label>
                    <input type="text" value="" placeholder="Task Name" ng-model="wf_Task.name" class="form-control flat-control-inner">
                </div>
            </div>
            <div class="col-md-3">
            <div class="form-group">
					<label>SLA</label> <select
						class="form-control flat-control-inner" ng-model="wf_Task.slaType" ng-change="showSLA(wf_Task.slaType)">
						<option ng-value="">--SLA--</option>
						<option ng-value="1">Estimated Time</option>
						<option ng-value="2">Fixed Date</option>
					</select>
				</div>         
            </div>
            <div class="col-md-3">
             <div class="form-group" ng-show="slatype == 2">
              <label>Fixed Date*:</label>
              <div class="input-group dateonly">
              <!-- <input type="text" id="datetimepicker" placeholder="{{wf_Task.slaDate}}" ng-model="wf_Task.slaDate" class="form-control flat-control-inner dateonly"> -->
              <input type="text" id="datetimepicker"   placeholder="{{wf_Task.slaDate | date:'dd-MM-yyyy'}}"  ng-model="wf_Task.slaDate" class="form-control flat-control-inner dateonly">
              <span class="input-group-addon">
                 <span class="glyphicon glyphicon-calendar"></span>
              </span>
              </div>
              <!-- <input type="text" id="requisitiondate" class="form-control flat-control-inner dateonly" 
                  required> -->
            </div>
            
            <div class="form-group work-field-name" ng-show="slatype == 1">
              <label>Estimated Time*:</label>
            <div class="set-sla">
              <div class="set-col" >
                <input type="number" ng-model="wf_Task.slaDays" class="form-control flat-control-inner estimated-timer" placeholder="Days" style="margin: 0px 5px 0 0px;">
              </div>
              <div class="set-col">
                <input type="number" ng-model="wf_Task.slaHours" class="form-control flat-control-inner estimated-timer" Placeholder="Hours">
              </div>
              <div class="set-col1">
                <input type="number" ng-model="wf_Task.slaMinutes" class="form-control flat-control-inner estimated-timer" placeholder="Minutes">
              </div>
            </div>
            </div>
            
            </div>
            <div class="col-md-2" style="padding-left: 0px;">
              <div class="form-group" style="margin: 21% 0;display: inline-block;">    
                    <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="restricted-view" ng-model="wf_Task.restrictedFlag" name="check" class="flashadmin">
                      <label class="cstmchk_lbladmin" for="restricted-view" style="left: 0px !important;"></label> 
                    </div>
                  <label style="margin: 0 0px 0 12px;">Restricted view</label>
                </div>
                
                
            </div>
            <div class="col-md-1">
            	<!-- <div class="button-group" style="padding-top: 25px;">
					<button class="btn btn-default btn-create" alt="setting" title="Settings">
						<i class="fa fa-cog"></i>
					</button>
				</div> -->
            </div>
            </div>
         </div>
         
        <div class="table-cntnr">
          <table class="table table-striped red-table">
            <caption>Workflow Fields</caption>
            <thead>
              <tr>
                
                <th>Field Name </th>
                <th>Field Type </th>
                <th>Is Required ? </th>
                <th>Action </th>
                <!-- <th>Prefilled </th> -->
              </tr>
            </thead>
            <tbody>
            <tr ng-repeat="field in workflowFieldList2" ng-if="field.prefilledFlag == false">
              	
                <td>{{field.label}}</td>
                <td>{{field.name}}</td>
                <td><span ng-if="field.required == 1">Yes</span><span ng-if="field.required == 2">No</span> &nbsp;&nbsp;&nbsp;&nbsp;</td>
                <!-- <td><span ng-if="field.prefilledFlag == true">Yes</span><span ng-if="field.prefilledFlag == false">No</span></td> -->               
                 <td><button class="btn btn-default btn-delete ng-scope" ng-click="showDeleteModal(field)"><i class="icon-trash-2"></i></button></td>                
              
              </tr>     
              </tbody>
              </table>
              
               <table class="table table-striped red-table">
            <caption>Available Fields</caption>
            <thead>
              <tr>
                <th>
                  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="rd" name="check" ng-model="all" ng-click="addAllFields(all)" class="flashadmin">
                      <label class="cstmchk_lbladmin" for="rd"></label> 
                    </div>
                </th>
                <th>Field Name </th>
                <th>Field Type </th>
                <th>Is Required ? </th>
                <!-- <th>Prefilled </th> -->
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="field in workflowFieldList1" ng-if="field.prefilledFlag == false">
              	<td>
                  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="field{{field.id}}" name="check" ng-disabled="field.addedInOtherTask == true && field.addedInTask == true" ng-model="field.addedInTask" class="flashadmin">
                      <label class="cstmchk_lbladmin" for="field{{field.id}}"></label> 
                    </div>
                </td>
                <td>{{field.label}}</td>
                <td>{{field.name}}</td>
                <td><span ng-if="field.required == 1">Yes</span><span ng-if="field.required == 2">No</span></td>
                <!-- <td><span ng-if="field.prefilledFlag == true">Yes</span><span ng-if="field.prefilledFlag == false">No</span></td> -->               
              </tr>              
            
                       
            </tbody>
          </table>
        </div>

          <div class="btn-cntnr" style="margin: 0px 0 10px;">
               <button ng-if="saveTaskButton" class="btn btn-default btn-bluer" id="cancel-req-btn" ng-click="createTask(wf_Task)">Save</button>
               <button ng-if="updateTaskButton" class="btn btn-default btn-bluer" id="cancel-req-btn" ng-click="createTask(wf_Task)">Update</button>
              <a ui-sref="restricted.admin.taskslist">Cancel</a>
            </div>
        </div>
 </div>
 <div id="deletelist" class="modal fade" role="dialog">
  		<div class="modal-dialog modal-sm add-brand">
    	<div class="modal-content flat-modal">
      	<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">X</button>
        <h4 class="modal-title common-title" style="margin-left: 0;">Delete Record</h4>
      	</div>
      	<div class="modal-body flat-body">
          <div class="clearfix"></div>
        Are you sure you want to delete record?
      <div class="modal-footer text-left">
        <button type="button" class="btn btn-default"  id="show_ass" ng-click="deleteWorkFlowFieldFromList()" data-dismiss="modal">Delete</button>
        <a class="btn btn-link" data-dismiss="modal" >Cancel</a>
      </div>
    	</div>
   		</div>
    	</div>
    	</div>
 
 <script type="text/javascript">
 			$(function () {
                $('.dateonly').datetimepicker({
                   format: 'DD-MM-YYYY',
                    minDate:new Date(), 
                   
                   
                });
            });

</script>