<div class="admin-page">
<div class="section-content" id="create-req">
        <div class="shadow-container">
          <div class="inner-head">
            <h4>
            <span ng-if="workflow.id == undefined">Create Workflow</span>
            <span ng-if="workflow != undefined && workflow.id != undefined">Edit Workflow</span>
            </h4><div style="text-align: right;padding-right: 10px;"> <a ui-sref="restricted.admin.workflowlist" style="text-decoration: underline;">Back</a></div>
          </div>
          <div class="inner-form">
          <form>
            <div class="row">
              <div class="col-md-8">
                <div class="form-group workflow-frm">
                  <label>Workflow Name*</label>
                  <input type="text" ng-model="workflow.name" class="form-control flat-control-inner">                  
                </div>
                <div class="form-group workflow-frm" style="width: 50%;">
                  <label>Workflow Short Name*</label>
                  <input type="text" ng-model="workflow.shortName" class="form-control flat-control-inner">                  
                </div>
                
                <div class="" ng-show="ownerInfoFlag">
                <div class="assign-middle-section" style="">
                	<label style="font-weight: 600;margin-bottom: 0px;">Assigned To: </label>
                	<p style="display: inline-block;">{{workflow.wf_Owner.ownerTypeName}} <b>:</b></p>
                	<p style="display: inline-block;">{{workflow.wf_Owner.name}}</p>
                	<a style="cursor: pointer;" ng-click="ownerFlag=true">Change</a>
                </div>
                
                <!-- <div class="assign-middle-section workflow-frm">
                	<label style="font-weight: 600;margin-bottom: 0px;">Owner Name: </label>
                	
                </div> -->
                </div>
                
                <div class="form-group workflow-frm" ng-show="ownerFlag" style="margin-top: 20px;">
                  <label>Select Owner Type*</label>
                  
                  <select class="form-control flat-control-inner" ng-model="workflow.wf_Owner.id" ng-options="owner.id as owner.name for owner in ownersList" ng-change="changeOwnersList(workflow.wf_Owner.id)">
                    <option value="">--Select Owner--</option>                
                  </select>
                  
                </div>
                <div class="form-group workflow-frm" ng-show="ownerFlag" style="margin-top: 20px;">
                
                  <label ng-if="workflow.wf_Owner.id != 0 && workflow.wf_Owner.id != undefined">Select Owner*</label>
                  
                  <select ng-if="workflow.wf_Owner.id == 2" class="form-control flat-control-inner" ng-model="workflow.wf_Owner.ownerId" ng-options="g.id as g.name for g in groupsList">
                    <option value="">--Select Group--</option>                
                  </select>
                                                    
                  <input autocomplete="off" ng-if="workflow.wf_Owner.id == 1" class="form-control flat-control-inner" id="userdetail" placeholder="employee email" ng-model="searchemployee" ng-change="fetchEmployeeDetails(searchemployee)" list="userDetails">
				  <datalist id="userDetails">
						<option  data-ng-repeat="u in EmployeeNumberList" value="{{u.detail}}  {{u.roleName}}"> 
				  </datalist>
				  				  
				  <select ng-if="workflow.wf_Owner.id == 3" class="form-control flat-control-inner" ng-model="workflow.wf_Owner.ownerId" ng-options="c.id as c.name for c in categoryList">
                    <option value="">--Select Department--</option>                
                  </select>

                </div>
              </div>
              
              <div class="col-md-4" style="padding-left: 0px;">
                <div class="form-group">
                  <label>Workflow Description*</label>
                  <textarea ng-model="workflow.description" class="flat-control-inner text-area" style="margin-bottom: 0px;"></textarea>
                </div>
              </div>
              
              <!-- <div class="add-more">
              <button class="btn btn-default btn-round-add" ng-click="openAddFieldModal(workflow)" style="margin-bottom: 0px;"><i class="icon-plus"></i></button>
              <a class="more-field" ng-click="openAddFieldModal(workflow)">Add More Field</a>
             </div> -->             
             </div>

            <div class="btn-cntnr" style="border-bottom: 1px solid #ccc;padding-bottom: 10px;margin: 0px 0px 10px;">
              <button class="btn btn-default btn-bluer" ng-click="createWorkFlow(workflow)" id="cancel-req-btn">Save</button>
              <a ui-sref="restricted.admin.workflowlist">Cancel</a>
            </div>
            </form>
            
            <div class="row">
            <div class="add-more" style="padding: 0px 20px 0px;" ng-if="workflow != undefined && workflow.id != undefined">
              <button class="btn btn-default btn-round-add" ng-click="openAddFieldsPage(0,workflow,'add')" style="margin-bottom: 0px;"><i class="icon-plus"></i></button>
              <a class="more-field" ng-click="openAddFieldsPage(0,workflow,'add')">Add More Field</a>
             </div>
             </div>
            
            <div class="table-cntnr" style="padding: 10px 0px 10px;" ng-if="workflowFieldList.length > 0">
          <table class="table table-striped red-table" style="margin-bottom: 0px;">
            <caption>Workflow Fields</caption>
            <thead>
              <tr>
                <th>Field Name <i class="fa fa-sort" aria-hidden="true" ng-click="SortingWorkFlowFieldsList('Field Name')"></i></th>
                <th>Field Type <i class="fa fa-sort" aria-hidden="true" ng-click="SortingWorkFlowFieldsList('Field Type')"></i></th>
                <th>Is Required ? <i class="fa fa-sort" aria-hidden="true" ng-click="SortingWorkFlowFieldsList('Is Required')"></i></th>
                <th>Prefilled <i class="fa fa-sort" aria-hidden="true" ng-click="SortingWorkFlowFieldsList('Prefilled')"></i></th> 
                 <th>Identifier<i class="fa fa-sort" aria-hidden="true" ng-click="SortingWorkFlowFieldsList('Identifier')"></i></th>              
                <!-- <th></th> -->
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="field in workflowFieldList">
                <td>{{field.label}}</td>
                <td>{{field.name}}</td>
                <td><span ng-if="field.required == 1">Yes</span><span ng-if="field.required == 2">No</span></td>
                <td><span ng-if="field.prefilledFlag == true">Yes</span><span ng-if="field.prefilledFlag == false">No</span></td>
                <td><span ng-if="field.identifierFlag == true">Yes</span><span ng-if="field.identifierFlag == false">No</span></td>
                <td><button class="btn btn-default btn-delete ng-scope" ng-click="showDeleteModal(field)"><i class="icon-trash-2"></i></button></td>                
              </tr>                          
            </tbody>
          </table>
        </div>
            
          </div>

          <div class="modal fade" id="add_sub-head" role="dialog">
          <div class="modal-dialog modal-lg add-brand">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select Field</h4>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group ">
                      <label style="font-weight: normal;">Select Field</label>
                      <select class="form-control flat-control-inner input-file" ng-model="workflow.wf_FieldMaster.id" ng-options="field.id as field.name for field in fieldsList">
                    	<option value="">--Select Field--</option>                
                  	  </select>                    
                   </div>
                  </div> 
                </div>  
                <div class="middle-field-setting">
                <div class="inner-field">  
                <div class="row">
                  <div class="field-sttng">
                    <div class="col-md-6" style="padding: 0px;">
                      <p class="field-setting">Field Settings</p>
                    </div>
                  </div>
                  <div class="col-md-6"></div>
                </div>
                  <div class="clearfix"></div>

                  <div class="main-field-setting">
                  <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Label</label>
                      <input type="text" placeholder="Name" class="form-control flat-control-inner">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label>Required</label>
                      <select class="form-control flat-control-inner input-file" style="margin-bottom: 0px;width: 85%;">
                        <option value ="1">Yes</option>
                        <option value ="2">No</option>                        
                      </select>
                  </div>  
                  <div class="col-md-4">
                    <div class="prefill" style="position: relative;top: 36px;">
                    <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="1" name="check" class="flashadmin">
                      <label class="cstmchk_lbladmin" for="1">
                        <p style="margin-left: 10px;">Prefill</p>
                      </label> 
                    </div>
                  </div>
                  </div>  
                </div>
                 
                
                <div class="back-clr">
                <div class="row">
                  <div class="middle-cntnt" ng-if="workflow.wf_FieldMaster.id == 1" id="input1">
                    <div class="col-md-12">
                      <p class="field-setting">Validation</p>
                      <div class="prefill" style="display: inline-block;width: 20%;float: left;">
                        <div class="chckbx-cntnr zeromargin">
                          <input type="checkbox" id="1" name="check" class="flashadmin">
                          <label class="cstmchk_lbladmin" for="1">
                          <p class="vali-sub-head" style="margin-left: 10px;font-weight: normal;">Character Only</p>
                        </label> 
                        </div>
                      </div>
                      <div class="prefill" style="display: inline-block;width: 20%;">
                        <div class="chckbx-cntnr zeromargin">
                          <input type="checkbox" id="1" name="check" class="flashadmin">
                          <label class="cstmchk_lbladmin" for="1">
                          <p class="vali-sub-head" style="margin-left: 10px;font-weight: normal;">Number Only</p>
                        </label> 
                        </div>
                      </div>                     
                      <div class="form-group" style="margin-top: 15px;">
                      <label>Define Length</label>
                      <input type="text" class="form-control flat-control-inner" style="width: 15%;">
                    </div>
                  </div> 
                    </div> 

                    <div class="middle-cntnt" id="input4" ng-if="workflow.wf_FieldMaster.id == 8">
	                    <div class="col-md-12">
	                      <p class="field-setting">Validation</p>
	                      <div class="prefill date-val" style="">
	                        <div class="chckbx-cntnr zeromargin">
	                          <input type="checkbox" id="1" name="check" class="flashadmin">
	                          <label class="cstmchk_lbladmin" for="1">
	                          <p class="vali-sub-head" style="margin-left: 10px;font-size: 14px;">Date Format</p>
	                        </label> 
	                        </div>
	                      </div>
	                                                                  
	                      <div class="form-group" style="margin-top: 15px;">
		                      <label>Define Format</label>
		                      <input type="text" placeholder="DD-MM-YYYY" class="form-control flat-control-inner" style="width: 15%;display: inline-block;">
	                      </div>
	                  	</div> 
                    </div> 


                    <div class="middle-cntnt" id="input6" ng-if="workflow.wf_FieldMaster.id == 5">
                    <div class="col-md-12">
                      <p class="field-setting">Validation</p>
                      <div class="col-md-4" style="padding: 0px;">
                      <div class="form-group">
                        <label>Option</label>
                        <input type="text" placeholder="list1" class="form-control flat-control-inner">
                      </div>
                      </div>                      
                      <div class="col-md-4">
                        <div class="list-item-link">
                          <a>Add List Item</a>
                        </div>
                      </div>
                  	</div> 
                 	</div> 

                    <div class="middle-cntnt" id="input7" ng-if="workflow.wf_FieldMaster.id == 3">
                    <div class="col-md-12">
                      <p class="field-setting">Validation</p>
                      <div class="col-md-4" style="padding: 0px;">
                      <div class="form-group">
                        <label>Option</label>
                        <input type="text" placeholder="list1" class="form-control flat-control-inner">
                      </div>
                      </div>
                      
                      <div class="col-md-4">
                        <div class="list-item-link">
                          <a id="add-radio">Add Radio Item</a>
                        </div>
                      </div>
                      <div class="clearfix"></div>

                      <div class="test-main" id="radio-list">
                        <div class="prefill" style="display: inline-block;">
                        <!-- <div class="chckbx-cntnr zeromargin">
                          <input type="radio" id="1" name="radio" class="">
                          
                        </div> -->
                        <div class="radio-cntnr new-chc" style="float: left;">
                        <input type="radio" id="test1" name="radio-group" value="true"> <label for="test1"></label>
                        <p class="radio-sub-head" style="">Test</p>
                        </div>
                      </div>
                      </div>  

                  </div> 
                    </div> 

                    <div class="middle-cntnt" id="input8" ng-if="workflow.wf_FieldMaster.id == 4">
                    <div class="col-md-12">
                      <p class="field-setting">Validation</p>
                      <div class="col-md-4" style="padding: 0px;">
                      <div class="form-group">
                        <label>Option</label>
                        <input type="text" placeholder="list1" class="form-control flat-control-inner">
                      </div>
                      </div>
                      
                      <div class="col-md-4">
                        <div class="list-item-link">
                          <a id="add-checkbox">Add Checkbox Item</a>
                        </div>
                      </div>
                      <div class="clearfix"></div>

                      <div class="test-main" id="checkbox-list" style="display: none;">
                        <div class="prefill" style="display: inline-block;">
                        <div class="chckbx-cntnr zeromargin">
                          <input type="checkbox" id="1" name="check" class="flashadmin">
                          <label class="cstmchk_lbladmin" for="1">
                          <p class="vali-sub-head" style="margin-left: 10px;font-size: 14px;">Test</p>
                        </label> 
                        </div>
                      </div>
                      </div>  

                  </div> 
                    </div> 

                    <div class="middle-cntnt" id="input9" ng-if="workflow.wf_FieldMaster.id == 6">
                    <div class="col-md-12">
                      <p class="field-setting">Validation</p>
                      <div class="prefill" style="display: inline-block;width: 20%;float: left;">
                        <div class="chckbx-cntnr zeromargin">
                          <input type="checkbox" id="1" name="check" class="flashadmin">
                          <label class="cstmchk_lbladmin" for="1">
                          <p class="vali-sub-head" style="margin-left: 10px;font-weight: normal;">File</p>
                        </label> 
                        </div>
                      </div>
                      <div class="prefill" style="display: inline-block;width: 20%;">
                        <div class="chckbx-cntnr zeromargin">
                          <input type="checkbox" id="1" name="check" class="flashadmin">
                          <label class="cstmchk_lbladmin" for="1">
                          <p class="vali-sub-head" style="margin-left: 10px;font-weight: normal;">Image</p>
                        </label> 
                        </div>
                      </div>
                      
                      
                  </div> 

                      <div class="col-md-4">
                        <div class="upload-validation">
                          <label class="file-type">File Type</label>
                          <form> 
                            <div class="multiselect" style="display: inline-block;">
                              <div class="selectBox">
                                <select class="">
                                  <option>Select an option</option>
                                </select>
                                <div class="overSelect"></div>
                              </div>
                              <div id="checkboxes">
                                <label for="one">
                                  <input type="checkbox" id="one" />PDF</label>
                                <label for="two">
                                  <input type="checkbox" id="two" />XLSX</label>
                                <label for="three">
                                  <input type="checkbox" id="three" />DOC</label>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div> 
                      <div class="col-md-4">
                        <div class="form-group" style="margin-top: 20px;">
                        <label>File Size</label>
                        <input type="text"  class="form-control flat-control-inner file-size">
                      </div>
                      </div> 
                      <div class="col-md-4">
                        <div class="size-btns">
                          <input type="radio" id="mb" name="drone" checked />
                          <label for="huey">MB</label>
                        </div>
                        <div class="size-btns">
                          <input type="radio" id="kb" name="drone" />
                          <label for="huey">KB</label>
                        </div>
                        <div class="size-btns">
                          <input type="radio" id="gb" name="drone" />
                          <label for="huey">GB</label>
                        </div>
                      </div> 
                    </div> 
                </div>
              </div>
              </div>
            </div>
                <div class="btn-cntnr" style="padding-top: 10px;">
                  <button class="btn btn-default btn-bluer" id="cancel-req-btn">Add Field</button>
                  <a>Cancel</a>
                </div>
                </div>  
              </div>              
            </div>            
          </div>
      </div>
     </div>
     
     <div id="deletelist" class="modal fade" role="dialog">
  		<div class="modal-dialog modal-sm add-brand">
    	<div class="modal-content flat-modal">
      	<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">X</button>
        <h4 class="modal-title common-title" style="margin-left: 0;">Delete Record</h4>
      	</div>
      	<div class="modal-body flat-body">
          <div class="clearfix"></div>
        Are you sure you want to delete record?
      <div class="modal-footer text-left">
        <button type="button" class="btn btn-default"  id="show_ass" ng-click="deleteWorkFlowFieldFromList()" data-dismiss="modal">Delete</button>
        <a class="btn btn-link" data-dismiss="modal" >Cancel</a>
      </div>
    	</div>
   		</div>
    	</div>
    	</div>
     
    </div>
   </div>