<style>
.zeromargin-new{
  margin: 10px 0 !important;
  display:inline;
}
  .zeromargin-new p{
    margin: 0px;
    display: inline-block;
     vertical-align: top;
  }
  [type="checkbox"]:checked:focus + label:before, [type="checkbox"]:not(:checked):focus + label:before{
  border:1px solid !important}
</style>

<div class="tab-pane fade in admin-page">
	 <div class="section-heading">
        <h4>Create Group</h4>
        <!-- <p>Create new requisition for recRruitment from customers.</p> -->
      </div>
<div class="section-content" id="create-user-btn">

<div class="create-group-form">
        <div class="form-group">
                  <label class="ng-binding" style="width:15%">Group Name*</label>
                  <input type="text" class="form-control flat-control-inner " ng-model="groupMap.wf_Group.name" style="display: inline-block;width: 25%;" allow2="" required="required">
        </div>
        <div class="form-group" style="display: inline-block;width: 100%">
                  <label class="ng-binding" style="width:15%;vertical-align: top;">Description</label>
                  <textarea class="form-control flat-control-inner " rows="4" ng-model="groupMap.wf_Group.description" style="display: inline-block;width: 25%;" ></textarea> 
                 
        </div>
        
        <div id="assignTo" class="form-group"><label class="ng-binding" style="width:15%;vertical-align: top;">Office User's Name</label>
        				   <input class="form-control flat-control-inner inputwithinfo" id="userdetail" ng-model="ownerName" ng-change="fetchUserDetails(ownerName)" list="userDetails" style="display: inline-block;width: 25%;" required>
					       <datalist id="userDetails">
					        	<option  data-ng-repeat="u in OfficeUserList" value="{{u.name}}  {{u.roleName}}"> 
							</datalist>
					 		<p class="informative_msg">(Enter Office User's Name)</p>            
        </div>
        <div>
		
		   <button type="submit" class="btn btn-default btn-bluer ng-scope" id="upadate-btn" ng-click="addOwnerInList()"  >Add</button>
		</div>
		       
         <div class="assignng">
               <div class="table-cntnr table-responsive">
                <table class="table table-striped red-table">
                 <caption>Group User List</caption> 
                  <thead>
                    <tr>
                      <th>Owner Name</th>
                      <th>Email-Id</th>
                      <th></th>
                     </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="s in ownerList">
                      <td>{{s.name}}</td>
                      <td>{{s.email}}</td>                  				
                      <td><button class="btn btn-default btn-delete"   ng-click="openDeleteModal(s.id)"><i class="icon-trash-2"></i></button></td>
                         <!-- <td><button class="btn btn-default btn-delete" ng-click="deleteOwnerFromList(s.id)"><i class="icon-trash-2"></i></button></td> -->
                         
                        <!-- <td><i data-toggle="modal" class="fa fa-trash" data-target="#deletelist" ng-click="openDeleteModal(s.id)"></i></td> -->
                       
                    </tr>                    
                   </tbody>
                </table>
              </div>
            </div>
        </div>
        <button type="submit" ng-if="wf_Group.id == undefined" class="btn btn-default btn-bluer ng-scope" id="create_slot-btn" ng-click="createGroup(groupMap)">Submit</button>  
      <button type="submit" ng-if="wf_Group.id !== undefined" class="btn btn-default btn-bluer ng-scope" id="create_slot-btn" ng-click="createGroup(groupMap)">Update</button>
      
               <a href="" ui-sref="restricted.admin.grouplisting">Cancel</a>

      </div>
      
      <div class="btn-cntnr" style="margin-top: 20px; margin-bottom: 20px;text-align: right;">
           
   	  </div>   
    </div>
    
 	  <div id="deletelist" class="modal fade" role="dialog">
						<div class="modal-dialog modal-sm add-brand">

							Modal content
							<div class="modal-content flat-modal">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">x</button>
									<h4 class="modal-title common-title"  style="margin-left: 0;">DeleteRecord</h4>
								</div>
								<div class="modal-body flat-body">
									<div class="clearfix"></div>
									Are you sure want to delete  records?
									<div class="modal-footer text-left">
										<button type="button" class="btn btn-default" data-dismiss="modal" id="show_ass" ng-click="deleteOwnerFromList()">Delete</button>
										<a class="btn btn-link" data-dismiss="modal">Cancel</a>
									</div>
								</div>
							</div>
						</div>
		</div>
 
 
