<div class="admin-page">
<div class="section-content" id="settings-list">
          <div class="shadow-container">
          <div class="inner-head">
            <h4 style="display: inline-block;">Settings</h4>
            <a ui-sref="restricted.admin.taskslist" style="text-decoration: underline;float:right;">Back</a>
          </div>
          <div class="inner-form" style="display: inline-block;width: 100%;">
              <ul class="nav nav-tabs assessment-tabs1" style="border-bottom: 1px solid #ddd !important;">
               <li ng-click="fetchTaskNotificationSetting()" ng-class="{'active' : settingTabFlag}"><a>Notification</a></li>
               <li ng-click="fetchTaskSLAList()" ng-class="{'active' : !settingTabFlag}"><a>SLA</a></li>
             </ul>
             <div class="tab-content">
                <div id="notification-settings" ng-show="settingTabFlag" class="tab-pane fade in active">
                <div class="alert-msg whole-alert">
                  <div class="col-md-3">
                  <div class="form-group">
                    <label>List of Events</label>                    
                   	<select class="form-control flat-control-inner" ng-model="notificationSetting.event.id" ng-options="event.id as event.name for event in notificationEvents" ng-change="fetchWorkFlowNotificationReceivers(notificationSetting.event.id)" required="">
                   		<option value="" class="" selected="selected">--Please Select--</option>
	                   	<!-- <option label="On ticket Creation" value="number:163">On ticket Creation</option>
	                   	<option label="Task is completed" value="number:158">Task is completed</option>
	                   	<option label="Task is red" value="number:159">Task is red</option> -->
                	</select>
             	  </div>
             	  </div>
             	  
             	  <div class="col-md-5">
             	  	<div class="alert-msg">
                 	<label style="margin-left: 2%;">Notify To</label>
                  <div class="prefill notify-pre">
                  <div ng-repeat="receiver in notificationReceivers" class="col-md-6" style="margin: 6px 0px;">
                  <div class="chckbx-cntnr">
                      <input type="checkbox" id="notify{{receiver.id}}" ng-model="receiver.receiverSelectedFlag" ng-click="pushReceiversId(receiver.id)" name="check" class="flashadmin">
                      <label class="cstmchk_lbladmin" for="notify{{receiver.id}}">
                      <p class="vali-sub-head">{{receiver.name}}</p>
                    </label> 
                  </div>
                  </div>
                </div>
                </div>
             	  </div>
             	  
             	  
             	 <div class="col-md-1">
                  <div class="form-group email-check">
                    <label>Email</label>
                    <div class="chckbx-cntnr">
                      <input type="checkbox" id="email-check" ng-model="notificationSetting.emailFlag" name="check" class="flashadmin">
                      <label class="cstmchk_lbladmin" for="email-check">                      
                    </label> 
                  </div>
                  </div>
                  </div>
             	 
             	 <div class="col-md-3">
             	 	<div class="btn-cntnr" style="margin: 10% 0 0 0;">
                      <button class="btn btn-default btn-bluer" ng-click="saveTaskSetting(notificationSetting)" id="cancel-req-btn">Add</button>
                      <!-- <a style="margin-right:0px!important;">Cancel</a> -->
                    </div>
                </div>
                  
                </div>
                	<div class="clearfix"></div>
                	
                	<div class="table-cntnr">
				          <table class="table table-striped red-table">
				            <caption>Alert Messages</caption>
				            <thead>
				              <tr>
				                 <td style="vertical-align: middle;">
				                    <div class="chckbx-cntnr">
				                      <input type="checkbox" id="rd" name="check" class="flashadmin ng-pristine ng-untouched ng-valid ng-empty" ng-click="checkedAllList(shipDataList,all)" ng-model="all">
				                      <label class="cstmchk_lbladmin" for="rd"></label> 
				                    </div>
				                 </td>
				                <th style="vertical-align: middle;"> Event Name<!-- <i class="fa fa-sort" aria-hidden="true" style="font-size:12px;"></i> --></th>
				                <th style="vertical-align: middle;"> Notified To<!-- <i class="fa fa-sort" aria-hidden="true" style="font-size:12px;"></i> --></th>
				                <th style="vertical-align: middle;"> Email<!-- <i class="fa fa-sort" aria-hidden="true" style="font-size:12px;"></i> --></th>
				              </tr>
		                	</thead>
		                	<tbody>
		                	<tr ng-repeat="notification in notificationEventsSetting">
		                		 <td style="vertical-align: middle;">
				                    <div class="chckbx-cntnr">
				                      <input type="checkbox" id="rd" name="check" class="flashadmin ng-pristine ng-untouched ng-valid ng-empty" ng-click="checkedAllList(shipDataList,all)" ng-model="all">
				                      <label class="cstmchk_lbladmin" for="rd"></label> 
				                    </div>
				                 </td>
			                	<td style="vertical-align: middle;">{{notification.event.name}}</td>
			                	<td style="vertical-align: middle;">{{notification.receiversName}}</td>
			                	<td style="vertical-align: middle;">
			                	<span ng-if="notification.emailFlag">Yes</span>
			                	<span ng-if="!notification.emailFlag">No</span>
			                	</td>
		                	</tr>
		                	</tbody>
		                	</table>
                	</div>
                	
                	
                	
                   <!--  <div class="btn-cntnr" style="margin: 0px 0 10px;">
                      <button class="btn btn-default btn-bluer" id="cancel-req-btn">Save</button>
                      <a href="">Cancel</a>
                    </div> -->
                </div>
                
                 <div id="SLA-settings" ng-show="!settingTabFlag" class="tab-pane fade in active">
                 <!-- Single button -->
<div class="col-md-1">                
  <div class="color-picker">
  <label>Color</label>
	<div class="btn-group">
	  <button type="button" class="btn btn-default dropdown-toggle "id="colorpicker" data-toggle="dropdown">
	  <!-- <span class="caret"></span> -->
	  </button>
    
    <div class="dropdown-menu colorschemebox" role="menu"> 
         <button type="button" class="btn btn-default colorscheme" id="pal1" name="#FFF" style="background:#FFF;"></button>
         <button type="button" class="btn btn-default colorscheme" id="pal2" name="#d91e18" style="background:#d91e18;"></button>
         <button type="button" class="btn btn-default colorscheme" id="pal3" name="#f0ff00" style="background:#f0ff00;"></button>
         <button type="button" class="btn btn-default colorscheme" id="pal4" name="#1e824c" style="background:#1e824c;"></button>
         <button type="button" class="btn btn-default colorscheme" id="pal5" name="#e67e22" style="background:#e67e22;"></button>
         <button type="button" class="btn btn-default colorscheme" id="pal6" name="#1f3a93" style="background:#1f3a93;"></button>
         <button type="button" class="btn btn-default colorscheme" id="pal7" name="#19b5fe" style="background:#19b5fe;"></button>
         <button type="button" class="btn btn-default colorscheme" id="pal8" name="#e8ecf1" style="background:#e8ecf1;"></button>
         <button type="button" class="btn btn-default colorscheme" id="pal9" name="#7a5547" style="background:#7a5547"></button>
		 <button type="button" class="btn btn-default colorscheme" id="pal9" name="#000" style="background:#000"></button>
         <!-- <hr  class="divider"></hr> -->
         <!-- <button type="button" class="btn btn-default btn-sm">Set Default</button> -->
	</div>
   </div>
  </div>
 </div>
<div class="col-md-3">
  <div class="status-name">
  <div class="form-group">
  	<label>Status Name</label>
  	<input type="text" id="status-name" ng-model="slaSetting.statusName" class="form-control flat-control-inner">
  </div>
  </div>
</div>
<div class="col-md-2">
	<div class="form-group">
          <label>Time Remaining</label>                    
         	<select id="time-remaining" class="form-control flat-control-inner" ng-model="slaSetting.percentageCriteria" required="">
         	<option value="" class="" selected="selected">--Please Select--</option>
          	<option label="less than (<)" value="LT">less than (<)</option>
          	<option label="greater than (>)" value="GT">grater than (>)</option>
          	<option label="equal to (=)" value="EQ">equal to (=)</option>
          	<option label="less than equal to (<=)" value="LE">less than equal to (<=)</option>
          	<option label="greater than equal to (>=)" value="GE">grater than equal to (>=)</option>
      	</select>
    </div>
</div>
<div class="col-md-2">
  <div class="status-name">
  <div class="form-group">
  	<label>Percentage</label>
  	<input type="number" id="percent" ng-model="slaSetting.timeInPercentage" class="form-control flat-control-inner" style="text-align:center;">
  </div>
  </div>
</div>

<div class="col-md-4">
	<div class="btn-cntnr" style="margin: 8% 0 0 0;">
      <button class="btn btn-default btn-bluer" ng-click="saveTaskSLA(slaSetting)" id="cancel-req-btn">Add</button>
      <!-- <a href="">Cancel</a> -->
    </div>
</div>

<div class="clearfix"></div>
                	
                	<div class="table-cntnr">
				          <table class="table table-striped red-table">
				            <caption>SLA</caption>
				            <thead>
				              <tr>
				                 <td style="vertical-align: middle;">
				                    <div class="chckbx-cntnr">
				                      <input type="checkbox" id="rd" name="check" class="flashadmin ng-pristine ng-untouched ng-valid ng-empty" ng-click="checkedAllList(shipDataList,all)" ng-model="all">
				                      <label class="cstmchk_lbladmin" for="rd"></label> 
				                    </div>
				                 </td>
				                <th style="vertical-align: middle;"> Color </th>
				                <th style="vertical-align: middle;"> Status Name <!-- <i class="fa fa-sort" aria-hidden="true" style="font-size:12px;"></i> --></th>
				                <th style="vertical-align: middle;"> Condition </th>
				              </tr>
		                	</thead>
		                	<tbody>
		                	<tr ng-repeat="sla in taskSLAList">
		                		 <td style="vertical-align: middle;">
				                    <div class="chckbx-cntnr">
				                      <input type="checkbox" id="rd" name="check" class="flashadmin ng-pristine ng-untouched ng-valid ng-empty" ng-click="checkedAllList(shipDataList,all)" ng-model="all">
				                      <label class="cstmchk_lbladmin" for="rd"></label> 
				                    </div>
				                 </td>
			                	<td style="vertical-align: middle;"> <p ng-style="{'background-color':sla.statusColorCode}" class="status-color"></p> </td>
			                	<td style="vertical-align: middle;">{{sla.statusName}}</td>
			                	<td style="vertical-align: middle;">
			                	 <span ng-if="sla.percentageCriteria == 'EQ' ">=</span>
			                	 <span ng-if="sla.percentageCriteria == 'LT' "><</span>
			                	 <span ng-if="sla.percentageCriteria == 'GT' ">></span>
			                	 <span ng-if="sla.percentageCriteria == 'LE' "><=</span>
			                	 <span ng-if="sla.percentageCriteria == 'GE' ">>=</span>{{sla.timeInPercentage}}%
			                	 </td>
		                	</tr>
		                	</tbody>
		                	</table>
                	</div>

	</div>
  </div>
 </div>
</div>
</div>
</div> 
   
 <script type="text/javascript">
 $( document ).ready(function() {
	  $(".colorschemebox .btn").on("click",function(){
	      $("#colorpicker").css("background-color", $(this).attr('name'));
	      $("#colorpicker").val($(this).attr('name'));
	});
	});
 
 
 </script>