<div class="admin-page">
<div class="section-heading">
        <h4>Workflow Management System</h4>        
</div>
      <div class="section-content" id="req-list">
        <div class="upper-actions">
          <div class="col-md-4 col-lg-4">
          <div class="button-group">
            <button class="btn btn-default btn-create" id="create-req-btn" ng-click="openEditWorkFlowPage(undefined)"><i class="icon-plus"></i></button>
            <button class="btn btn-default btn-delete" ng-click="check()"><i class="icon-trash-2"></i></button>
          </div>
          </div>
          <div class="col-md-1 col-lg-1">
            
          </div>
          <div class="col-md-6 col-lg-6" style="padding: 0px;">
	          	<div class="clone-upper" style="float: right;">
	            <div class="button-group" style="text-align: right;display: inline-block;padding-left: 10px;">
	               <button class="btn btn-default btn-create" id="create-report-btn" style="background:#1fa67a;" ng-click="generateExcel()"><i class="fa fa-file-excel-o"></i></button>
	            </div>
	           <div class="clone-btn">
	            <button class="btn btn-default btn-work-clone" ng-click="makeCloneOfWorkflow()" id="cancel-req-btn">Clone</button>
	          </div> 
	          <div class="search-cntnr" style="float: initial;padding-left: 0px;">
	            <div class="form-group search-box">
	              <input type="text" name="" id="id_of_textbox" ng-model="searchterm" class="form-control flat-control-search">
	              <i class="icon-search" id="id_of_button" ng-click="fetchWorkflowsList(0,10,null,null,searchterm);fetchWorkflowsListCount(searchterm)"></i>
	            </div>
	          </div>
	          </div>
          </div>
          <div class="col-md-1 col-lg-1">
          	<div class="button-group">
			<button class="btn-default btn-create icon-navigation1 dropdown-toggle" data-toggle="dropdown" id="create-req-btn"><i class="fa fa-check-square-o"></i></button>
           <!--  <a class="dropdown-toggle select-drop" data-toggle="dropdown"></a>
         	<span class="fa fa-filter"></span> -->
	      	<ul class="dropdown-menu selection-column" style="overflow:auto;left: -73px;">
						 <li>
						  	<div class="chckbx-cntnr zeromargin">
						     <input type="checkbox" id="app1" name="check" class="flashadmin" ng-click="selectAllColoumns(colcheck);savesettings()" ng-model="colcheck">
						     <label class="cstmchk_lbladmin"  for="app1"></label><label for="app1" class="table-label">Select All</label> 
						   </div>
						  </li>
						  <li ng-repeat="c in columnlist">
						  <div class="chckbx-cntnr zeromargin" ng-if="c.name=='Workflow Id' || c.name=='Workflow Name' || c.name=='Owner Name' || c.name=='Created On'">
						     <input type="checkbox" id="column{{$index}}" name="check" ng-model="c.isActive" class="flashadmin" ng-click="savesettings()" disabled>
						     <label class="cstmchk_lbladmin"  for="column{{$index}}"></label><label for="column{{$index}}" class="table-label">{{c.name}}</label> 
						   </div>
						  	<div class="chckbx-cntnr zeromargin" ng-hide="c.name=='Workflow Id' || c.name=='Workflow Name' || c.name=='Owner Name' || c.name=='Created On'">
						     <input type="checkbox"  id="column{{$index}}" name="check" ng-model="c.isActive" class="flashadmin" ng-click="savesettings()">
						     <label class="cstmchk_lbladmin"  for="column{{$index}}"></label><label for="column{{$index}}" class="table-label">{{c.name}}</label> 
						   </div>
						  </li>
						</ul>          </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="table-cntnr table-responsive">
          <table class="table table-striped red-table">
            <caption>List of Workflow</caption>
            <thead>
              <tr>
                <th style="vertical-align: middle;">
                  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="rd" name="check" ng-click="checkedAllList(workFlowsList,all)" ng-model="all" class="flashadmin">
                      <label class="cstmchk_lbladmin" for="rd"></label> 
                    </div>
                </th>
                <th style="vertical-align: middle;min-width: 135px;" ng-show="activeColumn('Workflow Id')">Workflow Id <i ng-click="SortingWorkflowsList('WorkflowId',searchterm)" class="fa fa-sort" aria-hidden="true" style="font-size:12px;"></i></th>
                <th style="vertical-align: middle;min-width: 95px;" ng-show="activeColumn('Workflow Name')">Workflow Name <i ng-click="SortingWorkflowsList('WorkflowName',searchterm)" class="fa fa-sort" aria-hidden="true" style="font-size:12px;"></i></th>
                <th style="vertical-align: middle;min-width: 135px;" ng-show="activeColumn('Short Name')">Workflow Short Name <i ng-click="SortingWorkflowsList('WorkflowShortName',searchterm)" class="fa fa-sort" aria-hidden="true" style="font-size:12px;"></i></th>
                <th style="vertical-align: middle;min-width: 145px;" ng-show="activeColumn('Owner Name')">Owner Name <i ng-click="SortingWorkflowsList('WorkflowOwnerName',searchterm)" class="fa fa-sort" aria-hidden="true" style="font-size:12px;"></i></th>
                <th style="vertical-align: middle;min-width: 95px;" ng-show="activeColumn('Created By')">Created By <i ng-click="SortingWorkflowsList('WorkflowCreatedBy',searchterm)" class="fa fa-sort" aria-hidden="true" style="font-size:12px;"></i></th>
                <th style="vertical-align: middle;min-width: 125px;" ng-show="activeColumn('Created On')">Created On <i ng-click="SortingWorkflowsList('WorkflowCreatedOn',searchterm)" class="fa fa-sort" aria-hidden="true" style="font-size:12px;"></i></th>
                <th style="vertical-align: middle;min-width: 110px;">Add Fields </th>
                <!-- <th style="vertical-align: middle;min-width: 65px;"></th> -->
                <th style="vertical-align: middle;min-width: 65px;"></th>
                <th style="vertical-align: middle;min-width: 65px;"></th>
                <th style="vertical-align: middle;min-width: 65px;"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="wf in workFlowsList">
                <td>
                  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="{{wf.id}}" name="check" ng-click="addCheckedWorkflowId(wf.id)" ng-checked="all" class="flashadmin">
                      <label class="cstmchk_lbladmin" for="{{wf.id}}"></label> 
                    </div>
                </td>
                <td ng-show="activeColumn('Workflow Id')">F-{{wf.workFlowId}}</td>
                <td ng-show="activeColumn('Workflow Name')"><a ng-click="openEditWorkFlowPage(wf)">{{wf.name}}</a></td>
                <td ng-show="activeColumn('Short Name')">{{wf.shortName}}</td>
                <td ng-show="activeColumn('Owner Name')">{{wf.wf_Owner.name}}</td>
                <td ng-show="activeColumn('Created By')">{{wf.createdBy}}</td>
                <td ng-show="activeColumn('Created On')">{{dateformate(wf.createdAt)}}</td>
                <td><button class="btn btn-default btn-round-add mar-bottom-zero" ng-click="openAddFieldsPage(wf)"><i class="icon-plus"></i></button></td>
                <!-- <td><a style="cursor: pointer;"><i class="fa fa-pencil write"></i></a></td> -->
                <td><a style="cursor: pointer;"><i class="fa fa-download dwn-icon" style="color: #39afef;"></i></a></td>
                <td><a style="cursor: pointer;color: #000;"><i class="fa fa-upload dwn-icon"></i></a></td>
                <td><a id="task-flow" ng-click="openTasksListPage(wf)"><img src="resources/img/workflow-icon.png" class="img-responsive workfow-img"></a></td>
              </tr>
             <!-- <tr>
                 <td>
                  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="1" name="check" class="flashadmin">
                      <label class="cstmchk_lbladmin" for="1"></label> 
                    </div>
                </td>
                <td>F-2</td>
                <td><a>Sample</a></td>
                <td>sam</td>
                <td>Komal</td>
                <td>Admin</td>
                <td>04-08-2018</td>
                <td><i class="fa fa-pencil write"></i></td>
                <td><i class="fa fa-download dwn-icon" style="color: #39afef;"></i></td>
                <td><i class="fa fa-upload dwn-icon"></i></td>
                <td><img src="resources/img/workflow-icon.png" class="img-responsive workfow-img"></td>
              </tr>
              <tr>
                <td>
                  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="1" name="check" class="flashadmin">
                      <label class="cstmchk_lbladmin" for="1"></label> 
                    </div>
                </td>
                <td>F-3</td>
                <td><a>Form 3</a></td>
                <td>frm3</td>
                <td>HR</td>
                <td>Admin</td>
                <td>10-08-2018</td>
                <td><i class="fa fa-pencil write"></i></td>
                <td><i class="fa fa-download dwn-icon" style="color: #39afef;"></i></td>
                <td><i class="fa fa-upload dwn-icon"></i></td>
                <td><img src="resources/img/workflow-icon.png" class="img-responsive workfow-img"></td>
              </tr>
              
            </tbody> -->
          </table>
          
         </div>
         
         	<div class="text-right" style="margin: 12px 0;">            
            <ul class="pagination" style="margin-top: 0;">
			<li><a ng-hide="start == 0" ng-click="previous()">&laquo;</a>
			<li ng-repeat="i in navButtons" ng-class="$parent.offset == i * $parent.limit && 'active'"><a class="" ng-click="current(i)">{{i+1}}</a></li>
			<li><a ng-hide="(((start+5)*10) + 10) >= count" ng-click="next()">&raquo;</a></li>
			</ul>
          </div>
          
          </div>
         
      </div>
      
      <div id="deletelist" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm add-brand">

    <!-- Modal content-->
    <div class="modal-content flat-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">X</button>
        <h4 class="modal-title common-title" style="margin-left: 0;">Delete Record</h4>
      </div>
      <div class="modal-body flat-body">
          <div class="clearfix"></div>
        Are you sure want to delete {{checkedWorkflowsids.length}} records?
      <div class="modal-footer text-left">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="show_ass" ng-click="deleteWorkflowFromList('Workflow')">Delete</button>
        <a class="btn btn-link" data-dismiss="modal" >Cancel</a>
      </div>
    </div>
   </div>
    </div>
    </div>
      
     </div>
     
     <script type="text/javascript">
       
       
        $("#id_of_textbox").keyup(function(event) {
            if (event.keyCode === 13) {
                $("#id_of_button").click();
            }
        });
        
    </script>