 <section id="jobs-main" style="padding: 5% 0;margin: 5% 0;">
   
<div id="todo" class="container-fluid">
<div id="claim" class="container-fluid">
    <div class="section-content" id="employee-list" >
      <div class="shadow-container">
         <!--  <div class="inner-head">
            <h4 ng-if="claimFlag != 1">Claim For Reimbursement</h4>
            <h4 ng-if="claimFlag == 1">Claimed List</h4>
          </div> -->
          <div class="inner-form" style="padding: 0 0px;">
          <div ng-if="claimFlag == 3" id="reinmbursement-drpdwn" class="feature-part-se" style="padding: 10px 0;">
           <div class="col-md-6">
                <div class="type-re" style="margin: 5px 0 10px;display: inline-block;">
                  <label>Claim Reimbursement :</label>        
                </div>
                <div class="exp-txt" style="width: 55%;display: inline-block;">
                 <select class="form-control flat-control-inner" style="margin-bottom: 10px;" ng-model="u.reimbursementTypeId" ng-options="r.reimbursementTypeId as r.reimbursement_typeName for r in ReimbursmentType" ng-change="CheckClaimAvailablility(u.reimbursementTypeId)" required>
                    <option value="">--Select--</option>
                  </select>              
              </div>                 
              </div>
          </div>
          <div class="clearfix"></div>
                    
          
          <!-- <div class="clearfix"></div>  -->
          <div id="reimbursement-detail">         
          	<div  class="type-head" style="border-bottom: 1px solid #f1f1f1;">
            	<div class="row">
              		<div class="col-md-6">
              		<div ng-if="claimFlag != 3" class="type-re" style="margin: 5px 0 10px;">
            			<label style="font-size: 16px;">Claim No:</label>
          			<div class="reg-head">
            		<p style="font-size: 14px;margin-left: 10px;">{{RepatData.claimedNumber}}</p>
          			</div>  
          				</div> 
          				   
            			<div class="type-re" style="margin: 5px 0 10px;">
            			<label style="font-size: 16px;">Type of Reimbursement:</label>
          			<div class="reg-head">
            		<p style="font-size: 14px;margin-left: 10px;">{{selectedReimbursment.reimbursement_typeName}}</p>
          			</div>  
          				</div>          
      				</div>
      		<div class="clearfix"></div>
      
      
        <div class="type-re" style="margin: 5px 0 10px;padding-left: 15px;display: inline-block;float: left;width: 230px;">
        <label style="font-size: 16px;">Brand:</label>
          <div class="reg-head">
            <p style="font-size: 14px;margin-left: 3px;">{{RepatData.brand.brandName}}</p>
          </div> 
        </div>  
     
      
        <div class="type-re" style="margin: 5px 0 10px;display: inline-block;float: left;width: 230px;">
        <label style="font-size: 15px;">Department:</label>
          <div class="reg-head">
            <p style="font-size: 15px;margin-left: 3px;">{{RepatData.category.categoryName}}</p>
          </div> 
        </div>  
     
      
        <div class="type-re" style="margin: 5px 0 10px;display: inline-block;float: left;width: 230px;">
        <label style="font-size: 15px;">Ship:</label>
          <div class="reg-head">
            <p style="font-size: 15px;margin-left: 3px;">{{RepatData.ship.shipName}}</p>
          </div> 
        </div>  
      
        <div class="type-re" style="margin: 5px 0 10px;display: inline-block;float: left;width: 230px;">
        <label style="font-size: 15px;">Position:</label>
          <div class="reg-head">
            <p style="font-size: 15px;margin-left: 3px;">{{RepatData.position.positonname}}</p>
          </div> 
        </div>  
      
        <div ng-if="claimFlag != 1" class="type-re" style="margin: 5px 0 10px;display: inline-block;float: left;width: 230px;">
        <label style="font-size: 15px;">Disembark Date:</label>
          <div class="reg-head">
            <p style="font-size: 15px;margin-left: 3px;" id="disimbark-date">{{formatDate(RepatData.disembarkDate)}}</p>
          </div> 
        </div>  
        
        <div ng-if="claimFlag != 1"class="type-re" style="margin: 5px 0 10px;padding-left: 15px;display: inline-block;float: left;width: 230px;">
        <label style="font-size: 15px;">Max Claim Date:</label>
          <div class="reg-head">
            <p style="font-size: 15px;margin-left: 3px;">{{maximumDate}}</p>
          </div> 
        </div>  
        
        </div>
        </div>
      
      		<div class="mid-section"  > 
              <div ng-if="claimFlag != 1" class="row">                
              <div class="col-md-3">
            <div class="form-group">
                  <label style="float: left;margin: 18px 10px 10px;width:100%;">Name of Expense Head*:</label>
                </div>
                <select class="form-control flat-control-inner"  ng-change="showHideTravelDeatils(claim.expense_typeId)" ng-model="claim.expense_typeId" style="margin: 0px 10px;width:80%;display: inline-block;">
                  <option value = ""> --Please Select-- </option>
                  <option data-ng-repeat="q in expenseHeadList"   ng-value="{{q.expense_typeId}}">{{q.expense_headName}}</option>
                </select>
              </div>
              
              <div class="col-md-3">
                <div class="form-group">
                  <label style="float: left;margin: 18px 10px 10px;width: 100%;">Date of Expense*:</label>
            </div>
                <input type="text" id="date" class="form-control flat-control-inner dateonly" ng-model="claim.dateOfExpense" style="margin: 0px 10px;width:72%;display: inline-block;">
              </div>
              
              <div class="col-md-3">
                <div class="form-group">
                  <label style="float: left;margin: 18px 18px 10px;width: 100%;">Amount*:</label>
                </div>
            <input type="text" id="claim-amount" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" ng-change="formatCurrency()" class="form-control flat-control-inner" ng-model="claim.currencyTypeClmAmnt" style="width: 72%;display: inline-block;margin: 0 10px;">
             </div>
             
             
             <div class="col-md-3">
             <div class="form-group">
                  <label style="float: left;margin: 18px 6px 10px;width: 100%;">Upload Document*:</label>
            </div>
              <div class="imageupload panel panel-default" style="display: inline-block;margin: 0px;width: 90%;">
                           <div class="input-group">
                                <input type="text" id="docfilepath" class="form-control flat-control-inner"  readonly ng-model="selectedfile">
                                 <span class="input-group-btn" style="width: 0px;">
                                    <span class="btn btn-primary btn-file"> Browse
                                         <input type="file" accept=".xlsx,.xls,.doc,.docx,.ppt,.pptx,.txt,.pdf,image/x-png,image/gif,image/jpeg" onchange="angular.element(this).scope().fileNameChanged(this)" id="documentfile" single>
                                     </span>
                                </span> 
                           </div>                          
              </div>
              </div>
              
              
               </div>
             </div> 
           
           <div class="mid-section">    
             <div ng-if="claimFlag != 1" class="row"> 
               <div class="col-md-3" ng-if="travelFlag == true">
               <div class="form-group" >
					<label style="margin-top: 20px !important;margin-left: 10px;width: 100%;margin-bottom: 10px;">Travel Details :</label> 
					<button class="btn btn-default btn-bluer map-locator" style="font-size: 16px;display: inline-block;margin: 6px 10px 0 !important;width: 60%;" id="map-button" ng-click="openMapModal()">Find On Map</button>
         
			    </div> 
               <!--  <input type="text" class="form-control flat-control-inner" ng-model="claim.from" style="width: 56%;display: inline-block;"> --> 
                 
              </div>
              <div class="col-md-3" id="travel-from" ng-if="travelFlag == true">
              <div class="form-group">
                  <label style="float: left;margin: 24px 4px 10px;width: 100%;">Travel From : </label>
                  	<p class="trvl-details bind-details" data-toggle="tooltip" data-placement="top" title="{{claim.from}}">{{claim.from}}</p>
          		   
              </div> 
              <!-- <input type="text" class="form-control flat-control-inner" ng-model="claim.to" style="width: 68%;"> -->
              </div>
              <div class="col-md-3" id="travel-to" ng-if="travelFlag == true">
              <div class="form-group">
                  <label style="float: left;margin: 24px 4px 10px;width: 100%;">Travel To : </label>
                  <p class="trvl-details bind-details" data-toggle="tooltip" data-placement="top" title="{{claim.to}}">{{claim.to}}</p>
          	</div> 
              <!-- <input type="text" class="form-control flat-control-inner" ng-model="claim.to" style="width: 68%;"> -->
              </div>
             <!-- trasnport mode -->
               <div class="col-md-3" id="travel-to" ng-if="travelFlag == true">
              <div class="form-group">
                  <label style="float: left;margin: 24px 4px 10px;width: 100%;">Transport Mode : </label>
                  
                  <!-- <p class="trvl-details" data-toggle="tooltip" data-placement="top" title="{{claim.to}}" style="display: inline-block; position: relative; margin-left: 25px; font-weight: 500 !important;font-size: 15px;margin-left: 3px;">{{claim.to}}</p> -->
          		  <select class="form-control flat-control-inner ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched" ng-model="claim.transportMode.transport_id" style="margin: 0px 10px;width:80%;display: inline-block;">
                  <option value="" selected="selected"> --Please Select-- </option>
                  <option data-ng-repeat="t in transportModeList"  ng-value="{{t.transport_id}}">{{t.transport_mode_name}}</option>
                  <!-- ngRepeat: q in expenseHeadList -->
                  <!-- <option class="" value="number:204">Travel Expense - Sub Head1</option>
                  end ngRepeat: q in expenseHeadList
                  <option value="number:205">Travel Expense - Sub Head2</option> -->
          		 </select> 
          		  
              </div> 
              <!-- <input type="text" class="form-control flat-control-inner" ng-model="claim.to" style="width: 68%;"> -->
              </div>
              
              
             </div>
             </div>
              
         <div ng-if="claimFlag != 1" class="text-right" style="display: block;border-bottom: 1px solid #ccc;margin-bottom: 10px;">
           <button class="btn btn-default btn-bluer margin-top-30" style="margin-bottom: 10px;margin-right: 30px;" ng-click="addClaim(claim)" id="create_slot-btn">Add</button>
         </div>
        
		<div class="bottom-det">
        <div class="table-cntnr" ng-if="ClaimList.length > 0">
          <table class="table table-striped red-table">            
            <thead>
              <tr>
              	<th>Date of Expense <i ng-click="SortingExpensesList('DateOfExpense')" class="fa fa-sort" aria-hidden="true"></i></th> 
                <th>Name of Expense Head <i ng-click="SortingExpensesList('ExpenseHeadName')" class="fa fa-sort" aria-hidden="true"></i></th> 
                <th>Travel From <i ng-click="SortingExpensesList('TravelFrom')" class="fa fa-sort" aria-hidden="true"></i></th>
                <th>Travel To <i ng-click="SortingExpensesList('TravelTo')" class="fa fa-sort" aria-hidden="true"></i></th>
                <th>Transport Mode<i ng-click="SortingExpensesList('TransportMode')" class="fa fa-sort" aria-hidden="true"></i></th>                          
                <th>Claimed Amount <i ng-click="SortingExpensesList('ClaimedAmnt')" class="fa fa-sort" aria-hidden="true"></i></th>
                <th>file</th>
                <th ng-if="claimFlag == 1">Status <i ng-click="SortingExpensesList('StatusName')" class="fa fa-sort" aria-hidden="true"></i></th>   
                <th ng-if="claimFlag == 1">Approved Amount <i ng-click="SortingExpensesList('ApprovedAmnt')" class="fa fa-sort" aria-hidden="true"></i></th>                
                <th ng-if="claimFlag == 1">Comment <i ng-click="SortingExpensesList('Comment')" class="fa fa-sort" aria-hidden="true"></i></th>                
                <th></th>               
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="c in ClaimList">
              <td>{{formatDate(c.dateOfExpense)}}</td>
                <td>{{c.expense_headName}}</td> 
                <td>{{c.from}}</td>
                <td>{{c.to}}</td> 
                <td>{{c.transportMode.transport_mode_name}}</td>                                           
                <td>{{c.currencyTypeClmAmnt}}</td>
                <td>
					<button class="btn bigblue-btn new-btn-dwn" ng-click="download(c.docPath)" style="padding: 0 5px;"><i class="fa fa-download" aria-hidden="true"></i></button>
				</td> 
                <td ng-if="claimFlag == 1">              
                <span ng-if="c.expStatusId == 3" class="label label-info" style="background-color: #fb8a29;">{{c.expStatus}}</span>
			    <span ng-if="c.expStatusId == 4" class="label label-info" style="background-color: #00b894;">{{c.expStatus}}</span>
			    <span ng-if="c.expStatusId == 5" class="label label-info" style="background-color: #d9534f;">{{c.expStatus}}</span>                
			  </td> 
                <td ng-if="claimFlag == 1">{{c.previousAmount}}</td>                
                <td ng-if="claimFlag == 1">{{c.previousComment}}</td>                         
                <td><button ng-if="claimFlag == 2 || claimFlag == 3" class="btn btn-default btn-delete ng-scope"  ng-click="deletefromlist(c.id,c.claimedId)"><i class="icon-trash-2"></i></button></td>   
              </tr>
            </tbody>
          </table>
        </div>
            <div class="btn-cntnr" style="margin-top: 20px; margin-bottom: 20px;text-align: right;">
              <button ng-if="claimFlag != 1 && ClaimList.length > 0" class="btn btn-default btn-bluer" ng-click="submitClaimedList(ClaimList[0].claimedId)" id="create_slot-btn">Submit</button>
              <a ui-sref="restricted.eprofile">Back</a>
            </div>
       </div>
            </div>
            </div> 
           </div>           
          </div>
        </div>
       
       
       <div id="mapmodal" class="modal fade" role="dialog">
       <div class="modal-dialog modal-lg" style="width: 90%;">
		    <div class="pac-card" id="pac-card">
		    <div class="innr-div">
		    <div class="col-md-3" style=""></div>
		    <div class="col-md-4">
              <div class="form-group">
                  <label style="float: left;margin: 24px 10px;font-size: 13px;">Travel From :</label>
                </div>
                <input type="text" class="form-control flat-control-inner" ng-model="claim.from" style="width: 56%;display: inline-block;border: 1px solid rgb(154, 154, 154);margin-bottom: 15px;" id="pac-input-from" required> 
                           
              </div>
              
              <div class="col-md-5">
              <div class="form-group">
                  <label style="float: left;margin: 24px 10px;font-size: 13px;" >Travel To :</label>
              </div> 
              <input type="text" class="form-control flat-control-inner" ng-model="claim.to" style="width: 44%;display: inline-block;border: 1px solid rgb(154, 154, 154);margin-bottom: 15px;" id="pac-input-to" required>
              
              <button class="btn btn-default btn-bluer map-locator" style="font-size: 20px;margin: 0 8px !important;position: relative;top: -2px;" ng-click="calculateDistance()" >OK</button>
              
              </div>
              
             <!--  <div class="col-md-1">
               
              </div>  --> 
              </div>              
		    </div>
		    <div id="map"></div>
		    <div id="infowindow-content">
		      <img src="" width="16" height="16" id="place-icon">
		      <span id="place-name"  class="title"></span><br>
		      <span id="place-address"></span>
		    </div>
		  </div>  
    </div>
       
      </div>
      
       <!-- Modal -->
<div id="warning-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md modal-400">
    <div class="modal-content flat-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"></button>
        <h4 class="modal-title common-title"></h4>
      </div>
      <div class="modal-body flat-body">
        <p>Your claimed amount exceeds the max amount, max amount for your brand is {{maxBrandAmnt}}</p>     
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="saveClaimedList(claimDataForModal)">OK</button>
        <a class="btn btn-link" data-dismiss="modal" >Cancel</a>
      </div>
    </div>
  </div>
</div>
      
  </section>
           
      <!----Footer---->
  <footer id="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-sm-4">
        <img src="resources/img/logo-big.png">
      </div>
      <div class="col-md-3 col-sm-4">
        <h5>ADDRESS</h5>
        <p>Carnival Support Services India Ltd,
Kohinoor City, Tower 2, Floor 5,
Kirol Road, Off. LBS Marg, Kurla West,
Mumbai 400 070</p>
      </div>
      <div class="col-md-2 col-sm-4">
        <h5>CONTACT</h5>
        <p><a class="footer-contact" href="tel:+917942529292">+91-7942529292</a>
		 </p>
      </div>
      <div class="col-md-2 col-sm-12">
        <h5>GET IN TOUCH</h5>
        <ul type="none" class="social-foot">
          <li><a href="https://www.facebook.com/cruisecareersindia/" target="_blank" class="facebook-link"><i class="icon-facebook"></i></a></li>
          <li><a href="https://twitter.com/cruisecareers" target="_blank" class="twitter-link"><i class="icon-twitter2"></i></a></li>
          <li><a href="" target="_blank" class="google-link"><i class="icon-instagram"></i></a></li>
          <li><a href="https://www.linkedin.com/company/carnival-support-services-india-pvt.-ltd" target="_blank" class="utube-link"><i class="icon-linkedin"></i></a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-12">
        <h5>MOBILE APP</h5>
        <ul type="none" class="social-foot">
          <li><a href="coming_soon.html" class="android-link"><i class="icon-android"></i></a></li>
          <li><a href="coming_soon.html" class="ios-link"><i class="icon-apple"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer> 
      
      
       <script type="text/javascript">
 
       $('#employee-list').on('focus',".dateonly", function(){
    	   console.log($scope.RepatData.disembarkDate);
	    	$('.dateonly').datetimepicker({	    		
	 			 format: 'DD-MM-YYYY',
	  			 //useCurrent: true, 
	  			maxDate: formatDate(RepatData.disembarkDate);	
	    	});
	   });
             
  	
  	  $(document).on('change', '.btn-file :file', function() {
  var input = $(this),
      numFiles = input.get(0).files ? input.get(0).files.length : 1,
      label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
  input.trigger('fileselect', [numFiles, label]);
  
  var input = $(this).parents('.input-group').find(':text'),
  log = numFiles > 1 ? numFiles + ' files selected' : label;

if( input.length ) {
  input.val(log);
} else {
  if( log ) alert(log);
}
});
 </script>
 
 
 <script>

$('#todo').on('focus',".dateonly", function(){  
	$('.dateonly').datetimepicker({
  format: 'DD-MM-YYYY',
    useCurrent: false, //Important! See issue #1075
    
}).on('dp.change', function (e) { $(this).change()});
});

$(document).ready(function() {
$("input[type='file'].demo").filepicker({
style: 'bootstrap' // default, bootstrap or jquery-ui
});
});

$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>
               

<style>
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
	height: 400px;
}
/* Optional: Makes the sample page fill the window. */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#description {
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
}

#infowindow-content .title {
	font-weight: bold;
}

#infowindow-content {
	display: none;
}

#map #infowindow-content {
	display: inline;
}


.pac-container {
	z-index: 99999999
}
.pac-card {
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #ffffffa6;
        font-family: Roboto;
        width: 98%;
	margin-left: 1%;
	
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }
</style> 
 
 
 <script>
      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">
	
    </script>
    
