<section id="jobs-main" style="padding: 5% 0;margin: 5% 0;">
<div >
<div id="todo" class="container-fluid">

            <div class="job-search-cntnr">
            <div ng-if="complianceFlag==false"><p class="data-av">No Compliances Found!!!</p></div>
              <div class="srch-head" ng-show="complianceFlag"><h4>Compliance List</h4></div>
              <form ng-submit="addListOfDocuments(compliancesListbyJob);">
              <div class="inner-details to-do"> 
                <div class="table-responsive" style="overflow:visible;">
                
                  <table class="table table-bordered" ng-show="complianceFlag" style="Display:Block;">
                    <thead>
                      <tr>
                        <th>Document Name</th>                       
                        <th>Days</th>
                        <th>Form <label><i class="fa fa-question-circle-o" style="color:#A9A9A9;" data-toggle="tooltip" data-placement="top" title="If download icon appears please download form, complete it and attach the form."></i></label></th>
                        <th>Document No.*</th>
                        <th>Issue Date*</th>
                        <th>Expiry Date*</th>
                        <th style="width: 160px;">Contry of Issue*</th>
                        <th>Expected Date</th>
                        <th>Status</th>
                        <th>Completion Date*</th>
                        <th>Attach Documents*</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="cl in compliancesListbyJob">
                        <td style="text-align: center;">
                       {{cl.compliance.complianceName}} 
                         <!--  <input class="form-control flat-control-inner" name="task-name" value="Medical"> -->
                        </td>
                        <td style="text-align: center;">
                          <div class="form-group width-200">
                           <!--  <input class="form-control flat-control-inner" value="15"> -->
                        {{cl.compliance.complianceDuration}} 
                          </div>
                        </td>
                        <td><button type="button" ng-if="cl.compliance.complianceFormPath != null || cl.compliance.complianceFormPath != undefined" ng-click="download(cl.compliance.complianceFormPath)" class="btn bigblue-btn new-btn-dwn"><i class="fa fa-download" aria-hidden="true"></i></button></td>                                            
                        <td>
                        	<input type="text" class="form-control flat-control-inner" id="documentNumber{{$index}}" name="document no" ng-model="cl.documentNumber" ng-disabled="{{cl.ocr == 1}}">
                        </td>                                              	
                          
                       <td style="position:relative;">
                        	<div class="form-group" style="margin-bottom: 0;position:relative;">	            
	                 		 <input type="text" id="issuedate{{$index}}" class="dateonly form-control flat-control-inner" ng-model="cl.issueDate" style="margin-bottom: 0;position:relative;" ng-disabled="{{cl.ocr == 1}}">
	              		  </div>
                        </td>
                          
                        <td style="position:relative;">
                        	<div class="form-group" style="margin-bottom: 0;position:relative;">	            
	                 		 <input type="text" id="expirydate{{$index}}" class="dateonly form-control flat-control-inner datecheck" ng-model="cl.expiryDate" style="margin-bottom: 0;position:relative;" ng-change="validateDate(cl,'expirydate'+$index)" ng-disabled="{{cl.ocr == 1}}">
	              		  </div>
                        </td>
                         <td>             
                            
                            <select id="countryOfIssue{{$index}}" class="form-control flat-control-inner" ng-model="cl.countryOfIssue" ng-disabled="{{cl.ocr == 1}}"> 
    					   <option ng-value="0">Select</option>          
                           <option data-ng-repeat="ct in countryList" data-ng-value="{{ct.id}}" ng-selected="ct.id==cl.countryOfIssue">{{ct.CountryName}}</option>                                  
        					</select>
                            
                        </td>
                        <td style="position:relative;">
                        	<div class="form-group" style="margin-bottom: 0;position:relative;">	            
	                 		 <input type="text" id="expectdate{{$index}}" class="dateonly form-control flat-control-inner" placeholder="{{formatDate1(cl.updatedDate)}}" disabled style="margin-bottom: 0;position:relative;" title="{{formatDate1(cl.updatedDate)}}">
	              		  </div>
                        </td>
                        
                        <td>
                 
                        
                          <div class="chckbx-cntnr zeromargin">
		                      <input type="checkbox" data-index="{{$index}}" id="chck{{$index}}" name="check" ng-if="getflag(cl.compliance.id)==false" ng-checked="chckflag" ng-click='setTodate($event.target,$index);checkFields($event.target,$index,cl.compliance.id)' class="flashuser todayBox">
		                      <input type="checkbox" id="chck{{$index}}" name="check" ng-if="getflag(cl.compliance.id)==true" ng-checked="true" ng-click='setTodate($event.target,$index);checkFields($event.target,$index,cl.compliance.id)' class="flashuser todayBox">
		                   
		                      <label class="cstmchk_lbl" for="chck{{$index}}" id="rdcheck" style="border: 1px solid #ccc; padding: 10px;margin: 10px 10px;"></label> 
		                  </div>
                		</td>
                        <td>
                                                                    
                        	<div class="form-group width-200">
                        	
                            <input class="form-control flat-control-inner completeDate" ng-if="getflag(cl.compliance.id)==false" id="completeDate{{$index}}" ng-model="cl.todayDate" disabled>
                           <input class="form-control flat-control-inner " ng-if="getflag(cl.compliance.id)==true" id="completeDate{{$index}}" placeholder="{{formatDate1(cl.createdDate)}}" disabled title="{{formatDate1(cl.createdDate)}}">                            
<!--                           <input type="text" class="form-control flat-control-inner" id="completeDate{{$index}}" style="margin-bottom: 0 !important;">
 -->                       </div>
                                                   
                        </td>                        
                        <td>
                          <div class="form-group width-200">
                           
                             <div class="input-group">
                                 <input type="text" id="file_name{{$index}}" ng-if="getflag(cl.compliance.id)==false"  readonly="" class="form-control flat-control-inner">
                                 <input type="text" id="file_name{{$index}}" ng-if="getflag(cl.compliance.id)==true" readonly="" class="form-control flat-control-inner">
                                <span class="input-group-btn"> 
                                     <span class="btn btn-primary btn-file" > Browse 
                                        <input id="documentfilefotodo{{$index}}" ng-if="getflag(cl.compliance.id)==false" data-label="Browse" type="file" onchange="angular.element(this).scope().fileNameChanged(this)" single ng-disabled="{{cl.ocr == 1}}"/>
                                        <input id="documentfilefotodo{{$index}}" ng-if="getflag(cl.compliance.id)==true" data-label="Browse" type="file" onchange="angular.element(this).scope().fileNameChanged(this)" single ng-disabled="{{cl.ocr == 1}}"/>  
                                     </span>
                                 </span>  
                             </div> 
                             <div ng-if="getPathflag(cl.compliance.id)==true"> <a href="" ng-click="download(cl.path)" target="_blank" ng-if="{{cl.ocr == 0}}">Download</a></div>
                          </div>                        
                        </td>  
                      </tr>                     
                    </tbody>
                  </table>                
                </div>               
              <div class="btn-cntnr" ng-show="complianceFlag">
              <button class="btn btn-default btn-bluer" id="" type="submit">Save</button>
              <a ng-click="cancell()">Cancel</a>
            </div>
              </div>
              </form>
            </div>
          </div> 
          </div>
   </section>


<!----Footer---->
  <footer id="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-sm-4">
        <img src="resources/img/logo-big.png">
      </div>
      <div class="col-md-3 col-sm-4">
        <h5>ADDRESS</h5>
        <p>Carnival Support Services India Ltd,
Kohinoor City, Tower 2, Floor 5,
Kirol Road, Off. LBS Marg, Kurla West,
Mumbai 400 070</p>
<p>RPSL License No: RPSL - MUM - 062 (Valid till 14 December 2021)</p>
      </div>
      <div class="col-md-2 col-sm-4">
        <h5>CONTACT</h5>
        <p><a class="footer-contact" href="tel:+917942529292">+91-7942529292</a>
		 </p>
      </div>
      <div class="col-md-2 col-sm-12">
        <h5>GET IN TOUCH</h5>
        <ul type="none" class="social-foot">
          <li><a href="https://www.facebook.com/cruisecareersindia/" target="_blank" class="facebook-link"><i class="icon-facebook"></i></a></li>
          <li><a href="https://twitter.com/cruisecareers" target="_blank" class="twitter-link"><i class="icon-twitter2"></i></a></li>
          <li><a href="" target="_blank" class="google-link"><i class="icon-instagram"></i></a></li>
          <li><a href="https://www.linkedin.com/company/carnival-support-services-india-pvt.-ltd" target="_blank" class="utube-link"><i class="icon-linkedin"></i></a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-12">
        <h5>MOBILE APP</h5>
        <ul type="none" class="social-foot">
          <li><a href="coming_soon.html" class="android-link"><i class="icon-android"></i></a></li>
          <li><a href="coming_soon.html" class="ios-link"><i class="icon-apple"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>  

 
<script>
$(document).ready( function() {
    $('.btn-file :file').on('fileselect', function(event, numFiles, label) {
       
    });
    
   
});
</script>
<script>

$('#todo').on('focus',".dateonly", function(){  
	$('.dateonly').datetimepicker({
  format: 'DD-MM-YYYY',
    useCurrent: false, //Important! See issue #1075
    
}).on('dp.change', function (e) { $(this).change()});
});

$(document).ready(function() {
$("input[type='file'].demo").filepicker({
style: 'bootstrap' // default, bootstrap or jquery-ui
});
});

$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>
 <script>
/*  document.getElementById('getval').addEventListener('change', readURL, true);
 function readURL(){
    var file = document.getElementById("getval").files[0];
    var reader = new FileReader();
    reader.onloadend = function(){
       document.getElementById('clock').style.backgroundImage = "url(" + reader.result + ")";        
    }
    if(file){
       reader.readAsDataURL(file);
     }else{
     }
 } */
/*  function showname(i) {
	 alert(i);
 var filename=document.getElementById('documentfilefotodo'+i);
	 $('#file_name'+i).val(filename);
	
 };  */
 
 document.getElementById('getval').addEventListener('change', readURL, true);
 function readURL(){
    var file = document.getElementById("getval").files[0];
    var reader = new FileReader();
    reader.onloadend = function(){
       document.getElementById('clock').style.backgroundImage = "url(" + reader.result + ")";        
    }
    if(file){
       reader.readAsDataURL(file);
     }else{
     }
 }
 
 </script>
           
 <script type="text/javascript">
    $(function () {
    	   
    });
 </script>
 