.chat-page{
  margin: 50px 0;
}
.helpdesk-chat-box{
  height: auto;
  background: #fff;
  border: 1px dashed #CFCFCF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
}
.helpdesk-chat-box .chat-box .question-row, .helpdesk-chat-box .chat-box .outgoing-row{
  padding: 20px;
}
.chat-box .help-desc-question{
  font-size: 18px; 
  padding: 15px 28px;
  background: #0F82FF;
  color: #fff;
  display: inline-block;
  border-radius: 50px;
  margin-bottom: 10px;
  display: table;
}
.chat-box .help-desc-question p{
  margin-bottom: 0px;
}
.chat-box .help-desc-answer{
  font-size: 14px;
  padding: 10px 20px;
  color: #0F82FF;
  display: inline-block;
  border: 2px solid #0F82FF;
  border-radius: 10px;
  margin: 0 10px 10px 0;
  cursor: pointer;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.chat-box .help-desc-answer:hover{
  background: #0F82FF;
  color: #fff;
}
.chat-box .help-desc-answer p{
  margin-bottom: 0px;
}
.question-row{
  display: flex;
  max-width: 70%;
}
.question-row-right{
  margin-left: 20px;
}
.chat-box .help-desc-answer-row{
  display: -webkit-inline-box;
}
.q-selected{
  background: #0F82FF !important;
  color: #fff !important;
}

.answer-row{
  display: flex;
  max-width: 70%;
}
.outgoing-row{
  display: flex;
  flex-direction: row-reverse;
}
.incomming-q-right{
  margin-right: 20px;
}
.help-desc-outgoing{
  background: #001835 !important;
}
.text-type-box{
  width: 100%;
  height: 60px;
  background: #F6F6F6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 10px 10px;
}
.text-type-area{
  width: 90%;
  font-size: 18px;
}
.text-type-area input{
  width: 100%;
  height: 90%;
  background: none;
  border: none;
  outline: none;
  padding-left: 20px;
  margin-left: 5px;
  border: 1px solid #F6F6F6;
}
.text-type-area input:active{
  border: 1px solid #0F82FF;
}
.text-type-area input:focus-visible{
  background: #ffffff95;
}
.text-type-area p{
  margin-left: 20px;
  line-height: 60px;
}
.text-typing{
  color: #001835 !important;
}
.msg-send-icon{
  width: 10%;
  text-align: center;
}
.msg-send-icon i{
  font-size: 30px;
  color: #6B6D6D;
}
.msg-send-icon i:hover{
  color: #0F82FF;
}
.outgoing-row{
  margin-left: 30%;
}
.outgoing-row-right{
  margin-right: 20px;
}
.profile-table a{
  text-decoration: none;
  cursor: pointer;
}
.profile-table tr{
  border-bottom: 1px solid #B9B7B7;
}
.profile-table tr td{
  width: 220px;
  padding: 10px;
}
.profile-table tr td:nth-child(1){
  font-weight: 600;
}
.chat-box{
  height: 500px;
  overflow-y: auto;
}