.upper-section .search-box{
  display:inline-block;
  width:25%;
}

.upper-section .search-box button{
  margin-right:0px;
  padding: 7px 10px;
}
.upper-section .col-md-5{
  display: flex;
    justify-content: space-between;
}
.upper-section .col-md-5 button{
  margin-right: 10px;
}
.btn-add-new{
  width: 125px;
  height: 34px;
  padding: 7px 5px;
  font-size: 12px;
  background: #00aeef;
  color: #fff;
  border: 0px;
  margin: 2px 0px;
  outline: none !important;
}
.btn-published{
  width: 125px;
  height: 34px;
  padding: 7px 5px;
  font-size: 12px;
  background: #41bb71;
  color: #fff;
  border: 0px;
  margin: 2px 0px;
  outline: none !important;
}
.btn-unpublished{
  width: 125px;
  height: 34px;
  padding: 7px 5px;
  font-size: 12px;
  background: #ef6400;
  color: #fff;
  border: 0px;
  margin: 2px 0px;
  outline: none !important;
}
.table-cntnr{
  margin-top: 50px;
}
.btn-delete-col{
  padding-right: 0px; 
  display: flex; 
  justify-content: flex-end; 
  padding-top: 2px;
}
@media (min-width: 992px){
  .upper-section .col-md-5{
    padding: 0px;
  }
  .upper-section .col-md-5 button{
    width: 100px !important;
    
  }
}