<link rel="stylesheet" href="resources/css/workflowdashboard.css">
<style>
	.index-acc{
		cursor:pointer;	
		color:#00aeef !important;
		postion:relative;
	}
	.index-acc.collapsed:after {
    content: '+';
    position: absolute;
    left: 20px;
    font-weight: bold;
}
.index-acc:after{
 content: '-';
    position: absolute;
    left: 20px;
    font-weight: bold;

}
.modal-footer {
     border-top: 0px solid #e5e5e5;
}
.modal-header {
     border-top: 0px solid #e5e5e5;
}
.modal
{
overflow:inherit;
}
.blue-btn
{
border: 1px solid rgb(0, 174, 239);
    border-radius: 4px;
    background-color: rgb(0, 174, 239);
    color: #fff;
    padding: 10px 10px;
    margin-right: 0;
}
.bg-btn
{
border: 1px solid rgb(0, 174, 239);
    border-radius: 4px;
    background-color: #fff;
    color: rgb(0, 174, 239);
    padding: 10px 10px;
    margin-right: 0;
}

#messageModal p{
	text-align: center;
}
</style>
<div>
<div class="height-70"></div>
<section id="jobs-main">
<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<div class="text-center">
				<div class="profile-pic-big" style="background: url({{userdetails.profilePic}}) center no-repeat"></div>
				<div class="username">{{userdetails.firstName+" "+userdetails.lastName}}</div>
				<div class="username" ng-if="userdetails.roleId != 8">{{userdetails.refNo}}</div>
				 <!-- <div class="position">Chief Cook</div> -->
				<div class="city">{{userProfile.userContact.city.cityName+","+userProfile.countryName}}</div> 
			</div>
			<a class="edit-prof" href="#!myprofile">View or edit full profile</a>
		</div>
		<div class="col-md-6 col-md-offset-1">
			<h3 class="search-text">My Dashboard</h3>
			<div class="text-right">
				<div class="form-group col-md-offset-7 col-md-5">
					<div class="dropdown" style="display: inline-block;">
        			</div>
				</div>
			</div>
			
			<div ng-if="userdetails.roleId == 2" class="col-md-4 two-carts">
					<div style="cursor: pointer;" ng-click="gotoAppliedJob()" class="tile">
						<div class="colored-count1 greenry">
							<i class="icon-navigation"></i>
							<h2 >{{appliedjob}}</h2>
						</div>
						<h4><a class="middle_text">Applied Jobs</a></h4>						
					</div>
				</div>
			
			<div ng-if="userdetails.roleId == 2" class="col-md-4 two-carts">
				<div style="cursor: pointer;" ng-click="gotomyprofile()" class="tile">
					<div class="colored-count1 brown">
						<i class="icon-user"></i>
						<h2>{{total}} %</h2>
					</div>
					<h4><a class="middle_text">Profile Completed</a></h4>						
				</div>
			</div> 				
			
		   <div ng-if="userdetails.roleId == 2" class="row two-carts-row">
				<div ng-click="assessmentList()" class="col-md-4">
					<div style="cursor: pointer;" class="tile">
						<div class="colored-count1 yellow">
							<ul style="list-style-type: none;padding:0;margin:0;">
								<li>
								<i class="fa fa-check-square-o" style="font-size: 24px;"></i>
								<p style="display: inline-block;vertical-align: middle;">Assigned : </p>
								<h2 style="margin: 0px 5px;width: 16px;">{{assignedAssessment}}</h2></li>
								<li>
								<i class="icon-search" style="font-size: 24px;"></i>
								<p style="display: inline-block;vertical-align: middle;">Self : </p>
								<h2 class="selfass-yellow" style="margin: 0px 5px;width: 16px;margin-left: 42px;">{{selfAssessmentCount}}</h2></li>
							</ul>
							<!-- <i class="fa fa-th-list"></i>
							 <h2>{{assignedAssessment}}</h2>-->
						</div>
						<h4 style="padding: 19px 5px;"><a class="middle_text">My Assessments</a></h4>						
					</div>
				</div>
		   </div>
		   
		   <div ng-if="userdetails.roleId == 2" class="col-md-4 two-carts">
					<div style="cursor: pointer;" ng-click="gotoTodoList()" class="tile">
						<div class="colored-count1 teal">
							<i class="fa fa-list"></i>
							<h2 ng-if="UserIncompleteCompliances >= 0">{{UserIncompleteCompliances}}</h2>
							<h2 ng-if="UserIncompleteCompliances == -1">NA</h2>
						</div>
						<h4><a class="middle_text">To Do List</a></h4>						
					</div>
				</div>
				
				<div ng-if="userdetails.roleId == 2" ng-click="goToSurvey(userdetails.roleId)" class="col-md-4 two-carts">
					<div ng-click="goToSurvey(userdetails.roleId)" style="cursor: pointer;" class="tile">
						<div class="colored-count1 blue">
							<i class="fa fa-wpforms"></i>
							<h2>{{surveysCount}}</h2>
						</div>
						<h4 style="padding: 19px 5px;"><a class="middle_text">Survey</a></h4>						
					</div>
				</div>
				<div class="row two-carts-row" >
					<div ng-if="userdetails.roleId == 2" class="col-md-4">
						<div  ng-click="gotointerviewList()" style="cursor: pointer;" class="tile">
							<div class="colored-count1 dark-blue">
								<i class="fa fa-file-text-o"></i>
								<h2>{{interviewcount}}</h2>
							</div>
						<h4 style="padding: 19px 5px;"><a class="middle_text">My Upcoming Interviews</a></h4>
						</div>
					</div>
				</div>		
			
			
			
			
 	 <!-- <div class="row" ng-if="userdetails.roleId ==8">
 	 	<div class="col-md-5" >
            <div id="f1_container" class="f1_container">
                <div id="f1_card" class="shadow f1_card">
                  <div class="front face">
                    <div style="cursor: pointer;" class="tile" id="">
                        <div class="colored-count" ui-sref="restricted.mytask" style="background-color: #00aeef;">
                            <i class="fa fa-pencil-square-o"></i>
                            <h2>{{myTaskCount}}</h2>
                        </div>  
                        <h4>My Tasks</h4>
                    </div>
                  </div>
                  <div class="back face">
                    <div style="cursor: pointer;" class="tile" id="">
                        <div class="colored-count back-count">
                            <ul class="workflow-status" >
                            <li><p style="float: left;">Task Not Assigned</p> <div class="round not-assigned" ng-style="{'background-color':taskstatusColor[1].statusColorCode}">{{myTaskStatusCount.taskNotAssignedCount}}</div></li>
                            <li><p style="float: left;">Task Assigned </p><div class="round closed-tick" ng-style="{'background-color':taskstatusColor[2].statusColorCode}">{{myTaskStatusCount.taskAssignedCount}}</div></li>
                            <li><p style="float: left;">Task closed </p><div class="round inprogress" ng-style="{'background-color':taskstatusColor[3].statusColorCode}">{{myTaskStatusCount.taskCompletedCount}}</div></li>
                            <li><p style="float: left;">Task Overdue </p><div class="round overdue" ng-style="{'background-color':taskstatusColor[4].statusColorCode}">{{myTaskStatusCount.taskOverDueCount}}</div></li>
                        </ul>
                        </div>  
                        
                    </div>
                  </div>
                </div>
            </div>
          </div> 			
		      
   		<div ng-click="" class="col-md-4" >
			<div style="cursor: pointer;" class="tile" >
				<div class="colored-count blue" ui-sref="restricted.ownerworkflow">
					<i class="fa fa-wpforms"></i>
					<img src="resources/img/workflow-icon-white.png" class="img-responsive workflow-icon">
					<h2>{{myWorkflowCount}}</h2>
				</div>
				<h4 style="padding: 19px 5px;"><a ui-sref="restricted.WfTicketStatusCount">My Workflows</a></h4>						
				
			</div>
		</div> 
				
		<div class="section-content clearfix" id="Workflow-det">
        <div class="upper-actions">
          <div ng-click="" class="col-md-5">
            <div id="f1_container" class="f1_container">
                <div id="f1_card" class="shadow f1_card">
                 <div class="front face">
                    <div style="cursor: pointer;" class="tile" >
						<div class="colored-count blue" ui-sref="restricted.ownerworkflow">
							<i class="fa fa-wpforms"></i>
							<img src="resources/img/workflow-icon-white.png" class="img-responsive workflow-icon">
							<h2>{{myWorkflowCount}}</h2>
						</div>
					<h4 style="padding: 19px 5px;"><a ui-sref="restricted.WfTicketStatusCount" style="color:#000;">My Workflows</a></h4>						
				
				<div ng-if="(userdetails.roleId > 3 && userdetails.roleId < 8)" class="col-md-4">
					<div class="hot_jobs">
				          <ul type="none">
				            <li ><a href="" ng-click="goToEmails()">Emails</a></li>
				            <li ><a href="" ng-click="goToDocuments()">Documents</a></li>
				          </ul>
        			</div>
				</div>
				
			</div>
                  </div> 
                  <div class="back face">
                    <div style="cursor: pointer;" class="tile">
                        <div class="colored-count back-count">
                          <ul class="workflow-status">
                            <li><p style="float: left;">Tickets Not Assigned</p> <div class="round not-assigned" ng-style="{'background-color':statusColor[1].statusColorCode}">{{myTicketStatusCount.ticketNotAssignedCount}}</div></li>
                            <li><p style="float: left;">Tickets Assigned </p><div class="round closed-tick"ng-style="{'background-color':statusColor[2].statusColorCode}">{{myTicketStatusCount.ticketAssignedCount}}</div></li>
                            <li><p style="float: left;">Tickets Closed </p><div class="round inprogress"ng-style="{'background-color':statusColor[3].statusColorCode}">{{myTicketStatusCount.ticketClosedCount}}</div></li>
                            <li><p style="float: left;">Tickets Overdue </p><div class="round overdue"ng-style="{'background-color':statusColor[4].statusColorCode}">{{myTicketStatusCount.ticketOverDueCount}}</div></li> 
                          </ul>
                        </div>  
                    </div>
                  </div>
                </div>
            </div>
          </div> 
		</div>
	</div>
	</div> -->		
			<div class="row">
				
			 
			 <div ng-if="userdetails.roleId == 3">
		   		<div ng-click="goToEmplToDoList()" class="col-md-4">
					<div style="cursor: pointer;" class="tile">
						<div class="colored-count1 greenry">
							<i class="fa fa-list"></i>
							<h2 ng-if="EmployeeIncompleteCompliances >= 0">{{EmployeeIncompleteCompliances}}</h2>
							<h2 ng-if="EmployeeIncompleteCompliances == -1">NA</h2>
						</div>
						<h4 style="padding: 19px 5px;"><a class="middle_text">To Do List</a></h4>						
					</div>
				</div>
				
				<div ng-click="goToJobPostings()" ui-sref="restricted.etodolist" class="col-md-4">
					<div style="cursor: pointer;" class="tile">
						<div class="colored-count1 blue">
							<i class="fa fa-ship"></i>
							<!-- <h2>{{assignedAssessment}}</h2> -->
						</div>
						<h4 style="padding: 19px 5px;"><a class="middle_text">Job Postings</a></h4>						
					</div>
				</div>
				
				<div ng-click="goToAssessment()" class="col-md-4">
					<div style="cursor: pointer;" class="tile">
						<div class="colored-count1 yellow" style="padding: 11px 0 !important;">
							<ul style="list-style-type: none;padding:0;margin:0;">
								<li>
								<i class="icon-bell" style="font-size: 24px;"></i>
								<p style="display: inline-block;vertical-align: middle;">Assigned : </p>
								<h2 style="margin: 0px 5px;width: 16px;">{{assignedAssessment}}</h2></li>
								<li>
								<i class="icon-search" style="font-size: 24px;"></i>
								<p style="display: inline-block;vertical-align: middle;">Self : </p>
								<h2 style="margin: 0px 5px;width: 16px;margin-left: 42px;">{{selfAssessmentCount}}</h2></li>
							</ul>
							<!-- <i class="fa fa-th-list"></i>
							 <h2>{{assignedAssessment}}</h2>-->
						</div>
						<h4 style="padding: 19px 5px;"><a class="middle_text">My Assessments</a></h4>						
					</div>
				</div>
				
				
				<div ng-click="goToSurvey(userdetails.roleId)" class="col-md-4 clearfix">
					<div style="cursor: pointer;" class="tile">
						<div class="colored-count1 brown">
							<i class="fa fa-wpforms"></i>
							<h2>{{surveysCount}}</h2>
						</div>
						<h4 style="padding: 19px 5px;"><a class="middle_text">Survey</a></h4>						
					</div>
				</div>	
				
				<!--  <div ng-click="" class="col-md-4" ui-sref="restricted.ticket">
					<div style="cursor: pointer;" class="tile">
						<div class="colored-count blue">
							<i class="fa fa-wpforms"></i>
							<img src="resources/img/workflow-icon.png">
							<h2></h2>
						</div>
						<h4 style="padding: 19px 5px;"><a href="restricted.owner.ownerworkflow" ng-click=""/>Ticket List</h4>						
					</div>
				</div> -->		

		   </div>
		   </div>
		</div>
		
		<div ng-if="userdetails.roleId == 2" class="col-md-3">
		<div class="hot_jobs">
          <h5>All Hot Jobs</h5>
          <ul type="none">
            <li ng-repeat="p in hotJobs track by p.id"><a ui-sref="restricted.job_results({categoryId: p.id,flag: 'position'})">{{p.name}}</a></li>
           <!--  <li><a href="">AB Seaman Jobs</a></li>
            <li><a href="">Steward Jobs</a></li>
            <li><a href="">Galley Manager Jobs</a></li>
            <li><a href="">Deck Jobs</a></li>
            <li><a href="">Engine Jobs</a></li>
            <li><a href="">Entertainment Jobs</a></li>
            <li><a href="">Food &amp; Beverages Jobs</a></li>
            <li><a href="">Casino Jobs</a></li>--> 
            <li class="big-explore"><a ui-sref="restricted.job_results({categoryId: 0,flag: 'no'})" >Explore All Jobs</a></li> 
             <li class="collapsed index-acc" data-toggle="collapse" data-target="#demo_oo" >
            	Inbox
            </li>
            <div class="col-md-12 collapse" id="demo_oo">
            	 <!-- <li ><a href="" ng-click="goToEmails1(userdetails.roleId)">Emails</a></li> -->
           		 <li ><a href="" ng-click="goToDocuments1(userdetails.roleId)">Documents</a></li>
            </div>
          </ul>
        </div>
      </div>
		
	   <div ng-if="userdetails.roleId == 3" class="col-md-3">
		<div class="hot_jobs">
          <h5>Feature</h5>
           <ul type="none">
            <li ><a href="" ng-click="goToReimbursment()">Reimbursement</a></li>
            <li class="collapsed index-acc" data-toggle="collapse" data-target="#demo_oo" >
            	Inbox
            </li>
            <div class="col-md-12 collapse" id="demo_oo">
            	 <li ><a href="" ng-click="goToEmails()">Emails</a></li>
           		 <li ><a href="" ng-click="goToDocuments()">Documents</a></li>
            </div>
           
          </ul>
       	</div>
	</div>
	</div>	
		
	
</div> 
          
</section>
 
 
 <!----Message Modal---->
<div class="modal fade" id="messageModal" role="dialog">
          <div class="modal-dialog modal-md add-brand">
          
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <!--  <h4 class="modal-title"></h4>-->
              </div>
              <div class="modal-body">
                <h3 style="text-align:center;"><b  style="color:green;">Woo Hoo!</b> You have been selected.</h3> <p>Let's start by filling in your details in the Employee Information Form (EIF). You can also access this by clicking EIF on your dashboard.</p>
        		
                
                 <div id="save-button" ng-show="true" class="form-group text-center" style="margin-top:40px;">
      			 <a ui-sref-opts="{reload: true, inherit: false}" ui-sref="restricted.admin.EIForm" ui-sref-active="active" ><button type="submit" class="btn-info blue-btn" >Complete Now</button></a>
                  <button type="submit" class="btn-default bg-btn" data-dismiss="modal">Complete Later</button>
                </div>
              
              </div>              
            </div>            
          </div>
      </div>   

<!----Footer---->
  <footer id="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-sm-4">
        <img src="resources/img/logo-big.png">
      </div>
      <div class="col-md-3 col-sm-4">
        <h5>ADDRESS</h5>
        <p>Carnival Support Services India Ltd,
Kohinoor City, Tower 2, Floor 5,
Kirol Road, Off. LBS Marg, Kurla West,
Mumbai 400 070</p>
<p>RPSL License No: RPSL - MUM - 062 (Valid till 14 December 2021)</p>
      </div>
      <div class="col-md-2 col-sm-4">
        <h5>CONTACT</h5>
        <p><a class="footer-contact" href="tel:+917942529292">+91-7942529292</a>
 </p>
      </div>
      <div class="col-md-2 col-sm-12">
        <h5>GET IN TOUCH</h5>
        <ul type="none" class="social-foot">
          <li><a href="https://www.facebook.com/cruisecareersindia/" target="_blank" class="facebook-link"><i class="icon-facebook"></i></a></li>
          <li><a href="https://twitter.com/cruisecareers" target="_blank" class="twitter-link"><i class="icon-twitter2"></i></a></li>
          <li><a href="" target="_blank" class="google-link"><i class="icon-instagram"></i></a></li>
          <li><a href="https://www.linkedin.com/company/carnival-support-services-india-pvt.-ltd" target="_blank" class="utube-link"><i class="icon-linkedin"></i></a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-12">
        <h5>MOBILE APP</h5>
        <ul type="none" class="social-foot">
          <li><a href="coming_soon.html" class="android-link"><i class="icon-android"></i></a></li>
          <li><a href="coming_soon.html" class="ios-link"><i class="icon-apple"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
	
	
</div>





     

<!-- <script>
$(document).ready(function(){
    $('#messageModal').modal('show');
});
</script> -->

<script>
$('body').on("click", ".dropdown-menu", function (e) {
    $(this).parent().is(".open") && e.stopPropagation();
});
</script>
<script src="https://apis.google.com/js/platform.js" async defer></script>		
<script>
	///Script to hide logo on click
    $(".hide-logo").click(function(){
    	$(".cruise-logo").fadeToggle();
    });
	
    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          //console.log('User signed out.');
        }); 

    }
	</script>
	