<!-- <style>
	.input-group{
	width:50% !important;
	}
	
	.input-group input.form-control{
	width:100% !important;
	background:none;
	cursor:pointer;
	}
	.input-group span.input-group-addon{
	position: absolute !important;
	right:0px;
	padding: 11px 31px 11px 15px !important;
	border:1px solid #ddd!important; 
	}
	.dates-head {
		padding:0px;
	}
	
</style> -->


<section class="tab-pane fade in active admin-page">
<div class="">
      <!-- <div class="col-md-2">
        <div class="recent-searches fixed-pills">
          <h5>My Dashboard</h5>
          <ul class="nav nav-pills nav-stacked e-pro">
          <li id="workFlow" class="active" ng-click="getworkflowListTab();"><a data-toggle="pill" href="" ng-click="showFlag = 5;fetchSurveysList()" class="profile-tabs">Workflow</a></li>
            <li id="myTask" class="" ng-click="getMyTaskListTab();"><a data-toggle="pill" href="" ng-click="showFlag = 5;fetchSurveysList()" class="profile-tabs">My Task</a></li>
             <li id="workFlow" class="active"><a data-toggle="pill" href="" ng-click="showFlag = 5;fetchSurveysList()" class="profile-tabs">Workflow</a></li>
            <li id="myTask" class=""><a data-toggle="pill" href="" ng-click="showFlag = 5;fetchSurveysList()" class="profile-tabs">My Task</a></li>
         
          </ul>
        </div>
      </div> -->
      
       <div class="">
       <form name="myform">
         <div class="section-content" id="ticket-prefields">
        <div class="shadow-container">
          <div class="inner-head">
            <h4>{{ticketLabel}} </h4>
          </div>
          <div class="inner-form add-ticket-form">
            <div class="">
              <div class="">
                <div class="form-group" style="display: inline-block;width: 100%">
                 <!--  <label style="width: 30%;">Label</label> -->
                 <table style="width: 100%;">
                 <tr ng-repeat=" j in workflowdDataFieldList" ng-init="currentIndex=$index; ">
                 <td ng-if="j.fieldmasterId ==1">
                  <div class="form-group" style="display: inline-block;width: 100%">
                  
                  <div ng-repeat="xx in j.wf_ValidationMaster">
                  <div ng-if="xx.id === 1 ">
                  <label>{{j.label}}</label>
                  <input type="text" class="form-control flat-control-inner" ng-model="j.fieldvalue"  ng-disabled="!j.prefilled" style="display: inline-block;width: 25%;" ng-required="{{j.required}}" maxLength="{{xx.validationValue}}" allow2>
                  </div>
                  <div ng-if="xx.id === 2 ">
                  <label>{{j.label}}</label>
                  <input type="text" class="form-control flat-control-inner" ng-model="j.fieldvalue"  ng-disabled="!j.prefilled" style="display: inline-block;width: 25%;" ng-required="{{j.required}}" maxLength="{{xx.validationValue}}" allow1>
                  </div>
                  <div ng-if="xx.id === 3 ">
                  <label>{{j.label}}</label>
                  <input type="password" class="form-control flat-control-inner" ng-model="j.fieldvalue"  ng-disabled="!j.prefilled" style="display: inline-block;width: 50%;" ng-required="{{j.required}}" maxLength="{{xx.validationValue}}" >
                  </div>
                  <div ng-if="xx.id === 4 ">
                  <label>{{j.label}}</label>
                  <input type="email" ng-pattern = '/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i' class="form-control flat-control-inner" ng-model="j.fieldvalue" placeholder="Enter Email" ng-disabled="!j.prefilled" style="display: inline-block;width: 25%;" ng-required="{{j.required}}" maxLength="{{xx.validationValue}}" >
                  </div>
                  <div ng-if="xx.id === 16">
                  <label>{{j.label}}</label>
                  <input type="text" class="form-control flat-control-inner" ng-model="j.fieldvalue"  ng-disabled="!j.prefilled" style="display: inline-block;width: 50%;margin-left: 10px;" ng-required="{{j.required}}" maxLength="{{xx.validationValue}}" >
                  </div>
                  </div>
                  <span style="color:red;">{{errorMsg}}</span>
                  <!-- <select class="form-control flat-control-inner with-caret">
                    <option>Carnival Cruises</option>
                    <option>P&amp;O</option>
                  </select> -->
                  </div>
                 </td>
                 
                 <td ng-if="j.fieldmasterId ==2 ">
                 
                  <div class="form-group" style="display: inline-block;width: 100%">
                  <label class="ticket-label">{{j.label}}</label>
                  <textarea class="form-control flat-control-inner" id="{{j.fieldmasterId}}{{$index}}" ng-model="j.fieldvalue" ng-blur="validateFieldValue(j.fieldvalue,$index)"   ng-disabled="!j.prefilled" style="display: inline-block;width: 50%;" ng-required="{{j.required}}" maxLength="{{j.wf_ValidationMaster[0].validationValue}}"></textarea>
                  <!-- <select class="form-control flat-control-inner with-caret">
                    <option>Carnival Cruises</option>
                    <option>P&amp;O</option>
                  </select> -->
                  <span id="textArea-{{j.fieldmasterId}}{{$index}}"></span>
                </div>
                 </td>
                 
                 <td ng-if="j.fieldmasterId ==8 "> 
                 <div class="form-group" style="display: inline-block;width: 100%">
                 <div ng-repeat="xp in j.wf_ValidationMaster ">
                  	  <label style="bottom: 15px;vertical-align: top;position: relative;overflow-wrap: break-word;padding-top: 25px;">{{j.label}}</label>
                  <div class="input-group dateonly" style="display: inline-block;width:26% !important">
                  <input type="text" id="prefld-date{{j.workflowFieldId}}" ng-model="j.fieldvalue"  data-date-format="{{xp.validationValue | uppercase}}" data-ng-init="onloadFun(this)" ng-disabled="!j.prefilled" class="form-control flat-control-inner dateonly2" style="display: inline-block;width: 83%;">
                  <span class="input-group-addon" style="padding: 9.5px 12px; cursor:pointer;">
                	 <span id="prefld-cal{{xp.id}}" class="glyphicon glyphicon-calendar"></span>
              	  </span>
              	  </div>
              
                </div>
                </div>
                <!-- </div> -->
                 </td>
                                 
                 <!--  <tr ng-repeat=" j in workflowdDataFieldList">
                 <td ng-if="j.fieldmasterId ==9">
                 <div class="form-group" style="display: inline-block;width: 100%">
                  <label style="width: 30%;">{{j.label}}</label>
                  <input type="email" id="" ng-model="j.fieldvalue"  ng-disabled="!j.prefilled" class="form-control" style="display: inline-block;width: 50%;margin-left: 10px;">
                  <select class="form-control flat-control-inner with-caret">
                    <option>Carnival Cruises</option>
                    <option>P&amp;O</option>
                  </select>
                </div>
                 </td>
                 </tr> -->
                 
                 
                 <td ng-if="j.fieldmasterId ==5">
                 <div class="form-group" style="display: inline-block;width: 100%">
                  <label>{{j.label}}</label>
                  
                  <select class="form-control flat-control-inner with-caret" ng-model="j.fieldvalue"  ng-disabled="!j.prefilled" style="display: inline-block;width: 25%;">
                    <option value="">--select--</option>
                    <option ng-repeat="x in j.options" value="{{x.optionLabel}}">{{x.optionLabel}}</option>
                  </select> 
                </div>
                 </td>
                
                 <td ng-if="j.fieldmasterId ==4">
                 <div class="form-group" style="display: inline-block;width: 100%" >
                  <label style="position: relative;bottom: 10px;">{{j.label}}</label>
                      <div class="prefill" style="display: inline-block;width: 75%;" >
                        <div class="chckbx-cntnr workflw-chck" ng-repeat="x1 in j.options " style="margin: 0px 0 5px;">
                       <!--  <input type='checkbox' value="{{x}}" check-list='checked_fruits'> -->
                         <input type="checkbox" id="{{x1.optionId}}" class="flashadmin" name="check-group-{{currentIndex}}"  ng-checked="{{x1.optionValue}}" ng-model="x1.optionValue"  check-list="x1.optionValue" class="" ng-disabled="!j.prefilled" > 
                          <label class="cstmchk_lbladmin" for="{{x1.optionId}}" style="left: 0 !important;">
                          <p class="expense-trvl">{{x1.optionLabel}}</p> 
                        </label> 
                        </div>
                        <!-- <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="1" name="check" class="flashadmin">
                      <label class="cstmchk_lbladmin" for="1"></label>
                      <p class="expense-trvl">{{x1.optionLabel}}</p> 
                    </div> -->
                      </div>
                  </div>
                 </td>
                 <td ng-if="j.fieldmasterId ==3">
                 <div class="form-group" style="display:block;width: 100%">
                     <label class="ticket-label">{{j.label}}</label>
                      <div class="prefill" style="display: inline-block;width: 70%;">
                        <!-- <div class="chckbx-cntnr zeromargin">
                          <input type="radio" id="1" name="radio" class="">
                          
                        </div> -->
                        <div class="radio-cntnr new-chc" style="float: left;width: 21%;margin-right: 0px;" ng-repeat="x2 in j.options ">
                        <input type="radio" id="{{x2.optionId}}" name="radio-group{{currentIndex}}" ng-model="j.fieldvalue"  value="{{x2.optionLabel}}" ng-disabled="!j.prefilled"> <label for="{{x2.optionId}}"></label>
                        <p class="radio-sub-head" style="margin-left: 34px;">{{x2.optionLabel}}</p>
                        </div>
                      </div>

                  </div>
                 </td>
                 <!-- <tr ng-repeat=" j in workflowdDataFieldList" ng-init="currentIndex=$index; ">
                 
                 <tr> -->
                 
                 <td ng-if="j.fieldmasterId ==6">
                 <div class="form-group" style="display: inline-block;width: 100%">
                 <div class="input-group" style="width:30%;">
                                <input type="text" class="form-control flat-control-inner" style="width:50%" readonly >
                                <span class="input-group-btn">
                                    <span class="btn btn-primary btn-file">
                                        Upload file <input type="file" accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf" id="docfilepath-{{currentIndex}}" single >
                                    </span>
                                </span>
                    </div>
                     <label style="bottom: 15px;width:50%;display: inline-block;vertical-align: top;padding-top: 25px;padding-left: 10px;">{{j.label}}</label>
                  
                 <!--  <div class="input-group">
                                <input type="file" id="docfilepath-{{currentIndex}}" class="form-control flat-control-inner ng-pristine ng-valid ng-empty ng-touched" ng-disabled="!j.prefilled" readonly="" ng-model="selectedfile">
                                 <span class="input-group-btn" style="width: 0px;">
                                    <span class="btn btn-primary btn-file" style="padding: 12px;"> Browse</span>
                                </span> 
                 </div> -->
                </div>
                 </td>
                 
                 
                 <td ng-if="j.fieldmasterId ==7">              
                 <div class="form-group" style="display: inline-block;width: 100%;">
                 
                  <div>   
                  <label>{{j.label}}</label>                                 
                  <input autocomplete="off" class="form-control flat-control-inner" style="width:25%!important;display: inline-block;" id="userdetail{{j.workflowFieldId}}" ng-model="j.userEmail" ng-disabled="!j.prefilled" ng-change="fetchUserDetails(j.userEmail,j.wf_ValidationMaster[0].validationValue)" ng-blur="addUserDetailsList()" list="userDetails{{j.workflowFieldId}}" >		 
				     <datalist id="userDetails{{j.workflowFieldId}}">
					    	<option  data-ng-repeat="u in EmployeeNumberList" class="{{u.id}}" value="{{u.detail}}"> 
					 </datalist>     
                 </div>              
                 <!-- <div>
                 <a href="" ng-click="openUserProfile(pf.userId)">Link to Employee profile</a> 
                 </div>  -->             
           		</div>
           		
           		</td>
           		
           		<td ng-if="j.fieldmasterId ==9">
           		
           		<div class="form-group" style="display: inline-block;width: 100%;">
           		
           		<div>   
                  <label style="float:left;">{{j.label}}
                  	<br>(24 Hours)
                  </label> 
                  <!-- <label>24 hours Format only</label> -->                                
<!--             	<input type="text" class="form-control flat-control-inner" ng-model="j.fieldvalue"  ng-disabled="!j.prefilled" style="display: inline-block;width: 50%;margin-left: 10px;" ng-required="{{j.required}}" >
 -->     			
     			
     			<div class="set-col">
              	 <input id="hours{{j.workflowFieldId}}" type="text"  ng-model="j.hours" class="form-control flat-control-inner estimated-timer for_coloan"  ng-disabled="!j.prefilled" Placeholder="Hours" ng-required="{{j.required}}" allow1>
              	</div>
              	<p class="time_colon">:</p>
            	 <div class="set-col1">
               		 <input id="minutes{{j.workflowFieldId}}" type="text" ng-model="j.minutes" class="form-control flat-control-inner estimated-timer for_coloan"  ng-disabled="!j.prefilled" placeholder="Minutes" ng-required="{{j.required}}" allow1 >
             	 </div>
                 </div> 
           		</div>
           		</td> 
           		
           	<td ng-if="j.fieldmasterId ==10">
           	
           	<div class="form-group" style="display: inline-block;width: 100%;">
           		
           	<div>
           		 <label>{{j.label}}</label>    
           		 
           		 
           		 <input type="text" id="txtNumber" class="form-control flat-control-inner" ng-model="j.fieldvalue" ng-disabled="!j.prefilled" style="display: inline-block;width: 25%;margin-left: 3px;" ng-required="{{j.required}}" placeholder='0.00' onkeyup="AddComma(this);" allow3>
           		 
           		 
<!--            		 <input type="number" id="txtNumber" ng-model="decimal" class="form-control flat-control-inner" placeholder='0.00' onkeyup="AddComma(this)">  
 -->           		
           		</div>
           		
           		
           		</div>
           		
           		</td>
           		
           		   
                 
                 </tr>
                 
                 
                 </table>
                      
                 
                </div></div></div>
                
             <div class="btn-cntnr" style="padding-top: 20px;">
              <button ng-click="myform.$valid && addNewTicket()" class="btn btn-default btn-bluer" id="save">Save</button>
              <button ng-click="myform.$valid && updateTicket()" class="btn btn-default btn-bluer" id="update">update</button>
              <a href="" ng-click="callbackTicketList()">Cancel</a>
            </div>
                
              </div>
              
              <div class="clearfix"></div>
               
                
                </div>
            
              
              
             
             
     </div></form>

    </div>
  </div>
</section>






 
<script>
$(document).ready( function() {
    $('.btn-file :file').on('fileselect', function(event, numFiles, label) {
       
    });
    
   
});

$("#id_of_searchbox").keyup(function(event) {
    if (event.keyCode === 13) {    	
        $("#id_of_searchbutton").click();
    }
});


$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>

<script>

$('#todo').on('focus',".dateonly", function(){  
	$('.dateonly').datetimepicker({
  format: 'DD-MM-YYYY',
    useCurrent: false, //Important! See issue #1075
    
}).on('dp.change', function (e) { $(this).change()});
});

$(document).ready(function() {
$("input[type='file'].demo").filepicker({
style: 'bootstrap' // default, bootstrap or jquery-ui
});
});
</script>

 <script>
 
 document.getElementById('getval').addEventListener('change', readURL, true);
 function readURL(){
    var file = document.getElementById("getval").files[0];
    var reader = new FileReader();
    reader.onloadend = function(){
       document.getElementById('clock').style.backgroundImage = "url(" + reader.result + ")";        
    }
    if(file){
       reader.readAsDataURL(file);
     }else{
     }
 }
 
 </script>
 
 <script type="text/javascript">
   /* function getDatepicker(evt){
	console.log(evt.id);
	//console.log($('#'+evt.id).val())
	$('.dateonly').datetimepicker({
        format: evt.id,
      //  format:formate,
      	  maxDate:new Date(),
      	  useCurrent: false
      });
	
  } */
   
   function getDatepicker(evt){	
		$('.dateonly').datepicker({
			  format: $(this).attr("data-date-format"),	  
	      	  //maxDate:new Date(),
	      	  useCurrent: false,
	      	  autoclose:true
	      }).on('dp.change', function (e) {$(this).change();console.log($(this))});	
	  }
 </script>
 
 <script type="text/javascript">
  $(document).on('change', '.btn-file :file', function() {
  var input = $(this),
      numFiles = input.get(0).files ? input.get(0).files.length : 1,
      label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
  input.trigger('fileselect', [numFiles, label]);
  
  var input = $(this).parents('.input-group').find(':text'),
  log = numFiles > 1 ? numFiles + ' files selected' : label;

if( input.length ) {
  input.val(log);
} else {
  if( log ) alert(log);
}
});

$(document).ready( function() {
    $('.btn-file :file').on('fileselect', function(event, numFiles, label) {
       
    });     
});

</script>

<script type="text/javascript">
        function AddComma(text) {
            switch (text.value.length) {
                 /* case 1:
                    document.getElementById("txtNumber").value = "0.0" + text.value;
                    break;  */
                default:
                    var data = text.value.replace(".", "");
                    var first = data.substring(0, (data.length - 2));
                    var second = data.substring(data.length - 2);
                    var temp = Math.abs(first) + "." + second;
                    document.getElementById("txtNumber").value = temp;
            }
        }
    </script>