<style>
.coma-sep p:last-child span{
display:none;
}
</style>
<section class="tab-pane fade in active admin-page">
<div class="section-heading">
        <h4>My Task View</h4>
      </div> 
   <div id="todo" class="container-fluid">
            <div class="" id="main-listing">
               <div class="new-dashboard">
                  <div class="pull-right" style="margin:4px 0px;">
                     <div class="button-group" style="text-align: right;display: inline-block;padding-left: 10px;">
                        <button class="btn btn-default btn-create" id="create-report-btn" style="background:#1fa67a;" ng-click="generateExcel()"><i class="fa fa-file-excel-o"></i></button>
                     </div>
                    
                   
                       <!--  <div class="form-group search-box new">
                           <input type="text" name="" id="id_of_textbox" class="form-control flat-control-search mar-bottom-zero" ng-model="searchterm">
                           <i class="icon-search" id="id_of_button" ng-click="fetchMyTaskList1(0,10,null,null,searchterm);getMyTaskListCount(searchterm)"></i>
                        </div>-->
                    
                     <div class="button-group middle">
                        <button
                           class="btn-default btn-create icon-navigation1 dropdown-toggle"
                           data-toggle="dropdown" id="create-req-btn">
                        <i class="fa fa-check-square-o"></i>
                        </button>
                        <!--  <a class="dropdown-toggle select-drop" data-toggle="dropdown"></a>
                           <span class="fa fa-filter"></span> -->
                        <ul class="dropdown-menu selection-column"
                           style="overflow: auto;">
                          
                           <li>
                              <div class="chckbx-cntnr zeromargin">
                                 <input type="checkbox" id="app1" name="check" class="flashadmin" ng-click="selectAllColoumns(colcheck);savesettings()" ng-model="colcheck">
                                 <label class="cstmchk_lbladmin"  for="app1"></label><label for="app1" class="table-label">Select All</label> 
                              </div>
                           </li>
                           <li ng-repeat="c in columnlist">
                              <div class="chckbx-cntnr zeromargin" ng-if="c.name=='Workflow Name' || c.name=='Task Name' || c.name=='Ticket Number' || c.name=='Task Status' || c.name=='Identifier">
                                 <input type="checkbox" id="column{{$index}}" name="check" ng-model="c.isActive" class="flashadmin" ng-click="savesettings()" disabled>
                                 <label class="cstmchk_lbladmin"  for="column{{$index}}"></label><label for="column{{$index}}" class="table-label" style="max-width: 80%!important;">{{c.name}}</label> 
                              </div>
                              <div class="chckbx-cntnr zeromargin" ng-hide="c.name=='Workflow Name' || c.name=='Task Name' || c.name=='Ticket Number' || c.name=='Task Status' || c.name=='Identifier">
                                 <input type="checkbox"  id="column{{$index}}" name="check" ng-model="c.isActive" class="flashadmin" ng-click="savesettings()">
                                 <label class="cstmchk_lbladmin"  for="column{{$index}}"></label><label for="column{{$index}}" class="table-label" style="max-width: 80%!important;">{{c.name}}</label> 
                              </div>
                           </li>
                        </ul>
                     </div>
                  </div>
                 
                 
                  <div class="clearfix"></div>
                  <div class="">
                     <div id="filter" class="table-cntnr table-responsive">
                     	
                        <table class="table table-striped red-table">
                        <caption style="font-family: montserrat-regular;font-size: 20px;">List of Tasks</caption>
                           <thead>
                           
                           <tr>
                                  <th ng-show="activeColumn('Ticket Number')"><input class="form-control flat-control-search filter-input" id="ticketNum" type="text" ng-change="fetchMyTaskList1(0,10,null,null,searchterm,ticketNum,identifier,taskName,startDate,endDate,workFlowname,workflow.Wf_Task.id);getMyTaskListCount(searchterm,ticketNum,identifier,taskName,startDate,endDate,workFlowname,workflow.Wf_Task.id)" ng-model="ticketNum"></th>
                                  <th ng-show="activeColumn('Identifier')"><input class="form-control flat-control-search filter-input" id="identifier" ng-change="fetchMyTaskList1(0,10,null,null,searchterm,ticketNum,identifier,taskName,startDate,endDate,workFlowname,workflow.Wf_Task.id);getMyTaskListCount(searchterm,ticketNum,identifier,taskName,startDate,endDate,workFlowname,workflow.Wf_Task.id)" type="text" ng-model="identifier"></th>
                                  <th ng-show="activeColumn('Task Name')"><input class="form-control flat-control-search filter-input" type="text" id="taskName" ng-change="fetchMyTaskList1(0,10,null,null,searchterm,ticketNum,identifier,taskName,startDate,endDate,workFlowname,workflow.Wf_Task.id);getMyTaskListCount(searchterm,ticketNum,identifier,taskName,startDate,endDate,workFlowname,workflow.Wf_Task.id)" ng-model="taskName"></th>
                                     <th ng-show="activeColumn('Start Date')">
                                    <div class="col-md-12">
        							  <div class="form-group filter-input">
        							  <input type="text" id="startDate"  ng-change="fetchMyTaskList1(0,10,null,null,searchterm,ticketNum,identifier,taskName,startDate,endDate,workFlowname,workflow.Wf_Task.id);getMyTaskListCount(searchterm,ticketNum,identifier,taskName,startDate,endDate,workFlowname,workflow.Wf_Task.id)" class="form-control input-flater input-info dateonly filter-input" ng-model="startDate">
                                  	</div>
   									</div>
                                    </th>
                                    <th ng-show="activeColumn('Estimated End Date')">
                                    <div class="col-md-12" >
        							  <div class="form-group filter-input">
                                       <input type="text" id="endDate" class="form-control input-flater input-info dateonly filter-input" ng-change="fetchMyTaskList1(0,10,null,null,searchterm,ticketNum,identifier,taskName,startDate,endDate,workFlowname,workflow.Wf_Task.id);getMyTaskListCount(searchterm,ticketNum,identifier,taskName,startDate,endDate,workFlowname,workflow.Wf_Task.id)" ng-model="endDate">
      							    </div>
   									</div>
                                    </th>
                                    
                                    <th ng-show="activeColumn('Workflow Name')"><input class="form-control flat-control-search filter-input"  id="workFlowname" ng-change="fetchMyTaskList1(0,10,null,null,searchterm,ticketNum,identifier,taskName,startDate,endDate,workFlowname,workflow.Wf_Task.id);getMyTaskListCount(searchterm,ticketNum,identifier,taskName,startDate,endDate,workFlowname,workflow.Wf_Task.id)" ng-model="workFlowname"></th>
								   <th ng-show="activeColumn('Task Status')"><select class="form-control flat-control-search filter-input"  id="taskStatus" ng-model="workflow.Wf_Task.id" ng-options="field.id as field.name for field in taskStatusList" ng-change="fetchMyTaskList1(0,10,null,null,searchterm,ticketNum,identifier,taskName,startDate,endDate,workFlowname,workflow.Wf_Task.id);getMyTaskListCount(searchterm,ticketNum,identifier,taskName,startDate,endDate,workFlowname,workflow.Wf_Task.id)" >
                    	       <option value="">--Select Field--</option>                
                  	  </select></th>
								
								
                           </tr>
                           
                              <tr>
                                 <!-- <th>
                                    <div class="chckbx-cntnr zeromargin">  
                                       <input type="checkbox" id="rd" name="check" ng-click="checkedAllList(workFlowsList,all)" ng-model="all" class="flashadmin">
                                       <label class="cstmchk_lbladmin"  for="rd"></label> 
                                    </div>
                                 </th> -->
                                 <!-- <th style="vertical-align: middle;min-width: 135px;" ng-show="activeColumn('Workflow Id')">Workflow Id<i ng-click="sortByName(searchterm,'WorkflowId')" class="fa fa-sort" aria-hidden="true" style="font-size:12px;"></i></th> -->
                                 
                                 <th style="vertical-align: middle;min-width: 95px;" ng-show="activeColumn('Ticket Number')">Ticket Number<i ng-click="sortByName(searchterm,'TicketNumber')" class="fa fa-sort" aria-hidden="true" style="font-size:12px;"></i></th>
                                 <th style="vertical-align: middle;min-width: 95px;" ng-show="activeColumn('Identifier')">Identifier</th>
                                 <th style="vertical-align: middle;min-width: 95px;" ng-show="activeColumn('Task Name')">Task Name<i ng-click="sortByName(searchterm,'TaskName')" class="fa fa-sort" aria-hidden="true" style="font-size:12px;"></i></th>
                                 <th style="vertical-align: middle;min-width: 95px;" ng-show="activeColumn('Start Date')">Start Date<i ng-click="sortByName(searchterm,'StartDate')" class="fa fa-sort" aria-hidden="true" style="font-size:12px;"></i></th>
                                 <th style="vertical-align: middle;min-width: 95px;" ng-show="activeColumn('Estimated End Date')">Estimated End Date<i ng-click="sortByName(searchterm,'ActualDate')" class="fa fa-sort" aria-hidden="true" style="font-size:12px;"></i></th>
                                 <!-- <th style="vertical-align: middle;min-width: 95px;" ng-show="activeColumn('SLA')">SLA<i ng-click="sortByName(searchterm,'SLA')" class="fa fa-sort" aria-hidden="true" style="font-size:12px;"></i></th>
                                 <th style="vertical-align: middle;min-width: 95px;" ng-show="activeColumn('Assigned By')">Assigned By<i ng-click="sortByName(searchterm,'AssignedBy')" class="fa fa-sort" aria-hidden="true" style="font-size:12px;"></i></th> -->
                                 <th style="vertical-align: middle;min-width: 95px;" ng-show="activeColumn('Workflow Name')">Workflow Name <i ng-click="sortByName(searchterm,'workflowName')" class="fa fa-sort" aria-hidden="true" style="font-size:12px;"></i></th>
                                 <th style="vertical-align: middle;min-width: 95px;" ng-show="activeColumn('Task Status')">Task Status<i ng-click="sortByName(searchterm,'TaskStatus')" class="fa fa-sort" aria-hidden="true" style="font-size:12px;"></i></th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr ng-repeat="t in myTaskList">
                                 <!-- <td>
                                    <div class="chckbx-cntnr zeromargin">
                                       <input type="checkbox" id="1" name="check" class="flash">
                                       <label class="cstmchk_lbl" for="1"></label>
                                    </div>
                                 </td> -->
                                 <!-- <td ng-show="activeColumn('Workflow Id')">{{t.workFlow.workFlowId}}</td> -->
                                 
                                 <td ng-show="activeColumn('Ticket Number')"><a href="" ng-click="openTicketDetailsPage(t)" ng-if="t.taskStatusId !=6">{{t.ticket_number}}</a>
                                   <span ng-if="t.taskStatusId==6">{{t.ticket_number}}</span>
                                 </td>
                                 <td ng-show="activeColumn('Identifier')" class="coma-sep">
                                 <p ng-repeat="pf in t.wf_FieldMasters">{{pf.fieldValue}} <span>,</span></p>
                                 </td>  
                                 <td ng-show="activeColumn('Task Name')">{{t.name}}</td>                                
                                 <td ng-show="activeColumn('Start Date')">{{dateformate(t.slaDate)}}</td>
                                 <td ng-show="activeColumn('Estimated End Date')">{{dateformate(t.slaEndDate)}}</td>
                                 <!-- <td ng-show="activeColumn('SLA')">{{t.sla}}</td>
                                 <td ng-show="activeColumn('Assigned By')"></td> -->
                                 <td ng-show="activeColumn('Workflow Name')">{{t.workFlow.name}}</td>
                                 <td ng-show="activeColumn('Task Status')"><span ng-if="t.taskStatusId==4"
                                    class="label label-info"
                                    style="background-color: #5cb85c; font-size: 14px;font-weight: 400;">{{t.taskStatus}}</span>
                                    <span ng-if="t.taskStatusId==2" class="label label-info"
                                       style="background-color: #f3d300; font-size: 14px;font-weight: 400;">{{t.taskStatus}}</span>
                                    <span ng-if="t.taskStatusId==1" class="label label-info"
                                       style="background-color: #d9534f; font-size: 14px;font-weight: 400;">{{t.taskStatus}}</span>
                                     <span ng-if="t.taskStatusId==3" class="label label-info"
                                       style="background-color: cyan; font-size: 14px;font-weight: 400;">{{t.taskStatus}}</span> 
                                       
                                       <span ng-if="t.taskStatusId==6" class="label label-info"
                                       style="background-color: #5cb85c; font-size: 14px;font-weight: 400;">{{t.taskStatus}}</span> 
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                        <div class="text-right">
                           <ul class="pagination" style="margin-top: 0;">
                              <li><a ng-hide="start == 0" ng-click="previous()">&laquo;</a>
                              <li ng-repeat="i in navButtons"
                                 ng-class="$parent.offset == i * $parent.limit && 'active'"><a
                                 class="" ng-click="current(i)">{{i+1}}</a></li>
                              <li><a ng-hide="(((start+5)*10) + 10) >= count"
                                 ng-click="next()">&raquo;</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
      
         <div id="deletelist" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm add-brand">
               <!-- Modal content-->
               <div class="modal-content flat-modal">
                  <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal">X</button>
                     <h4 class="modal-title common-title" style="margin-left: 0;">Delete Record</h4>
                  </div>
                  <div class="modal-body flat-body">
                     <div class="clearfix"></div>
                     Are you sure want to delete {{checkedTasksIds.length}} records?
                     <div class="modal-footer text-left">
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="show_ass" ng-click="deleteTaskFromList('Task')">Delete</button>
                        <a class="btn btn-link" data-dismiss="modal" >Cancel</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="modal fade" id="assignnment-details" role="dialog">
            <div class="modal-dialog modal-md add-brand">
               <div class="modal-content">
                  <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                     <h4 class="modal-title">Task Escalate</h4>
                  </div>
                  <div class="modal-body">
                     <div class="row">
                        <div class="assign-main" ng-repeat="j in ticketListWithTicket">
                           <div class="col-md-3">
                              <div class="chckbx-cntnr zeromargin" style="margin-top: 10px !important;">
                                 <!-- <input type="checkbox" id="tsk-{{j.taskId}}" ng-model="j.checkTaskStatus" name="task-{{j.id}}" type="checkbox" class="flashadmin">
                                    <label class="cstmchk_lbladmin" for="tsk-{{j.taskId}}" style="left: 0px !important;"></label>  -->
                                 &nbsp;&nbsp;&nbsp;
                                 <p class="task-type-modal">{{j.name}}</p>
                              </div>
                           </div>
                           <div class="col-md-4" style="padding: 0px;">
                              <div class="form-group workflow-frm" ng-show="ownerFlag" style="width: 100%;">
                                 <!-- <label>Select Owner Type*</label> -->
                                 <select class="form-control flat-control-inner"  ng-model="usertypeid1" ng-options="owner.id as owner.name for owner in ownersList" ng-change="changeOwnersList(usertypeid1);j.userTypeId=usertypeid1">
                                    <option value="">--Select Owner Type--</option>
                                    <option> </option>
                                 </select>
                              </div>
                           </div>
                           <div class="col-md-5">
                              <div class="form-group workflow-frm" ng-show="ownerFlag" style="width: 100%;padding: 0px;">
                                 <!-- <label ng-if="j.userTypeId != 0 && j.userTypeId != undefined">Select Owner*</label> -->
                                 <select ng-if="usertypeid1 == 2"    class="form-control flat-control-inner" ng-model="groupId1" ng-change="j.userid=groupId1" ng-options="g.id as g.name for g in groupsList">
                                    <option value="">--Select Group--</option>
                                 </select>
                                 <input ng-if="usertypeid1 == 1"  
                                    class="form-control flat-control-inner" 
                                    id="userdetail{{j.taskId}}" 
                                    ng-blur="validateUser($index)" 
                                    placeholder="employee email" 
                                    ng-model="userName"
                                    ng-change="fetchEmployeeDetails(userName)" list="userDetails-{{$index}}"/>
                                 <input type="hidden" id="userId-{{$index}}" ng-value="529" ng-model="j.userid">
                                 <datalist id="userDetails-{{$index}}">
                                    <option data-ng-repeat="u in EmployeeNumberList" value="{{u.detail}}"   ng-click="" data-id="{{u.id}}" >
                                 </datalist>
                                 <select ng-if="usertypeid1 == 3"  class="form-control flat-control-inner" ng-model="departmentId1" ng-change="j.userid=departmentId1" ng-options="c.id as c.name for c in categoryList">
                                 <option value="">--Select Department--</option>                
                                 </select>
                              </div>
                           </div>
                           <div class="clearfix"></div>
                        </div>
                     </div>
                     <!-- <div class="btn-cntnr" style="margin-left: 60%">
                        <button class="btn btn-default btn-bluer" id="cancel-req-btn" ng-click="assignTaskUserGroupDepartment()">Save</button>
                        <button class="btn" data-dismiss="modal">Cancel</button>
                        </div> -->
                     <div class="btn-cntnr" style="margin: 0px 0 10px;text-align: right;">
                        <button class="btn btn-default btn-bluer" id="cancel-req-btn" ng-click="saveEscalate()">Save</button>
                        <a data-dismiss="modal">Cancel</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="modal fade" id="depedencies" role="dialog">
            <div class="modal-dialog modal-sm add-brand">
               <div class="modal-content">
                  <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal">X</button>
                     <h4 class="modal-title">Dependencies</h4>
                  </div>
                  <div class="modal-body">
                     <div class="prefill col-md-12" style="display: block;width: 100%;padding: 0 6px;">
                        <div class="chckbx-cntnr zero-margin" ng-repeat="task in otherTasksList">
                           <input type="checkbox" id="task{{task.id}}" ng-click="addDependentTasksId(task.id)" name="check" class="flashadmin">
                           <label class="cstmchk_lbladmin" for="task{{task.id}}">
                              <p class="vali-sub-head" style="margin-left: 10px;min-width: 229px;">{{task.name}}</p>
                           </label>
                        </div>
                        <!-- <div class="chckbx-cntnr zero-margin">
                           <input type="checkbox" id="1" name="check" class="flash">
                           <label class="cstmchk_lbl" for="1">
                           <p class="vali-sub-head" style="margin-left: 10px;">Task 2</p>
                           </label> 
                           </div>
                           <div class="chckbx-cntnr zero-margin">
                           <input type="checkbox" id="1" name="check" class="flash">
                           <label class="cstmchk_lbl" for="1">
                           <p class="vali-sub-head" style="margin-left: 10px;">Task 3</p>
                           </label> 
                           </div> -->
                     </div>
                     <div class="btn-cntnr" style="margin: 0px 0 10px;">
                        <button class="btn btn-default btn-bluer" id="cancel-req-btn" ng-click="saveTaskDependency()">Save</button>
                        <a data-dismiss="modal">Cancel</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
 
 
 
</section>
<script type="text/javascript">
   $("#id_of_textbox").keyup(function(event) {
       if (event.keyCode === 13) {
           $("#id_of_button").click();
       }
   });
   

   /* $('.dateonly').datetimepicker({	    		
		 format: 'DD-MM-YYYY',
		 useCurrent: false,
		 //minDate:new Date()     	
}).on('dp.change', function (e) { $(this).change()}); */
   
   $('#filter').on('focus',".dateonly", function(){  
	  	$(this).datetimepicker({	    		
				 format: 'DD-MM-YYYY',
				 useCurrent: false, 
				 //minDate:new Date()     	
	  	}).on('dp.change', function (e) { $(this).change()});
		});

   
</script>




 
 