<section class="tab-pane fade in active admin-page">
	<div class="section-heading">
        <h4>Ticket Details</h4>
      </div>
      <div class="section-content">
     <!--  <div style="text-align:right;">
      	<a style="text-decoration: underline;cursor:pointer;" ng-click="getworkflowListTab();">Back</a>
      </div> -->
      <div class="clearfix"></div>
            <div class="">
            <div class="srch-head tckt-listing"><h4>Task Listing</h4>
             <div style="text-align: right;padding-right: 10px;display: inline-block;float: right;">
            <a ui-sref="restricted.admin.ownerworkflow" style="cursor: pointer;">Back</a>
            </div>
            </div>
            <!-- <div class="srch-head"><h4>Task Listing</h4> <div style="text-align:right;"><a style="text-decoration: underline;cursor:pointer;" ng-click="getworkflowListTab();">Back</a></div></div> -->

            <div class="col-md-1">
            <!-- <button class="btn btn-default btn-create" style="margin-left: 21px;" id="create-job-btn" data-toggle="modal" data-target="#AskReimbursement" ng-click="goToClaimedList(undefined,3)" style="float:left;"><i class="icon-plus"></i></button> -->
            </div>
           <div class="col-md-6"></div>
           <div class="col-md-1" style="padding:0px!important;">
           	 <div class="button-group" style="text-align: right;display: inline-block;padding-left: 60%;">
               <button class="btn btn-default btn-create" id="create-report-btn" style="background:#1fa67a;" ng-click="generateExcel()"><i class="fa fa-file-excel-o"></i></button>
            </div> 
           </div>
           <div class="col-md-3"> 
               <div class="search-cntnr" style="float: right;padding-left: 0px;width: 100%;">
	            <div class="form-group search-box">
	              <input type="text" name="" id="id_of_textbox" class="form-control flat-control-search" ng-model="searchterm" style="padding:0px 4px!important;">
                  <i class="icon-search" id="id_of_button" ng-click="fetchTasksList(0,10,null,null,searchterm);fetchTasksListCount(searchterm)"></i>
	            </div>
	          </div>
          </div>    
          <div class="col-md-1" style="padding:0 !important;">
          <div class="button-group">
          	<button class="btn-default btn-create icon-navigation1 dropdown-toggle" data-toggle="dropdown" id="create-req-btn"><i class="fa fa-check-square-o"></i></button>
          	<ul class="dropdown-menu selection-column" style="overflow:auto;left: -98px !important;">
						 <li>
						  	<div class="chckbx-cntnr zeromargin">
						     <input type="checkbox" id="app1" name="check" class="flashadmin" ng-click="selectAllColoumns(colcheck);savesettings()" ng-model="colcheck">
						     <label class="cstmchk_lbladmin"  for="app1"></label><label for="app1" class="table-label">Select All</label> 
						   </div>
						  </li>
						  <li ng-repeat="c in columnlist">
						  <div class="chckbx-cntnr zeromargin" ng-if="c.name=='Task Id' || c.name=='Task Name'  || c.name=='Assign Task' || c.name=='Escalate To' || c.name=='SLA'">
						     <input type="checkbox" id="column{{$index}}" name="check" ng-model="c.isActive" class="flashadmin" ng-click="savesettings()" disabled>
						     <label class="cstmchk_lbladmin"  for="column{{$index}}"></label><label for="column{{$index}}" class="table-label">{{c.name}}</label> 
						   </div>
						  	<div class="chckbx-cntnr zeromargin" ng-hide="c.name=='Task Id' || c.name=='Task Name' || c.name=='Assign Task' || c.name=='Escalate To' || c.name=='SLA'">
						     <input type="checkbox"  id="column{{$index}}" name="check" ng-model="c.isActive" class="flashadmin" ng-click="savesettings()">
						     <label class="cstmchk_lbladmin"  for="column{{$index}}"></label><label for="column{{$index}}" class="table-label">{{c.name}}</label> 
						   </div>
						  </li>
		</ul>
          </div>
       </div>
       <div class="clearfix"></div>
               <div class="table-responsive" >
		                  <table class="table table-striped red-table">	
		                  <caption>List of Tasks</caption>
		                    <thead>
		                    <tr>
                <!-- <th style="vertical-align: middle;text-align: center;">
                  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="rd"  name="check" ng-click="checkedAllList(tasksList,all)" ng-model="all" class="flashadmin">
                      <label class="cstmchk_lbladmin" for="rd"></label> 
                    </div>
                </th> -->
                <th ng-show="activeColumn('Task Id')" style="vertical-align: middle;width: 90px;">Task Id <i ng-click="SortingTasksList('TaskId',searchterm)"  class="fa fa-sort" aria-hidden="true"></i></th>
                <th ng-show="activeColumn('Task Name')" style="vertical-align: middle;">Task Name <i ng-click="SortingTasksList('TaskName',searchterm)" class="fa fa-sort" aria-hidden="true"></i></th>
                <th ng-show="activeColumn('Created On')" style="vertical-align: middle;width: 170px;">Created On <i ng-click="SortingTasksList('TaskCreatedDate',searchterm)" class="fa fa-sort" aria-hidden="true"></i></th>
                <th ng-show="activeColumn('SLA')" style="vertical-align: middle;width: 180px;text-align: center;">SLA
                <div class="set-sla" style="text-align: left;">
              			<p>Days :</p>
              			<p> Hours :</p>
			            <p> Minutes</p>
			    </div> </th>
                <th  ng-show="activeColumn('Dependencies')" style="vertical-align: middle;">Dependencies</th>
                <th  ng-show="activeColumn('Assign Task')" style="vertical-align: middle;">Assign Task</th>
                <th  ng-show="activeColumn('Escalate To')" style="vertical-align: middle;">Escalate To <!-- <i ng-click="SortingTasksList('TaskCreatedDate',searchterm)" class="fa fa-sort" aria-hidden="true"></i> --></th>
                
                   </tr>
		                    </thead>
		                    <tbody>
		                    <tr ng-repeat="task in tasksList">
				                <!-- <td style="text-align: center;">
				                  <div class="chckbx-cntnr zeromargin">
				                      <input type="checkbox" id="{{task.id}}"  name="check" ng-click="addCheckedTasksId(task.id)" ng-checked="all" class="flashadmin">
				                      <label class="cstmchk_lbladmin" for="{{task.id}}"></label> 
				                    </div>
				                </td> -->
				                <td ng-show="activeColumn('Task Id')" ><a ng-click="openEditTaskPage(task)">{{Wfshortname}}-T-{{task.id}}</a></td>
				                <td ng-show="activeColumn('Task Name')" >{{task.name}}</td>
				                <td ng-show="activeColumn('Created On')" >{{formatDate(task.createdDate)}}</td>
				                <!-- <td>Admin</td> -->
				                
				                <td ng-show="activeColumn('SLA')"><span ng-if="task.slaDate == undefined"><span ng-if="task.slaDays != undefined">{{task.slaDays}} D :</span><span ng-if="task.slaHours != undefined">{{task.slaHours}} H :</span><span ng-if="task.slaMinutes != undefined">{{task.slaMinutes}} M </span></span>
				                <span ng-if="task.slaDate != undefined">{{formatDate(task.slaDate)}}</span>
				                </td>
				                
				                <td ng-show="activeColumn('Dependencies')" >
				                
				                <span ng-if="task.dependentTask == undefined" >None</span> <!--ng-click="fetchTasksForDependency(task.id)"  -->
				                <span ng-if="task.dependentTask != ''" >{{task.dependentTask}}</span>
				                
				               
				                </td>
				                <td ng-show="activeColumn('Assign Task')">
				                <div class="btn-cntnr" style="margin: 0px;">
				                  <div ng-if="task.userTypeIdTask==0"> 
				                 <button  class="btn btn-default btn-bluer" ng-click="assignTask(task)" id="cancel-req-btn">Assign Task</button>
				                 </div>
				                 <!-- <div ng-if="tFlag"> -->
				                 <div ng-if="task.userTypeIdTask==1">
				                  <b style="color: green;">{{task.assignedUserName}}</b>
				                  <a  class="" style="text-decoration: underline;cursor: pointer;" ng-click="reAssignTask(task)" id="cancel-req-btn">Re-Assign</a>
				                
				                 </div>
				                 <div ng-if="task.userTypeIdTask==2">
				                  <b style="color: green;">{{task.assignedUserName}}</b>
				                  <a  class="" ng-click="reAssignTask(task)" id="cancel-req-btn">Re-Assign</a>
				                 
				                 </div>
				                 <div ng-if="task.userTypeIdTask==3">
				                  <b style="color: green;">{{task.assignedUserName}}</b>
				                 <a  class="" ng-click="reAssignTask(task)" id="cancel-req-btn">Re-Assign</a>
				                 </div>
				                 <!-- </div> -->
					             
					            </div>
					            
				                </td>
					                <!-- <td style="text-align: right;">
					                	<p style="margin: 0 0 2px;text-align:left;">Department : Office</p>
						            	<a style="cursor:pointer;text-align:  right;position:  relative;">Reassign</a>
					                </td> -->
				                <td ng-show="activeColumn('Escalate To')" style="text-align:center;">
				                 <button class="btn btn-default btn-assign" ng-click="openEsclateModel(task)" id="cancel-req-btn">Assign</button>
				               
				                </td>
				              </tr>
		                    		                      
		                    </tbody>
		                  </table>
		                  <div class="text-right">            
				            <ul class="pagination" style="margin-top: 0;">
							<li><a ng-hide="start == 0" ng-click="previous()">&laquo;</a>
							<li ng-repeat="i in navButtons" ng-class="$parent.offset == i * $parent.limit && 'active'"><a class="" ng-click="current(i)">{{i+1}}</a></li>
							<li><a ng-hide="(((start+5)*10) + 10) >= count" ng-click="next()">&raquo;</a></li>
							</ul> 
				           </div>
		                </div> 			            
		               
		              
		              
		              </div>    
          		</div>          
       </div>
      
      
      
      

        
  <div id="deletelist" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm add-brand">

    <!-- Modal content-->
    <div class="modal-content flat-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">X</button>
        <h4 class="modal-title common-title" style="margin-left: 0;">Delete Record</h4>
      </div>
      <div class="modal-body flat-body">
          <div class="clearfix"></div>
        Are you sure want to delete {{checkedTasksIds.length}} records?
      <div class="modal-footer text-left">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="show_ass" ng-click="deleteTaskFromList('Task')">Delete</button>
        <a class="btn btn-link" data-dismiss="modal" >Cancel</a>
      </div>
    </div>
   </div>
    </div>
   </div>
   <div class="modal fade" id="assignnmentTaskUser" role="dialog">
          <div class="modal-dialog modal-md add-brand">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{assignTaskLabel}}</h4>
              </div>
              <div class="modal-body"> 
                <div class="row">
                <div class="assign-main" ng-repeat="j in ticketListWithTicket">
                	<div class="col-md-4">
                	  <div class="">
	                   <!--  <input type="checkbox" id="tsk-{{j.taskId}}" ng-model="j.checkTaskStatus" name="task-{{j.id}}" type="checkbox" class="flashadmin">
	                    <label class="cstmchk_lbladmin" for="tsk-{{j.taskId}}" style="left: 0px !important;"></label>  -->
	                     <p class="task-type-modal">{{j.name}}</p>
	                  </div>
	                  
                  	</div>
                  
                  <div class="col-md-4" style="padding: 0px;">
	                <div class="form-group workflow-frm" ng-show="ownerFlag" style="width: 100%;">
	                  <!-- <label>Select Owner Type*</label> -->
	                  <select class="form-control flat-control-inner"  ng-model="usertypeid1" ng-options="owner.id as owner.name for owner in ownersList" ng-change="changeOwnersList(usertypeid1);j.userTypeId=usertypeid1;selectOwnerType(usertypeid1)">
	                    <option value="">--Select Owner Type--</option>
	                    <option> </option>             
	                  </select>
	                </div>
	                </div>
	                
                <div class="col-md-4">	
                  <div class="form-group workflow-frm" ng-show="ownerFlag" style="width: 100%;padding: 0px;">
                                  
                  <select ng-show="usertypeid1 == 2" class="form-control flat-control-inner" ng-model="groupId" ng-change="selectedGroup(groupId)" ng-options="g.id as g.name for g in groupsList">
                    <option value="">--Select Group--</option>                
                  </select>
                                                    
                  <input type="text" autocomplete="off"  ng-if="usertypeid1 == 1"  
                  class="form-control flat-control-inner" 
                  id="userdetail" 
                  ng-blur="validateUser($index)" 
                  placeholder="employee email" 
                  ng-model="userName"  
                  ng-change="fetchEmployeeDetails(userName)"   list="userDetails-{{$index}}" autocomplete="nope"  />
				  <input type="hidden" id="userId-{{$index}}" ng-value="529" ng-model="j.userid" >
				  <datalist id="userDetails-{{$index}}">
						<option ng-selected="userName" data-ng-repeat="u in EmployeeNumberList"  value="{{u.detail}}  {{u.roleName}}"   ng-click="" data-id="{{u.id}}" > 
				  </datalist>
				  				  
				  <select ng-if="usertypeid1 == 3"  class="form-control flat-control-inner" ng-model="j.departmentId" ng-options="c.id as c.name for c in categoryList">
                    <option value="">--Select Department--</option>                
                  </select>
                  </div>
                  </div>
                  <div class="clearfix"></div>
                  
                  </div>
                </div>

                <div class="btn-cntnr" style="margin: 0px 0 10px;text-align: right;">
              		<button ng-if="reassignTask==1" class="btn btn-default btn-bluer" id="cancel-req-btn" ng-click="assignTaskUserGroupDepartment(false,usertypeid1)">Save</button>
              		<button ng-if="reassignTask==2" class="btn btn-default btn-bluer" id="cancel-req-btn" ng-click="assignTaskUserGroupDepartment(true,usertypeid1)">Re-Assign</button>
              		<a data-dismiss="modal">Cancel</a>
            	</div>
              </div>
            </div>  
          </div>  
        </div> 
   
   
   
   
   <div class="modal fade" id="assignnment-details" role="dialog">
          <div class="modal-dialog modal-md add-brand">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Task Escalate</h4>
              </div>
              <div class="modal-body"> 
                <div class="row">
                <div class="assign-main" ng-repeat="j in ticketListWithTicket">
                	<div class="col-md-3">
                	  <div class="chckbx-cntnr zeromargin" style="margin-top: 10px !important;">
	                    <!-- <input type="checkbox" id="tsk-{{j.taskId}}" ng-model="j.checkTaskStatus" name="task-{{j.id}}" type="checkbox" class="flashadmin">
	                    <label class="cstmchk_lbladmin" for="tsk-{{j.taskId}}" style="left: 0px !important;"></label>  -->
	                     &nbsp;&nbsp;&nbsp;<p class="task-type-modal">{{j.name}}</p>
	                  </div>
	                  
                  	</div>
                  
                  <div class="col-md-4" style="padding: 0px;">
	                <div class="form-group workflow-frm" ng-show="ownerFlag" style="width: 100%;">
	                  <!-- <label>Select Owner Type*</label> -->
	                  <select class="form-control flat-control-inner"  ng-model="usertypeid1" ng-options="owner.id as owner.name for owner in ownersList" ng-change="changeOwnersList(usertypeid1);j.userTypeId=usertypeid1">
	                    <option value="">--Select Owner Type--</option>
	                    <option> </option>             
	                  </select>
	                </div>
	                </div>
	                
                <div class="col-md-5">	
                  <div class="form-group workflow-frm" ng-show="ownerFlag" style="width: 100%;padding: 0px;">
                
                  <!-- <label ng-if="j.userTypeId != 0 && j.userTypeId != undefined">Select Owner*</label> -->
                  
                  <select ng-if="usertypeid1 == 2"    class="form-control flat-control-inner" ng-model="groupId1" ng-change="j.userid=groupId1" ng-options="g.id as g.name for g in groupsList">
                    <option value="0">--Select Group--</option>                
                  </select>
                                                    
                  <input autocomplete="off" ng-if="usertypeid1 == 1"  
                  class="form-control flat-control-inner" 
                  id="userdetail" 
                  ng-blur="validateUser($index)" 
                  placeholder="employee email" 
                  ng-model="userName"
                  ng-change="fetchEmployeeDetails(userName)" list="userDetails-{{$index}}"/>
				  <input type="hidden" id="userId-{{$index}}" ng-value="529" ng-model="j.userid">
				  <datalist id="userDetails-{{$index}}">
						<option data-ng-repeat="u in EmployeeNumberList" value="{{u.detail}}"   ng-click="" data-id="{{u.id}}" > 
				  </datalist>
				  				  
				  <select ng-if="usertypeid1 == 3"  class="form-control flat-control-inner" ng-model="departmentId1" ng-change="j.userid=departmentId1" ng-options="c.id as c.name for c in categoryList">
                    <option value="">--Select Department--</option>                
                  </select>
                  </div>
                  </div>
                  <div class="clearfix"></div>
                  
                  </div>
                </div>

                <!-- <div class="btn-cntnr" style="margin-left: 60%">
                  <button class="btn btn-default btn-bluer" id="cancel-req-btn" ng-click="assignTaskUserGroupDepartment()">Save</button>
                  <button class="btn" data-dismiss="modal">Cancel</button>
                </div> -->
                <div class="btn-cntnr" style="margin: 0px 0 10px;text-align: right;">
              		<button class="btn btn-default btn-bluer" id="cancel-req-btn" ng-click="saveEscalate()">Save</button>
              		<a data-dismiss="modal">Cancel</a>
            	</div>

              </div>
            </div>  
          </div>  
        </div> 
   
   
   <div class="modal fade" id="depedencies" role="dialog">
          <div class="modal-dialog modal-sm add-brand">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">X</button>
                <h4 class="modal-title">Dependencies</h4>
              </div>
              <div class="modal-body">
                <div class="prefill col-md-12" style="display: block;width: 100%;padding: 0 6px;">
                  <div class="chckbx-cntnr zero-margin" ng-repeat="task in otherTasksList">
                      <input type="checkbox" id="task{{task.id}}" ng-click="addDependentTasksId(task.id)" name="check" class="flashadmin">
                      <label class="cstmchk_lbladmin" for="task{{task.id}}">
                      <p class="vali-sub-head" style="margin-left: 10px;min-width: 229px;">{{task.name}}</p>
                    </label> 
                  </div>
                  <!-- <div class="chckbx-cntnr zero-margin">
                      <input type="checkbox" id="1" name="check" class="flash">
                      <label class="cstmchk_lbl" for="1">
                      <p class="vali-sub-head" style="margin-left: 10px;">Task 2</p>
                    </label> 
                  </div>
                  <div class="chckbx-cntnr zero-margin">
                      <input type="checkbox" id="1" name="check" class="flash">
                      <label class="cstmchk_lbl" for="1">
                      <p class="vali-sub-head" style="margin-left: 10px;">Task 3</p>
                    </label> 
                  </div> -->
                </div>
                <div class="btn-cntnr" style="margin: 0px 0 10px;">
              <button class="btn btn-default btn-bluer" id="cancel-req-btn" ng-click="saveTaskDependency()">Save</button>
              <a data-dismiss="modal">Cancel</a>
            </div>
              </div>

              
              
            </div>
            
          </div>
      </div>
    
 
 </section>
 
 <script type="text/javascript">
       
       
        $("#id_of_textbox").keyup(function(event) {
            if (event.keyCode === 13) {
                $("#id_of_button").click();
            }
        });
        
    </script>