 <link rel="stylesheet" href="resources/css/workflowdashboard.css">
 
<section id="">
   <div id="todo" class="admin-page">
     <div class="section-heading">
        <h4>My Workflows</h4>
      </div>
	<div class="section-content clearfix" id="Workflow-details">
        <div class="upper-actions">
          
          <div class="col-md-3" ng-repeat="c in ticketStatusCount">
            <div style="cursor: pointer;" class="tile tile-new" id="sec-tile">
              <div class="colored-count inner-count">
	              <div ng-click="goToGraph(c.workflow,$index)" class="counts" style="display:inline-flex;">
	                <!--<p class="count-1 assigned">{{c.ticketAssignedCount}}</p>
	                <p class="count-1 not-assigned">{{c.ticketNotAssignedCount}}</p>
	                <p class="count-1 closed-tick">{{c.ticketClosedCount}}</p>
	                <p class="count-1 inprogress">{{c.ticketOverDueCount}}</p>-->
	                
	               <p class="count-1" ng-style="{'background-color':statusColor[1].statusColorCode}" >{{c.ticketAssignedCount}}</p>
                <p class="count-1" ng-style="{'background-color':statusColor[0].statusColorCode}">{{c.ticketNotAssignedCount}}</p>
                <p class="count-1"  ng-style="{'background-color':statusColor[3].statusColorCode}">{{c.ticketClosedCount}}</p>
                 <p class="count-1"  ng-style="{'background-color':statusColor[4].statusColorCode}">{{c.ticketOverDueCount}}</p>
	              </div>
              </div>
                <h4 class="workflow-na"><a ng-click="getTicketListByWorkflowId(c.workflow)" style="cursor: pointer;">{{c.workflow.name}}</a></h4>
            </div>
          </div> 
           
        </div>  
      </div> 

</div>

</section>