<link rel="stylesheet" href="resources/css/newwidget.css">
<div id="ownerdashboard" class="tab-pane fade in active admin-page">
	<div class="section-heading"
		style="display: inline-block; width: 100%;">
		<div class="col-md-3">
			<h4 style="">Admin Dashboard</h4>
		</div>
		
		<div class="col-md-9 text-right	"> 
			<div class="row">
		<!-- 	<button ng-click="checkadmindashboardcount()" type="button" class="btn btn-info">Check Schedular</button> -->
				<div class="das-50">
					<label>Select Time Period:</label>
					<div class="form-group mar-bottom-zero"
						style="display: inline-block; position: relative; width: 200px;">
						<select class="form-control flat-control-inner"
							ng-model="pastMonthId"
							ng-options="p.id as p.pastMonth for p in pastMonthsList"
							ng-change="fetchFilteredData(brandId,pastMonthId,betweenYears)"
							style="margin-bottom: 0px !important;">
							<option data-ng-value="0">This month</option>
							<option data-ng-repeat="p in pastMonthsList" value="{{p.id}}"
								ng-selected="p.id==pastMonthId">{{p.pastMonth}}</option>
							<option data-ng-value="0">This month</option>
							<option data-ng-value="1">Past month</option>
							<option data-ng-value="2">Past 6 months</option>
							<option data-ng-value="3">12 months ended Nov yyyy</option>
						</select>
					</div>
				</div>

				<div ng-if="pastMonthId == 3" class="das-50">
					<div class="das-50">
						<label>Select Time Period:</label> <select
							class="form-control flat-control-inner" ng-model="betweenYears"
							ng-options="y.year for y in yearsList"
							ng-change="fetchFilteredData(brandId,pastMonthId,betweenYears)"
							style="margin-bottom: 0px !important; display: inline-block;">
							<option value="">-- Select Year --</option>
						</select>
					</div>


				</div>

			</div>
		</div>
	</div>

	<div class="col-md-12" style="padding: 0; margin-top: -15px;">
		<div class="sectionwisedashboard">
			<p>Candidate</p>
		</div>
	</div>

	<div class="">
		<div class="col-md-3">
			<div id="f1_container" class="f1_container">
				<div id="f1_card" class="shadow f1_card">
					<div class="front face">
						<div style="cursor: pointer;" class="tile" id="">
							<div class="colored-count" style="background-color: #5db85b;">
								<i class="fa fa-pencil-square-o"></i>
								<h2>{{registrationAndAppliedCount.userRegistrationCount}}</h2>
								<a ui-sref="restricted.admin.appliedjobs" class="coloured-name">Registered
									users</a>
							</div>
							<h4 class="coloured_count_foot">
								<a ui-sref="restricted.admin.appliedjobs"
									class="countred_count_link">View Details</a> <i
									class="fa fa-arrow-circle-o-right"></i>
							</h4>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div id="f1_container" class="f1_container">
				<div id="f1_card" class="shadow f1_card">
					<div class="front face">
						<div style="cursor: pointer;" class="tile">
							<div class="colored-count" style="background-color: #e77e23;">
								<!-- <i class="fa fa-wpforms"></i> -->
								<img src="resources/img/meeting.png"
									class="img-responsive workflow-icon">
								<h2>{{registrationAndAppliedCount.userAppliedCount}}</h2>
								<a ui-sref="restricted.admin.appliedjobs" class="coloured-name">Applications</a>
							</div>
							<h4 class="coloured_count_foot">
								<a ui-sref="restricted.admin.appliedjobs"
									class="countred_count_link">View Details</a> <i
									class="fa fa-arrow-circle-o-right"></i>
							</h4>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div id="f1_container" class="f1_container">
				<div id="f1_card" class="shadow f1_card">
					<div class="front face">
						<div style="cursor: pointer;" class="tile">
							<div class="colored-count" style="background-color: #ed4640;">
								<!-- <i class="fa fa-wpforms"></i> -->
								<img src="resources/img/openpositions.png"
									class="img-responsive workflow-icon">
								<h2>{{registrationAndAppliedCount.totalRequisitionCount -
									registrationAndAppliedCount.totalClosedRequisitionCount}}</h2>
								<a ui-sref="restricted.admin.appliedjobs" class="coloured-name">Open
									Positions</a>
							</div>
							<h4 class="coloured_count_foot">
								<a ui-sref="restricted.admin.appliedjobs"
									class="countred_count_link">View Details</a> <i
									class="fa fa-arrow-circle-o-right"></i>
							</h4>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="col-md-3">
			<div id="f1_container" class="f1_container">
				<div id="f1_card" class="shadow f1_card">
					<div class="front face">
						<div style="cursor: pointer;" class="tile">
							<div class="colored-count" style="background-color: #03c39e;">
								<!-- <i class="fa fa-wpforms"></i> -->
								<img src="resources/img/visitor.png"
									class="img-responsive workflow-icon">
								<h2>{{registrationAndAppliedCount.uniqueVisitorsCount}}</h2>
								<a ui-sref="restricted.admin.appliedjobs" class="coloured-name">Unique
									Visitors</a>
							</div>
							<h4 class="coloured_count_foot">
								<a ui-sref="restricted.admin.appliedjobs"
									class="countred_count_link">View Details</a> <i
									class="fa fa-arrow-circle-o-right"></i>
							</h4>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="clearfix"></div>
		<div class="col-md-3">
			<div id="f1_container" class="f1_container">
				<div id="f1_card" class="shadow f1_card">
					<div class="front face">
						<div style="cursor: pointer;" class="tile">
							<div class="colored-count coloured-count1"
								style="background-color: #915bb9; padding: 3px 0;">
								<div class="coloured_count_header"
									style="border-bottom: 1px solid #fff; display: inline-block; width: 100%; padding: 4px 0px;">
									<!-- <i class="fa fa-wpforms"></i> -->
									<img src="resources/img/SLA.png"
										class="img-responsive workflow-icon"> <a
										ui-sref="restricted.admin.appliedjobs" class="coloured-name">SLA
										Met</a>
									<h2>{{registrationAndAppliedCount.slaMet}}%</h2>
								</div>
								<div class="coloured_count_body">
									<div class="first_count_list">
										<span class="body_separate_count">Requisitions closed
											before expected closure date : </span> <span class="separate_count">
											{{registrationAndAppliedCount.totalClosedRequisitionCount}}</span>
									</div>
									<div class="clearfix"></div>
									<span class="body_separate_count">Requisitions received
										: </span> <span class="separate_count">
										{{registrationAndAppliedCount.totalRequisitionCount}}</span>
								</div>
							</div>
							<h4 class="coloured_count_foot">
								<a ui-sref="restricted.admin.appliedjobs" class="countred_count_link">View Details</a> <i
									class="fa fa-arrow-circle-o-right"></i>
							</h4>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div id="f1_container" class="f1_container">
				<div id="f1_card" class="shadow f1_card">
					<div class="front face">
						<div style="cursor: pointer;" class="tile">
							<div class="colored-count coloured-count1"
								style="background-color: #2e7cc6; padding: 3px 0;">
								<div class="coloured_count_header new_count_header">
									<!-- <i class="fa fa-wpforms"></i> -->
									<img src="resources/img/success.png"
										class="img-responsive workflow-icon"> <a
										ui-sref="restricted.admin.appliedjobs" class="coloured-name">Success
										Rate</a>
									<h2>{{registrationAndAppliedCount.successRate}}%</h2>
								</div>
								<div class="coloured_count_body">
									<div class="first_count_list">
										<span class="body_separate_count">Selected Candidates :
										</span> <span class="separate_count">{{registrationAndAppliedCount.interviewSelectedCount}}</span>
									</div>
									<div class="clearfix"></div>
									<span class="body_separate_count">Interviewed Candidates
										: </span> <span class="separate_count">{{registrationAndAppliedCount.interviewCount}}</span>
								</div>
							</div>
							<h4 class="coloured_count_foot">
								<a ui-sref="restricted.admin.appliedjobs" class="countred_count_link">View Details</a> <i
									class="fa fa-arrow-circle-o-right"></i>
							</h4>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div id="f1_container" class="f1_container">
				<div id="f1_card" class="shadow f1_card">
					<div class="front face">
						<div style="cursor: pointer;" class="tile">
							<div class="colored-count coloured-count1"
								style="background-color: #f45588; padding: 3px 0;">
								<div class="coloured_count_header new_count_header">
									<!-- <i class="fa fa-wpforms"></i> -->
									<img src="resources/img/complilist.png"
										class="img-responsive workflow-icon"> <a
										ui-sref="restricted.admin.appliedjobs" class="coloured-name">Compliance</a>
									<h2>{{registrationAndAppliedCount.compliances}}%</h2>
								</div>
								<div class="coloured_count_body">
									<div class="first_count_list">
										<span class="body_separate_count">Compliance Achieved :
										</span> <span class="separate_count">{{registrationAndAppliedCount.achievedCompliancesCount}}</span>
									</div>
									<div class="clearfix"></div>
									<span class="body_separate_count">Expected Compliance
										Readiness : </span> <span class="separate_count">{{registrationAndAppliedCount.readinessCompliancesCount}}</span>
								</div>
							</div>
							<h4 class="coloured_count_foot">
								<a ui-sref="restricted.admin.appliedjobs" class="countred_count_link">View Details</a> <i
									class="fa fa-arrow-circle-o-right"></i>
							</h4>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="claerfix"></div>

		<div class="col-md-6" style="padding: 0;">
			<div class="sectionwisedashboard">
				<p>Employee</p>
			</div>
		</div>
		<div class="col-md-6" style="padding: 0;">
			<div class="sectionwisedashboard">
				<p>Workflow</p>
			</div>
		</div>

		<div class="col-md-3">
			<div id="f1_container" class="f1_container">
				<div id="f1_card" class="shadow f1_card">
					<div class="front face">
						<div ui-sref="restricted.admin.appliedjobs"
							style="cursor: pointer;" class="tile">
							<div class="colored-count coloured-count1"
								style="background-color: #959b53; padding: 3px 0;">
								<div class="coloured_count_header new_count_header">
									<!-- <i class="fa fa-wpforms"></i> -->
									<img src="resources/img/calls.png"
										class="img-responsive workflow-icon"> <a
										ui-sref="restricted.admin.appliedjobs" class="coloured-name">Abandoned
										Calls</a>
									<h2>{{registrationAndAppliedCount.abandonedCalls}}%</h2>
								</div>
								<div class="coloured_count_body">
									<div class="first_count_list">
										<span class="body_separate_count">Calls missed: </span> <span
											class="separate_count">
											{{registrationAndAppliedCount.missedCallsCount}}</span>
									</div>
									<div class="clearfix"></div>
									<span class="body_separate_count">Emergency Calls
										received: </span> <span class="separate_count">
										{{registrationAndAppliedCount.receivedCalllsCount}}</span>
								</div>
							</div>
							<h4 class="coloured_count_foot">
								<a ui-sref="restricted.admin.appliedjobs"
									class="countred_count_link">View Details</a> <i
									class="fa fa-arrow-circle-o-right"></i>
							</h4>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div id="f1_container" class="f1_container">
				<div id="f1_card" class="shadow f1_card">
					<div class="front face">
						<div ui-sref="restricted.admin.appliedjobs"
							style="cursor: pointer;" class="tile">
							<div class="colored-count coloured-count1"
								style="background-color: #e1a461; padding: 3px 0;">
								<div class="coloured_count_header new_count_header">
									<!-- <i class="fa fa-wpforms"></i> -->
									<img src="resources/img/videoaudio.png"
										class="img-responsive workflow-icon" style="width: 14%;">
									<a ui-sref="restricted.admin.appliedjobs" class="coloured-name">Audio/Video
										Calls</a>
									<h2></h2>
								</div>
								<div class="coloured_count_body">
									<div class="first_count_list">
										<span class="body_separate_count">Video Calls : </span> <span
											class="separate_count">
											{{registrationAndAppliedCount.videoCalllsCount}}</span>
									</div>
									<div class="clearfix"></div>
									<span class="body_separate_count">Audio Calls : </span> <span
										class="separate_count">
										{{registrationAndAppliedCount.audioCalllsCount}}</span>
								</div>
							</div>
							<h4 class="coloured_count_foot">
								<a ui-sref="restricted.admin.appliedjobs"
									class="countred_count_link">View Details</a> <i
									class="fa fa-arrow-circle-o-right"></i>
							</h4>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div id="f2_container" class="f2_container">
				<div id="f2_card" class="shadow f2_card">
					<div class="front face">
						<div style="cursor: pointer;" class="tile" id="">
							<div class="colored-count1" ng-click="myTasksList()"
								style="background-color: #00aeef;">
								<i class="fa fa-pencil-square-o"></i>
								<h2>{{myTaskCount}}</h2>
							</div>
							<h4>
								<a ng-click="myTasksList()" style="color: #000;"
									class="countred_count_link">My Tasks</a>
							</h4>
						</div>
					</div>
					<div class="back face">
						<div style="cursor: pointer;" class="tile" id="">
							<div class="colored-count back-count">
								<ul class="workflow-status">
									<li><p style="float: left;">Task Not Assigned</p>
										<div class="round not-assigned"
											ng-style="{'background-color':taskstatusColor[1].statusColorCode}">{{myTaskStatusCount.taskNotAssignedCount}}</div></li>
									<li><p style="float: left;">Task Assigned</p>
										<div class="round closed-tick"
											ng-style="{'background-color':taskstatusColor[2].statusColorCode}">{{myTaskStatusCount.taskAssignedCount}}</div></li>
									<li><p style="float: left;">Task closed</p>
										<div class="round inprogress"
											ng-style="{'background-color':taskstatusColor[3].statusColorCode}">{{myTaskStatusCount.taskCompletedCount}}</div></li>
									<li><p style="float: left;">Task Overdue</p>
										<div class="round overdue"
											ng-style="{'background-color':taskstatusColor[4].statusColorCode}">{{myTaskStatusCount.taskOverDueCount}}</div></li>
									<li><p style="float: left;">Task In Progress</p>
										<div class="round taskinprogress"
											ng-style="{'background-color':taskstatusColor[5].statusColorCode}">{{myTaskStatusCount.taskInProgressCount}}</div></li>
									<li><p style="float: left;">Task Pre-Closure</p>
										<div class="round preclosure"
											ng-style="{'background-color':taskstatusColor[6].statusColorCode}">{{myTaskStatusCount.taskPreClosureCount}}</div></li>				
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div id="f2_container" class="f2_container">
				<div id="f2_card" class="shadow f2_card">
					<div class="front face">
						<div style="cursor: pointer;" class="tile">
							<div class="colored-count1 blue" ng-click="openWorkflowWidgets()">
								<i class="fa fa-sitemap"></i>
								<!-- <img src="resources/img/workflow-icon-white.png" class="img-responsive workflow-icon1"> -->
								<h2>{{myWorkflowCount}}</h2>
							</div>
							<h4>
								<a ui-sref="restricted.admin.ownerworkflow"
									class="countred_count_link">My Workflows</a>
							</h4>
						</div>
					</div>
					<div class="back face">
						<div style="cursor: pointer;" class="tile">
							<div class="colored-count back-count">
								<ul class="workflow-status">
									<li><p style="float: left;">Tickets Not Assigned</p>
										<div class="round not-assigned"
											ng-style="{'background-color':statusColor[1].statusColorCode}">{{myTicketStatusCount.ticketNotAssignedCount}}</div></li>
									<li><p style="float: left;">Tickets Assigned</p>
										<div class="round closed-tick"
											ng-style="{'background-color':statusColor[2].statusColorCode}">{{myTicketStatusCount.ticketAssignedCount}}</div></li>
									<li><p style="float: left;">Tickets Closed</p>
										<div class="round inprogress"
											ng-style="{'background-color':statusColor[3].statusColorCode}">{{myTicketStatusCount.ticketClosedCount}}</div></li>
									<li><p style="float: left;">Tickets Overdue</p>
										<div class="round overdue"
											ng-style="{'background-color':statusColor[4].statusColorCode}">{{myTicketStatusCount.ticketOverDueCount}}</div></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<!-- <div class="clearfix"></div>
          <div class="col-md-3">
			<div class="form-group">
				<label>Select Brand:</label> 
					<select class="form-control flat-control-inner" ng-model="brandId" ng-options="b.id as b.brandName for b in brandsList" ng-change="fetchFilteredData(brandId,pastMonthId,betweenYears)">
						<option value="">--Select Brand--</option>					
					</select> 
			</div>
          </div> -->


		<!-- <div class="clearfix"></div>
          <div class="col-md-3">
            <div id="f1_container" class="f1_container">
                <div id="f1_card" class="shadow f1_card">
                 <div class="front face">
                    <div ui-sref="restricted.admin.customerrequisition" style="cursor: pointer;" class="tile" >
						<div class="colored-count" style="background-color:#9b59b6;">
							<i class="fa fa-wpforms"></i>
							<img src="resources/img/requistion.png" class="img-responsive workflow-icon">
							<h2>{{registrationAndAppliedCount.totalRequisitionCount}}/{{registrationAndAppliedCount.totalClosedRequisitionCount}}</h2>
						</div>
					<h4 class="tile1">
						<a>SLA Met</a>
					</h4>									
			        </div>
                  </div> 
                </div>
            </div>
          </div> -->

		<!-- <div class="col-md-3">
            <div id="f1_container" class="f1_container">
                <div id="f1_card" class="shadow f1_card">
                 <div class="front face">
                    <div ui-sref="restricted.admin.customerrequisition" style="cursor: pointer;" class="tile" >
						<div class="colored-count" style="background-color: #f45588;">
							<i class="fa fa-wpforms"></i>
							<img src="resources/img/open-position.png" class="img-responsive workflow-icon">
							<h2>{{registrationAndAppliedCount.totalRequisitionCount - registrationAndAppliedCount.totalClosedRequisitionCount}}</h2>
						</div> 
					<h4 class="tile1">
						<a ui-sref="restricted.admin.customerrequisition">Open positions</a>
					</h4>									
			        </div>
                  </div> 
                </div>
            </div>
          </div> -->

	</div>
</div>




<!-- <script type="text/javascript">
   
 		$(function () {
              $('.dateonly').datetimepicker({
                   format: 'YYYY',
                   viewMode: "years",
                   useCurrent: false
              });
       });

  </script>
 -->
