

<div ng-controller="AssessmentHistory_Ctrl"> 

 <div id="assessment-history" class="tab-pane fade in admin-page">
      <div class="section-heading">
        <h4>Assessment History</h4>
        <!--<p>Create and post new job or choose one from already posted jobs.</p>-->
      </div>
      <div class="section-content" id="post-list">
        <div class="upper-actions">
        <div class="search-cntnr">
            <div class="form-group search-box inline-blck">
             <input type="text" name="" id="id_of_textbox" class="form-control flat-control-search mar-bottom-zero" ng-model="searchterm">
            
             <!--  <i class="icon-search"></i> -->
              <i class="icon-search" id="id_of_button" ng-click="fetchAssessmentHistoryList(0,10,null,null,searchterm);getAssessmentHistoryListCount(searchterm)"></i>
            </div>
          </div>
         
          <div class="clearfix"></div>
        </div>
        <div class="table-cntnr">

          <table class="table table-striped red-table">
           <caption>Assessment</caption>
            <thead>
               <tr >
                <th>
                  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="rd" name="check" class="flash">
                      <label class="cstmchk_lbl" for="rd"></label> 
                    </div>
                </th>
                <th>User Name </th>
                <th>Brand Name</th>
                 <th>department</th>
                <th>position Name </th>
                <th>Assessment Name </th>
                <th>Date </th>
                <th>Assessed By</th>
                <th>Score</th>
               </tr>
            </thead>
            <tbody>
              <tr ng-repeat="as in assessmentHistoryList">
                <td>
                  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id={{as}} name="check" class="flashadmin">
                      <label class="cstmchk_lbl" for={{as}}></label> 
                    </div>
                </td>
                  <td>{{as.user.userName}}</td> 
                   <td>{{as.brand.brandName}}</td>
                    <td>{{as.category.name}}</td>
                      <td>{{as.position.name}}</td>  
                  <td>{{as.assessmentName}}</td> 
                   <!-- <td>{{as.day}} </td> -->
                    <td>{{formatDate(as.day)}}</td>
                     <td>{{as.assessbyName}}</td> 
                     <td>{{as.score}}</td> 
              
               <!--  <td>Sachin Shinde</td>
                <td>Manager</td> 
                <td>Medical Test</td>
                <td>10/06/2015</td>
                <td>Anuradha Shrivastav</td>
                <td>8</td> -->
              </tr>
             <!--  <tr>
                <td>
                  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="1" name="check" class="flash">
                      <label class="cstmchk_lbl" for="1"></label> 
                    </div>
                </td>
                
                <td>Suraj Pujari</td>
                <td>Assistant Manager</td>
                <td>Personal Interview</td>
                <td>10/06/2015</td>
                <td>Arun Shrivastav</td>
                <td>6</td>
              </tr> -->
            </tbody>
          </table>
          
          
            <div class="text-right">           
            <ul class="pagination" style="margin-top: 0;">
			<li><a ng-hide="start == 0" ng-click="previous()">&laquo;</a>
			<li ng-repeat="i in navButtons" ng-class="$parent.offset == i * $parent.limit && 'active'"><a class="" ng-click="current(i)">{{i+1}}</a></li>
			<li><a ng-hide="(((start+5)*10) + 10) >= count" ng-click="next()">&raquo;</a></li>
			</ul>
          </div>
          
        </div>


      <!--   <div class="text-right">
            <div class="bs-example">
              <ul class="pagination">
                  <li><a href="#">&laquo;</a></li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">&raquo;</a></li>
              </ul>
            </div>
        </div>
      </div> -->
    </div>
    </div>
    
       <script type="text/javascript">
       
       
        $("#id_of_textbox").keyup(function(event) {
            if (event.keyCode === 13) {
                $("#id_of_button").click();
            }
        });
        
    </script>
    