<div class="tab-pane fade in admin-page">
     
    <div class="section-heading">
     <h4>Assessment Master</h4>
    </div>
<div class="section-content" >
	<form>
          <div class="table-cntnr" style="min-height: 100px;display: inline-block; width:100%;">
           <!-- <div class="alert alert-danger" style="width: 50%;margin: 8px auto;">
			  <p style="text-align: center;"><strong>Alert!</strong> No question found for selected parameters.</p>
		  </div> -->
              <table  class="table red-table quet-tab">
              <thead>
                <tr>
                  <th>
                  Sequence
                  <!--  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="rd" name="check" class="flashadmin" ng-click="checkedAllList(questionList,all)" ng-model="all">
                      <label class="cstmchk_lbladmin" for="rd"></label> 
                    </div> -->
                  </th>
                  <th>Questions <i ng-click="sortingQuestionlist('questions',searchterm)" class="fa fa-sort" aria-hidden="true" ></i></th>
                  <th>Question Type <i  ng-click="sortingQuestionlist('questionType',searchterm)" class="fa fa-sort" aria-hidden="true"></i></th>
                  <th>Difficulty Level <i ng-click="sortingQuestionlist('difficultyLevel',searchterm)" class="fa fa-sort" aria-hidden="true" ></i></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                 
				<tr ng-repeat="fq in QuestionList" ng-init="outerIndex = $index">
                  <td>
                  <!-- <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="check{{q.id}}" name="check" class="flashadmin"  ng-model="Cvalue" ng-click="getCheckedQuestions(q,Cvalue)" ng-checked="checkquestionId(q.id);">
                      <label class="cstmchk_lbladmin" for="check{{q.id}}"></label> 
                    </div> -->
                    <div class="form-group">
	              		<select class="form-control flat-control-search mar-bottom-zero ng-pristine ng-valid ng-empty ng-touched" id="openinterview" 
	              		ng-change="changeSequence(fq.sequence,$index)" ng-model="fq.sequence">	              		
	              		<option ng-value="0">select</option>
	              		<option ng-repeat="s in sequenceList" ng-value="{{s.sequence}}" >{{s.sequence}}</option>
              		</select>
              		</div>
                  </td>
               
                    <td><p class="que-big" data-toggle="tooltip" data-placement="top" title="{{q.questionText}}">{{fq.questionText}}  <i style="font-size: 16px;" class="fa fa-toggle-right" ng-if="q.isvideoEnabled"></i><i class="fa fa-microphone" ng-if="q.isVoiceEnabled"></i></p><label ng-if="q.questionMediaType == 1"><i style="cursor: pointer;" class="fa fa-file-image-o que-file" ng-click="openmodal(q)"></i></label>
						                   <label ng-if="q.questionMediaType == 2"><i style="cursor: pointer;" class="fa fa-file-audio-o que-file" ng-click="openmodal(q)"></i></label>
						                   <label ng-if="q.questionMediaType == 3"><i style="cursor: pointer;" class="fa fa-video-camera que-file" ng-click="openmodal(q)"></i></label>
                    <ul class="single-ans">
                    
                      <!-- <li data-ng-repeat="a in q.ans" ng-if="q.questionType==2">
                      	<div class="radio-cntnr new-chc" style="margin-top: -10px;position: absolute;">
                      	<input type="radio" name="radio-group" data-ng-value="true" data-ng-model="a.isCorrect" id="option{{$index}}" disabled>
                  			<label for="{{$index}}"></label>
                  		</div>
                  		<label class="answers-single" data-toggle="tooltip" data-placement="top" title="{{a.answerText}}" style="display: block;position: relative;margin-left: 25px;font-weight: 500!important;">{{a.answerText}}</label>
                  	</li>
                  	 -->
                  	<li data-ng-repeat="a in q.ans" class="big-ques-ans" ng-init="innerIndex = $index">
                      	<div class="radio-cntnr new-chc" style="margin-top: -10px;position: absolute;">
                      	<input type="radio" name="option_{{outerIndex}}_{{innerIndex}}" data-ng-value="true" data-ng-model="a.isCorrect" id="option_{{outerIndex}}_{{innerIndex}}" disabled>
                  			 
                  			<label for="option_{{outerIndex}}_{{innerIndex}}"></label>
                  		</div>
                  		<label class="answers-single" data-toggle="tooltip" data-placement="top" title="{{a.answerText}}" style="display: block;position: relative;margin-left: 25px;font-weight: 500!important;">{{a.answerText}}</label>
                  	  </li>
                  	
                  	
                  	<li ng-repeat="a in q.ans" class="big-ques-ans" ng-if="q.questionType==3">
	                          <div class="chckbx-cntnr" style="float: left;margin-right: 18px;position: absolute;">
		                      <input type="checkbox" id="checkoption{{$index}}" name="check" ng-model="a.isCorrect" class="flashadmin ng-pristine ng-untouched ng-valid" disabled>
		                      <label class="cstmchk_lbladmin" for="checkoption{{$index}}"></label> 
	                       	  </div>                       
                           <label class="cstmchk_lbl answers-single " for="checkoption{{$index}}" style="display: block;position: relative;margin-left: 25px;font-weight:500!important;">{{a.answerText}}</label> 
                    </li>
                    </ul>
                    </td>
                    <td>{{fq.questionTypeName}}</td>
                    <td>{{fq.level}}</td>
                  <td><button class="btn btn-default btn-delete ng-scope" ng-click="showDeleteModal(fq)"><i class="icon-trash-2"></i></button></td>                
                    
                  </tr>
				

                  
              </tbody>
          </table>
          <div id="deletelist" class="modal fade" role="dialog">
	  		<div class="modal-dialog modal-sm add-brand">
	    		<div class="modal-content flat-modal">
	      			<div class="modal-header">
	       			 <button type="button" class="close" data-dismiss="modal">X</button>
	       			 <h4 class="modal-title common-title" style="margin-left: 0;">Delete Record</h4>
	      			</div>
	      		<div class="modal-body flat-body">
	          	<div class="clearfix"></div>
	       			 Are you sure you want to delete record?
	     		 <div class="modal-footer text-left">
	       		 <button type="button" class="btn btn-default"  id="show_ass" ng-click="deleteQuestionFromSurveyList()" data-dismiss="modal">Delete</button>
	       		 <a class="btn btn-link" data-dismiss="modal" >Cancel</a>
	      		</div>
	    	</div>
	   		</div>
	    	</div>
	    	</div>
          
          <div class="btn-cntnr" style="padding-top: 10px;">
                 <button class="btn btn-default btn-bluer" id="cancel-req-btn" ng-click="saveQuestionList()">Save</button>
                 <!-- ngIf: fieldId == 0 -->
                 <!-- ngIf: fieldId == undefined -->
                 <a href="" ng-click="cancelAssessmentseq()">Cancel</a><!-- end ngIf: fieldId == undefined -->
                 
            </div>

			 <!-- <div ng-if="FilterData.assessmentType == 1"  class="text-right">            
            <ul class="pagination" style="margin-top: 0;">
			<li><a ng-hide="start == 0" ng-click="previous()">&laquo;</a>
			<li ng-repeat="i in navButtons" ng-class="$parent.offset == i * $parent.limit && 'active'"><a class="" ng-click="current(i)">{{i+1}}</a></li>
			<li><a ng-hide="(((start+5)*10) + 10) >= count" ng-click="next()">&raquo;</a></li>
			</ul> 
            </div>  -->

        </div>

                  <div class="" style="margin-top: 20px; margin-bottom: 20px;">
                    <button ng-if="FilterData.assessmentType == 1 && newcreation == true" class="btn btn-default btn-bluer text-left" ng-click="saveFixedAssessment()">Save</button>
                    <button ng-if="FilterData.assessmentType == 1 && newcreation == false" class="btn btn-default btn-bluer text-left" ng-click="UpdateFixedAssessment(questionList)">Update</button>
                    
                    <a ng-if="FilterData.assessmentType == 1" href="" ng-click="cancel()">Cancel</a>
                  <!--   <button class="btn btn-default preview-btn" style="float:right;" data-toggle="modal" data-target="#preview-assessment">Preview</button> -->
                  </div>

				</form>
         		</div> 
               </div>