<style>
.btn_log{
background-color: #00aeef;
    color: #fff;
    border: none;
    font-size: 14px;
    border-radius: 2px;
    text-align: center;
    position: relative;
    margin-right: 4px;
    outline: none !important;
}
.btn_log:hover, .btn_log:focus, .btn_log:active {
	box-shadow: 0px 2px 5.76px 0.24px rgb(0 0 0 / 24%);
    background-color: #009ad4 !important;
    color: #fff !important;
}
.sms_table thead tr th{
    vertical-align: middle;
}
.sms_table thead tr th i{
    font-size: 12px !important;
}
.sms_table thead tr th:nth-child(1) {
  min-width:135px;
}
.sms_table thead tr th:nth-child(2) {
  min-width:95px;
}
.sms_table thead tr th:nth-child(3) {
  min-width:135px;
}
.sms_table thead tr th:nth-child(4) {
  min-width:145px;
}
.sms_table thead tr th:nth-child(5) {
  min-width:125px;
}
.sms_table thead tr th:nth-child(6) {
  min-width:125px;
}
.sms_table tbody tr td a{
  color: #00aeef;
  cursor: pointer !important;
  text-decoration: none;
}
.ser_lable_text{	
  font-weight: normal;
}
.modal-footer a.btn-link{
  text-decoration: none;
}
#template_preview_modal .modal-footer {
	border-top: 1px solid #e5e5e5;
	display: flex;
}
.sms_pre_box{
	height: 450px;
	overflow:auto;
}
.sms_preview_modalcls_btn{
	background: #fff !important;
    color: #000 !important;
    border: 1px solid #ddd !important;
}
.sms_preview_modalcls_btn:hover, .sms_preview_modalcls_btn:focus, .sms_preview_modalcls_btn:active{
	background: #fdf9f9 !important;
    color: #000 !important;
    border: 1px solid #ddd !important;
}
.excel_btn{
	background:#1fa67a !Important;
	height: 34px !Important;
   	margin-left: 10px;
}
.excel_btn:hover, .excel_btn:focus, .excel_btn:active{
	background:#1fa67a !Important;
	height: 34px;
	color: #000 !Important;
}

#SMS_log_modal .modal-lg{
	width:80%;
}
.sms_log_cls_btn{
	background: #fff !important;
    color: #000 !important;
    border: 1px solid #ddd !important;
}
.sms_log_cls_btn:hover, .sms_log_cls_btn:focus, .sms_log_cls_btn:active{
	background: #fdf9f9 !important;
    color: #000 !important;
    border: 1px solid #ddd !important;
}
.no_search_box{
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px;
}
.no_search_box input {
    width: 20%;
    float: left;
    margin-right: 15px;
}
.no_search_box button {

}
.search_number_log{
	height: 360px;
    overflow: auto;
}
</style>
<div class="admin-page">
  <div class="section-heading">
    <h4>Bulk SMS</h4>
    <p></p>
  </div>
  <div class="section-content">
    <div class="upper-actions">
      <div class="col-md-4 col-lg-4">
        <div class="row">
          <div class="button-group">
            <button class="btn btn-default btn-create btn_log" id="create-job-btn"  ng-click="fetchTemplateTypeList();clearsmsdata()" data-toggle="modal"  data-target="#comm-manager"><i class="icon-plus"></i> </button>
             <!-- <button class="btn btn-default btn-create btn_log" style="width:auto;" ng-click="fetchSmsStatusLog(null,null,null,0)" id="create-job-btn" data-toggle="modal"  data-target="#SMS_log_modal">Log</button>  
             <button class="btn btn-default btn-create btn_log" style="width:auto;" ng-click="fetchTemplatepreview(0)" id="create-job-btn" data-toggle="modal"  data-target="#template_preview_modal">Preview</button> -->  
              
              <!-- ////---------------------------------------------------------Bulk SMS--------------------------------------------------------//// -->
         <!--  <button class="btn btn-default btn-create" style="width:auto;" id="create-job-btn" ng-click="clearsmsdata()" data-toggle="modal" data-target="#upload-sms-excel">Bulk SMS</i></button> -->
          
          </div>
        </div>
      </div>
      <div class="col-md-2 col-lg-2"></div>
      <div class="col-md-6 col-lg-6" style="padding: 0px;">
        <div class="clone-upper" style="float: right;">
         <div class="search-cntnr search-box" style="float: initial; padding-left: 0px;">
            <div class="form-group search-box">
              <input type="text" name="" id="id_of_textbox" placeholder="Search" class="form-control flat-control-search mar-bottom-zero ng-pristine ng-valid ng-empty ng-touched"  ng-model="searchterm">
              <i class="icon-search" id="id_of_button" ng-click="fetchBulkSmsData(0,10,null,null,searchterm);fetchBulkSmsDataListCount(searchterm)"></i> </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="table-cntnr table-responsive">
      <table class="table table-striped red-table sms_table">
        <caption> Bulk SMS </caption>
        <thead>
          <tr>
             <th>Sent On <i ng-click="sortByColumn('Senton',searchterm)" class="fa fa-sort" aria-hidden="true"></i> </th>
            <th>Template Name <i ng-click="sortByColumn('Templatename',searchterm)" class="fa fa-sort" aria-hidden="true"></i> </th>
            <th>Sent By <i ng-click="sortByColumn('Sentby',searchterm)" class="fa fa-sort" aria-hidden="true"></i> </th>
            <th>Phone Numbers Count <i ng-click="sortByColumn('Phonenocount',searchterm)" class="fa fa-sort" aria-hidden="true"></i> </th>
            <th>Mode <i ng-click="sortByColumn('mode',searchterm)" class="fa fa-sort" aria-hidden="true"></i> </th>
            <th>SMS Log <i  aria-hidden="true"></i> </th>
          </tr>
        </thead>
         <tbody>
             <tr ng-repeat="bl in bulkList">
            <td> {{formatDate1(bl.createdDate)}}</td>
            <td><a  data-toggle="modal" ng-click="fetchTemplatepreview(bl.templateid)" data-target="#template_preview_modal">{{bl.templatetype.templateName}}</a> </td>
            <td>{{bl.user.name}}</td>
            <td>{{bl.phonenumbercount}}</td>
            <td>{{bl.smsmode.mode}}</td>
            <td><button class="btn btn-default btn_log" ng-click="fetchSmsStatusLog(null,null,null,bl.id)" data-toggle="modal" data-target="#SMS_log_modal">Log</button></td>
          </tr>
          </tbody>
      </table>
    </div>
    <div class="text-right">
            
            <ul class="pagination" style="margin-top: 20px;">
			<li><a ng-hide="start == 0" ng-click="previous()">&laquo;</a>
			<li ng-repeat="i in navButtons" ng-class="$parent.offset == i * $parent.limit && 'active'"><a class="" ng-click="current(i)">{{i+1}}</a></li>
			<li><a ng-hide="(((start+5)*10) + 10) >= count" ng-click="next()">&raquo;</a></li>
			</ul>
 
            </div>
  </div>
</div>


<!-- bulk SMS communication manager modal start here -->
<div id="comm-manager" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <!-- Modal content-->
    <div class="modal-content flat-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">X</button>
        <h4 class="modal-title common-title" style="margin-left: 0 !important;">Bulk SMS Communication Manager</h4>
      </div>
      <div class="modal-body flat-body">
        <div class="row">
          <div class="col-md-6">
            <label>Select Template:</label>
            <div class="form-group">
            <!--   <select class="form-control flat-control-inner" required=""> -->
               <select  id="template" class="form-control flat-control-inner" ng-model="template.id" ng-options="template.id as template.type for template in templateTypeList" ng-change="fetchTemplatepreview(template.id)" required>
                <option value="" class="">--Select--</option><!-- it as (it.position.name + ' - ' + it.name) -->
              </select>
            </div>
          </div>
        </div>
        <div class="row"> </div>
        <div>
          <div class="form-group">
            <label>Template Preview:</label>
            <textarea id="templatepreview"  value="tmptpreview[0].Body" class="form-control flat-control-inner" cols="7"   id="preview-text" ng-bind="tmptpreview[0].Body" disabled="" rows="12"> </textarea>
             <!-- <textarea  id="templatepreview" class="form-control flat-control-inner" cols="7" rows="7" id="preview-text" ng-bind="tmptpreview[0].Body" disabled></textarea> -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="imageupload panel panel-default">
              <p>Upload Excel File:</p>
              <div class="form-group">
                <input type="file"  name="" class="file que-file-upload">
                <div class="input-group">
                  <input type="text" id="smsfilepath" class="form-control flat-control-inner" disabled="" readonly="" required="">
                  <span class="input-group-btn">
                   <span class="btn btn-primary btn-file"> Browse
                  <input type="file" id="smsfile" onchange="angular.element(this).scope().smsFileNameChanged(this)" single="">
                  </span> </span> </div>
              </div>
            </div>
          </div>
          <div class="col-md-6"> </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="radio-cntnr new-chc">
			  <input type="radio" name="server_name" ng-model="modeid" ng-value="1" id="server_1">
			  <label class="ser_lable_text" for="server_1">Tubelight</label>
			</div>

          </div>
          <div class="col-md-3">
            <div class="radio-cntnr new-chc">
			  <input type="radio" name="server_name"  ng-model="modeid" ng-value="2"  id="server_2">
			  <label class="ser_lable_text" for="server_2">AWS (UK)</label>
			</div>
          </div>
          <div class="col-md-3">
            <div class="radio-cntnr new-chc">
			  <input type="radio" name="server_name" ng-model="modeid" ng-value="3"  id="server_3">
			  <label class="ser_lable_text" for="server_3">AWS (India)</label>
			</div>
          </div>
        </div>
      </div>
      <div class="modal-footer text-left">
        <button type="submit" class="btn btn-default" ng-click="bulkSmsData(template.id,modeid)">Send</button>
        <a class="btn btn-link" ng-click="reload()">Cancel</a> </div>
    </div>
  </div>
</div>


<!-- template preview modal start here -->
<div id="template_preview_modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <!-- Modal content-->
    <div class="modal-content flat-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">X</button>
        <h4 class="modal-title common-title" style="margin-left: 0 !important;">Template Preview</h4>
      </div>
      <div class="modal-body flat-body sms_preview_modal_body">
        <div class="row">
          <div class="col-md-12">
          	<div class="sms_pre_box">
          	<p ng-bind="tmptpreview[0].Body"></p>
	        </div>     
          </div>
        </div>
      </div>
      <div class="modal-footer text-left">
        <button type="submit" class="btn btn-default sms_preview_modalcls_btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- log modal start here -->
<div class="modal fade" id="SMS_log_modal">
  <div class="modal-dialog modal-lg add-brand">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">X</span> </button>
        <h4 class="modal-title">Log</h4>
      </div>
      <div class="modal-body">
        <div class="no_search_box">
          <div class="form-group">
          <input type="text" class="form-control" id="id_of_textbox1" placeholder="Search"  ng-model = "searchterm1">
            <button type="submit" id="id_of_button1" class="btn btn-primary" ng-click="fetchSmsStatusLog(searchterm1,null,null,id)"><i class="fa fa-search" aria-hidden="true"></i></button>
            <button class="btn btn-default btn-create excel_btn" title="Excel Download" ng-click="generateExcel(id,searchterm1)"><i class="fa fa-file-excel-o"></i></button>
          </div>
        </div>
        <div class="search_number_log">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Mobile No.</th>
                <th scope="col">Status <i ng-click="sortByColumnlog('status',searchterm1,id)" class="fa fa-sort" aria-hidden="true"></i></th>
                <th scope="col">Info 1</th>
                <th scope="col">Info 2</th>
                <th scope="col">Info 3</th>
                <th scope="col">Info 4</th>
              </tr>
            </thead>
            <tbody>
              <tr  ng-repeat="s in smslog">
                <td>{{s.mobilenumber}}</td>
                <td>{{s.status}}</td>
                <td>{{s.info1}}</td>
                <td>{{s.info2}}</td>
                <td>{{s.info3}}</td>
                <td>{{s.info4}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default sms_log_cls_btn" ng-click="close()">Close</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
$("#id_of_textbox").keyup(function(event) {
    if (event.keyCode === 13) {
        $("#id_of_button").click();
    }
});
$("#id_of_textbox1").keyup(function(event) {
    if (event.keyCode === 13) {
        $("#id_of_button1").click();
    }
});
</script>