<div class="tab-pane fade in admin-page" ng-controller="chatAdmin_Ctrl">

      <div class="section-heading">
        <h4>Admin Chat Dashboard</h4>
      </div>
      <div class="section-content" id="post-list" style="padding: 20px 20px !important;">
        <div class="upper-actions">
        </div>

        <ul  class="nav nav-pills nav-stacked col-md-2 room-list">
          <li ng-repeat="x in result" ng-click="setflag(x)">
          <a  data-toggle="pill">
          <div class="users-profile">
          <img ng-if="x.userid==0" src="resources/img/avtar_dummy.png">
           <img ng-if="x.userid!=0" src="{{x.profilePic}}">
          </div>
            <div class="names-list">
              <span ng-if="x.userid!=0">{{x.name}}</span> 
              <span ng-if="x.userid==0">Guest</span>              
            </div>
          </a>
          </li>
        
        </ul>

        <!-- <div class="tab-content col-md-9">
        
          <div class="tab-pane active" ng-show="flag == 1">
              <iframe id="adminChat_iframe" height="450" width="250"></iframe>
          </div>          
         
      </div> -->
      
       <div class="tab-content col-md-10">
        <div id="target"></div>      
      </div>




      </div>

 </div>
 <!-- <span class="badge badge-notify1">3</span> -->