<div class="admin-page">
	<div class="container-fluid claimdet">
		<div class="row">
			<div class="col-md-4">
			<ul class="head-lists">
				<li>
					<b>Claim No.:</b> 261
				</li>
				<li>
					<b>Employee No.:</b> 537332
				</li>
				<li>
					<b>Name:</b> Kiran Rao
				</li>
			</ul>
		</div>
		<div class="col-md-4">
			<ul class="head-lists">
				<li>
					<b>Type of Reimbursement:</b> Medical
				</li>
				<li>
					<b>Date Of Claim:</b> 27-12-2018
				</li>
				
			</ul>
		</div>
		<div class="col-md-4">
			<ul class="head-lists">
				<li>
					<b>Brand:</b> Princess
				</li>
				<li>
					<b>Ship:</b> BW Ships
				</li>
				<li>
					<b>Department:</b> Gallery
				</li>
				<li>
					<b>Position:</b> Commis
				</li>
			</ul>
		</div>
		</div>
		
		<div class="col-md-4 pad-left">
			<ul class="expense-details">
				<li>
					<div>Expenses of Travel</div><span>INR 7,342.20</span>
					<div>Submitted On Nov 12,2018</div>
					
				</li>
				<li>
					<div>Expenses of Travel</div><span>INR 7,342.20</span>
					<div>30-11-2018</div>
					
				</li>
				<li>
					<div>Expenses of Travel</div><span>INR 99,342.20</span>
					<div>27-12-2018</div>
					
				</li>
				<li>
					<div>Expenses of Travel</div><span>INR 10,000.20</span>
					<div>27-12-2018</div>
					
				</li>
				<li>
					<div>Expenses of Travel</div><span>INR 99,342.20</span>
					<div>27-12-2018</div>
				</li>
				<li>
					<div>Expenses of Travel</div><span>INR 99,342.20</span>
					<div>27-12-2018</div>
				</li>
			</ul>
		</div>
		<div class="col-md-8 expense-info" >
			<div class="row">
				<div class="col-md-4">
					<div class="space-info">
						<h5>
							Date Of Expense
						</h5>
						<div>
							27-12-2018
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<h5>Name Of Expense Head</h5>
					<div>Expense Of Travel</div>
				</div>
				<div class="col-md-4">
					<h5>
						Travel From
					</h5>
					<div>
						Mumbai
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="space-info">
						<h5>
							Travel To
						</h5>
						<div>
							Delhi DL IN
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<h5>
						Transport Mode
					</h5>
					<div>
						Flight
					</div>
				</div>
				<div class="col-md-4">
					<h5>
						Distance (k.m.)
					</h5>
					<div>
						1419.44
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="space-info">
						<h5>
							Claimed Amount 
						</h5>
						<div>
							99,342.20
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<h5>
						Previous Status
					</h5>
					<div>
						Approved
					</div>
				</div>
				<div class="col-md-4">
					<h5>
						Previous Approved Amount 
					</h5>
					<div>
						200
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="space-info">
						<h5>
							Status
						</h5>
						<div>
							Rejected
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<h5>
						Approved Amount
					</h5>
					<div>
						20
					</div>
				</div>
				<div class="col-md-4">
					<h5>
						Comment
					</h5>
					<div>
						Approved
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="space-info">
						<h5>
							File
						</h5>
						<div>
						 <span>Sample File <i style="font-size: 20px;color: #00aeef;" class="fa fa-cloud-download" aria-hidden="true"></i></span>
						</div>
					</div>
				</div>
			</div>	
		</div>
		<div class="row">
		
			<div class="col-md-12">
				<div class="frame-cont">
					<!-- <iframe style="" src="https://en.unesco.org/inclusivepolicylab/sites/default/files/dummy-pdf_2.pdf"></iframe> -->
					<img src="resources/img/crew-slider1.png">
				</div>
			</div>
		</div>
	</div>
</div>

<script>
$(function(){
	
	
	$('.expense-details li').click(function(e) {
	    e.preventDefault(); //prevent the link from being followed
	    $('.expense-details li').removeClass('active');
	    $(this).addClass('active');
	});
});
</script>