
<div id="comm-center" class="tab-pane fade in admin-page">
      <div class="section-heading">
        <h4>Communication Center</h4>
        <p></p>
      </div>
      <div class="section-content">
      <div class="upper-actions">
          <div class="button-group">
            <!-- <button class="btn btn-default btn-edit"><i class="icon-edit-2"></i></button> -->
            <button class="btn btn-default btn-create" id=""><i class="icon-plus"></i></button>
            <button class="btn btn-default btn-delete"><i class="icon-trash-2"></i></button>
          </div>
          <div class="search-cntnr">
            <div class="form-group search-box">
              <input type="text" name="" class="form-control flat-control-search">
              <i class="icon-search"></i>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="table-cntnr">
          <table class="table table-striped red-table">
            <caption>Communication Center</caption>
            <thead>
              <tr>
                <th>
                  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="rd" name="check" class="flashadmin">
                      <label class="cstmchk_lbladmin" for="rd"></label> 
                    </div>
                </th>
                <th>Communication Mode</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="1" name="check" class="flashadmin">
                      <label class="cstmchk_lbladmin" for="1"></label> 
                    </div>
                </td>
                <td><a>Mobile SMS</a></td>
                <td>Active</td>
                
              </tr>
              <tr>
                <td>
                  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="1" name="check" class="flashadmin">
                      <label class="cstmchk_lbladmin" for="1"></label> 
                    </div>
                </td>
                <td><a>Email notifications</a></td>
                <td>Active</td>
               
              </tr>
              <tr>
                <td>
                  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="1" name="check" class="flashadmin">
                      <label class="cstmchk_lbladmin" for="1"></label> 
                    </div>
                </td>
                <td><a>Mobile app notifications</a></td>
                <td>Inactive</td>
                
              </tr>
              <tr>
                <td>
                  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="1" name="check" class="flashadmin">
                      <label class="cstmchk_lbladmin" for="1"></label> 
                    </div>
                </td>
                <td><a>Print Letters</a></td>
                <td>Active</td>
                
              </tr>
            </tbody>
          </table>
        </div>
        </div>
      </div>
    </div>