<div id="compliance-matrix" class="tab-pane fade in admin-page" ng-controller="ComplianceMatrix_Ctrl">
      <div class="section-heading">
        <h4>Compliance Mapping</h4>
        <!--<p>Create and post new job or choose one from already posted jobs.</p>-->
      </div>
      <div class="section-content" id="post-list">
      <form ng-submit="saveCompliancesforPosition(compl.brands.id,compl.category.id,compl.position.id,compl);updateCompliancesforPosition(compl.brands.id,compl.category.id,compl.position.id,compl)">
        <div class="section-content">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Brand*</label>
                  <select class="form-control flat-control-inner with-caret" id="compl.brands.id" ng-model="compl.brands.id" ng-change="fetchCompliancesbyPosition(compl.brands.id,compl.category.id,compl.position.id)" ng-options="b.id as b.brandName for b in brandsList">
                  <option value = "">--Please Select--</option>                 
                    <!-- <option>Carnival Cruises</option>
                    <option>P&amp;O</option> -->
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Department*</label>
                  <select class="form-control flat-control-inner" ng-model="compl.category.id" ng-change="fetchpositonbydipartment(compl.category.id)" ng-options="c.id as c.name for c in categoryList">
                  <option value = "">--Please Select--</option>
                    <!-- <option>Galley</option>
                    <option>Casino</option> -->
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Position*</label>
                  <select class="form-control flat-control-inner" ng-model="compl.position.id" ng-change="fetchCompliancesbyPosition(compl.brands.id,compl.category.id,compl.position.id)" ng-options="p.id as p.positonname for p in positionbydepartment">
                  <option value = "">--Please Select--</option>
                                   
                  </select>
                </div>
              </div>
              
            </div>
            
          
      </div>
        <div class="table-cntnr selct_comp_box">
          <table class="table table-striped red-table">
           <caption>Selected Compliances</caption>
            <thead>
            <tr>
                <th>
                  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="rd2" name="check2" class="flashadmin" ng-click="checkedAll2(compl.brands.id,compl.category.id,compl.position.id)">
                      <label class="cstmchk_lbladmin" for="rd2"></label> 
                    </div>
                </th>
                <th>Compliance Name</th>
                 <th>Required</th>
                <th>Validity Required (days) after posting end date</th>
                <th>Dependencies</th>
                <th>Delete</th>
            </tr>
            </thead>
           	</tbody>
           		<tr ng-repeat="cl in complianceList" ng-if="cl.check">
            		<td ng-if="cl.check">
                    <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="selectcompl{{$index}}" ng-click="getselectedStatus1(compl.brands.id,compl.category.id,compl.position.id,$index)"  name="check2" class="flashadmin" >                    
                      <label class="cstmchk_lbladmin" for="selectcompl{{$index}}"></label> 
                    </div>
                	</td>
                	<td ng-if="cl.check"><a>{{cl.complianceName}}</a></td>
                	 <td ng-if="cl.check">
				    <div class="chckbx-cntnr zeromargin com_map_required_check">
				    	<input type="checkbox" id="checkcompl_edit{{$index}}"  ng-checked="cl.mandatory_compliances" name="check" class="flashadmin">
				    <label class="cstmchk_lbladmin" for="checkcompl_edit{{$index}}"></label>
				    </div>
					</td>
                	<td ng-if="cl.check">
                  		<div class="form-group">
                    		<input type="text" name="input" class="brand-name" style="width:50%">
                 		</div>
                	</td>
                	<td ng-if="cl.check"><a ng-click="fetchComplianceDependencies(compl.brands.id,compl.category.id,compl.position.id,compl,cl.id)" >{{cl.complianceDepNames}}</a></td>
                	<td ng-if="cl.check && cl.complianceDepNames=='false' "><a ng-click="fetchComplianceDependencies(compl.brands.id,compl.category.id,compl.position.id,compl,cl.id)" ng-if="">None</a></td>
                	<td ng-if="cl.check">
	                	<button class="btn btn-default btn-delete" data-target="#deleteCompliance" data-toggle="modal">
	                		<i class="icon-trash-2" ng-click="setdeleteCompId(cl.id)"></i>
	                	</button>
                	</td>
                	
            	</tr>
           	</tbody>
          </table>
        </div>
     	
     	<div class="table-cntnr inner-popup-tabs">
          <table class="table table-striped red-table">
           <caption>Available Compliances</caption>
            <thead>
              <tr>
                <th>
                  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="rd" name="check" class="flashadmin" ng-click="checkedAll(compl.brands.id,compl.category.id,compl.position.id)">
                      <label class="cstmchk_lbladmin" for="rd"></label> 
                    </div>
                </th>
                <th>Compliance Name</th>
                <th>Required</th>
                <th>Validity Required (days) after posting end date</th>
               </tr>
            </thead>
            <tbody>
              
              <tr ng-repeat="cl in complianceList" ng-if="!cl.check">
                <td ng-if="!cl.check">
                    <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="checkcompl{{$index}}" ng-click="getselectedStatus(compl.brands.id,compl.category.id,compl.position.id,$index)" ng-checked="cl.check" name="check" class="flashadmin">                    
                      <label class="cstmchk_lbladmin" for="checkcompl{{$index}}"></label> 
                    </div>
                </td>
                <td ng-if="!cl.check"><a>{{cl.complianceName}}</a></td> 
                <td ng-if="!cl.check">
				    <div class="chckbx-cntnr zeromargin com_map_required_check">
				    	<input type="checkbox" id="checkcompl_a{{$index}}" ng-click="checkMandatoryCompliances()" name="check" class="flashadmin">
				    <label class="cstmchk_lbladmin" for="checkcompl_a{{$index}}"></label>
				    </div>
				</td>
                <td ng-if="!cl.check">
                  <div class="form-group">
                    <input type="text" name="input" class="brand-name" style="width:50%">
                 </div>
                </td>
              </tr>                          
            </tbody>
          </table>
        </div>
        	<div class="btn-cntnr com_map_savebtn_box">
              <button class="btn btn-default btn-bluer" type="submit" id="cancel-req-btn">Save</button>
              <a data-target="#confrmtn" ng-click="showmodal(compl.brands.id,compl.category.id,compl.position.id)">Cancel</a>
            </div>            
        </form> 
             
      </div>
      
      
 <div id="confrmtn" class="modal fade" role="dialog">
  <div class="modal-dialog ">

    <!-- Modal content-->
    <div class="modal-content flat-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">X</button>
        <h4 class="modal-title common-title" style="margin-left: 0;">Cancel Record</h4>
      </div>
      <div class="modal-body flat-body">
          <div class="clearfix" ng-value="getCheckedId()"></div>
        Are you sure want to cancel?
      <div class="modal-footer text-left">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="show_ass" ng-click="redirectPage()">Yes</button>
        <a class="btn btn-link" data-dismiss="modal" >No</a>
      </div>
    </div>
   </div>
    </div>
    </div>
    
    <div class="modal fade" id="compliancedepedencies" role="dialog">
          <div class="modal-dialog modal-sm add-brand">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">X</button>
                <h4 class="modal-title">Dependencies</h4>
              </div>
              <div class="modal-body">
                <div class="prefill col-md-12" style="display: block;width: 100%;padding: 0 6px;">
                  <div class="chckbx-cntnr zero-margin" ng-repeat="c in complianceList2">
                      <input type="checkbox" id="comp{{c.id}}" ng-click="addDependentComplianceId(c.id)"  name="check2" class="flashadmin" ng-checked="c.selected">
                      <label class="cstmchk_lbladmin" for="comp{{c.id}}">
                      <p class="vali-sub-head" style="margin-left: 10px;min-width: 229px;">{{c.complianceName}}</p>
                    </label> 
                  </div>
                  <div ng-if="complianceList2.length==0">
                  	<p>No Dependencies To Select</p>
                  </div>
                </div>
                <div class="btn-cntnr" style="margin: 0px 0 10px;">
              		<button class="btn btn-default btn-bluer" id="cancel-req-btn" ng-click="saveCompDependency(compl.brands.id,compl.category.id,compl.position.id,compl)" ng-disabled="complianceList2.length==0">Save</button>
              		<a data-dismiss="modal" ng-click="unCheckedCheckBoxes(compl.brands.id,compl.category.id,compl.position.id)">Cancel</a>
            	</div>
            </div>
            </div>
          </div>
      </div>
      
    <div id="deleteCompliance" class="modal fade" role="dialog">
	  	<div class="modal-dialog modal-sm add-brand">
	    <!-- Modal content-->
		    <div class="modal-content flat-modal">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">x</button>
		        <h4 class="modal-title common-title" style="margin-left: 0;">Delete Record</h4>
		      </div>
		      <div class="modal-body flat-body">
		          <div class="clearfix" ></div>
		        Are you sure you want to delete  this record?
		      <div class="modal-footer text-left">
		        <button type="button" class="btn btn-default" data-dismiss="modal" id="show_ass" ng-click="deleteCompliancesforPosition(compl.brands.id,compl.category.id,compl.position.id,compl,cl.id)">Delete</button>
		        <a class="btn btn-link" data-dismiss="modal" ng-click="setdeleteCompId(0)">Cancel</a>
		      </div>
		    </div>
		   </div>
	    </div>
   </div>
      
 </div>