
<div>
	<div id="compliancemaster" class="tab-pane fade in admin-page">
	      <div class="section-heading">
	        <h4>Compliance Master</h4>
	        <p></p>
	      </div>
	      
	      
	    <div class="section-content" id="post-list">
        <div class="upper-actions">
          <div class="button-group">
            <button class="btn btn-default btn-create" id="create-job-btn" data-toggle="modal" ng-click="clear()" data-target="#add_compliance"><i class="icon-plus"></i></button>
            <button class="btn btn-default btn-delete" data-target="#deletelist" ng-click="check()"><i class="icon-trash-2"></i></button>
          </div>
          <div class="search-cntnr">
            <div class="form-group search-box inline-blck">
              <input type="text" name="" id="id_of_textbox" class="form-control flat-control-search mar-bottom-zero" ng-model="searchterm">
              <i class="icon-search" id="id_of_button" ng-click="fetchComplianceMasterList(0,10,null,null,searchterm);getComplianceCount(searchterm)"></i>
            </div>
          </div>
          
          <div class="clearfix"></div>
        </div>
        <div class="table-cntnr">
          <table class="table table-striped red-table">
            <caption>Compliance Type</caption>
            <thead>
              <tr>
               <th>
                  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="rd" name="check" class="flashadmin"  ng-click="checkedAllList(complianceList,all)" ng-model="all">
                      <label class="cstmchk_lbladmin" for="rd"></label> 
                    </div>
                </th>               
                  <th>Compliance Name<i ng-click="SortingComplianceMasterList('Compliance Master',searchterm)" class="fa fa-sort" aria-hidden="true" style="font-size:12px;"></i></th>
                  <th>Duration(in Days)</th>
                  <th>Upload Compliance Form</th>
                  <th> Display to Candidate </th>
                  <th>Download Compliance Form</th>
                  <th>View Compliance Form</th> 
               </tr>
            </thead>
            <tbody>
            
              <tr ng-repeat="c in complianceList">
                <td>
               <div class="chckbx-cntnr zeromargin">
                  
                      <input type="checkbox" id="{{c.id}}" name="check" ng-click="checkedcomplianceList(c.id)" class="flashadmin" ng-checked="all">
                      <label class="cstmchk_lbladmin" for="{{c.id}}"></label> 
                    </div>
                </td>
                 <td><a id="create-job-btn" ng-click="compliancedata(c)" data-toggle="modal" data-target="#edit_compliance">{{c.complianceName}}</a></td>
                <td>{{c.complianceDuration}}</td>
                <td><div class="cv-upload">
						    
						        <i class="fa fa-upload" data-toggle="modal" data-target="#uploadform" ng-if="c.complianceFormPath ==null || c.complianceFormPath == undefined" style="margin: 9px 64px;" ng-click="openModal(c)"></i>
						       <i class="fa fa-upload" data-toggle="modal" data-target="#uploadform" ng-if="c.complianceFormPath !=null || c.complianceFormPath != undefined" ng-click="openModal(c)" style="color:#3c9a3e;margin: 9px 64px;" id="uploadfile"></i>
						    													
					</div>
				</td>
				<td>
					<label class="switch">
			             <input  type="checkbox"  id='{{c.id}}' ng-checked="c.displayToCandidate" ng-click="displayToCandidateToggle(c.id,$event)" required>
			            <span class="slider-switch round"></span>
          			</label>
				</td>
				<td>
					<button class="btn bigblue-btn new-btn-dwn" ng-click="download(c.complianceFormPath)" ng-if="c.complianceFormPath != null || c.complianceFormPath!=undefined" style="margin: 9px 64px;"><i class="fa fa-download" aria-hidden="true"></i></button>
				</td>
				 <td><button class="btn bigblue-btn new-btn-dwn" data-toggle="modal" ng-click="PreviewDownload(c.complianceFormPath)" data-target="#compliance_view" ng-if="c.complianceFormPath != null || c.complianceFormPath!=undefined" style="margin: 9px 64px;"><i class="fa fa-eye" aria-hidden="true"></i></button></td> 
				</td> 
              </tr>
            </tbody>
          </table>
          
          <div class="text-right">           
            <ul class="pagination" style="margin-top: 0;">
			<li><a ng-hide="start == 0" ng-click="previous()">&laquo;</a>
			<li ng-repeat="i in navButtons" ng-class="$parent.offset == i * $parent.limit && 'active'"><a class="" ng-click="current(i)">{{i+1}}</a></li>
			<li><a ng-hide="(((start+5)*10) + 10) >= count" ng-click="next()">&raquo;</a></li>
			</ul>
          </div>
                   
        </div>
        </div>
        
	
	<div class="modal fade" id="add_compliance" role="dialog">
          <div class="modal-dialog modal-sm add-brand">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">X</button>
                <h4 class="modal-title">Add Compliance Name</h4>
              </div>
              <div class="modal-body">
                <form ng-submit="saveComplianceDetails(compliancemaster)">
                  <p>Compliance Name:</p>
                  <div class="form-group">
                    <input type="text" name="compliance-name" class="brand-name" ng-model="compliancemaster.complianceName" required>
                 </div>
                 <p>Duration(in Days):</p>
                  <div class="form-group">
                    <input type="number" name="duration" min="1" class="brand-name" ng-model="compliancemaster.complianceDuration" oninvalid="this.setCustomValidity('Please enter number of days in this field')" oninput="setCustomValidity('')" required>
                 </div>
                  <div class="form-group">
                 	<div class="chckbx-cntnr zeromargin" style="margin: 8px 0 0 7px !important;">
						  <input type="checkbox" id="dis_candidate_check" name="check" class="flashadmin" ng-checked="checkDiplayToCandidate()">
						  <label class="cstmchk_lbladmin" for="dis_candidate_check"> 
						  <span style="margin: 15px; white-space: nowrap;"> Display to Candidate </span> </label> 
					 </div>
                 </div>    
                <div class="form-group text-right">
                  <button type="submit" class="btn-info add_brand">Add</button>
                </div>
               </form>
              </div>
              
            </div>
            
          </div>
      </div>
	
	
	
	    
	        <div class="modal fade" id="edit_compliance" role="dialog">
          <div class="modal-dialog modal-sm add-brand">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">X</button>
                <h4 class="modal-title">Edit Compliance Type</h4>
              </div>
              <div class="modal-body">
                <form ng-submit="updateComplianceDetails(compliancemaster)">
                  <p>Compliance Name:</p>
                  <div class="form-group">
                    <input type="text" name="brand-name" class="brand-name" ng-model="compliancemaster.complianceName" required>
                 </div>
                  <p>Duration(in Days):</p>
                  <div class="form-group">
                    <input type="number" name="brand-name" min="1" class="brand-name" ng-model="compliancemaster.complianceDuration" oninvalid="this.setCustomValidity('Please enter number of days in this field')" oninput="setCustomValidity('')" required>
                 </div>
                  <div class="form-group">
                 	<div class="chckbx-cntnr zeromargin" style="margin: 8px 0 0 7px !important;">
						  <input type="checkbox" id="edit_dis_candidate_check" name="check" class="flashadmin" ng-checked="compliancemaster.displayToCandidate"  >
						  <label class="cstmchk_lbladmin" for="edit_dis_candidate_check"> 
						  <span style="margin: 15px; white-space: nowrap;"> Display to Candidate </span> </label> 
					 </div>
                 </div>                 
                <div class="form-group text-right">
                  <button type="submit" class="btn-info add_brand">Save Changes</button>
                </div>
               </form>
              </div>
              
            </div>
            
          </div>
      </div>
      	      
<div id="deletelist" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm add-brand">

    <!-- Modal content-->
    <div class="modal-content flat-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">X</button>
        <h4 class="modal-title common-title" style="margin-left: 0;">Delete Record</h4>
      </div>
      <div class="modal-body flat-body">
          <div class="clearfix" ng-value="getCheckedId()"></div>
        Are you sure want to delete {{getCheckedcomplianceid.length}} records?
      <div class="modal-footer text-left">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="show_ass" ng-click="deleteComplianceFromList('Compliance master')">Delete</button>
        <a class="btn btn-link" data-dismiss="modal" >Cancel</a>
      </div>
    </div>
   </div>
    </div>
    </div> 	      
   </div>
 </div>
 
<!-------------------------------------------- view modal -------------------------------------------->
 
 <div class="modal fade" id="compliance_view" role="dialog">
         <div class="modal-dialog modal-md add-brand">
           <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">X</button>
               <h4 class="modal-title">Document</h4>
             </div>
             <div class="modal-body">
             <div  style="overflow-y: scroll;" id="imagetab">
             <img width="100%" ng-show="imageFlag==true" ng-src="{{fileurl}}" class="img-responsive" id="imgtab1">
            <iframe ng-show="pdfFlag == true" ng-src="{{pdfDocPath}}" height="410px" width="100%"></iframe> 
           
            <!-- <iframe src="resources/img/sample.pdf" height="410px"></iframe> -->
       <!-- <img width="100%" ng-src="{{file}}" class="img-responsive" id="imgtab1"> -->
       <!-- <iframe ng-show="pdfFlag == true" ng-src="{{pdfDocPath}}" height="410px" width="100%"></iframe>  -->
      </div>
             </div>            
           </div>
         </div>
     </div>
 
 
 <div class="modal fade" id="uploadform" role="dialog">
          <div class="modal-dialog modal-sm add-brand">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">X</button>
                <h4 class="modal-title">Upload Compliance Form</h4>
              </div>
              <div class="modal-body">
                <form id="BrandUpdate" ng-submit="uploadFile()">
                   
                   <div class="form-group width-200">
                            <div class="input-group">
                                <input type="text" id="docfilepath" ng-model="complianceFormPath" class="form-control flat-control-inner" readonly="" required>
                                 <span class="input-group-btn">
                                    <span class="btn btn-primary btn-file"> Browse
                                         <input type="file" id="documentfile" accept=".doc,.docx,.txt,.pdf,image/x-png,image/gif,image/jpeg" onchange="angular.element(this).scope().fileNameChanged(this)" single="">
                                     </span>
                                </span> 
                            </div>
                             <!-- ngIf:  c.path != null || c.path != undefined  -->                                                     
                          </div>

                 <!-- <div class="imageupload panel panel-default">
                   <p>Change Image</p>
                      <div class="upload_img_content">
						<div class="image-part">
                        	<img id="blah" ng-src="{{brandmaster.logoPath}}" alt="" class="preview-image"/>
                        </div>                        
                        <div class="btn-part">
                        <button class="btn btn-default btn-file edit_file">

                            <span>Upload</span>
                            <input type="file"  name="image-file" id="file-input">
                        </button>
                        </div>
                      </div>
                   <span id="checksize"></span>
                </div>  -->                                     
                 <div class="form-group text-right">
                  <button type="submit" id="btnupdate" class="btn-info add_brand">Save</button>
                </div>
               </form>
              </div>              
            </div>            
          </div>
      </div>
 
 
 
 
 <script type="text/javascript">
             
        $("#id_of_textbox").keyup(function(event) {
            if (event.keyCode === 13) {
                $("#id_of_button").click();
            }
        });
        
</script>