<style>

</style>
 <div id="email" class="tab-pane fade in admin-page">
      <div class="section-heading">
        <h4>Create Scheduler</h4>      
      </div>
      <div class="section-content">
      <div class="scheduler_add_scheduler_data">
         <div class="inner-form">
          
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label>Scheduler Name*</label>
                  <input type="text" name="" ng-model="schedulerdata.schedulerName" class="form-control flat-control-inner" 
                  	placeholder="Enter Scheduler name" required >
                </div>
              </div>
              
              <div class="col-md-3">
                <div class="form-group">
                  <label>Activity For*</label>
                  <!--  <select class="form-control flat-control-inner" ng-model="data.modeId" ng-options="cl.id as cl.mode for cl in mode" ng-change="myfunc(data.modeId)" required>
                 <option value = "">Select Mode</option> -->
                  <select class="form-control flat-control-inner with-caret" ng-model="afl.id" ng-change="fetchActivityList(afl.id);" ng-options="afl.id as afl.name for afl in activityforlist" required>
                  	<option value="" class="" selected="selected">--Select--</option>
                  </select>
                </div>
              </div>
              
              <div class="col-md-3">
                <div class="form-group">
                  <label>Activity*</label>
                  <select class="form-control flat-control-inner with-caret" ng-model="actlist.id"  ng-options="actlist.id as actlist.name for actlist in activitylist" required>
                  	<option value="" class="" >--Select--</option>
                  </select>
                </div>
              </div>
              
              <div class="col-md-3" style="margin-top: 30px;">
                    		<div class="chckbx-cntnr zeromargin">
                      			<input type="checkbox" id="immediate-check" name="check" class="flashadmin" ng-click="Immediatecheck()">&nbsp;&nbsp;&nbsp;
                      			<label class="cstmchk_lbladmin" for="immediate-check"></label> 
                    		</div>
                    		<label>Immediate</label> 
						</div> 
              
              <div class="col-md-12">
                <div class="form-group form-group-height">
                  
                  <div class="row delivery-type-padding">
                  <div class="col-md-3" style="padding:0px">
                  		 <div class="delivery-type-label col-md-12">
		                  	<label>Delivery Type*</label>
		                  </div>
								<div class="col-md-6">
		                    		<div class="chckbx-cntnr zeromargin">&nbsp;&nbsp;
		                      			<input type="checkbox" id="sms-check" name="check" class="flashadmin">&nbsp;&nbsp;
		                      			<label class="cstmchk_lbladmin" for="sms-check" style="margin-left:10px;"></label> 
		                    		</div>
		                    		<label>SMS</label> 
								</div>  
								<div class="col-md-6">
		                    		<div class="chckbx-cntnr zeromargin">
		                      			<input type="checkbox" id="email-check" name="check" class="flashadmin">&nbsp;&nbsp;
		                      			<label class="cstmchk_lbladmin" for="email-check"></label> 
		                    		</div>
		                    		<label>Email</label> 
								</div> 
                  </div>
                 
						  
						<div class="col-md-9 scheduler-note">
                    		

                    		<label><b style="font-size: 9px;">Note:</b> <p style="margin:0px"> 1. For all templates which use OTP and Password alias should be configured for immediate delivery. </p>
                    		<p>2. If you have not marked mails as immediate then emails will be delivered after 30 minutes.</p></label>
                    		
						</div>  
					</div>

    				<div class="row">
    					<div class="col-md-3" id="category-options" style="display:block">
							<label class="labels" id="category">Category*</label>
    						<select id="" class="form-control" ng-model="temptype.type" ng-change="fetchSmsTemplateList(temptype.type);fetchEmailTemplateList(temptype.type)" ng-options="temptype.id as temptype.type for temptype in temptypelist" required>
		                    	<option value="" selected="selected">--Select--</option>                        
		                    </select>
						</div>
						<div class="col-md-3" id="sms-options" style="display:none">
							<label class="labels" id="sms">SMS</label>
    						<select id="smstemplate" class="form-control" ng-model="smstemplate.id"  ng-options="smstemplate.id as smstemplate.type for smstemplate in smsTemplateList" required>
		                    	<option value="" selected="selected">--Select--</option>                        
		                    </select>
						</div>    
    					<div class="col-md-3" id="email-options" style="display:none">
							<label class="labels" id="email">Email</label>
    						<select id="emailtemplate" class="form-control" ng-model="emailtemplate.id" ng-options="emailtemplate.id as emailtemplate.type for emailtemplate in emailTemplateList" required>
		                    	<option value="" selected="selected">--Select--</option>                        
		                    </select>
						</div>
						<!-- <div class="col-md-3" id="appnot-options" style="display:none">
							<label class="labels" id="app-notification">App Notification</label>
    						<select class="form-control flat-control-inner" required=""><option value="" class="" selected="selected">--Select--</option></select>
						</div> -->
					</div>
                </div>
              </div>
              
            </div>
            <div class="row">
              
              
              
            </div>

            <div class="btn-cntnr">
              <button class="btn btn-default btn-bluer ng-scope" ng-click="saveNewSchedulerData(schedulerdata,actlist.id,smstemplate.id,emailtemplate.id)"  id="save-req-btn">Save</button> 
              <a href="" ng-click="cancelScheduler()">Cancel</a>
            </div>
           
         </div>         
      </div>
    </div>
  
 </div>
 
 <script>
    var selectAllItems = "#select-all";
	var checkboxItem = ".check-flashadmin";

	$(selectAllItems).click(function() {
  
  		if (this.checked) {
    		$(checkboxItem).each(function() {
      			this.checked = true;
    		});
  		} else {
    	$(checkboxItem).each(function() {
    		this.checked = false;
    	});
  	}
});
</script>

<script>    
	$(function () {
    	$("#sms-check").click(function () {
        	if ($(this).is(":checked")) {
                $("#sms-options").show();
            } else {
                $("#sms-options").hide();
            }
        });
    	
    	$("#email-check").click(function () {
        	if ($(this).is(":checked")) {
                $("#email-options").show();
            } else {
                $("#email-options").hide();
            }
        });
    	
    /* 	$("#appnot-check").click(function () {
        	if ($(this).is(":checked")) {
                $("#appnot-options").show();
            } else {
                $("#appnot-options").hide();
            }
        }); */
 	});  
</script>
