<style>
.Interview-radio-btn .radio-padding{
	padding: 5px 0 20px 15px;
}
.Interview-template-dropdown .template-padding{
	padding: 5px 0 20px 0;
}
</style>
      <div class="shadow-container admin-page" >
          <div class="inner-head">
            <h4>Create new scheduler</h4>
          </div>
          <div class="inner-form">
            <div class="form-group">
              <label>Name of Scheduler*</label>
              <input type="text" name="" id="" class="form-control flat-control-inner" ng-model="schedulerevent.name" required >
            </div>
            <div class="Interview-radio-btn">
				<label>Interview Mode</label>
				<div class="row radio-padding">
					<div class="radio-cntnr">
						<input type="radio" id="f2f-int" name="interview-mode" ng-model="schedulerevent.schedulerType" ng-value="2"> 
						<label class="ser_lable_text" for="f2f-int">F2F Interview</label>
					</div>
					<div class="radio-cntnr">
						<input type="radio" id="video-int" name="interview-mode" ng-model="schedulerevent.schedulerType" ng-value="1">
						<label class="ser_lable_text" for="video-int">Video Interview</label>
					</div>
				</div>
			</div>		
			<div class="Interview-template-dropdown">
				<label>Template Type</label>
				<div class="row template-padding">
				<div class="col-md-3"> 
						<label class="ser_lable_text">Category</label>
    					<div class="form-group">
                   			<select id="" class="form-control" ng-model="temptype.type" ng-change="fetchSmsTemplateList(temptype.type);fetchEmailTemplateList(temptype.type)" ng-options="temptype.id as temptype.type for temptype in temptypelist" required>
		                    	<option value="" selected="selected">--Select--</option>                        
		                    </select>
                  		</div>
					</div>
					<div class="col-md-3">		 
						<label class="ser_lable_text">SMS Template</label>
						<div class="form-group">
		                   	<select id="smstemplate" class="form-control" ng-model="smstemplate.id"  ng-options="smstemplate.id as smstemplate.type for smstemplate in smsTemplateList" required>
		                    	<option value="" selected="selected">--Select--</option>                        
		                    </select>
                  		</div>
                  		
					</div>
					<div class="col-md-3"> 
						<label class="ser_lable_text">Email Template</label>
    					<div class="form-group">
                   			<select id="emailtemplate" class="form-control" ng-model="emailtemplate.id" ng-options="emailtemplate.id as emailtemplate.type for emailtemplate in emailTemplateList" required>
		                    	<option value="" selected="selected">--Select--</option>                        
		                    </select>
                  		</div>
					</div>
					</div>
					
			</div>	
            <div class="table-cntnr">
          <table class="table table-striped red-table">
            <caption>Add Users</caption>
            <thead>
           
                <th>Name</th>
               
                <th>
                  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="vr" name="check" class="flashadmin" ng-model="selectAllEdit">
                      <label class="cstmchk_lbladmin" for="vr"></label> 
                  </div>
                  <span class="leftpad10">Add/Edit</span></th>
                <th>
                  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="vx" name="check" class="flashadmin"ng-model="selectAllDelete">
                      <label class="cstmchk_lbladmin" for="vx"></label> 
                  </div>
                <span class="leftpad10">Delete</span></th>
                <th>
                <div class="chckbx-cntnr zeromargin"></div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr  id="$index" ng-repeat="j in eventUserList">
                <td>
                  <div class="form-group" style="margin-bottom: 0">
                   <select class="form-control" ng-model="j.user.id" required>
                              <option value="">--Select--</option>
                             <option data-ng-repeat="j in adminUsers" value="{{j.id}}" ng-selected="j.id==j.user.id">{{j.name}}</option>                           
                            </select>
                  </div>
                </td>
               
                <td>
                  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="ed{{$index}}" name="check" class="flashadmin" ng-checked="selectAllEdit">
                      <label class="cstmchk_lbladmin" for="ed{{$index}}"></label>                       
                  </div>
                </td>
                <td>
                  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="dl{{$index}}" name="check" class="flashadmin" ng-checked="selectAllDelete">
                      <label class="cstmchk_lbladmin" for="dl{{$index}}"></label> 
                      
                  </div>
                </td>
                <td> <button class="btn btn-default btn-remove"  ng-click="removeEventUser($index)"><i class="icon-x-circle"></i></button></td>
              </tr>

              
              
              
            </tbody>
          </table>
          
          
          <div class="text-right">
                  <button class="btn btn-default btn-round-add" ng-click="addEventUsers()"><i class="icon-plus"></i></button>
                </div>
        </div>

		
		<div class="table-cntnr" id="showslots">
          <table class="table table-striped red-table">
            <caption>List of All created slots</caption>
            <thead>
              <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Filled No.</th>
                <th>Total No.</th>
                <th>Balance No.</th>
                <th>Action</th>
                <th>
              </tr>
            </thead>
            <tbody ng-repeat="x in slot">
              <tr>
                <td ng-modal="date" ng-bind="formatDate(x.dateTime) |  date:'dd-MM-yyyy'"></td>
                
                <td ng-modal="time">{{(x.dateTime).split(" ")[1]}} {{(x.dateTime).split(" ")[2]}}</td>
              
                <td><a  ng-click="fetchcandidatelist(x.id,x.assignedUsers,x.dateTime);showerror(x.assignedUsers)"> {{x.assignedUsers}}</a>                
                <a ng-if="x.assignedUsers == null"  ng-click="showerror(0)">0</a>
                
                </td>
                <td ng-modal="x.candidates" id="pre">{{x.candidates}}</td>
                <td>{{x.candidates - x.assignedUsers}}</td>
                <td>
                <button id="$index" class="btn btn-default btn-round-add mar-bottom-zero" data-target="#edit_sloter" data-toggle="modal" ng-click="set(true);setdata($index,x)"><i class="icon-edit-2"></i></button>
                <!-- <button ng-if="!selectedschedular.edit" id="$index" class="btn btn-default btn-round-add mar-bottom-zero" data-target="#edit_sloter" data-toggle="modal" ng-click="set(true);setdata($index,x)" disabled><i class="icon-edit-2"></i></button> -->
                </td>
              	<td>
              	<button id="$index" class="btn btn-default btn-remove" ng-click="removeslot($index)"><i class="icon-x-circle"></i></button>
              	<!-- <button ng-if="!selectedschedular.delete" id="$index" class="btn btn-default btn-remove" ng-click="removeslot($index)" disabled><i class="icon-x-circle"></i></button> -->
              	</td>	
              </tr>  
            </tbody>
          </table>
        </div>

        	<!-- <div class="btn-cntnr" style="margin-top: 20px; margin-bottom: 20px;">
        	
              <button type="submit" class="btn btn-default btn-bluer" id="update_slot-btn" ng-click="updateEvent(j)" >Save</button>
             
              <a ng-click="cancelled()">Cancel</a> -->
              <button class="btn btn-default btn-round-add mar-bottom-zero" data-target="#edit_sloter" data-toggle="modal" style="float: right;" ng-click="set(false)"><i class="icon-plus"></i></button>
<!--               <button ng-if="!selectedschedular.edit" class="btn btn-default btn-round-add mar-bottom-zero" data-target="#edit_sloter" data-toggle="modal" style="float: right;" ng-click="set(false)" disabled><i class="icon-plus"></i></button>
 -->           

        	<div class="btn-cntnr" style="margin-top: 20px; margin-bottom: 20px;">
              <button class="btn btn-default btn-bluer" id="create_slot-btn" ng-click="addNewScheduler(emailtemplate.id,smstemplate.id)" ng-disabled="disabled">Create</button>
              <a ui-sref="restricted.admin.eventScheduler">Cancel</a>
            </div>
            
             </div>


		
 
			
			<div id="edit_sloter" class="modal fade" role="dialog">


  <div class="modal-dialog ">

    <!-- Modal content-->
    <form>
    <div class="modal-content flat-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h4 ng-if="!flag" class="modal-title common-title" style="margin-left: 0;">Add Slot</h4>
        <h4 ng-if="flag" class="modal-title common-title" style="margin-left: 0;">Update Slot</h4>
        
      </div>
      <div class="modal-body flat-body">
        <div class="row">
          <div class="col-md-12">
            <div id="datetimepickercns" ng-model="slotm.dateTime"></div>          
            
          </div>
        </div>
        <div style="height: 10px;"></div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>No. of Candidates*</label>
              <input type="number" name="" id="candidate" class="form-control flat-control-inner" ng-model="slotm.candidates" min="1" required>              
              <input type="hidden"  class="form-control flat-control-inner" ng-model="slotm.assignedUsers">
            </div>
          </div>
        </div>
      </div>
      
      <div class="modal-footer text-right">
      
        <button type="submit" class="btn btn-default" data-dismiss="modal" ng-click="addslot(slotm)">Add</button>
        <!-- <button ng-if="flag" type="submit" class="btn btn-default" ng-click="updateslot(slotm)">Update</button> -->
        
        <a class="btn btn-link" data-dismiss="modal">Cancel</a>
      </div>
    </div></form>

  </div>
  
</div>

        <script>
        document.querySelector('#eventname').onkeypress = validate;

        function validate(e) {
                e = e || event;
                return /[a-z 0-9`~!@#$%^&*()_|+\-=?;:,.<>\{\}\[\]\\\/]/i.test(
                           String.fromCharCode(e.charCode || e.keyCode)
                       ) || !e.charCode && e.keyCode  < 48;
        }
        
        </script>
            
         <script type="text/javascript">
        $(function () {
            $('#datetimepicker12, #datetimepickercns').datetimepicker({
                inline: true,
                sideBySide: true,         
                minDate: new Date()
                
            });
        });    
        
        </script>    
            
                  
          </div>
        </div>
