<div class="admin-page">
      <div class="section-heading">
        <h4>Create Meet A Recruiter</h4>
       </div>
      <div class="section-content" id="post-list">




      <div class="main-panel">
      <form id="myForm" name="" >     
        <div class="col-md-offset-1 col-md-10 cms-panel">
        <div class="table-cntnr">
         
          <!-- <div class="col-md-3 col-sm-3">
          
                  <img  id="image_upload_preview"  ng-src="{{fileurl}}" alt="your image" class="img-responsive image_upload_preview" style="min-height: 190px;width: 100%;"/>
                  <p class="logo_recomm">Recommended Size: 1280*455px</p>
                  <div class="btn-default browse-btn">Browse
                  </div>
          </div> -->
<!--     <button type="button" class="btn-default remove-btn" id="remove-img" ng-click="getremove();">Remove</button>
 -->            
   </form>
   
          </div>
          <div class="col-md-9 col-sm-12">
            <div class="form-group">
              <label>Title</label>
              <input type="text" class="form-control flat-control-search" id="name" ng-model="jobfair.name" ng-keypress="checkkeys()">             
              <!-- <input type="hidden"  value="d" ng-model="d.id"> -->
            </div>
            <div class="form-group">
              <label>Description</label>
              <textarea class="form-control flat-control-search" id="decs" cols="35" rows="7" ng-model="jobfair.description" ng-keypress="checkdecs()"style="margin-bottom: 0 !important;padding: 0px 12px!important	;"></textarea>
            </div>
           
      </div>
      		<div class="col-md-3">
            	<div class="form-group">
            		<label>Activation Date</label>
            		<div class='input-group date' id="activation-date">
	                    <input type='text' id="activation-date1" data-ng-init="onloadActiveDate(this)" ng-model="jobfair.activationDateString" class="form-control flat-control-inner" />
	                    <span class="input-group-addon">
	                        <span class="glyphicon glyphicon-calendar"></span>
	                    </span>
	                </div>
            		
            	</div>
            </div>
            
            <div class="col-md-3">
            	<div class="form-group">
            		<label>Start Date</label>
            		<div class='input-group date' id="start-date" >
	                    <input type='text' id="start-date1" data-ng-init="onloadStartDate(this)" ng-model="jobfair.startDateSring" class="form-control flat-control-inner" />
	                    <span class="input-group-addon">
	                        <span class="glyphicon glyphicon-calendar"></span>
	                    </span>
	                </div>
            		
            	</div>
            </div>
            
            <div class="col-md-3">
            	<div class="form-group">
            		<label>End Date</label>
            		<div class='input-group date' id="end-date">
	                    <input type='text'  id="end-date1" data-ng-init="onloadEndDate(this)"  ng-model="jobfair.endDateString" class="form-control flat-control-inner" />
	                    <span class="input-group-addon">
	                        <span class="glyphicon glyphicon-calendar"></span>
	                    </span>
	                </div>
            		
            	</div>
            </div>
         <div class="clearfix"></div>
         	<div class="slider-heads">
         		<h4>Upload Image/Video for Job Fair and Initiate Interview page</h4>
         	</div>
         	 <ul class="nav nav-pills foradminuser">
			    <li ng-class="{'active': imageTabFlag === 1}"><a ng-click="mediaforFlag= 1;mediatype=1" data-toggle="pill" data-target="#home" href="">Home page Image/Video</a></li>
			    <li ng-class="{'active': imageTabFlag === 2}"><a ng-click="mediaforFlag= 2;mediatype=1" data-toggle="pill" data-target="#menu1">User Guide Image/video</a></li>
			    <li ng-class="{'active': imageTabFlag === 3}"><a ng-click="mediaforFlag= 3" data-toggle="pill" data-target="#jobList">Job Listing Page</a></li>
			    
			 </ul>
           <div class="tab-content">
           <div id="home" class="tab-pane fade in active">
           <div class="col-md-12"> 
           			<div class="form-group" style="float: left;">
						<select class="form-control flat-control-inner" id="select-ques-type_id"
							ng-model="mediatype" style="padding: 0px;">
							<option ng-value="1">Image</option>
							<option ng-value="2">Video</option>
						</select>
					</div>
					<div class="button-group" style="margin: 0px 10px;">
						<button class="btn btn-default btn-create" id="create-job-btn"
							ng-click="addImageDiv(mediatype)">
							<i class="icon-plus"></i>
						</button>
						<button class="btn btn-default btn-create" id="create-job-btn"
							ng-click="fetchUploadedJobfairImages()" data-toggle="modal"
							ng-if="perviewButtton == 0" data-target="#preview-screen">
							<i class="fa fa-eye"></i>
						</button>
					</div>
				</div>  
           <div class="col-md-6" id="media" ng-repeat="ls in list">
               
                  <img  id="image_upload_preview_u{{$index}}" ng-if="ls.type != 'video'" src="resources/img/default-img.jpg"  ng-src="{{ls.bannerPath}}" alt="your image" class="img-responsive image_upload_preview"/>
                 
                  <video id="video_upload_preview_u{{$index}}" ng-if="ls.type =='video'" controls   ng-src="{{ls.bannerPath}}" type="video/mp4">
					<source>
				</video>
				
                <div class="browse-btns">
	              	  <div class="btn-default browse-btn">Browse
	                  	<input type='file' name="inputImage" ng-if="ls.type != 'video'" id="input-image{{$index}}" accept="image/*" ng-click="getindex1($index)" onchange="angular.element(this).scope().pushInputFileInList(this,1)" class="input-image">
	                  	<input type='file' name="inputImage" ng-if="ls.type == 'video'" id="input-image{{$index}}" accept="video/*" ng-click="getindex1($index)" onchange="angular.element(this).scope().pushInputFileInList(this,1)" class="input-image">
	                  </div>
	                  <button type="button" class="btn-default remove-btn" id="remove-img{{$index}}" ng-click="getremove1($index);">Remove</button>
                 </div>
                 
           </div>
           </div>
           <div id="menu1" class="tab-pane fade ">
           	<div class="col-md-12">
           	<div class="form-group" style="float:left;">
						<select class="form-control flat-control-inner" id="select-ques-type_id"
							ng-model="mediatype" style="padding: 0px;">
							<option ng-value="1">Image</option>
							<option ng-value="2">Video</option>
						</select>
					</div>
	          <div class="button-group" style="margin: 0px 10px;">
	          <button class="btn btn-default btn-create" id="create-job-btn" ng-click="addImageDivForUser(mediatype)"><i class="icon-plus"></i></button>
	           	<button class="btn btn-default btn-create" id="create-job-btn" ng-click="fetchUploadedJobfairImagesForUser()" data-toggle="modal" ng-if="perviewButtton == 0" data-target="#preview-screen-for-user"><i class="fa fa-eye"></i></button>
	    	  </div>
	         </div> 
	         
	         <div class="col-md-6" id="media" ng-repeat="ls in listForUser">
               
                  <div>
                  	<img  id="image_upload_preview_h{{$index}}" ng-show="ls.type !='video'" src="resources/img/default-img.jpg"  ng-src="{{ls.bannerPath}}" alt="your image" class="img-responsive image_upload_preview" style="min-height: 190px;width: 100%;"/>
                 
                  <video preload="none" controls="controls" id="video_upload_preview_h{{$index}}" name ="myvideo" ng-show="ls.type =='video'" controls   ng-src="{{ls.bannerPath}}" type="video/mp4">
					<source>
				</video>
                  </div>
				
                <div class="browse-btns">
	              	  <div class="btn-default browse-btn">Browse
	                  	<input type='file' name="inputImageForUser" ng-if="ls.type !='video'" id="input-image-user{{$index}}" accept="image/*" onchange="angular.element(this).scope().pushInputFileInList(this,2)" ng-click="getindexForUser($index)" class="input-image">
	                  	<input type='file' name="inputImageForUser" ng-if="ls.type =='video'" id="input-image-user{{$index}}" accept="video/*" onchange="angular.element(this).scope().pushInputFileInList(this,2)"  ng-click="getindexForUser($index)" class="input-image">
	                  </div>
	                  <button type="button" class="btn-default remove-btn" id="remove-img{{$index}}" ng-click="getRemoveForUSer($index);">Remove</button>
                 </div>
           </div> 
      	</div>
      	<div id="jobList" class="tab-pane fade ">
           
           <div class="col-md-6" id="job" >
            
             <label>Title</label>
           <input type="text" name="job" class="form-control flat-control-search" id="title1" ng-model="jobfair.jobTitle" maxlength="30" ng-keypress="checkkeys()"> 
           
           <label>Description</label>
              <textarea name="job" class="form-control flat-control-search"  id="decs1" ng-model="jobfair.jobDescription" cols="35" rows="7"  maxlength="60" ng-keypress="checkdecs()"style="margin-bottom: 0 !important;padding: 0px 12px!important	;"></textarea>
            <br><br>
		  <label>Title</label>
           <input type="text" name="job" class="form-control flat-control-search" id="title2" ng-model="jobfair.jobTitle1"  maxlength="30" ng-keypress="checkkeys()"> 
           
           <label>Description</label>
              <textarea  name="job" class="form-control flat-control-search" id="decs2" ng-model="jobfair.jobDescription1" cols="35" rows="7"  maxlength="60" ng-keypress="checkdecs()"style="margin-bottom: 0 !important;padding: 0px 12px!important	;"></textarea>
       
           </div>
           </div>
      	<div class="clearfix"></div>
      	<div class="line">
      		 <div class="btn-cntnr text-right">
              <button class="btn btn-default btn-bluer" ng-if="editflag == true"  type="submit" ng-click="saveJobFairDetail(jobfair)">Save</button>
                <button type="submit" ng-if="!editflag"  class="btn btn-default btn-bluer ng-scope"  ng-click="updateJobFairDetail(jobfair)" >Update</button>
        
        <a ng-click="" ui-sref="restricted.admin.walkinlist">Cancel</a>
      </div>
      	</div>
      </div>
      </div>
      
      </div>





<!-- modal -->
         <div class="modal fade" id="preview-screen" role="dialog" style="padding: 0px !important;">
          <div class="modal-dialog modal-md add-brand"><!-- style="width: 80% !important;" -->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close"  data-dismiss="modal">X</button>
                <h4 class="modal-title">Homepage Preview</h4>
              </div>
              
              <div class="modal-body height-550" >                 
                 <div id="cruise-slider" class="carousel slide " data-ride="carousel"  >
                 
                 
                 <ol class="carousel-indicators hidden-xs">
  				  <li data-target="#cruise-slider"   data-slide-to="{{$index}}" class="active" ng-repeat="l in list" ></li>   
    			 </ol>
                 
               

                <!-- Wrapper for slides -->
                <div class="carousel-fade">
                <div class="carousel-inner">
    
                  
      <div class="item relative-item" ng-class="{active:!$index}" ng-repeat="l in list">
      <img ng-src="{{l.bannerPath}}" alt="your image" ng-show="l.type !='video'"  width="100%" style="height: 455px;">
      <video style="width:100%;"  ng-show="l.type =='video'" controls   ng-src="{{l.bannerPath}}" type="video/mp4">
					<source>
				</video>
       <div class="carousel-caption cruise-captions cruise-cap-slide">
<!--        <h3 ng-bind-html="b.text"></h3> -->    
  </div>
     
      </div>        
                </div>
                </div>
                </div>
                </div>
                </div>
              </div>
              </div>
              <!-- for user  -->
              
              <div class="modal fade" id="preview-screen-for-user" role="dialog" style="padding: 0px !important;">
          <div class="modal-dialog modal-md add-brand"><!-- style="width: 80% !important;" -->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" >X</button>
                <h4 class="modal-title">Homepage Preview</h4>
              </div>
              
              <div class="modal-body height-550" >                 
                 <div id="cruise-slider1" class="carousel slide " data-ride="carousel"  >
                 
                 
                 <ol class="carousel-indicators hidden-xs">
  				  <li   data-target="#cruise-slider1"  data-slide-to="{{$index}}" class="active" ng-repeat="l in listForUser" ></li>   
    			 </ol>
                 
               

                <!-- Wrapper for slides -->
                <div class="carousel-fade">
                <div class="carousel-inner">
    
                  
      <div class="item relative-item" ng-class="{active:!$index}" ng-repeat="l in listForUser">
      <img ng-src="{{l.bannerPath}}" alt="your image" ng-show="l.type !='video'"  width="100%" style="height: 455px;">
	  <video style="width:100%;"  id="carousel-video"  ng-show="l.type =='video'" controls   ng-src="{{l.bannerPath}}" type="video/mp4">
	</video>
       <div class="carousel-caption cruise-captions cruise-cap-slide">

  </div>
     
      </div>        
                </div>
                </div>
                </div>
                </div>
                </div>
              </div>
              
            </div>
            
            

<script type="text/javascript">

$(document).ready(function () {
	
	$("video").on("play", function () {
	$("video").not(this).each(function (index, video) {
	var tmp_src = video.currentSrc;
	var playtime = video.currentTime;
	video.src = '';
	video.load();
	video.src = tmp_src;
	video.currentTime = playtime;

	});
	});
	});

/* var app;
app.filter("trustUrl", ['$sce', function ($sce) {
    return function (recordingUrl) {
        return $sce.trustAsResourceUrl(recordingUrl);
    };
}]); */


$('.popupslide').carousel({
	  interval: 1000 * 4,
	  pause: "false"
	});
	

</script>
<script>
  	$('.dateonly').datetimepicker({	    		
			 format: 'DD-MM-YYYY',
			 useCurrent: false, 
			 //minDate:new Date()     	
  	}).on('dp.change', function (e) { $(this).change()});
</script>

<script type="text/javascript">
$('.modal').on('hidden.bs.modal', function (e) {
    {    
    $('video').trigger('pause');
    }
   });
   
 $('#cruise-slider1').on('slide.bs.carousel', function () {
		
		 $('video').trigger('pause');
	}); 
	
 $('#cruise-slider').on('slide.bs.carousel', function () {
		
	 $('video').trigger('pause');
}); 
 
</script>
