<style>
.zeromargin-new{
  margin: 10px 0 !important;
  width:25% !important];
     
      display:inline;
}
  .zeromargin-new p{
    margin: 0px;
    display: inline-block;
     vertical-align: top;
  }
  [type="checkbox"]:checked:focus + label:before, [type="checkbox"]:not(:checked):focus + label:before{
  border:1px solid !important}
</style>

<div class="admin-page">
<div class="section-heading">
        <h4>Create Role</h4>
        <!-- <p>Create new requisition for recruitment from customers.</p> -->
      </div>
<div class="section-content" id="create-user-btn">

<div class="table-cntnr">
        <div class="form-group" style="display: inline-block;width: 100%">
                  
              
                  <label class="ng-binding" style="width:15%">Role</label>
                  <input type="text" class="form-control flat-control-inner " ng-model="roleMenuMapping.role.name" style="display: inline-block;width: 25%;" allow2="" required="required">
                 
        </div>
         <div class="table-cntnr">
        <div class="form-group" style="display: inline-block;width: 100%">
                  
              
                  <label class="ng-binding" style="width:15%;vertical-align: top;">Description</label>
                  <textarea class="form-control flat-control-inner " rows="4" ng-model="roleMenuMapping.role.roleDescription" style="display: inline-block;width: 25%;" ></textarea> 
                 
        </div>
         <div class="form-group" style="display: inline-block;width: 100%">
           <label class="ng-binding" style="width:15%;vertical-align: top;">Menu</label>
           <div style="display: inline-block;width: 80%;" >
          
          <div class="chckbx-cntnr zeromargin zeromargin-new col-md-4"  ng-repeat=" m in menuroleList">
                      <input type="checkbox" id="{{m.id}}" name="check-q" class="flashadmin " ng-model="m.isSelected" class="flashadminadmin">
                      <label class="cstmchk_lbladmin" for="{{m.id}}"></label> 
                      <p>{{m.name}}</p> 
                    </div>
                      
          
                  <!-- 	<div class="zeromargin zeromargin-new col-md-4"  ng-repeat=" m in menuroleList">
                      <input type="checkbox" id="{{m.id}}" name="check"  ng-model="m.isSelected" class="flashadminadmin">
                      <label class="cstmchk_lbladminadmin" for="{{m.id}}"></label>
                      <p>{{m.name}}</p> 
                    </div> -->
                     
                    </div>
                  </div>
        </div>
        <button type="submit" ng-if="role == undefined" class="btn btn-default btn-bluer ng-scope" id="create_slot-btn" ng-click="saveCreatedRole(roleMenuMapping)">Submit</button>
        <button type="submit" ng-if="role != undefined"  class="btn btn-default btn-bluer ng-scope" id="upadate-btn"  ng-click="updateRole(roleMenuMapping)">Update</button>
        <a href="" ui-sref="restricted.admin.role_listing">Cancel</a>  

      </div>
      
      <div class="btn-cntnr" style="margin-top: 20px; margin-bottom: 20px;text-align: right;">
           
   </div>   
    </div>
    
    </div>
    </div>
