 <!-- <script src="https://cdn.ckeditor.com/4.7.3/standard/ckeditor.js"></script>
 <script>
      CKEDITOR.replace('main_duties');
      //CKEDITOR.replace('preferred_qualification');
      //CKEDITOR.replace('basic_qualification');
      CKEDITOR.replace('template-text');
    </script> -->
 
 
<div >

<div id="post" class="tab-pane fade in admin-page">
      <div class="section-heading">
        <h4>Post Jobs</h4>
        <p>Create and post new job or choose one from already posted jobs.</p>
      </div>
      <div class="section-content" id="create-job" >
        <div class="shadow-container">
          <div class="inner-head">
            <h4>Create new job post</h4>
          </div>
          <div class="inner-form">
          <form  ng-submit="saveOrUPdatePostJob(postedJob)">
            <div class="row">
            
              <div class="col-md-4">   
               <div class="form-group">
                    <label>Brand*</label>                    
                   
                    <select class="form-control flat-control-inner" ng-model="postedJob.brand.id" ng-options="cl.id as cl.brandName for cl in brandsList" required>
                    <option value = "">--Please Select--</option>
                    
                    
                    
                    </select>
              </div>
              </div>
                    
             
              <div class="col-md-4">              
                <div class="form-group">
                  <label>Department*</label>                    
                   <select class="form-control flat-control-inner"  ng-change="fetchpositonbydipartment(postedJob.category.id)"
                    ng-model="postedJob.category.id" ng-options="cl.id as cl.name for cl in categoryList" required>
                  
                       <option value="">--Select--</option> 
                      </select>
                   
                </div>                
              </div>              
              
              <div class="col-md-4">
                <div class="form-group">
                  <label>Position*</label>                  
                  <select class="form-control flat-control-inner" ng-model="postedJob.position.id" ng-change="fetchCompliancesbyPosition(postedJob.brand.id,postedJob.category.id,postedJob.position.id)"  
                  ng-options="cl.id as cl.positonname for cl in positionbydepartment" required>                  
                    <option value="">--Select--</option>
                  <label>Position*</label>
                
                  </select>
                </div>
              </div>
            </div>
            
            <div class="row">
              <h4 class="form-heading">Job Description</h4>
              <div class="col-md-12">
                <div class="form-group">
                  <label>Short Description*</label>
                  <textarea class="form-control flat-control-inner" ng-model="postedJob.shortDescription" cols="5" rows="5" required oninvalid="this.setCustomValidity('Please enter information in this field')" oninput="setCustomValidity('')"></textarea>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label>Full Description*</label>
                  <textarea class="form-control flat-control-inner" ng-model="postedJob.summery" cols="10" rows="5" name="main_duties" id="fulldesc" required></textarea>
                </div>
              </div>
            </div>
         
            <div class="row">
              <h4 class="form-heading">Person Role Mapping</h4>
              <div class="col-md-12">
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Type</th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat ="list in postedJob.postedJobEducation">
                      <td>
                        <div class="form-group">
                          <label>Education</label>
                          <select class="form-control flat-control-inner" ng-model="list.typekey"  >
                            <option value = ""> --Please Select-- </option>
                             <option data-ng-repeat="q in qualificationsList" value="{{q.levelId}}" ng-selected="q.levelId==list.typekey">{{q.qualificationName}}</option>
                          </select>
                        </div>
                      </td>
                    
                      <td>
                        <div class="form-group">
                          <label >Weightage %</label>
                          <input type="text" name="" id="points1" class="form-control flat-control-inner" ng-model="list.points"  numbers-only="numbers-only" required oninvalid="this.setCustomValidity('Please enter information in this field')" oninput="setCustomValidity('')">
                        </div>
                      </td>
                      <td style="vertical-align: middle;text-align:center;">
                       <div >
                      <button class="btn btn-default btn-delete" ng-click="deleteEducationlist($index)"  ><i class="icon-trash-2"></i></button>
                      </div>
                      </td>
                    </tr>
                    
                    <tr ng-repeat ="list in postedJob.postedJobRating">
                      <td>
                        <div class="form-group">
                          <label>Trip Advisor Rating</label>
                          <select class="form-control flat-control-inner" ng-model="list.typekey">
                            <option value = "">--Please Select--</option>
                             <option data-ng-repeat="rl in ratingList" value="{{rl.id}}" ng-selected="rl.id==list.typekey">{{rl.ratingName}}</option>                              
                          </select>
                        </div>
                      </td>
                    
                      <td>
                        <div class="form-group">
                          <label >Points %</label>
                          <input type="text" name=""  id="points2" class="form-control flat-control-inner" ng-model="list.points"  numbers-only="numbers-only" required oninvalid="this.setCustomValidity('Please enter information in this field')" oninput="setCustomValidity('')">
                        </div>
                      </td>
                       <td style="vertical-align: middle;text-align:center;">
                       <div >
                      <button class="btn btn-default btn-delete" ng-click="deleteRatinglist($index)"  ><i class="icon-trash-2"></i></button>
                      </div>
                      </td>
                    </tr>
                    <tr ng-repeat ="list in postedJob.postedJobKeywords">
                      <td>
                        <div class="form-group">
                          <label>Keywords *</label>
                          <input type="text" name="" class="form-control flat-control-inner" required ng-model="list.typekey" oninvalid="this.setCustomValidity('Please enter information in this field')" oninput="setCustomValidity('')">
                        </div>
                      </td>
                     
                      <td>
                        <div class="form-group">
                          <label >Points % </label>
                          <input type="text" name="" id="points3" class="form-control flat-control-inner" ng-model="list.points"  numbers-only="numbers-only" required oninvalid="this.setCustomValidity('Please enter information in this field')" oninput="setCustomValidity('')">
                        </div>
                      </td>
                       <td style="vertical-align: middle;text-align:center;">
                       <div >
                      <button class="btn btn-default btn-delete" ng-click="deleteKeywordslist($index)"  ><i class="icon-trash-2"></i></button>
                      </div>
                      </td>
                    </tr>

                    <tr id="exp-row" ng-repeat ="list in postedJob.postedJobExperience">
                      <td>
                        <div class="form-group">
                          <label>Experience</label>
                          <select class="form-control flat-control-inner" ng-model="list.typekey" >
                            <option value = ""> --Please Select-- </option>
                                  <option data-ng-repeat="el in experianceList" value="{{el.id}}" ng-selected="el.id==list.typekey">{{el.experianceName}}</option>                              
                          </select>
                        </div>
                      </td>
                     
                      <td>
                        <div class="form-group">
                          <label >Points %</label>
                          <input type="text" name=""  id="points4" class="form-control flat-control-inner" ng-model="list.points"  numbers-only="numbers-only" required oninvalid="this.setCustomValidity('Please enter information in this field')" oninput="setCustomValidity('')">
                        </div>
                      </td>
                      <td style="vertical-align: middle;text-align:center;">
                       <div >
                      <button class="btn btn-default btn-delete" ng-click="deleteExperiencelist($index)"  ><i class="icon-trash-2"></i></button>
                      </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="text-right">
                  <button type="button" class="btn btn-default btn-round-add" data-target="#role_map" data-toggle="modal" ><i class="icon-plus"></i></button>
                </div>
              </div>
            </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <h4 class="form-heading" style="margin-left:0;">Compliance Requirement</h4>
                              
               <div class="comp-list">
               <div class="tags" ng-repeat="x in compliancesListbyPosition" ng-if="x.check == true">
                      <label class="label-text" >{{x.complianceName}}</label>
                      <span class="cross-mark"><!-- <i class="icon-x-circle" ng-click="removecompliance(x)"> --></i></span>        
                    </div>                
                <div class="text-left">
<!--                 <button type="button" class="btn btn-default btn-blue" data-target="#compliance-list" data-toggle="modal" ng-click="setCompliance()"><i class="icon-plus"  ></i> Add Compliances</button>
 -->                </div>
                </div>
                
              </div>
              <div class="col-md-6">
                <h4 class="form-heading" style="margin-left:0;">Assessment Requirement</h4>
                
             	<div class="ass-list">
                <div class="tags" ng-repeat="x in newassessmentlist">
                      <label class="label-text">{{x}}</label><span class="pull-right cross-mark"><i class="icon-x-circle" ng-click="removeassessment(x)"></i></span>
                    </div>                   
                </div>
             
                <div class="text-left">
                <button type="button" class="btn btn-default btn-blue" data-target="#assessment-list" data-toggle="modal" ng-click="setAssessment()"><i class="icon-plus" ></i> Add Assessments</button>
                </div>
              </div>
            </div>


            <div class="btn-cntnr" style="margin-top: 20px;">
              <button ng-if="!postjobeditFlag" type="submit" class="btn btn-default btn-bluer" id="post_job-btn" ng-disabled="disabled">Save & Post Job</button>
               <button ng-if="postjobeditFlag" type="submit" class="btn btn-default btn-bluer" id="post_job-btn" ng-disabled="disabled">Update Posted Job</button>
             <!--  <a href="">Save</a> -->
              <a href="" ng-click="cancelPostedJob()">Cancel</a>
            </div>
            
             </form>       
          </div>
        </div>
      </div>    
      
             <!----Modal Compliance List---->
<div id="compliance-list" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content flat-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h4 class="modal-title common-title" style="margin-left: 0;">List of Compliances</h4>
      </div>
      <div class="modal-body flat-body">
        <div class="search-cntnr">
            <div class="form-group search-box">
              <input type="text" name="" class="form-control flat-control-search">
              <i class="icon-search"></i>
            </div>
          </div>
          <div class="clearfix"></div>
          
          
        <div class="row"  >
          <div class="col-md-4" ng-repeat="x in compliancelist">
          <div class="checkbox-cntnr">
            <input type="checkbox" id={{x.complianceName}} ng-click="getcompliancelist(x.complianceName)" >
            <label for={{x.complianceName}} class="label-text marbot-20">{{x.complianceName}}</label>
          </div>
          </div>
      </div>      
      <div class="modal-footer text-left" >
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal" id="show_list">Add</button> -->
        <a class="btn btn-link" data-dismiss="modal">Cancel</a>
      </div>
    </div>

  </div>
</div>
</div>

<!----Modal assessment-list---->
<div id="assessment-list" class="modal fade" role="dialog">
  <div class="modal-dialog ">

    <!-- Modal content-->
    <div class="modal-content flat-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h4 class="modal-title common-title" style="margin-left: 0;">List of Assessments</h4>
      </div>
      <div class="modal-body flat-body">
        <div class="search-cntnr">
            <div class="form-group search-box">
              <input type="text" name="" class="form-control flat-control-search">
              <i class="icon-search"></i>
            </div>
          </div>
          <div class="clearfix"></div>
        <div class="row">
        
          <div class="col-md-6" ng-repeat="x in assessmentlist">
          <div class="checkbox-cntnr">
            <input type="checkbox" name="" id={{x.assessmentName}} ng-click="getassessmentlist(x.assessmentName)">
            <label for={{x.assessmentName}} class="label-text marbot-20" style="font-weight:500!important;">{{x.assessmentName}}</label>
          </div>
          </div>
    
        
      </div>
      <div class="modal-footer text-left">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal" id="show_ass">Add</button> -->
        <a class="btn btn-link" data-dismiss="modal">Cancel</a>
      </div>
    </div>
   </div>
    </div>
    </div>
     
    <div id="role_map" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content flat-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h4 class="modal-title common-title" style="margin-left: 0;">Select Role mapping</h4>
      </div>
      <div class="modal-body flat-body">
        <!-- <p>Select:</p> -->
        <div class="form-group">
                          <select class="form-control flat-control-inner" ng-model="roleMapping"  
                          ng-options="rl.id as rl.type for rl in personRoleMappingTypeList">
                            <option value="">Select</option>
                          
                          </select>
                        </div>

      </div>
      <div class="modal-footer text-left">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="exp-show" ng-click="addRoleMapping(roleMapping)">Add</button>
        <a class="btn btn-link" data-dismiss="modal">Cancel</a>
      </div>
    </div>

  </div>
</div>
    
 </div>
 </div>   
    
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
 <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
  <script src="script.js"></script>