<div class="section-content fade in admin-page" id="show-add-testimonial">
      <div class="shadow-container">
          <div class="inner-head">
            <h4>Create Testimonial</h4>
          </div>
          <div class="inner-form">
          <form id="myForm" name="" ng-submit="addTestimonialsDetails(testimonial)">              
          <div class="row">
          	<div class="col-md-6">
          		<div class="form-group">
                  <label>Sequence No.:</label>
                 	<input type="number" name="" ng-model="testimonial.sequence" class="form-control flat-control-inner" style="width: 60px;" maxlength="2">
                </div>
          		<div class="form-group">
                  <label>Name:</label>
                 	<input type="text" name="" ng-model="testimonial.name" class="form-control flat-control-inner">
                </div>
                <div class="form-group">
                  <label>Designation:</label>
                   	<input type="text" name="" ng-model="testimonial.position" class="form-control flat-control-inner">
                </div> 
                <div class="form-group">
                  <label>Description:</label>
                   	<textarea class="form-control flat-control-inner" ng-model="testimonial.description" rows="10"></textarea>
                </div> 
          	</div>
          	<div class="col-md-6">
          		<img  id="image_upload_preview" ng-src="{{testimonial.path}}" alt="your image" class="img-responsive image_upload_preview" style="min-height: 190px;max-width: 190px;"/>
                  <p class="logo_recomm">Recommended Size: 1280*455px</p>
                  <div class="btn-default browse-btn">Browse
                  <input type='file' id="input-image" ng-click="getindex($index)" class="input-image">
                  </div>

                  <button type="button" class="btn-default remove-btn" id="remove-img" ng-click="getremove($index);">Remove</button>
          	</div>
          </div>
            

        <div class="btn-cntnr" style="margin-top: 20px; margin-bottom: 20px; text-align: left!important;">
              <button class="btn btn-default btn-bluer" id="update_slot-btn" type="submit">Save</button>
              <a ng-click="cancel()">Cancel</a>
            </div>
      </form>      
    </div>
    </div>
</div>