<div id="post" class="admin-page">

<table class="table table-striped red-table">
            <caption>Settings</caption>
            <thead>
              <tr>
                <th>
                  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="rd" name="check" class="flash">
                      <label class="cstmchk_lbl" for="rd"></label> 
                    </div>
                </th>
                <th>Brand</th>
                <th>Code</th>
               <th>Amount</th>
               </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="1" name="check" class="flash">
                      <label class="cstmchk_lbl" for="1"></label> 
                    </div>
                </td>
                <td>P & O Cruises</td>
                <td><input type="text" class="form-control flat-control-inner" style="margin: 0px;width: 70%;"></td> 
                <td><input type="text" class="form-control flat-control-inner" style="margin: 0px;width: 70%;"></td>
              </tr>
              <tr>
                <td>
                  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="1" name="check" class="flash">
                      <label class="cstmchk_lbl" for="1"></label> 
                    </div>
                </td>
                 <td>Carnival</td>
                <td><input type="text" class="form-control flat-control-inner" style="margin: 0px;width: 70%;"></td> 
                <td><input type="text" class="form-control flat-control-inner" style="margin: 0px;width: 70%;"></td>
              </tr>
              <tr>
                <td>
                  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="1" name="check" class="flash">
                      <label class="cstmchk_lbl" for="1"></label> 
                    </div>
                </td>
                <td>Applicable to All</td>
                <td><input type="text" class="form-control flat-control-inner" style="margin: 0px;width: 70%;"></td> 
                <td><input type="text" class="form-control flat-control-inner" style="margin: 0px;width: 70%;"></td>
              </tr>
              
            </tbody>
          </table>
          
           <div class="btn-cntnr" style="margin-top: 20px; margin-bottom: 20px;">
              <button class="btn btn-default btn-bluer" id="create_slot-btn">Submit</button>
              <!-- <a href="">Cancel</a> -->
            </div>
</div>