
<div id="compliance-matrix" class="tab-pane fade in admin-page" ng-controller="CrewComplianceMapping_Ctrl">
      <div class="section-heading">
        <h4>Compliance Mapping for Crew</h4>
        <!--<p>Create and post new job or choose one from already posted jobs.</p>-->
      </div>
      <div class="section-content" id="post-list">
      <form ng-submit="saveCompliancesforPosition(compl.ships.id,compl.brands.id,compl.category.id,compl.position.id,compl)">
      
        <div class="upper-actions">
         
          <div class="clearfix"></div>
        </div>

        <div class="section-content" id="create-req">
        <div class="">        
          <div class="inner-form">
            <div class="row">            
              <div class="col-md-3">
                <div class="form-group">
                  <label>Brand*</label>
                  <select class="form-control flat-control-inner with-caret"  id="compl.brands.id" ng-model="compl.brands.id" ng-change="fetchShipsbyBrand(compl.brands.id)" ng-options="b.id as b.brandName for b in brandsList">
                  <option value = "">--Please Select--</option>                 
                    <!-- <option>Carnival Cruises</option>
                    <option>P&amp;O</option> -->
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Ship*</label>
                  <select class="form-control flat-control-inner with-caret"  id="compl.ships.id" ng-model="compl.ships.id" ng-change="fetchCompliancesbyPosition(compl.ships.id,compl.brands.id,compl.category.id,compl.position.id)" ng-options="s.id as s.name for s in shipsList">
                  <option value = "">--Please Select--</option>                 
                    <!-- <option>Carnival Cruises</option>
                    <option>P&amp;O</option> -->
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Department*</label>
                  <select class="form-control flat-control-inner" ng-model="compl.category.id"  ng-change="fetchpositonbydipartment(compl.category.id)" ng-options="c.id as c.name for c in categoryList">
                  <option value = "">--Please Select--</option>
                    <!-- <option>Galley</option>
                    <option>Casino</option> -->
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Position*</label>
                  <select class="form-control flat-control-inner" ng-model="compl.position.id"  ng-change="fetchCompliancesbyPosition(compl.ships.id,compl.brands.id,compl.category.id,compl.position.id)" ng-options="p.id as p.positonname for p in positionbydepartment">
                  <option value = "">--Please Select--</option>
                                   
                  </select>
                </div>
              </div>
              
            </div>
            
          </div>
        </div>
      </div>
        <div class="table-cntnr inner-popup-tabs">
          <table class="table table-striped red-table">
           <caption>Compliance</caption>
            <thead>
              <tr>
                <th>
                  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="rd" name="check" class="flashadmin" ng-click="checkedAll(compl.ships.id,compl.brands.id,compl.category.id,compl.position.id)">
                      <label class="cstmchk_lbladmin" for="rd"></label> 
                    </div>
                </th>
                <th>Compliance Name</th>                
                <th>Validity Required (days) after posting end date</th>
               </tr>
            </thead>
            <tbody>
              
              <tr ng-repeat="cl in complianceList">
                <td>
                    <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="checkcompl{{$index}}" ng-click="getselectedStatus(compl.ships.id,compl.brands.id,compl.category.id,compl.position.id,$index)" ng-checked="cl.check" name="check" class="flashadmin">                    
                      <label class="cstmchk_lbladmin" for="checkcompl{{$index}}"></label> 
                    </div>
                </td>
                <td><a>{{cl.complianceName}}</a></td>                
                <td>
                  <div class="form-group">
                    <input type="text" name="input" ng-model="compl.compliancevalidity" class="brand-name" style="width:50%">
                 </div>
                </td>
              </tr>                          
            </tbody>
          </table>                           
        </div>
	        <div class="btn-cntnr com_map_savebtn_box">
	          <button class="btn btn-default btn-bluer" type="submit" id="cancel-req-btn">Save</button>
	          <a data-target="#confrmtn" ng-click="showmodal(compl.ships.id,compl.brands.id,compl.category.id,compl.position.id)">Cancel</a>
	        </div>            
        </form> 
             
      </div>
      
      
 <div id="confrmtn" class="modal fade" role="dialog">
  <div class="modal-dialog ">

    <!-- Modal content-->
    <div class="modal-content flat-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">X</button>
        <h4 class="modal-title common-title" style="margin-left: 0;">Cancel Record</h4>
      </div>
      <div class="modal-body flat-body">
          <div class="clearfix" ng-value="getCheckedId()"></div>
        Are you sure want to cancel?
      <div class="modal-footer text-left">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="show_ass" ng-click="redirectPage()">Yes</button>
        <a class="btn btn-link" data-dismiss="modal" >No</a>
      </div>
    </div>
   </div>
    </div>
    </div>
      
 </div>