
<div class="admin-page" >
            <div class="section-heading">
        <h4>Department Master</h4>
        <!--<p>Create and post new job or choose one from already posted jobs.</p>-->
      </div>
      <div class="section-content" id="post-list">
        <div class="upper-actions">
          <div class="button-group">
            <button class="btn btn-default btn-create" id="create-job-btn" data-toggle="modal" ng-click="clear()" data-target="#add_department"><i class="icon-plus"></i></button>
            <button class="btn btn-default btn-delete" data-target="#deletelist" ng-click="check()"><i class="icon-trash-2"></i></button>
          </div>
          <div class="search-cntnr">
            <div class="form-group search-box inline-blck">
              <input type="text" name="" id="id_of_textbox" class="form-control flat-control-search mar-bottom-zero" ng-model="search">
              <i class="icon-search" id="id_of_button" ng-click="fetchCategoryMasterList(0,10,null,null,search);getcategoryListcount(search)"></i>
            </div>
          </div>
          
          <div class="clearfix"></div>
        </div>
        <div class="table-cntnr">
          <table class="table table-striped red-table">
            <caption>Departments</caption>
            <thead>
              <tr>
                <th>
                  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="rd" name="check" class="flashadmin" ng-click="checkedAllList(departmentList,all)" ng-model="all">
                      <label class="cstmchk_lbladmin" for="rd"></label> 
                    </div>
                </th>
                <th >Department<i class="fa fa-sort" aria-hidden="true" ng-click="SortingBrandMasterList('Category',search)"></i></th>
                <th >Department Logo</th>
              
               </tr>
            </thead>
            <tbody>
             <tr ng-repeat="d in departmentList">
                <td>
                  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="{{d.id}}" name="check" class="flashadmin"  ng-click="checkedList(d.id)" ng-checked="all">
                      <label class="cstmchk_lbladmin" for="{{d.id}}"></label> 
                    </div>
                </td>
                <td><a id="create-job-btn" data-toggle="modal" data-target="#edit_department" ng-click="departmentdata(d)">{{d.categoryName}}</a></td>
               <td><img ng-src="{{d.iconPath}}" class="img-responsive" ng-if="d.iconPath!=''" data-target="#edit_department_logo"  data-toggle="modal" ng-click="openUpdateModal(d)" style="height:34px;">
            <img src="resources/img/logo-placeholder.png" class="img-responsive" ng-if="!d.iconPath" data-target="#edit_department_logo"  data-toggle="modal" ng-click="openUpdateModal(d)" style="height:34px;"></td>
            <!--        <td><img ng-src="{{d.iconPath}}" class="img-responsive"></td> -->
                
              </tr>
            </tbody>
          </table>
            <div class="text-right">
            
            <ul class="pagination" style="margin-top: 0;">
			<li><a ng-hide="start == 0" ng-click="previous()">&laquo;</a>
			<li ng-repeat="i in navButtons" ng-class="$parent.offset == i * $parent.limit && 'active'"><a class="" ng-click="current(i)">{{i+1}}</a></li>
			<li><a ng-hide="(((start+5)*10) + 10) >= count" ng-click="next()">&raquo;</a></li>
			</ul>
 
            </div>
        </div>
      </div>
      <!-- ------add department---- -->
      <div class="modal fade" id="add_department" role="dialog">
          <div class="modal-dialog modal-sm add-brand">
          
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">X</button>
                <h4 class="modal-title">Add Department Name</h4>
              </div>
               <form id="BrandAdd" ng-submit="addDepartmentDetails(department)">
              <div class="modal-body">
               
                  <p>Department Name:</p>
                   <div class="form-group">
                    <input type="text" name="brand-name" class="brand-name" ng-model="department.categoryName" required>
                 </div>
                
                 <div class="form-group text-right">
                  <button id="brandbtn" type="submit" class="btn-info add_brand">Add </button>                  
                </div>
             
              </div>
             </form>
            </div>
            
          </div>
      </div>
   
       <div class="modal fade" id="edit_department" role="dialog">
          <div class="modal-dialog modal-sm add-brand">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">X</button>
                <h4 class="modal-title">Edit Department Name</h4>
              </div>
              <div class="modal-body">
                <form id="BrandUpdate" ng-submit="updatedepartmentdetails(departmentmaster)">
                  <p>Department Name:</p>
                  <div class="form-group">
                    <input type="text" name="brand-name" class="brand-name" ng-model="departmentmaster.categoryName" required>
                 </div>
                 <div class="form-group text-right">
                  <button type="submit" id="btnupdate" class="btn-info add_brand">Save Changes</button>
                </div>
               </form>
              </div>
              
            </div>
            
          </div>
      </div>
      
      <div class="modal fade" id="edit_department_logo" role="dialog">
          <div class="modal-dialog modal-sm add-brand">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">X</button>
                <h4 class="modal-title">Edit Department Logo</h4>
              </div>
              <div class="modal-body">
                <form id="CategoryUpdate" ng-submit="updateCategoryLogo(department)">
                  <div class="imageupload panel panel-default">
                  <!--  <p>Change Image</p> -->
                      <div class="upload_img_content">
                      <div class="image-part">
                        <img id="blah" ng-src="{{department.iconPath}}" alt="" class="preview-image"/>
                      </div>
                      <div class="btn-part">
                        <button class="btn btn-default btn-file edit_file">
                            <span>Upload</span>
                            <input type="file" accept="image/x-png,image/gif,image/jpeg" name="image-file" id="imgInp">
                        </button>
                        </div>
                      </div>
                   <span id="checksize"></span>
                </div>
                <p class="logo_recomm">Recommended size : 34 * 34px</p>
                 <div class="form-group text-right">
                  <button type="button" id="btnupdate" onclick="readURLupdate()" class="btn-info add_brand">Save Changes</button>
                </div>
               </form>
              </div>
              
            </div>
            
          </div>
      </div>
          
          
      <div id="deletelist" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm add-brand ">
    <!-- Modal content-->
    <div class="modal-content flat-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h4 class="modal-title common-title" style="margin-left: 0;">Delete Record</h4>
      </div>
      <div class="modal-body flat-body">
          <div class="clearfix" ng-value="getCheckedId()"></div>
        Are you sure want to delete {{getCheckedId.length}} records?
      <div class="modal-footer text-left">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="show_ass" ng-click="deletedepartmentfromList('CategoryMaster')">Delete</button>
        <a class="btn btn-link" data-dismiss="modal" >Cancel</a>
      </div>
    </div>
   </div>
    </div>
    </div>
      
      
      
      </div>
      
      <script type="text/javascript">
 $("#id_of_textbox").keyup(function(event) {
	    if (event.keyCode === 13) {
	        $("#id_of_button").click();
	    }
	});
	</script>
<!-- 	     <script type="text/javascript">
    
 function addURL(){
	 
    var file = document.getElementById("getval").files[0];
    var reader = new FileReader();
    reader.onloadend = function(){
       document.getElementById('clock').style.backgroundImage = "url(" + reader.result + ")";        
    }
    if(file){
       reader.readAsDataURL(file);
     }else{
     }  
    $('#BrandAdd').submit();   
 }
 </script>         -->
 <script type="text/javascript">
 function readURLupdate(){
	  
   var file = document.getElementById("imgInp").files[0];
   var reader = new FileReader();
   reader.onloadend = function(){
      document.getElementById('clock').style.backgroundImage = "url(" + reader.result + ")";        
   }
   if(file){
      reader.readAsDataURL(file);
    }else{
    } 
   $('#CategoryUpdate').submit();
}
 </script>

 

 <script>

        /*  var $imageupload = $('.imageupload');
          $imageupload.imageupload();

          $('#imageupload-disable').on('click', function() {
              $imageupload.imageupload('disable');
              $(this).blur();
          })

          $('#imageupload-enable').on('click', function() {
              $imageupload.imageupload('enable');
              $(this).blur();
          })

          $('#imageupload-reset').on('click', function() {
              $imageupload.imageupload('reset');
              $(this).blur();
          });

          function ValidateSize(file) {
            var FileSize = file.files[0].size / 160 / 65; // in MB
            if (FileSize > 1) {
               // alert('File size exceeds 1 MB');
               $("#checkEmail").text("File size exceeds.");
               $("#checkEmail").css("display", "block");
               $("#remove-image").click();

            } else {
                $("#checkEmail").css("display", "none");
      }
  }
          
          
          function readURL(input) {
              if (input.files && input.files[0]) {
                  var reader = new FileReader();
                  
                  reader.onload = function (e) {
                      $('#blah').attr('src', e.target.result);
                  }
                  
                  reader.readAsDataURL(input.files[0]);
              }
          }   
      });  */
      
      
      function readURL(input) {

    	  if (input.files && input.files[0]) {
    	    var reader = new FileReader();

    	    reader.onload = function(e) {
    	      $('#blah').attr('src', e.target.result);
    	    }

    	    reader.readAsDataURL(input.files[0]);
    	  }
    	}

    	$("#imgInp").change(function() {
    	  readURL(this);
    	});
      
      
</script>