<!--Report Master-->
<div class="admin-page" id="redireport">
      <div class="section-heading">
        <h4>Claim List</h4>
        <!--<p>Create and post new job or choose one from already posted jobs.</p>-->
      </div>
      <div class="" style="padding: 10px 14px 0px 14px;">
      <ul class="nav nav-tabs assessment-tabs1" style="border-bottom: 1px solid #ddd !important;">
             	 <li id="my-claims" class="active"><a ng-click="approverTabFlag=1;searchterm=null;order='desc';colName=null;fetchExpensesList(0,10,null,null,null,userdetails.id,userdetails.roleId);getExpenseListCount(null)" data-toggle="pill" href="">My Claims</a></li>
             	 <li id="all-claims"><a ng-click="approverTabFlag=2;searchterm=null;order='desc';colName=null;fetchExpensesList(0,10,null,null,null,userdetails.id,userdetails.roleId);getExpenseListCount(null)" data-toggle="pill" href="" >All Claims</a></li>
             	 <li id="claim-reports"><a ng-click="approverTabFlag=3" data-toggle="pill" href="" >Reports</a></li>
           	 </ul>
      </div>
      <div class="section-content" ng-if="approverTabFlag == 1" id="my-claims-lits">
        <div class="upper-actions">
           <div class="">
              <div class="col-md-8">
              </div>
              <div class="col-md-3">
              <div class="search-cntnr" style="margin: 0px 0px 0px 0px;">
		            <div class="form-group search-box">
		              <input type="text" id="id_of_textbox" name="" class="form-control flat-control-search mar-bottom-zero" ng-model="searchterm">
		              <i class="icon-search" id="id_of_button" ng-click="fetchExpensesList(0,10,null,null,searchterm,0,0,0,0);getExpenseListCount(searchterm)"></i>
		            </div>
         		 </div>
              </div>
              
        <div class="col-md-1">
          <div class="button-group">
          	<button class="btn-default btn-create icon-navigation1 dropdown-toggle" data-toggle="dropdown" id="create-req-btn"><i class="fa fa-check-square-o"></i></button>
           <!--  <a class="dropdown-toggle select-drop" data-toggle="dropdown"></a>
         	<span class="fa fa-filter"></span> -->
	      <ul class="dropdown-menu selection-column" style="overflow:auto;left: -73px;">
						 <li>
						  	<div class="chckbx-cntnr zeromargin">
						     <input type="checkbox" id="app1" name="check" class="flashadmin" ng-click="selectAllColoumns(colcheck);savesettings()" ng-model="colcheck">
						     <label class="cstmchk_lbladmin"  for="app1"></label><label for="app1" class="table-label">Select All</label> 
						   </div>
						  </li>
						  <li ng-repeat="c in columnlist">
						  <div class="chckbx-cntnr zeromargin" ng-if="c.name=='Claim No.' || c.name=='Date of claim' || c.name=='Type of reimbursement' || c.name=='Claimed Amount' || c.name=='Approved amount' || c.name=='Status' || c.name=='Role' || c.name=='Name' || c.name=='Payments'">
						     <input type="checkbox" id="column{{$index}}" name="check" ng-model="c.isActive" class="flashadmin" ng-click="savesettings()" disabled>
						     <label class="cstmchk_lbladmin"  for="column{{$index}}"></label><label for="column{{$index}}" class="table-label">{{c.name}}</label> 
						   </div>
						  	<div class="chckbx-cntnr zeromargin" ng-hide="c.name=='Claim No.' || c.name=='Date of claim' || c.name=='Type of reimbursement' || c.name=='Claimed Amount' || c.name=='Approved amount' || c.name=='Status' || c.name=='Role' || c.name=='Name' || c.name=='Payments'">
						     <input type="checkbox"  id="column{{$index}}" name="check" ng-model="c.isActive" class="flashadmin" ng-click="savesettings()">
						     <label class="cstmchk_lbladmin"  for="column{{$index}}"></label><label for="column{{$index}}" class="table-label">{{c.name}}</label> 
						   </div>
						  </li>
		</ul>
        </div>
       </div>
              
             </div>                 
        </div>
          
       <div class="clearfix"></div>
       

       <div class="tab-content">
        <div id="my-claims-table" class="tab-pane fade in active">
        <div class="table-cntnr table-responsive" style="width: 100%;">
          <table id="content1" class="table table-striped red-table">
           <caption>Claim List</caption>
            <thead>
              <tr>  
              	<th style="vertical-align: middle;min-width: 110px;" ng-show="activeColumn('Claim No.')">Claim No. <i ng-click="SortingExpenseList('claimedId',searchterm)" class="fa fa-sort" aria-hidden="true"></i></th>         
                <th style="vertical-align: middle;min-width: 110px;" ng-show="activeColumn('Emp. No.')">Emp. No. <i ng-click="SortingExpenseList('enumber',searchterm)" class="fa fa-sort" aria-hidden="true"></i></th>
                <th style="vertical-align: middle;min-width: 130px;" ng-show="activeColumn('Name')">Name <i ng-click="SortingExpenseList('ENAME',searchterm)" class="fa fa-sort" aria-hidden="true"></i></th>
                <th style="vertical-align: middle;min-width: 150px;" ng-show="activeColumn('Type of reimbursement')">Type of reimbursement  <i ng-click="SortingExpenseList('reimbermntName',searchterm)" class="fa fa-sort" aria-hidden="true"></i></th>
                
               <th style="vertical-align: middle;min-width: 150px;" ng-show="activeColumn('Transport Mode')">Transport Mode<i ng-click="SortingExpenseList('transportMode',searchterm)" class="fa fa-sort" aria-hidden="true"></i></th>
                
                
                <th style="vertical-align: middle;min-width: 135px;" ng-show="activeColumn('Date of claim')">Date of claim <i ng-click="SortingExpenseList('claimedDate',searchterm)" class="fa fa-sort" aria-hidden="true"></i></th>
                <th style="vertical-align: middle;min-width: 110px;" ng-show="activeColumn('Claimed Amount')">Claimed Amount <i ng-click="SortingExpenseList('totClmAmnt',searchterm)" class="fa fa-sort" aria-hidden="true"></i></th>
                <th style="vertical-align: middle;" ng-show="activeColumn('Approved amount')">Approved Amount <i ng-click="SortingReadinessReportList('apprvdAmnt',searchterm)" class="fa fa-sort" aria-hidden="true"></i></th>
                <th style="vertical-align: middle;min-width: 140px;" ng-show="activeColumn('Role')">Role <i ng-click="SortingExpenseList('approverRole',searchterm)" class="fa fa-sort" aria-hidden="true"></i></th>
                <th style="vertical-align: middle;" ng-show="activeColumn('Brand')">Brand <i ng-click="SortingExpenseList('brand',searchterm)" class="fa fa-sort" aria-hidden="true"></i></th>                
                <th style="vertical-align: middle;" ng-show="activeColumn('Ship')">Ship <i ng-click="SortingExpenseList('ship',searchterm)" class="fa fa-sort" aria-hidden="true"></i></th>
                <th style="vertical-align: middle;min-width: 140px;" ng-show="activeColumn('Department')">Department <i ng-click="SortingExpenseList('category',searchterm)" class="fa fa-sort" aria-hidden="true"></i></th>
                <th style="vertical-align: middle;min-width: 110px" ng-show="activeColumn('Position')">Position <i ng-click="SortingExpenseList('position',searchterm)" class="fa fa-sort" aria-hidden="true"></i></th>
                 <th  ng-show="activeColumn('Approved Date') && userdetails.roleId==7" style="vertical-align: middle;text-align: center;min-width: 110px">Approved Date</i></th aria-hidden="true"></th>
                <th   ng-show="activeColumn('Payments') && userdetails.roleId==7" style="vertical-align: middle;text-align: center;min-width: 110px">Payments</th aria-hidden="true">
                </th>
                <th ng-show="activeColumn('Status')" style="vertical-align: middle;">Status <i ng-click="SortingExpenseList('status',searchterm)" class="fa fa-sort" aria-hidden="true"></i></th>
               	<th></th>
               </tr>
            </thead>
            <tbody>
              <tr ng-repeat="e in expensesList">
              	<td ng-show="activeColumn('Claim No.')"><a ng-click="openClaimDetail(e)">{{e.claimedNumber}}</a></td>               
                <td ng-show="activeColumn('Emp. No.')">{{e.employee.empl_number}}</td>
                <td ng-show="activeColumn('Name')">{{e.employee.name}}</td>
                <td ng-show="activeColumn('Type of reimbursement')">{{e.reimbursement_typeName}}</td>
                
                <td	ng-show="activeColumn('Transport Mode')">{{e.transportMode.transport_mode_name}}</td>
                
                <td ng-show="activeColumn('Date of claim')">{{dateformate(e.claimedDate)}}</td>
                <td ng-show="activeColumn('Claimed Amount')">{{e.currencyTypeTtlClmAmnt}}</td>
                <td ng-show="activeColumn('Approved amount')">{{e.currencyTypeTtlApprvdAmnt}}</td>
                <td ng-show="activeColumn('Role')">{{e.approverRole}}</td>
                <td ng-show="activeColumn('Brand')">{{e.brand.brandName}}</td>
                <td ng-show="activeColumn('Ship')">{{e.ship.shipName}}</td>
                <td ng-show="activeColumn('Department')">{{e.category.categoryName}}</td>
                <td ng-show="activeColumn('Position')">{{e.position.positonname}}</td>
                <td ng-show="activeColumn('Approved Date') && userdetails.roleId==7"><span ng-if="e.expStatusId==6">{{dateformate(e.claimCompletionDate)}}</span></td>   
                <td ng-show="activeColumn('Payments') && userdetails.roleId==7" style="min-width: 150px">
                 
 				<p ng-if="e.paidAmount != undefined " >{{e.paidAmount}}</p>
                
                <p ng-if="e.paidDate != undefined ">{{dateformate(e.paidDate)}}</p>
                
                <a  style="font-size: 12px;"><span ng-if="e.expStatusId==6" ng-click="setPaymentDetails(e)" >Payment Detail</span> </a>
                   <!-- <h4 style="font-size: 12px;">Payment Detail </h4> -->
                </td>            
                  <td >{{e.expStatus}}</td>
                             
                <!-- <td>                
                <span class="label label-success" ng-if="e.expStatusId==1" ng-click="expensedata(e)"><a href="" style="color: #f0f5f7 ;" data-toggle="modal">{{e.expStatus}}</a></span>
                <span class="label label-danger" ng-if="e.expStatusId==3" ng-click="expensedata(e)"><a href="" style="color: #f0f5f7 ;" data-toggle="modal">{{e.expStatus}}</a></span>
                <span class="label label-warning" ng-if="e.expStatusId==2" ng-click="expensedata(e)"><a href="" style="color: #f0f5f7 ;" data-toggle="modal">{{e.expStatus}}</a></span>
                </td> -->
                <td><i class="fa fa-download " style="margin: 9px 42px;" ng-if="" id="download-doc" ng-click="download(e.docPath)"></i></td>
                </tr>  
                </tbody>
          </table>   
        </div> 
        </div> 
        </div>
         
       <!-- <div class="modal fade" id="astatus-change" role="dialog">
          <div class="modal-dialog modal-sm add-brand">         
            Modal content
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Employee Satus</h4>
              </div>
              <div class="modal-body">
                <form>                  
                <div class="form-group">
                  <p>Select Employee Status</p>
                  <select class="form-control flat-control-inner" ng-model="astatusDetails.employeeStatusId" id="astatus-set">
                   <option value="">--Select Status--</option>
                    <option value="1">Employee</option>
                    <option value="2">Absconded</option>
                  </select>
                  
                  <select class="form-control flat-control-inner" ng-model="astatusDetails.employeeStatusId" ng-change="showRemainigModal(astatusDetails.employeeStatusId)"> 
    					   <option ng-value="0">--Select Status--</option>          
                           <option data-ng-repeat="s in satusLists" data-ng-value="{{s.number}}" ng-selected="s.number==astatusDetails.employeeStatusId">{{s.statusname}}</option>                                  
        		  </select>   
                                                                  
                </div>                                
               <div id="employee-detail" class="abox">
               <div id="starusid" class="form-group">
                <p>Employee No:</p>                  
                    <input type="text" id="aemployeeno" name="employee-no." ng-model="astatusDetails.employeeNo" class="brand-name" required>
                 </div>
                 <div id="dateofemp" class="form-group">                 
                 <p>Date of Employment:</p>
                  <input type="text" id="afromdate" ng-model="astatusDetails.dateOfEmployment" class="form-control flat-control-inner dateonly" required>
                 </div>
              	</div>
                 <div id="save-button" ng-show="true" class="form-group text-right">
                  <button type="submit" class="btn-info add_brand" ng-click="saveEmployeeStatusDetails(astatusDetails)">Change</button>
                </div>
               </form>
              </div>             
            </div>           
          </div>
      </div> -->
            
        <!-- <!-- <div class="text-right">           
            <ul class="pagination" style="margin-top: 0;">
			<li><a ng-hide="start == 0" ng-click="previous()">&laquo;</a>
			<li ng-repeat="i in navButtons" ng-class="$parent.offset == i * $parent.limit && 'active'"><a class="" ng-click="current(i)">{{i+1}}</a></li>
			<li><a ng-hide="(((start+5)*10) + 10) >= count" ng-click="next()">&raquo;</a></li>
			</ul>
          </div>  -->     
      </div>
      
      <div class="section-content" ng-if="approverTabFlag == 2" id="all-claims-lits">
      
       <div class="upper-actions">
           <div class="">
              <!-- <div class="col-md-3">
                <div class="form-group">
                  <label>Expense Category</label>
                  <select class="form-control flat-control-inner with-caret" id="categoryid" ng-model="expcatid" ng-change="fetchExpensesList(0,10,null,null,searchterm,expcatid,expstid,0,0)" ng-options="b.id as b.brandName for b in brandsList">
                  <option value = "">--Please Select--</option>                                     
                  </select>
                </div>
              </div> -->
              
              <!-- <div class="col-md-3">
                <div class="form-group">
                  <label>Expense Status</label>
                  <select class="form-control flat-control-inner with-caret" id="statusid" ng-model="expstid" ng-change="fetchExpensesList(0,10,null,null,searchterm,expcatid,expstid,0,0)" ng-options="e.id as e.expStatus for e in expensesStatus">
                  <option value = "">--Select Status--</option>                                     
                  </select>
                </div>
              </div> -->
              
              <div class="col-md-3 col-md-offset-8">
         		<div class="search-cntnr" >
		            <div class="form-group search-box">
		              <input type="text" id="id_of_textbox1" name="" class="form-control flat-control-search mar-bottom-zero" ng-model="searchterm">
		              <i class="icon-search" id="id_of_button1" ng-click="fetchExpensesList(0,10,null,null,searchterm,0,0,0,0);getExpenseListCount(searchterm)"></i>
		            </div>
         		 </div>
         	 </div>
            </div>
            <!-- <div class="form-group">
                  <input type="text" placeholder="Select Date" name="" data-ng-init="onloadFun(this)" id="decisionDate1" class="form-control flat-control-inner dateonly2p">                     
            </div> -->
         </div>
              
         <div class="col-md-1">
          <div class="button-group" >
          	<button class="btn-default btn-create icon-navigation1 dropdown-toggle" data-toggle="dropdown" id="create-req-btn"><i class="fa fa-check-square-o"></i></button>
           <!--  <a class="dropdown-toggle select-drop" data-toggle="dropdown"></a>
         	<span class="fa fa-filter"></span> -->
	      <ul class="dropdown-menu selection-column" style="overflow:auto;left: -73px;">
						 <li>
						  	<div class="chckbx-cntnr zeromargin">
						     <input type="checkbox" id="app1" name="check" class="flashadmin" ng-click="selectAllColoumns(colcheck);savesettings()" ng-model="colcheck">
						     <label class="cstmchk_lbladmin"  for="app1"></label><label for="app1" class="table-label">Select All</label> 
						   </div>
						  </li>
						  <li ng-repeat="c in columnlist">
						  <div class="chckbx-cntnr zeromargin" ng-if="c.name=='Claim No.' || c.name=='Date of claim' || c.name=='Type of reimbursement' || c.name=='Claimed Amount' || c.name=='Approved amount' || c.name=='Status' || c.name=='Role' || c.name=='Name'">
						     <input type="checkbox" id="column{{$index}}" name="check" ng-model="c.isActive" class="flashadmin" ng-click="savesettings()" disabled>
						     <label class="cstmchk_lbladmin"  for="column{{$index}}"></label><label for="column{{$index}}" class="table-label">{{c.name}}</label> 
						   </div>
						  	<div class="chckbx-cntnr zeromargin" ng-hide="c.name=='Claim No.' || c.name=='Date of claim' || c.name=='Type of reimbursement' || c.name=='Claimed Amount' || c.name=='Approved amount' || c.name=='Status' || c.name=='Role' || c.name=='Name'">
						     <input type="checkbox"  id="column{{$index}}" name="check" ng-model="c.isActive" class="flashadmin" ng-click="savesettings()">
						     <label class="cstmchk_lbladmin"  for="column{{$index}}"></label><label for="column{{$index}}" class="table-label">{{c.name}}</label> 
						   </div>
						  </li>
		</ul>
          </div>
       </div>
     
   <div id="all-claims-table" class="section-content">
	<div class="table-cntnr table-responsive" style="width: 100%;">
          <table id="content2" class="table table-striped red-table">
           <caption>Claim List</caption>
            <thead id="all-claim-head">
              <tr>  
              	<th style="vertical-align: middle;min-width: 110px;" ng-show="activeColumn('Claim No.')">Claim No. <i ng-click="SortingExpenseList('claimedId',searchterm)" class="fa fa-sort" aria-hidden="true"></i></th>         
                <th style="vertical-align: middle;min-width: 110px;" ng-show="activeColumn('Emp. No.')">Emp. No. <i ng-click="SortingExpenseList('enumber',searchterm)" class="fa fa-sort" aria-hidden="true"></i></th>
                <th style="vertical-align: middle;min-width: 130px;" ng-show="activeColumn('Name')">Name <i ng-click="SortingExpenseList('ENAME',searchterm)" class="fa fa-sort" aria-hidden="true"></i></th>
                <th style="vertical-align: middle;min-width: 150px;" ng-show="activeColumn('Type of reimbursement')">Type of reimbursement  <i ng-click="SortingExpenseList('reimbermntName',searchterm)" class="fa fa-sort" aria-hidden="true"></i></th>
                
                <th style="vertical-align: middle;min-width: 150px;" ng-show="activeColumn('Transport Mode')">Transport Mode<i ng-click="SortingExpenseList('transportMode',searchterm)" class="fa fa-sort" aria-hidden="true"></i></th>
                
                
                <th style="vertical-align: middle;min-width: 135px;" ng-show="activeColumn('Date of claim')">Date of claim <i ng-click="SortingExpenseList('claimedDate',searchterm)" class="fa fa-sort" aria-hidden="true"></i></th>
                <th style="vertical-align: middle;min-width: 110px;" ng-show="activeColumn('Claimed Amount')">Claimed Amount <i ng-click="SortingExpenseList('totClmAmnt',searchterm)" class="fa fa-sort" aria-hidden="true"></i></th>
                <th style="vertical-align: middle;" ng-show="activeColumn('Approved amount')">Approved Amount <i ng-click="SortingReadinessReportList('apprvdAmnt',searchterm)" class="fa fa-sort" aria-hidden="true"></i></th>
               <th style="vertical-align: middle;" ng-show="activeColumn('Payments')">Payments <i ng-click="SortingReadinessReportList('Payments',searchterm)" class="fa fa-sort" aria-hidden="true"></i></th>
                
                <th style="vertical-align: middle;min-width: 140px;" ng-show="activeColumn('Role')">Role <i ng-click="SortingExpenseList('approverRole',searchterm)" class="fa fa-sort" aria-hidden="true"></i></th>
                <th style="vertical-align: middle;" ng-show="activeColumn('Brand')">Brand <i ng-click="SortingExpenseList('brand',searchterm)" class="fa fa-sort" aria-hidden="true"></i></th>                
                <th style="vertical-align: middle;" ng-show="activeColumn('Ship')">Ship <i ng-click="SortingExpenseList('ship',searchterm)" class="fa fa-sort" aria-hidden="true"></i></th>
                <th style="vertical-align: middle;min-width: 140px;" ng-show="activeColumn('Department')">Department <i ng-click="SortingExpenseList('category',searchterm)" class="fa fa-sort" aria-hidden="true"></i></th>
                <th style="vertical-align: middle;min-width: 110px" ng-show="activeColumn('Position')">Position <i ng-click="SortingExpenseList('position',searchterm)" class="fa fa-sort" aria-hidden="true"></i></th>
                 <th style="vertical-align: middle;min-width: 110px">Status <i ng-click="SortingExpenseList('position',searchterm)" class="fa fa-sort" aria-hidden="true"></i></th>
                <!-- <th style="min-width:126px;"><div>Expense Date</div> <i ng-click="SortingExpenseList('EXPDATE',searchterm,fromDate,toDate)" class="fa fa-sort" aria-hidden="true"></i></th> -->
                
                <!-- <th style="vertical-align: middle;">History</th> -->
                <!-- th style="vertical-align: middle;">Status <i ng-click="SortingExpenseList('status',searchterm)" class="fa fa-sort" aria-hidden="true"></i></th> -->
               <!--  <th style="vertical-align: middle;">Documents</th> -->
               </tr>
            </thead>
            <tbody id="all-claim-body">
              <tr ng-repeat="e in expensesList">
              	<td ng-show="activeColumn('Claim No.')"><a ng-click="openClaimDetail(e);fetchSummaryReport(e.id);">{{e.claimedNumber}}</a></td>               
                <td ng-show="activeColumn('Emp. No.')">{{e.employee.empl_number}}</td>
                <td ng-show="activeColumn('Name')">{{e.employee.name}}</td>
                <td ng-show="activeColumn('Type of reimbursement')">{{e.reimbursement_typeName}}</td>
                
                 <td ng-show="activeColumn('Transport Mode')">{{e.transportMode.transport_mode_name}}</td>
                
                <td ng-show="activeColumn('Date of claim')">{{dateformate(e.claimedDate)}}</td>
                <td ng-show="activeColumn('Claimed Amount')">{{e.currencyTypeTtlClmAmnt}}</td>
                <td ng-show="activeColumn('Approved amount')" ng-if="e.expStatusId !=5">{{e.currencyTypeTtlApprvdAmnt}}</td>
               <td ng-show="activeColumn('Approved amount')" ng-if="e.expStatusId==5">0</td>
                
                <td ng-show="activeColumn('Payments')">{{e.paidAmount}}</td>
                
                <td ng-show="activeColumn('Role')">{{e.approverRole}}</td>
                <td ng-show="activeColumn('Brand')">{{e.brand.brandName}}</td>
                <td ng-show="activeColumn('Ship')">{{e.ship.shipName}}</td>
                <td ng-show="activeColumn('Department')">{{e.category.categoryName}}</td>
                <td ng-show="activeColumn('Position')">{{e.position.positonname}}</td>  
                <td >{{e.expStatus}}</td>
                              
                <!-- <td>{{e.dateOfExpense}}</td> -->     
                <!-- <td><i class="fa fa-hourglass-start history-sum"></i></td> -->              
                <!-- <td>                
                <span class="label label-success" ng-if="e.expStatusId==1" ng-click="expensedata(e)"><a href="" style="color: #f0f5f7 ;" data-toggle="modal">{{e.expStatus}}</a></span>
                <span class="label label-danger" ng-if="e.expStatusId==3" ng-click="expensedata(e)"><a href="" style="color: #f0f5f7 ;" data-toggle="modal">{{e.expStatus}}</a></span>
                <span class="label label-warning" ng-if="e.expStatusId==2" ng-click="expensedata(e)"><a href="" style="color: #f0f5f7 ;" data-toggle="modal">{{e.expStatus}}</a></span>
                </td> -->
                <!-- <td><i class="fa fa-download " style="margin: 9px 42px;" ng-if="" id="download-doc" ng-click="download(e.docPath)"></i></td> -->
                </tr>  
                </tbody>
          </table>   
        </div>
       </div>
       </div>
         <div class="section-content" ng-if="approverTabFlag == 3"  id="claim-reports">
         	<div class="col-md-3">
	              <div class="form-group" ng-if="userdetails.roleId == 7 || userdetails.roleId == 1 || userdetails.roleId == 6 || userdetails.roleId == 5 || userdetails.roleId == 4 || userdetails.roleId == 9">
	                 <label>From Date:</label> 
	                 <input type="text" placeholder="Select Date" name="" data-ng-init="onloadFun(this)" id="fromDate" ng-model="fromdate" class="form-control flat-control-inner dateonly2p">
	              </div>
              </div>
              <div class="col-md-3">
	              <div class="form-group" ng-if="userdetails.roleId == 7 || userdetails.roleId == 1 || userdetails.roleId == 6 || userdetails.roleId == 5 || userdetails.roleId == 4 || userdetails.roleId == 9">
	              	<label>To Date:</label>
	              	<input type="text" placeholder="Select Date" name="" data-ng-init="onloadFun1(this)" id="toDate" ng-model="todate"class="form-control flat-control-inner dateonly2p">
	              </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-md-12">
              	<div class="button-group">
              		<button class="btn btn-default" id="create-report-btn" style="background:#1fa67a;color:#fff;" ng-click="generateExcel()">Generate Claim Report</button>
              		<button class="btn btn-default" id="create-report-btn" style="background:#1fa67a;color:#fff;" ng-click="generateExcelForOracle()">Generate Oracle Report</button>
              		<button class="btn btn-default" id="create-report-btn" style="background:#1fa67a;color:#fff;" ng-click="generateExcelForPaymentDetails()">Generate Payment Details Report</button>
              		
              	</div>
              </div>
              
         </div>
      </div>
      
      
      <div ng-if="approverTabFlag != 3" class="text-right">           
            <ul class="pagination" style="margin-top: 0;">
			<li><a ng-hide="start == 0" ng-click="previous()">&laquo;</a>
			<li ng-repeat="i in navButtons" ng-class="$parent.offset == i * $parent.limit && 'active'"><a class="" ng-click="current(i)">{{i+1}}</a></li>
			<li><a ng-hide="(((start+5)*10) + 10) >= count" ng-click="next()">&raquo;</a></li>
			</ul>
     </div>  
 
    
    
    
    
      <div class="modal fade" id="payment-det" role="dialog">
          <div class="modal-dialog modal-sm add-brand" style="margin-top: 10%;">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">X</button>
                <h4 class="modal-title">Add Payment Detail</h4>
              </div>
              <div class="modal-body">
               <form id="maxDaysUpdate">
               	  <p>Payment</p>
               	  <div class="form-group">
               	  		<input type="text"  id="all-currency" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" ng-change="formatAllCurrency();"  name="" class="form-control flat-control-inner" ng-model="paymentDetails.paidAmount">
               	  </div>
                  <p>Date</p>
                  <div class="form-group">
                      <input type="text" name=""  id="paidDate" class="form-control flat-control-inner dateonly" ng-model="paymentDetails.paidDate">                     
                 </div>
                 <div class="form-group text-right">
                    <button type="submit" id="btnupdate" class="btn-info add_brand" ng-click="checkExpensePaymentDetails(paymentDetails)">Add</button>
                  <!-- button type="submit" class="btn-info add_brand modal-btn">
                 	 <a href="#modal-2" data-toggle="modal" data-dismiss="modal">Add</a> -->
                 </button>
                </div>
               </form>
              </div>             
            </div>            
          </div>   
      </div>  
      
      
      <div class="modal fade" id="modal-2" role="dialog">
          <div class="modal-dialog modal-md add-brand">
            <div class="modal-content">
               <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">X</button>
                <!-- <h4 class="modal-title">Add Payment Detail</h4> -->
              </div>
              <div class="modal-body" style="padding: 6px 15px;">
               <form id="maxDaysUpdate">
               	  <p id="chk">Payment amount is different than total approved amount ({{paymentDetails.currencyTypeTtlApprvdAmnt}}).</p>
               	   <!-- <p id="chk" ng-if="!ispaidAmountless">Entered amount is greater than approved amount </p> -->
               	 <div class="form-group text-left">
                  <button type="submit" class="btn-info add_brand modal-btn">
                 	 <a href="" data-toggle="modal" data-dismiss="modal" ng-click="saveExpensesPaymentDetails()">Ok</a>
                 </button>
                 <a data-toggle="modal" data-dismiss="modal" style="margin: 0px 10px;">Cancel</a>
                 <!--  -->
                 <!-- <button type="submit" class="btn-info add_brand modal-btn">
                 	 
                 </button> -->
                </div>
               </form>
              </div>             
            </div>            
          </div>   
      </div>  
 
 <div class="modal fade" id="status-change" role="dialog">
          <div class="modal-dialog modal-sm add-brand">
          
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Employee Expense Details</h4>
              </div>
              <div class="modal-body">
                <form>
                  
                <div class="form-group">
                  <p>Expense Status*:</p>
                   <select class="form-control flat-control-inner" ng-model="statusDetails.expStatusId" id="status-set" ng-change="showRemainigModal(statusDetails.expStatusId)" required>
                                     
                      <!-- <option ng-value="" >--Select Status--</option>  -->
                     <option data-ng-repeat="e in expensesStatus" data-ng-value="{{e.id}}" ng-selected="e.id==statusDetails.expStatusId">{{e.expStatus}}</option> 
                                          
                     </select>
                                    
                </div>
               <div id="apprv-modal">
	               <div class="boxes" id="employee-detail">
	               <div id="starusid" ng-if="statusDetails.expStatusId == 1" class="form-group" >
	                <p>Approved Amount*:</p>                  
	                    <input type="number" name="employee-no." id="apprvdamnt" ng-model="statusDetails.approvedAmount" class="brand-name" required>                 	
	                 </div>
	              	</div>
	              	
	              	<div  id="abdnt-descr" ng-if="statusDetails.expStatusId == 1" class="form-group">
	                  <p>Comment:</p>
	                   	<textarea class="form-control flat-control-inner" ng-model="statusDetails.comment" rows="06" required></textarea>
	                </div>
                </div>
                
                <div id="rejct-modal">
	                <div id="abdnt-descr" ng-if="statusDetails.expStatusId == 3" class="form-group">
	                  <p>Comment*:</p>
	                   	<textarea class="form-control flat-control-inner" ng-model="statusDetails.comment" rows="06" required></textarea>
	                </div>
                </div>
                
                 <div id="save-button" ng-show="true" class="form-group text-right">
                  <button type="submit" class="btn-info add_brand" ng-click="saveExpenseStatusDetails(statusDetails)">Change</button>
                </div>
               </form>
              </div>              
            </div>            
          </div>
      </div>
 

    <script type="text/javascript">
    
    $('#payment-det').on('focus',".dateonly", function(){ 
	 	$('.dateonly').datetimepicker({	    		
				 format: 'DD-MM-YYYY',
				 maxDate:new Date(), 
	 	});
	 });
    
</script> 
   <script type="text/javascript">
       
       
        $("#id_of_textbox").keyup(function(event) {
            if (event.keyCode === 13) {
                $("#id_of_button").click();
            }
        });
        
        $("#id_of_textbox1").keyup(function(event) {
            if (event.keyCode === 13) {
                $("#id_of_button1").click();
            }
        });
        
        /* $('.dateonly').keyup(function(event) {
            if (event.keyCode === 13) {
                $('.dateonly').click();
            }
        }); */
     
    </script>
    

<script type="text/javascript">
$(document).ready(function(){
    $("#astatus-set").change(function(){
        $(this).find("option:selected").each(function(){
            var optionValue = $(this).attr("value");
            if(optionValue){
                $(".abox").not("." + optionValue).hide();
                $("." + optionValue).show();
            } else{
                $(".abox").hide();
            }
        });
    }).change();
});
</script>
 <!-- <script>
    $(function () {
        $('.dateonly').datetimepicker({   
        	format : 'DD-MM-YYYY',
         });
    });
    </script> -->
