<style>
.profile_name {
font-size: 20px;
font-weight:600;
}
.section-content {
	padding: 20px 6px 0px 14px !important;
}
.active_btn{
	background:#00aaff;
	color:#fff;
	border:none;
}

/***indos number save btn css start here****/
 .miss_indos_btn{
    background-color: #00aeef;
    color: #fff;
    margin:3px 0 0 0;
}
.miss_indos_btn:hover, .miss_indos_btn:focus, .miss_indos_btn:active{
    box-shadow: 0px 2px 5.76px 0.24px rgb(0 0 0 / 24%);
    background-color: #009ad4 !important;
    color: #fff !important;
}
.section_bg_clr{
	padding: 6px 6px 0px 14px;
    background: #fafafa;
} 
</style>

<!-- <div id="user-detail-modal" ng-if="" class="" role="dialog"> -->
<!-- <div style="height:74px;"></div> -->
<div id="user-detail-modal" class="tab-pane fade in admin-page" role="dialog">
<!-- 	<div class="section-heading">
        
 
                
      </div> -->
  <div class="section-content">
    <!-- Modal content-->   	
        <div class="row" style="margin: 0px;">
          <div class="col-md-4">
            <div class="user_details_pop">
              <div class="pop-pic inline-block col-md-5" style="background-image: url({{picpath}});"></div>
            
              <div class="pop-name inline-block col-md-7" >
                <h4 class="profile_name">{{username}}</h4>
                <h5 class="designation">{{position}}</h5>
                <h5>{{location}}</h5>
                <h4>{{emp_num}}</h4>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-6 text-center">
                <div class="chart profile-charts"><span>{{percent}}%</span></div>
                <div>Profile Completed</div>
              </div>
              
              <!-- <div ng-show="ratingPercent>=0" class="col-md-5 text-center" >
                <div class="chartnew profile-charts" data-percent="0"><span style="color: #ef1e25;" >{{ratingPercent}}%</span></div>
                <div>Rating</div>
              </div> -->
              
               <div class="col-md-6 text-center" ng-show="ratingPercent<0">
                <div  style="font-size: 50px;margin: 20px 0;">NA</div>
                <div>Rating</div>
              </div>
            </div>
            </div>             
           <div class="col-md-4 text-right">
            <button type="button" class="btn bigblue-btn" id="" style="background: #FF9800;" ng-if="userinfo.user.requisition_id != null && userinfo.user.requisition_id != 0" data-toggle="modal" data-target="#change_status_confirm">Reset Status </button>
            <button type="button" class="btn bigblue-btn" id="" ng-click="download(cvpath)" ng-disabled="buttondisable(cvpath)"><i class="fa fa-file-text-o" aria-hidden="true"></i> Download CV </button>
            
          </div>
        </div>
        
        <div class="row" style="margin: 0px;">
        <div class="col-md-12 text-right">
	        <a href="" class="btn btn-default bigblue-btn">
			  	<span ng-if="userdetails.roleId != 8 && employeeflag == 1" ui-sref="restricted.admin.employeelist">Back</span>
			  	<span ng-if="userdetails.roleId != 8 && employeeflag == 2" ui-sref="restricted.admin.repatDataList">Back</span>  
			  	<span ng-if="userdetails.roleId == 8" ui-sref="restricted.admin.ticketdetails">Back</span>
	  		</a>
  		</div>
  		</div>
  	
        <div class="lower-tabs">
         <div class="row" style="display: flex;">
         	<div class="col-md-2" style="border-right: 1px solid #e0e0e0;">
					<ul class="nav nav-pills nav-stacked">
						<li class="" id="list1"><a href="" ng-click="showFlag(1)">Professional Info</a></li>
						<li class="" id="list2"><a href="" ng-click="showFlag(2);appliedJobContactInfo(id)">Contact Info</a></li>
						<li class="" id="list3"><a href="" ng-click="showFlag(3);appliedJobEducationalInfo(id)">Educational Info</a></li>
						<li class="" id="list9"><a href="" ng-click="showFlag(9);currentPosting('current',id)">Current Posting</a></li>
				   		<li class="" id="list10"><a href="" ng-click="showFlag(10);currentPosting('future',id)">Future Posting</a></li>
				    	<li class="" id="list12"><a href="" ng-click="showFlag(12);currentPosting('past',id)">Past Posting</a></li>
						<li class="" id="list4"><a href="" ng-click="showFlag(4);fetchIndosNumber(id);appliedJobComplianceLog(id)">Compliance Log </a></li>
						<li class="" id="list5"><a href="" ng-click="showFlag(5);fetchAssignAssessment(id,roleId)">Assessment Log </a></li>
						<li class="" id="list6"><a href="" ng-click="showFlag(6)">Communication Log </a></li>
						<li class="" id="list7"><a href="" ng-click="showFlag(7);getUserActivityList(id)">Activity Log </a></li>
						<li class="" id="list13"><a href="" ng-click="showFlag(13);emptyDate()">Decision Log</a></li>
						<li class="" id="list8"><a href="" ng-click="showFlag(8)">Scheduler Log </a></li>
						<li class="" id="list11"><a href="" ng-click="showFlag(11);fetchToDoList(id)">To Do List</a></li>
					</ul>
				</div>
         	
         
 <div class="col-md-10">
	<div class="tab-content">       
  <div id="prof" class="tab-pane fade in active" ng-show="showflag == 1" >
  <div ng-if="profFlag == false"><p class="data-av">Professional info not Found!!!</p></div>
	  <div class="" style="padding: 5px 0 0;">
	      <!--  <h4 class="">Professional Info</h4> -->
	  </div>
    <table class="table table-bordered" ng-if="profFlag == true">
    	<thead>
    		<tr>
    			<th>Position</th>
    			<th>Company's Name</th>
    			<th>Rating</th>
    			<th>From Date</th>
    			<th>To Date</th>
    			<th>Download</th>
    		</tr>
    	</thead>
    	<tbody>
    		 <tr ng-repeat="x in userworklist">
    			<td>{{x.position}}</td>
    			<td>{{x.employerName}}</td> 
    			<td>{{x.rating}}</td>
    			<td>{{formatDate(x.fromDate) | date:'dd-MM-yyyy'}}</td> 
    			<td>{{formatDate(x.toDate) | date:'dd-MM-yyyy'}}</td> 
    			<td class="text-center"><button class="btn bigblue-btn new-btn-dwn" ng-click="download(x.certificatePath)" ng-if="x.certificatePath != null || x.certificatePath != undefined"><i class="fa fa-download" aria-hidden="true"></i></button></td>
    		</tr>
    	</tbody>
    </table>   
  </div>
  
  <div id="cntact" class="tab-pane fade in active" ng-show="showflag == 2">
  <div ng-if="contactFlag == false"><p class="data-av">Contact info not Found!!!</p></div> 
  	<div class="" style="padding: 5px 0 0;">
	    <!-- <h4 class="">Contact Info</h4> -->
	</div> 
  <div ng-if="contactFlag == true" ng-repeat="x in contactInfo">  
    <ul type="none" class="detailed-ul">
      <li>
        <div class="row" >
          <div class="col-md-3">
            <h4>Flat/House No.:</h4>
            <p>{{x.houseNo}}</p>
          </div>
          <div class="col-md-4">
            <h4>Building/House:</h4>
            <p>{{x.houseName}}</p>
          </div>
          <div class="col-md-4">
            <h4>Society:</h4>
            <p>{{x.society}}</p>
          </div>
          
          </div>
          </li>
          <li>
           <div class="row" >
           <div class="col-md-3">
            <h4>PIN/ZIP Code:</h4>
            <p>{{x.pincode}}</p>
          </div>
           <div class="col-md-9">
            <h4>Street/Road:</h4>
            <p>{{x.street}}</p>
          </div>
          
        </div>
      </li> 
      <li>
        <div class="row">
          <div class="col-md-3">
            <h4>City:</h4>
            <p>{{x.city.cityName}}</p>
          </div>
          <div class="col-md-3">
            <h4>State:</h4>
            <p>{{x.state.stateName}}</p>
          </div>
          <div class="col-md-3">
            <h4>Country:</h4>
            <p>{{x.countryName}}</p>
          </div>
        </div>
      </li>
      <li>
	      <div class="row">
	        <div class="col-md-3">
	            <h4>Mobile Number:</h4>
	            <p>{{x.phoneNumber}}</p>
	          </div>
	         <div class="col-md-3">
	            <h4>Email:</h4>
	            <p>{{x.email}}</p>
	          </div>            
	        </div>
      </li>
    </ul> 
  </div> 
  </div>
  
  <div id="edu" class="tab-pane fade in active" ng-show="showflag == 3">
  <div ng-if="educationFlag == false"><p class="data-av">Education info not Found!!!</p></div> 
  <div class="" style="padding: 5px 0 0;">
	       <!-- <h4 class="">Educational Info</h4> -->
	  </div>
    <table ng-if="educationFlag == true" class="table table-bordered">
    <tr>
    	<th>Qualification</th>
    	<th>Year of Passing</th>
    	<th>Issuing Authority</th>
    	<th>Grade/Score/Percentage</th>
    </tr>
    <tr ng-repeat="x in educationalInfo">
	    <td>{{x.qualificationObj.qualificationName}}</td>
	    <td>{{x.yearOfPassing}}</td> 
	  
	    <td>{{x.board}}</td>
	    <td>{{x.gradeScore}}</td>
    </tr>
    </table>
    </div>    
  
  <div id="comp" class="tab-pane fade in active" ng-show="showflag == 4" >
  
  <div class="" style="padding: 5px 0 0;">
	       <!-- <h4 class="">Compliances Log</h4> -->
	  </div> 
	  
	   <div class="row">
	    <div class="col-md-3">
	        <div class="form-group">
	          <p>INDoS Number:</p>
	          <input type="text" name="" id="indosnumbertextbox" value="{{indosnumber}}"class="brand-name">
	        </div>
	    </div>
	    <div class="col-md-3">
	        <div class="form-group">
	          <p>&nbsp;</p>
	          <button class="btn btn-default btn-assign miss_indos_btn" type="button"  style="margin-right:0px !important;padding: 7px 10px;" ng-click="fetchOtherIndosNumber(id);">Save</button>
	        </div>            	
	    </div> 
	    <div class="col-md-6"> &nbsp; </div> 
	  </div>  	 
		  
	  <div ng-if="complianceFlag == false"><p class="data-av">Compliances log not Found!!!</p></div>
	  
    <table ng-if="complianceFlag == true" class="table table-striped red-table">
             <caption>List of Compliances</caption> 
            <thead>
              <tr>
                <th>Name</th>
                <th>Document Number</th>
                <th>Expiry Date</th>
                <th class="text-center">Download</th>
                <th class="text-center">Preview</th>
              </tr>
            </thead>
            <tbody ng-repeat="x in compliancelog" > 
              <tr ng-if="x.documentNumber != null">
                <td>{{x.compliance.complianceName}}</td> 
                <td>{{x.documentNumber}}</td>           
                
                <td ng-if="x.expiryDate !=null">{{formatDate(x.expiryDate) |  date:'dd-MM-yyyy hh:mm a'}}</td>
                <td ng-if="x.expiryDate ==null"></td>
                <td class="text-center" >
                
            <label ng-if="buttondisable(x.path) == true" class="btn bigblue-btn new-btn-dwn" ng-disabled="true"><i class="fa fa-download" aria-hidden="true"></i></label>
            <label ng-if="buttondisable(x.path) == false" class="btn bigblue-btn new-btn-dwn" ng-click="download(x.path)" ng-disabled="false"><i class="fa fa-download" aria-hidden="true"></i></label>
              
                </td>   
                 <td class="text-center">
						<button class="btn btn-default btn-create" id="create-job-btn" data-toggle="modal" ng-click="PreviewDownload(x.path)"data-target="#preview-screen-for-user"><i class="fa fa-eye"></i></button>
				 </td> 
                            
              </tr>           
            </tbody>
          </table>
  </div>
  <div id="assess" class="tab-pane fade in active"  ng-show="showflag == 5">
  <div ng-if="AssignAssessmentList.length == 0"><p class="data-av">Assessments log not Found!!!</p></div>
  <div class="" style="padding: 5px 0 0;">
	      <!--  <h4 class="">Assessments Log</h4> -->
	  </div> 
  <div id="exTab2" ng-if="AssignAssessmentList.length != 0"> 
          <ul  class="nav nav-pills" style="display:inline-block;margin-top: 10px;">
                <!-- <li id="activetab11" class="active" >
                  <a ng-click="AssessmentFlag(1)">Job Assessment</a>
                </li> -->
                <li id="activetab21" class="active" style="cursor: pointer;">
                	<a ng-click="AssessmentFlag(2)" >Assigned Assessment</a>
                </li>       
                <li id="activetab31">
                	<a>User Answers</a>
                </li>
              </ul>              
            
      <div ng-if="assessmentFlag==3" class="user-click"><a style="float: right;position: relative;top: -34px;" ng-click="AssessmentFlag(4);getAssessmentTestImages(assessmentobjectforuserclickpic)">View User Pictures.</a></div>   
            
            
            <div class="tab-content clearfix" style="padding: 20px 0px;">
            
  <div class="tab-pane active" id="" ng-show="assessmentFlag == 2">
  <div class="table-responsive" >
              <table class="table table-striped red-table">
            	<caption>List of Assigned Assessments</caption>
            <thead>
              <tr>             
                <th>Assessment</th>
                <th>Score</th>
                <th>Comment (if any)</th>
                <th>Assess by</th>                
                <th>Self Assessment</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody >
              <tr ng-repeat="x in AssignAssessmentList">                         
                <td ng-model="AssignAssessmentList[$index].name" ng-click="switchTab(x);setSaveButtonFlag(x)" ><a href="">{{x.assessmentName}}</a></td>              
              
             <td ng-if="x.statusId != 2 && x.statusId != 3">    
                  <div class="form-group" style="margin-bottom: 0">
                  <label ng-change="myFunc(x)" style="margin-bottom: 0" >{{AssignAssessmentList[$index].score}}/{{AssignAssessmentList[$index].questionCount}}</label>
                  </div>
               </td>  
                <td ng-if="x.statusId == 2 || x.statusId == 3">    
                  <div class="form-group" style="margin-bottom: 0">
                  <label    ng-change="myFunc(x)" style="margin-bottom: 0" ></label>
                  </div>
               </td>  
               
            <td ng-if="x.statusId == 2">
              	  <div class="form-group" style="margin-bottom: 0">
                  <input type="text" ng-model="AssignAssessmentList[$index].comment" ng-change="myFunc(x)" class="form-control flat-control-inner" style="margin-bottom: 0" disabled>                    
                  </div>
              </td>
              <td ng-if="x.statusId != 2">
              	  <div class="form-group" style="margin-bottom: 0">
                  <input type="text" ng-model="AssignAssessmentList[$index].comment" ng-change="myFunc(x)" class="form-control flat-control-inner" style="margin-bottom: 0">                    
                  </div>
              </td>
               
               <td ng-if="x.isAutoAssess != true">
                  <div class="form-group" style="margin-bottom: 0">
                  <input type="text" ng-if="AssignAssessmentList[$index].score != null || AssignAssessmentList[$index].comment != null" ng-model="AssignAssessmentList[$index].assessbyName" class="form-control flat-control-inner"  disabled style="margin-bottom: 0">
                  <input type="text" ng-if="AssignAssessmentList[$index].score == null && AssignAssessmentList[$index].comment == null" class="form-control flat-control-inner" disabled style="margin-bottom: 0">
                  </div>               
              </td>   <!-- ng-if="x.isAutoAssess != true || x.statusId ==2"   ng-if="x.isAutoAssess == true || x.statusId !=2"-->
            
            <td ng-if="x.isAutoAssess == true">
                  <div class="form-group" style="margin-bottom: 0">
                  <input type="text" ng-if="AssignAssessmentList[$index].score != null || AssignAssessmentList[$index].comment != null" value="Auto" class="form-control flat-control-inner"  disabled style="margin-bottom: 0">
                  <input type="text" ng-if="AssignAssessmentList[$index].score == null && AssignAssessmentList[$index].comment == null && x.statusId ==2" value="" class="form-control flat-control-inner" disabled style="margin-bottom: 0">
                  </div>               
              </td>                    
        
               <td ng-model="AssignAssessmentList[$index].isSelfAssessment"> 
                <span ng-if="x.isSelfAssessment == true" >Yes</span>    
                <span ng-if="x.isSelfAssessment == false" >No</span>        
               </td>
               
              <td ng-model="AssignAssessmentList[$index].statusName">
                <span ng-if="x.statusId == 2" class="label label-danger">{{x.statusName}}</span>    
                <span ng-if="x.statusId == 3" class="label label-info">{{x.statusName}}</span>
                <span ng-if="x.statusId == 1" class="label label-success">{{x.statusName}}</span>       
              </td> 
              </tr>                 
            </tbody>            
          </table>
          </div>
          
           <button ng-if="assignAssessmentSave" class="btn btn-default btn-bluer" ng-click="" disabled>Save</button> 
           <button ng-if="!assignAssessmentSave" class="btn btn-default btn-bluer" ng-click="saveAssignAssessment()" >Save</button> 
   </div> 
   
   
   
     <div class="tab-pane active" id="" ng-show="assessmentFlag == 3">    
       
       <div class="table-responsive">
       <form ng-submit="SaveScore()">
       <table class="table table-striped red-table">
            <caption>User Answer</caption>             
            <tbody >
              <tr ng-repeat="q in QuestionAnsList" ng-init="outerIndex12 = $index">                         
                
               <td>                  
                  {{q.questionText}} <label ng-if="q.questionMediaType == 1"><i class="fa fa-file-image-o"></i></label>
						                   <label ng-if="q.questionMediaType == 2"><i class="fa fa-file-audio-o" ></i></label>
						                   <label ng-if="q.questionMediaType == 3"><i class="fa fa-video-camera que-file"></i></label>
                    <ul class="single-ans">
                    
                    	<li ng-if="q.questionType==1 && q.isVoiceEnabled == false" ng-bind="q.shortAns"></li>  
                                    	                   	
                    	<div ng-if="q.questionType==1 && q.isVoiceEnabled == true" id="media{{$index}}"> 
                    		 <!-- <i  class="fa fa-file-audio-o que-file" ng-click="enabledVoice=true"></i>  -->
                    		<img src="resources/img/audio.png" class="audio-png"  ng-click="enabledVoice=true" alt="img_May23201814-21-41GMT" style="    margin: 10px 10px;
    display: block;">
               				<audio ng-if="enabledVoice"  width="568" id="audioMedia{{$index}}" height="240" controls controlsList="nodownload" style="margin: 10px 0px;"><source src="{{q.audioAns}}" type="audio/ogg" ></audio>
               			</div>										             
                 
                        <li data-ng-repeat="a in q.ans" ng-if="q.questionType==2"  ng-init="innerIndex55 = $index">
                      	<div class="radio-cntnr new-chc radio-quecheck-ans" >
                      	<input type="hidden"  ng-value="checkedUserAns(a.id,q.userAns)">
                      	<input type="radio" name="option_{{outerIndex12}}_{{innerIndex55}}"  data-ng-value="true" data-ng-model="setRedioFlag" id="option_{{outerIndex12}}_{{innerIndex55}}" disabled>
                  			<label for="option_{{outerIndex12}}_{{innerIndex55}}"></label>
                  		</div>
                  		<label style="display:block !important;margin-left: 28px;">{{a.answerText}}</label>
                  		</li>   
                  		
                  		 <li ng-repeat="a in q.ans" ng-if="q.questionType==3">
                          <div class="chckbx-cntnr que-check-box">
	                      <input type="checkbox" id="checkoption{{$index}}" name="check" ng-checked="checkedUserAns(a.id,q.userAns)" class="flashadmin ng-pristine ng-untouched ng-valid" disabled>
	                      <label class="cstmchk_lbladmin" for="checkoption{{$index}}"></label> 
                       	  </div>                       
                           <label class="cstmchk_lbl que-ans-check" for="checkoption{{$index}}">{{a.answerText}}</label> 
                        </li>
                        
                    </ul>
                  
               </td>  
               
               <td ng-if="q.questionType==1" style="vertical-align: top !important;">
               	 <div class="form-group" style="margin-bottom: 0">																						 
                  <input type="number" id="" class="form-control flat-control-inner" style="margin-bottom: 0;width: 69px !important;height: 36px;" min="0" max="1" step=".01" ng-model="q.shortAnsScore" required>
                  </div>                  
               </td>  
                            
               <td ng-if="q.questionType==2 || q.questionType==3" style="width: 80px;vertical-align: top !important;text-align:center;">
               	 <!-- Ans status 1=right 2=wrong -->  	
               	  <i ng-if="q.ansStatus == 2" class="fa fa-times" style="text-align: center;font-size: 22px;color: #e7505a;"></i>
               	  <i ng-if="q.ansStatus == 1" class="fa fa-check" style="text-align: center;font-size: 22px;color: #21b524;"></i>
               </td>    
                         
              </tr>                 
            </tbody>            
          </table>
          
           <button ng-if="AnsSaveFlag==true" type="submit" class="btn bigblue-btn">Save</button>
       </form>
     
       </div>
       
       
   
   </div>    
           </div>
           
           <div class="tab-pane active" id="" ng-show="assessmentFlag == 4">  
     <div ng-if="assessmentTestImages.length>0">
    <table class="table table-striped red-table">
                  <thead>
                  <tr>
                    <th>Start Time: <h5 style="display: inline-block;margin-left: 5px;"> {{dateformate(assessmentTestImages[0].assessment.startTime)}}</h5></th>
                    <th>End Time: <h5 style="display: inline-block;margin-left: 5px;">{{dateformate(assessmentTestImages[0].assessment.endTime)}}</h5></th>
                  	
                  </tr>
                  </thead>
                </table>
  	<span ng-repeat="assImg in assessmentTestImages"> 
  	
  	<div class="col-md-3">
 	<a class="thumbnail" data-toggle="modal" data-target="#lightbox-new" ng-click="showThisBigImage(assImg.filePath)"> 
 	<img src="{{assImg.filePath}}" alt="{{assImg.name}}">{{assImg.name}}</a>
<!--  	<img src="https://s3.ap-south-1.amazonaws.com/cruisecareer/userProfile/9afeb180-1a28-40be-967e-63fa38894565ship_2.jpg" alt="{{assImg.name}}" >{{assImg.name}}</a>
 --> 	</div>
 	</span> 
 	</div>
 	<div ng-if="assessmentTestImages.length==0"><h4 class="no-data">No Images found</h4></div>
 	</div>
 	<!-- <img src="https://s3.ap-south-1.amazonaws.com/cruisecareer/userProfile/9afeb180-1a28-40be-967e-63fa38894565ship_2.jpg" class="img-responsive" alt="{{assImg.name}}"></a>{{assImg.name}}</span> -->
<!--     	<span ng-repeat="assImg in assessmentTestImages" ><img src="{{assImg.filePath}}" alt="{{assImg.name}}">{{assImg.name}}</span>
 -->   
<div id="lightbox-new" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="height: 475px;">
    <div class="modal-dialog">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
        <div class="modal-content">
            <div class="modal-body">
                <span><img src="{{bigImage}}" style="width: 570px;height: 406px;" alt="" /></span>
            </div>
        </div>
    </div>
</div>
           
            </div>      
  </div>
  
  <div id="comm" class="tab-pane fade in active " ng-show="showflag == 6">
   <div ng-if="commFlag == false"><p class="data-av">Communication log not Found!!!</p></div>
   <div class="" style="padding: 5px 0 0;">
	       <!-- <h4 class="">Communication Log</h4> -->
	  </div> 
    <ul type="none" class="detailed-ul" ng-if="commFlag == true"  ng-repeat="j in comLogList"> 
      <li>
        <!-- <h4>{{j.templeteName}} {{j.mode}}</h4> -->
        <h4 class="communi-temp-mode">{{j.templeteName}}</h4>
        <p>{{dateformate(j.dateTime) |  date:'dd-MM-yyyy hh:mm a'}}</p>
        <h4>Mode: {{j.mode}}</h4>
       <!--  <p>{{j.dateTime}}</p> -->
      </li>
    </ul>
  </div>
  
  <div id="list7" class="tab-pane fade in active " ng-show="showflag == 7">
  <div ng-if="activityFlag == false"><p class="data-av">Activity log not Found!!!</p></div>
  <div class="" style="padding: 5px 0 0;">
	       <!-- <h4 class="">Activity Log</h4> -->
	  </div> 
  <ul type="none" class="detailed-ul" ng-if="activityFlag == true" ng-repeat="a in useractivityList">
      <li>
    
    <h4>{{a.activityDescription}}</h4>
       <p> {{a.createdDate}}</p>
      </li>
    </ul>
  </div>
  
  <div id="comm" class="tab-pane fade in active " ng-show="showflag == 8">
  <div ng-if="schedularFlag == false"><p class="data-av">Scheduler log not Found!!!</p></div>
  <div class="" style="padding: 5px 0 0;">
	       <!-- <h4 class="">Scheduler Log</h4> -->
	  </div> 
										<ul type="none" class="detailed-ul" ng-if="schedularFlag == true" ng-repeat="j in scheLogList">
											<li>
												<h4>{{j.name}}</h4>
												<p>{{dateformate(j.startTimeDate) |  date:'dd-MM-yyyy hh:mm a'}}</p>
											</li>
										</ul>
									</div>
									
									
		<div id="todo" class="tab-pane fade in active"  ng-show="showflag == 11">
		<div ng-if="toDoFlag == false"><p class="data-av">No To Do List Found!!!</p></div>
		<div class="" style="padding: 5px 0 0;">
	       <h4 class="">To Do List</h4>
	  </div> 
    <table ng-if="toDoFlag == true" class="table table-striped red-table">
            <caption>Compliance Status List</caption>
            <thead>
              <tr>
              <!--   <th>
                  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="all" name="check" class="flash">
                      <label class="cstmchk_lbl" for="all"></label> 
                    </div>
                </th> -->
                <th>Document Name</th>
                <th>Expected Date</th>
                <th>Completion Date</th>
                <th>Status</th>
                <th>Download Document</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="cd in compliancesDetails" >
                         
                <td style="vertical-align: middle;">{{cd.compliance.complianceName}}</td>
                <td style="vertical-align: middle;">
                   <div class="form-group" style="margin-bottom: 0 !important;">
                    <input type="text" class="form-control flat-control-inner dateonly" placeholder="{{formatDate1(cd.updatedDate)}}" disabled style="margin-bottom: 0 !important;">
                  </div>
                </td>   
                <td style="vertical-align: middle;">
                    <div class="form-group" style="margin-bottom: 0 !important;">
                     <input type="text" class="form-control flat-control-inner enterDate" ng-if="getflag(cd.compliance.id)==true" placeholder="{{formatDate1(cd.createdDate) | date:'dd-MM-yyyy'}}" disabled style="margin-bottom: 0 !important;"> 
                      <input type="text" class="form-control flat-control-inner enterDate" ng-if="getflag(cd.compliance.id)==false" placeholder="" disabled style="margin-bottom: 0 !important;">                                                                                                    
                    </div>
                </td> 
                
                <td class="text-center" style="vertical-align: middle;">
                  <!-- <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="todayBox" name="check" class="flash todate-date">
                      <label class="cstmchk_lbl" for="todayBox"></label> 
                    </div> -->
                    <div class="chckbx-cntnr zeromargin">  
                      <input type="checkbox" id="{{cd.compliance.id}}" ng-if="getflag(cd.compliance.id)==true" ng-checked="true" onclick="return false;" name="check" class="flashadmin">
                      <input type="checkbox" id="{{cd.compliance.id}}" ng-if="getflag(cd.compliance.id)==false" onclick="return false;" name="check" class="flashadmin">
                      <label class="cstmchk_lbladmin" for="{{cd.compliance.id}}"></label> 
                    </div>
                </td>  

                <td class="text-center">               
                <label ng-if="buttondisable(cd.path)==false" class="btn bigblue-btn new-btn-dwn" ng-disabled="false">
                  <i style="margin-right: 33px;" class="fa fa-download" aria-hidden="true" ng-click="download(cd.path)"  ng-disabled="false" id="download-doc"></i></label>
				 <label ng-if="buttondisable(cd.path)==true" class="btn bigblue-btn new-btn-dwn" ng-disabled="true"> <i class="fa fa-download" style="margin-right: 33px;" aria-hidden="true"  id="download-doc" ></i></label>                                                   
                </td> 
              </tr>                       
             </tbody>
          </table>     
  </div>
  
   <div id="list13" class="tab-pane fade in active" ng-show="showflag == 13">
   
  <div class="inner-popup-tabs1" ng-if="employejobDetails.length!=0">
								<ul type="none" class="detailed-ul">
									<li ng-repeat="d in employejobDetails">

										<h4 ng-if="d.status=='Selected' || d.status=='Shortlisted'"
											style="float: left; width: 25%;">{{d.status}} by
											{{d.name}}</h4>
										<h4 ng-if="d.status=='Selected' || d.status=='Shortlisted'"
											style="margin: 0px 10px; float: left; width: 25%;">
											<b>Date:</b> {{ formatDate2(d.updatedDate) |
											date:'dd-MM-yyyy'}}
										</h4>
										<h4 ng-if="d.status=='Selected' || d.status=='Shortlisted'"
											style="margin: 0px 10px; float: left; width: 25%;">
											<b>Decision Date:</b>{{dateformodalstd(d.requisition.decisionDate)}}
										</h4>

										<h4 ng-if="d.status=='Selected' || d.status=='Shortlisted'">
											<b>Requisition No.:</b> {{d.requisition.id}}
										</h4>
										<h4
											ng-if="(d.status=='Selected' || d.status=='Shortlisted') && d.requisition.decisionComment != null "
											style="margin: 0px 0px 10px; float: left; width: 100%;">
											<b>Comment:</b> {{d.requisition.decisionComment}}
										</h4>
										<div class="tbl"
											ng-if="d.status=='Selected' || d.status=='Shortlisted' ">

											<table class="table table-bordered">
												<thead>
													<tr>
														<th>Brand</th>
														<th>Department</th>
														<th>Position</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>{{d.requisition.brand.brandName}}</td>
														<td>{{d.requisition.category.categoryName}}</td>
														<td>{{d.requisition.position.positonname}}</td>
													</tr>
												</tbody>
											</table>
										</div>
										<h4 ng-if="d.status!='Selected' && d.status!='Shortlisted'">{{d.status}}
											by {{d.name}} &nbsp; &nbsp; &nbsp; &nbsp;</h4>
										<p
											ng-if="(d.status!='Selected' && d.status!='Shortlisted') && d.requisition.decisionComment != null">
											<b>Comment: </b>{{d.requisition.decisionComment}}
										</p>
										<p ng-if="d.status!='Selected' && d.status!='Shortlisted'">
											<b>Date:</b> {{ formatDate2(d.updatedDate) |
											date:'dd-MM-yyyy'}}
										</p>
										<p ng-if="d.status!='Selected' && d.status!='Shortlisted'">
											<b>Decision Date:</b>
											{{dateformate(d.requisition.decisionDate)}}
										</p>

									</li>
								</ul>
							</div>
							<div ng-if="decisionLoglist.length<1">
								<h2>No Action Taken !!</h2>
							</div>

					
						</div>                    
  	</div>
  <div id="assess" class="tab-pane fade in active"  ng-show="showflag == 10">
  <div id="exTab2" > 
          <!-- <ul  class="nav nav-pills">
              
                <li id="activetab11" class="active" style="cursor: pointer;">
                	<a ng-click="currentPosting('current',id)" >Current Posting</a>
                </li>       
                <li id="activetab22" style="cursor: pointer;">
                	<a ng-click="currentPosting('future',id)">Future Posting</a>
                </li>
                <li id="activetab33" style="cursor: pointer;">
                	<a ng-click="currentPosting('past',id)">Past Posting</a>
                </li>
              </ul> -->
  
  <div class="tab-content clearfix" style="padding: 20px 0px;">
            
  <div class="tab-pane active" id="" ng-show="currentFlag">
  <div class="table-responsive">
  	<!-- <div id="current-posting" class="tab-pane fade in active"  > -->
  	<div ng-if="cPostingFlag == false"><p class="data-av">No Current Job Postings Found!!!</p></div>
  		
     <table class="table table-striped red-table" ng-if="cPostingFlag == true">
     <caption>Current Posting</caption>
                    <thead>
                      <tr>
                        <th>Brand</th>
                        <th>Ship</th>
                        <th>Department</th>
                        <th>Position</th>
                        <th>Embark Port</th>
                        <th>Embark Date</th>
                        <th>Disembark Date</th>
                      </tr>
                    </thead>
                    <tbody>
                    	<tr ng-repeat="c in postings">
                    		<td>{{c.brand.brandName}}</td>
                    		<td>{{c.ship.shipName}}</td>
                    		<td>{{c.category.categoryName}}</td>
                    		<td>{{c.position.positonname}}</td>
                    		<td>{{c.Embarkport}}</td>
                    		<td>{{c.Embarkdates}}</td>
                    		<td>{{c.Disembarkdates}}</td>
                    	</tr>
                    </tbody>
                    </table>
                  </div>
                  </div>
                  
                  <div class="tab-pane active" id="" ng-show="futureFlag" ng-show="showflag == 10">
  <div class="table-responsive">
  	<!-- <div id="current-posting" class="tab-pane fade in active"  > -->
  	<div ng-if="fPostingFlag == false"><p class="data-av">No Future Job Postings Found!!!</p></div>
  		
     <table class="table table-striped red-table" ng-if="fPostingFlag == true">
     <caption>Future Posting</caption>
                    <thead>
                      <tr>
                        <th>Brand</th>
                        <th>Ship</th>
                        <th>Department</th>
                        <th>Position</th>
                        <th>Embark Port</th>
                        <th>Embark Date</th>
                        <th>Disembark Date</th>
                      </tr>
                    </thead>
                    <tbody>
                    	<tr ng-repeat="c in postings">
                    		<td>{{c.brand.brandName}}</td>
                    		<td>{{c.ship.shipName}}</td>
                    		<td>{{c.category.categoryName}}</td>
                    		<td>{{c.position.positonname}}</td>
                    		<td>{{c.Embarkport}}</td>
                    		<td>{{c.Embarkdates}}</td>
                    		<td>{{c.Disembarkdates}}</td>
                    	</tr>
                    </tbody>
                    </table>
                  </div>
                  </div>
                  
                  
 <div class="tab-pane in active" id="list12" ng-show="pastFlag " ng-show="showflag == 12">
  <div class="table-responsive">
  	
  	<div ng-if="postings.length <= 0"><p class="data-av">No Past Job Postings Found!!!</p></div> 		
     <table class="table table-striped red-table" ng-if="postings.length > 0">
      <caption>Past Posting</caption> 
                    <thead>
                      <tr>
                        <th>Brand</th>
                        <th>Ship</th>
                        <th>Department</th>
                        <th>Position</th>
                        <th>Embark Port</th>
                        <th>Embark Date</th>
                        <th>Disembark Date</th>
                      </tr>
                    </thead>
                    <tbody>
                    	<tr ng-repeat="c in postings">
                    		<td>{{c.brand.brandName}}</td>
                    		<td>{{c.ship.shipName}}</td>
                    		<td>{{c.category.categoryName}}</td>
                    		<td>{{c.position.positonname}}</td>
                    		<td>{{c.Embarkport}}</td>
                    		<td>{{c.Embarkdates}}</td>
                    		<td>{{c.Disembarkdates}}</td>
                    	</tr>
                    </tbody>
                    </table>
                  </div>
                  </div> 
    
    
 
</div>
</div>
</div>
        </div>
</div>
        </div>
      
       
     <!--  <div class="modal-footer text-right" style="text-align: right;border-top: 1px solid #e0e0e0;">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="" ng-click="refreshModal()">Back</button>
      </div> -->
    

  </div>
</div>



<!-- -----------------------------------------PreView btn---------------------------------------------------- -->
<div class="modal fade" id="preview-screen-for-user" role="dialog">
          <div class="modal-dialog modal-md add-brand">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">X</button>
                <h4 class="modal-title">Document</h4>
              </div>
              <div class="modal-body">
              <div  id="imagetab">
              <img ng-show="imageFlag == true" ng-src="{{fileurl}}" width="100%"  class="img-responsive" id="imgtab1">
               <iframe ng-show="pdfFlag == true"  ng-src="{{pdfDocPath}}" height="410px" width="100%" id="imgtab1"></iframe>
		        <!-- <img width="100%" src="resources/img/Fake.jpg" class="img-responsive" id="imgtab1"> -->
		        <!-- <iframe ng-show="pdfFlag == true" ng-src="{{pdfDocPath}}" height="410px" width="100%"></iframe>  -->
		       </div>
              </div>             
            </div>
          </div>
      </div>

  <div id="change_status_confirm" class="modal fade" role="dialog">
 <div class="modal-dialog modal-md add-brand">

   <!-- Modal content-->
   <div class="modal-content flat-modal">
     <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" ng-click="refreshPage();clear()">x</button>
       <h4 class="modal-title common-title" style="margin-left: 0;">Reset Status</h4>
     </div>
     <div class="modal-body flat-body">
       <div class="clearfix"></div>
       Are you sure you want to change the status of the employee to candidate?
       
       <div class="modal-footer text-left">
       <a class="btn btn-default" id="confirm_yes">Yes</a>
       <!-- <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#change_status">Yes</button> -->
       <a class="btn btn-default" data-dismiss="modal" ng-click="refreshPage();clear()">No</a>
     </div>
       
     <form ng-submit="saveResetStatus(useractivity,id)" style="display:none;" id="comment_sec">
              <p style="margin: 0;">Comments:</p>
                 <div class="form-group">
                   <textarea name="brand-name" class="brand-name" ng-model="useractivity.change_status_comment" required></textarea>
                </div>
                <div class="button_group">
               <div class="pull-right">
                 <input type="submit" class="btn-info add_brand" value="Submit">              
               </div>
               </div>
      </form>  
     
     
   </div>
  </div>
   </div>
   </div>

<script type="text/javascript">
$("document").ready(function() {

	  $('.dropdown-menu').on('click', function(e) {
	      if($(this).hasClass('selection-column')) {
	          e.stopPropagation();
	      }
	  });
	});
</script>
    <script>
    $(function () {
        $('.dateonly').datetimepicker({   
        	format : 'DD-MM-YYYY',
           useCurrent: true,        
           minDate: new Date()
        });
    });
    </script>
    
           <script type="text/javascript">  
        
        
     /*    
        $("#comm-manager").on('hidden.bs.modal', function () {        	        	
			document.getElementById('communicationmanager').reset();			
    }); */
       
        
          /*     $('#comm-manager').on('hidden.bs.modal', function() {        	   
        	$(this).find("input,textarea,select").val('').end().find("input[type=checkbox], input[type=radio]").prop("checked", "").end();
         	$("#mode")[0].selectedIndex = 0; 
         	$("#template")[0].selectedIndex = 0;
              })   */ 
              
/* Apply Modal open to body */
 $('#changeTemplate').on('hidden.bs.modal', function () {
    $('body').addClass('modal-open');
});         
        	
$(function() {
	 
    $('.chart').easyPieChart({    	
        barColor: '#00aaef',        

    });
    $('.chartnew').easyPieChart({
       
    });   
    
    $('#assess').on('focus',".dateonly", function(){  
        	$('.dateonly').datetimepicker({
      format: 'DD-MM-YYYY',
       useCurrent: false, 
       //minDate:new Date() 
        	
        	});
    });    
    
   //$(".dateonly").datepicker().datepicker("setDate", new Date());   
    
    
});

$("#id_of_textbox").keyup(function(event) {
    if (event.keyCode === 13) {
        $("#id_of_button").click();
    }
});

$("#id_of_textbox1").keyup(function(event) {
    if (event.keyCode === 13) {
        $("#id_of_button1").click();
    }
});


</script>

<!--interview part-->
<script type="text/javascript">

 $(".speak").hide();
 /* $("#ans-switch").click(function() {
	 alert();
     if($(this).is(":checked")) {
         $(".speaker").show();
     } else {
         $(".speaker").hide();
     }
 });
 
 $(".speaker1").hide();
 $("#ans-switch1").click(function() {
     if($(this).is(":checked")) {
         $(".speaker1").show();
     } else {
         $(".speaker1").hide();
     }
 });
 $(".speaker2").hide();
 $("#ans-switch2").click(function() {
     if($(this).is(":checked")) {
         $(".speaker2").show();
     } else {
         $(".speaker2").hide();
     }
 });
 $(".speaker3").hide();
 $("#ans-switch3").click(function() {
     if($(this).is(":checked")) {
         $(".speaker3").show();
     } else {
         $(".speaker3").hide();
     }
 }); */

 </script>

<!--Exam Selection-->
<script type="text/javascript">
$(document).ready(function(){
	var vidDiv =$('#video-part');
	
	
    $("#examselector").change(function(){
        $(this).find("option:selected").each(function(){
            var optionValue = $(this).attr("value");
            if(optionValue!=""){
                $(".Interview-que").not("." + optionValue).hide();
                $("." + optionValue).show();
                vidDiv.show();
            } else{
                $(".Interview-que").hide();
                vidDiv.hide();
            }
        });
    }).change();
});
</script>



<script>
$( "#confirm_yes" ).click(function() {
	  $('#confirm_yes').addClass('active_btn');
	  $('#comment_sec').css('display','block');
	});
</script>


<!-- <script>
$( "#confirm_no" ).click(function() {
	  $('#comment_sec').css('display','none');
	});
</script> -->

