<section id="expense-detail-main">
<div class="section-content" id="req-list">
<div style="text-align:right;">
      	<a style="text-decoration: underline;cursor:pointer;"   href="" ng-click="goToExpensesList()">Close</a>
      </div>
      <div class="upper-actions">
      <div class="info-expenses-section">
      	<div class="col-md-3">
      		<p><strong>Claim No:</strong> {{expenseObject.claimedNumber}}</p>
      		<p><strong>Employee No. :</strong> {{expenseObject.employee.empl_number}}</p>
      		<p><strong>Name : </strong> {{expenseObject.employee.name}}</p>
      	
      	</div>
      	<div class="col-md-4">
      		<p><strong>Type of Reimbursement :</strong> {{expenseObject.reimbursement_typeName}}</p>
      		<p><strong>Date of claim :</strong> {{dateformate(expenseObject.claimedDate)}}</p>
      	</div>
      	<div class="col-md-3">
      		<p><strong>Brand : </strong>{{expenseObject.brand.brandName}} </p>
      		<p><strong>Ship : </strong>{{expenseObject.ship.shipName}} </p>
      		<p><strong>Department :</strong>{{expenseObject.category.categoryName}} </p>
      		<p><strong>Position:</strong>{{expenseObject.position.positonname}} </p>
      	</div>
      	<div class="col-md-2">
				<div class="button-group"
					style="text-align: right; display: block; margin: 10px;">
					<button type="button" class="btn btn-bluer summary-report"
						ng-click="openSummaryReport()" title="Summary Report">
						<img src="resources\img\schedule.png" alt="summary report">
					</button>
				<!-- 	<button class="btn btn-default btn-create" id="create-job-btn"
						style="background: #1fa67a;" ng-if="expenseObject.expStatusId==6"
						ng-click="generateExcelForClaim()" title="Oracle Report">
						<i class="fa fa-database" aria-hidden="true"></i>
					</button> -->
					<!--  <td>
					<button class="btn bigblue-btn new-btn-dwn" ng-click="download(c.docPath)" style="padding: 0 5px;"><i class="fa fa-download" aria-hidden="true"></i></button>
				</td> -->
				
				   <!--  <button class="btn btn-default btn-delete" ng-click="download(expenselist.docPath)">
						<i class="fa fa-file-pdf-o"></i>
					</button> -->
					<!-- <button class="btn btn-default btn-delete" ng-click="generatePDF()">
						<i class="fa fa-file-pdf-o"></i>
					</button> -->
				</div>
				
      	</div>
      	
      					<!-- <div class="button-group"
					style="text-align: right; display: block; margin: 10px;">
					<button type="button" class="btn btn-bluer summary-report"
						ng-click="openSummaryReport()" title="Summary Report">
						<img src="resources\img\schedule.png" alt="summary report">
					</button>
					<button class="btn btn-default btn-create" id="create-job-btn"
						style="background: #1fa67a;" ng-if="expenseObject.expStatusId==6"
						ng-click="generateExcelForClaim()" title="Oracle Report">
						<i class="fa fa-database" aria-hidden="true"></i>
					</button>
					<button class="btn btn-default btn-delete" ng-click="generatePDF()">
						<i class="fa fa-file-pdf-o"></i>
					</button>
				</div> -->
				<div class="clearfix"></div>
      
        <!-- <div class="table-cntnr table-responsive">
          <table class="table table-striped red-table">
            <caption>Expenses List</caption>                   
            <thead>
              <tr>
              	<th style="vertical-align: middle;min-width: 114px;">Date of Expense <i ng-click="SortingExpensesList('DateOfExpense')" class="fa fa-sort" aria-hidden="true"></i></th> 
                <th style="vertical-align: middle;">Name of Expense Head <i ng-click="SortingExpensesList('ExpenseHeadName')" class="fa fa-sort" aria-hidden="true"></i></th> 
                <th style="vertical-align: middle;">Travel From <i ng-click="SortingExpensesList('TravelFrom')" class="fa fa-sort" aria-hidden="true"></i></th>
                <th style="vertical-align: middle;">Travel To <i ng-click="SortingExpensesList('TravelTo')" class="fa fa-sort" aria-hidden="true"></i></th>
                
                <th style="vertical-align: middle;">Transport Mode<i ng-click="SortingExpensesList('TransportMode')" class="fa fa-sort" aria-hidden="true"></i></th>
                
                
                <th style="vertical-align: middle;">Distance (k.m.) <i ng-click="SortingExpensesList('TravelDistance')" class="fa fa-sort" aria-hidden="true"></i></th>                          
                <th style="vertical-align: middle;min-width: 114px;">Claimed Amount <i ng-click="SortingExpensesList('ClaimedAmnt')" class="fa fa-sort" aria-hidden="true"></i></th>
                <th style="vertical-align: middle;">File </th>
                <th ng-if="expenseObject.approverRoleId != 4" style="vertical-align: middle;">Previous Status <i ng-click="SortingExpensesList('PreviousStatus')" class="fa fa-sort" aria-hidden="true"></i></th>   
                <th ng-if="expenseObject.approverRoleId != 4" style="vertical-align: middle;">Previous Approved Amount <i ng-click="SortingExpensesList('previousAmount')" class="fa fa-sort" aria-hidden="true"></i></th>
                <th style="vertical-align: middle;">Status <i ng-click="SortingExpensesList('StatusName')" class="fa fa-sort" aria-hidden="true"></i></th>   
                <th style="vertical-align: middle;">Approved Amount <i ng-click="SortingExpensesList('ApprovedAmnt')" class="fa fa-sort" aria-hidden="true"></i></th>                
                <th style="vertical-align: middle;min-width: 114px;">Comment <i ng-click="SortingExpensesList('Comment')" class="fa fa-sort" aria-hidden="true"></i></th>                
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="c in claimDetailsList">
              <td>{{formatDate(c.dateOfExpense)}}</td>
                <td>{{c.expense_headName}}</td> 
                <td>{{c.from}}</td>
                <td>{{c.to}}</td>
                <td>{{c.transportMode.transport_mode_name}}</td>  
                <td>{{takeTwoDigits(c.distance)}}</td>                                          
                <td><a ng-if="expenseObject.approverFlag == true && expenseObject.expStatusId != 6 && expenseObject.expStatusId != 8 && expenseObject.expStatusId != 5" ng-click="openApproverModal(c)">{{c.currencyTypeClmAmnt}}</a>
                <span ng-if="expenseObject.approverFlag == false || expenseObject.expStatusId == 6 || expenseObject.expStatusId == 8 || expenseObject.expStatusId == 5 ">{{c.currencyTypeClmAmnt}}</span>
                </td>
                <td>
					<button class="btn bigblue-btn new-btn-dwn" ng-click="download(c.docPath)" style="padding: 0 5px;"><i class="fa fa-download" aria-hidden="true"></i></button>
				</td>
				<td ng-if="expenseObject.approverRoleId != 4">
                <span ng-if="c.previousStatusId == 3" class="label label-info" style="background-color: #fb8a29;">{{c.previousStatus}}</span>
			    <span ng-if="c.previousStatusId == 4" class="label label-info" style="background-color: #b0b302;">{{c.previousStatus}}</span>
			    <span ng-if="c.previousStatusId == 5" class="label label-info" style="background-color: #d9534f;">{{c.previousStatus}}</span>                
                </td> 
                <td ng-if="expenseObject.approverRoleId != 4">{{c.previousAmount}}</td>
                <td>
                <span ng-if="c.expStatusId == 3" class="label label-info" style="background-color: #fb8a29;">{{c.expStatus}}</span>
			    <span ng-if="c.expStatusId == 4" class="label label-info" style="background-color: #b0b302;">{{c.expStatus}}</span>
			    <span ng-if="c.expStatusId == 5" class="label label-info" style="background-color: #d9534f;">{{c.expStatus}}</span>                
                </td>                                             
                <td>{{c.currencyTypeAprvdAmnt}}</td>                
                <td>{{c.comment}}</td>                         
              </tr>
            </tbody>
          </table>         
        </div>  -->
        <div class="clearfix"></div>
        

		   <!-- <div class="btn-cntnr" style="margin-top: 20px; margin-bottom: 20px;text-align: right;">
              <button class="btn btn-default btn-bluer" ng-if="expenseObject.approverFlag == true && expenseObject.expStatusId != 6 && expenseObject.expStatusId != 8 && expenseObject.expStatusId != 5" ng-click="submitAprrovedList()" id="create_slot-btn">Submit</button>
              <a href="" ng-click="goToExpensesList()">Back</a>
            </div> -->
          	
          <div class="exp-detail-sec">	  
            <div class="col-md-3">
           					<div class="expense-claim-list" >
								<ul ng-repeat="c in claimDetailsList" type="none" class="nav nav-tabs task-listing-dtls" id="mytab">
									<li ng-class='{active: c.id == actvateId}' ng-click="showFlag = 1" id="{{c.id}}">
									
									<a  id="open_popup{{$index}}" class="expclaim-list" ng-click="fetchactivatedId(c.claimedId,c.id,null)" data-toggle="tab" data-target="#home"> 
								
									
										 <span  class="expclaim-name">{{c.expense_headName}}</span>
											
											<span class="exp-amt">{{c.currencyTypeClmAmnt}}</span>
											<p>{{formatDate(c.dateOfExpense)}}</p>
										
										</a>
										
									</li>
									<!-- <li>
										<a id="open_popup" class="expclaim-list" data-toggle="tab" data-target="#menu1">
											<span class="expclaim-name">Expense for Travel</span>
											<span class="exp-amt">INR 500.00</span>
											<p>Nov 12,2018</p>
										</a>
									</li>
									<li>
										<a id="open_popup" class="expclaim-list">
											<span class="expclaim-name">Expense for Travel</span>
											<span class="exp-amt">INR 700.00</span>
											<p>Nov 12,2018</p>
										</a>
									</li>
									<li>
										<a id="open_popup" class="expclaim-list">
											<span class="expclaim-name">Expense for fitness</span>
											<span class="exp-amt">INR 1200.40</span>
											<p>Nov 12,2018</p>
										</a>
									</li>
									<li>
										<a id="open_popup" class="expclaim-list">
											<span class="expclaim-name">Expense for fitness</span>
											<span class="exp-amt">INR 1200.40</span>
											<p>Nov 12,2018</p>
										</a>
									</li>
									<li>
										<a id="open_popup" class="expclaim-list">
											<span class="expclaim-name">Expense for fitness</span>
											<span class="exp-amt">INR 1200.40</span>
											<p>Nov 12,2018</p>
										</a>
									</li>
									<li>
										<a id="open_popup" class="expclaim-list">
											<span class="expclaim-name">Expense for fitness</span>
											<span class="exp-amt">INR 1200.40</span>
											<p>Nov 12,2018</p>
										</a>
									</li>
									<li>
										<a id="open_popup" class="expclaim-list">
											<span class="expclaim-name">Expense for fitness</span>
											<span class="exp-amt">INR 1200.40</span>
											<p>Nov 12,2018</p>
										</a>
									</li>
									<li>
										<a id="open_popup" class="expclaim-list">
											<span class="expclaim-name">Expense for fitness</span>
											<span class="exp-amt">INR 1200.40</span>
											<p>Nov 12,2018</p>
										</a>
									</li>
									 -->
								</ul>
								<div class="btn-cntnr submit_expense">
								<button class="btn btn-default btn-bluer"
								style="margin-right: 0 !important;"
								ng-if="expenseObject.approverFlag == true && expenseObject.expStatusId != 6 && expenseObject.expStatusId != 8 && expenseObject.expStatusId != 5"
								ng-click="submitAprrovedList()" id="create_slot-btn">Submit</button>
							<!--  <a href="" ng-click="goToExpensesList()" style="margin-right:0px!important;">Back</a> -->
						</div>
								
							</div>
					</div>
            <div  ng-show="showFlag == 1"class="tab-content" id="tabss">
            <div class="col-md-4 exp-main-sec-detpage" style="padding:0px;">
              <div class="tab-pane fade in active expense-details-view" id="home">
            		<div class="col-md-6">
            			<strong>Name of Expense Head</strong>
            			<p class="exp_det_p">{{expenselist.expense_headName}}</p>
            		</div>
            		<div class="col-md-6">
            			<strong>Amount</strong>
            			<!-- <p>
            			<a ng-if="expenseObject.approverFlag == true && expenseObject.expStatusId != 6 && expenseObject.expStatusId != 8 && expenseObject.expStatusId != 5" ng-click="openApproverModal(expenselist)">{{expenselist.currencyTypeClmAmnt}}</a>
            			                <span ng-if="expenseObject.approverFlag == false || expenseObject.expStatusId == 6 || expenseObject.expStatusId == 8 || expenseObject.expStatusId == 5 ">{{expenselist.currencyTypeClmAmnt}}</span></p>
            			 -->
            			  <p class="exp_det_p">{{expenselist.currencyTypeClmAmnt}}</p>
            		</div>
            		<!-- <div class="col-md-3">
            			
            		</div> -->
            		<div class="clearfix" style="margin-top: 10px;"></div>
            		<div  class="col-md-6">
            			<strong>Date of Expense</strong>
            			<p class="exp_det_p">{{formatDate(expenselist.dateOfExpense)}}</p>
            		</div>
            		<div class="col-md-6">
            			<strong>Travel From</strong>
            			<p class="exp_det_p1" title="{{expenselist.from}}">{{expenselist.from}}</p>
            		</div>
            		<div class="clearfix" style="margin-top: 10px;"></div>
            		<div class="col-md-6">
            			<strong>Travel To</strong>
            			<p class="exp_det_p" title="{{expenselist.to}}">{{expenselist.to}}</p>
            		</div>
            		<div class="col-md-6">
            			<strong>Transport Mode</strong>
            			<p class="exp_det_p">{{expenselist.transportMode.transport_mode_name}}</p>
            		</div>
            		<div class="clearfix" style="margin-top: 10px;"></div>
            		<div class="col-md-6">
            			<strong>Distance(KM)</strong>
            			<p class="exp_det_p">{{takeTwoDigits(expenselist.distance)}}</p>
            		</div>
            		<div class="col-md-6">
            			<strong>Approved Amount</strong>
            			<p class="exp_det_p">{{expenselist.approvedAmount}}</p>
            		</div>
            		<div class="clearfix" style="margin-top: 10px;"></div>
					<div class="col-md-6">
						<strong>Status</strong>
						<p class="exp_det_p">
							<span ng-if="expenselist.expStatusId == 3"
								class="label label-info" style="background-color: #fb8a29;">{{expenselist.expStatus}}</span>
							<span ng-if="expenselist.expStatusId == 4"
								class="label label-info" style="background-color: #b0b302;">{{expenselist.expStatus}}</span>
							<span ng-if="expenselist.expStatusId == 5"
								class="label label-info" style="background-color: #d9534f;">{{expenselist.expStatus}}</span>

						</p>
					</div>
					<div class="col-md-6">
            			<strong>Comment</strong>
            			<p class="exp_det_p" title="{{expenselist.comment}}">{{expenselist.comment}}</p>
            		</div>
					
            		<div class="clearfix" style="margin-top: 10px;"></div>
            		<div ng-if="expenseObject.approverRoleId != 4"  class="col-md-6">
            			<strong >Previous Status</strong>
            			<p class="exp_det_p">
            			 <span ng-if="expenselist.previousStatusId == 3" class="label label-info" style="background-color: #fb8a29;">{{expenselist.previousStatus}}</span>
			    <span ng-if="expenselist.previousStatusId == 4" class="label label-info" style="background-color: #b0b302;">{{expenselist.previousStatus}}</span>
			    <span ng-if="expenselist.previousStatusId == 5" class="label label-info" style="background-color: #d9534f;">{{expenselist.previousStatus}}</span>                
               
            			</p>
            		</div>
            		<div ng-if="expenseObject.approverRoleId != 4" class="col-md-6">
            			<strong >Previous Approved Amount</strong>
            			<p class="exp_det_p">{{expenselist.previousAmount}}</p>
            		</div>
            		<div class="clearfix"></div>
            		<button class="btn btn-default approve_btn">
            			<a ng-if="expenseObject.approverFlag == true && expenseObject.expStatusId != 6 && expenseObject.expStatusId != 8 && expenseObject.expStatusId != 5" ng-click="openApproverModal(expenselist)">Approve</a>
            			 <span ng-if="expenseObject.approverFlag == false || expenseObject.expStatusId == 6 || expenseObject.expStatusId == 8 || expenseObject.expStatusId == 5 ">Approve</span>
            		</button>
            	</div>
            	
            </div>
            <div class="col-md-5">
            
            	<div  style="overflow-y: scroll;height: 410px;" id="imagetab">
            		<img width="100%" ng-show="imageFlag==true" ng-src="{{expenseDocPath}}" class="img-responsive" id="imgtab1">
            		<iframe ng-show="pdfFlag == true" ng-src="{{pdfDocPath}}" height="410px" width="100%"></iframe> 
            		
            		<div class="doc_icons" ng-show="imageFlag==false || pdfFlag == false">
            			<!-- <div class="pdf_doc_icon">
            				<i class="fa fa-file-pdf-o"></i>
            			</div> -->
            			
            			<!----Excel -->
            			<!-- <div class="pdf_doc_icon" style="background:#06b94e!important;">
            				<i class="fa fa-file-excel-o"></i>
            			</div> -->
            			<!-- word -->
            			<!-- <div class="pdf_doc_icon" style="background:#244c99!important;">
            				<i class="fa fa-file-word-o"></i>
            			</div> -->
            			<p class="doc_name_download">{{takeFileName(expenselist.docPath)}}</p>
            		</div>
            		<!-- <button  class="btn view_img" data-toggle="modal" data-target="#expand_view"><i class="fa fa-eye"></i></button> -->
            		<button  class="btn download_img" ng-click="download(expenselist.docPath)"><i class="fa fa-download"></i></button>
            		
            	</div>
            </div>
            </div>
            
            </div>
      </div>
      </div>
     </div> 
     </section>
       <div class="modal fade" id="claim_amount" role="dialog">
          <div class="modal-dialog modal-md add-brand">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Claimed Details:</h4>
              </div>
              <div class="modal-body">
                <div class="type-re" style="margin: 5px 0 10px;">
        <label style="font-size: 16px;">Claimed Amount:</label>
          <div class="reg-head">
            <p style="font-size: 14px;margin-left: 10px;">{{claimedObject.currencyTypeClmAmnt}}</p>
          </div> 
          </div>
          <div>
          <label style="font-size: 16px;">Maximum Brand Amount:</label>
          <div class="reg-head">          
            <p style="font-size: 14px;margin-left: 10px;">{{claimedObject.maxBrandAmnt}}</p>
          </div> 
        </div>
                <form>
                  <p>Approved Amount:</p>
                  <div class="form-group">
                    <input type="text" id="apprvd-amnt" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" ng-model="claimedObject.currencyTypeAprvdAmnt" ng-change="formatCurrency()" class="form-control flat-control-inner">
                  </div>
                 
                 <p>Comments:</p>
                  <div class="form-group">
                    <textarea class="form-control flat-control-inner" ng-model="claimedObject.comment" cols="7" rows="5"></textarea>
                  </div>
                

                <div class="btn-cntnr" style="margin-top: 20px; margin-bottom: 20px;">
                  <button class="btn btn-default btn-app" ng-click="saveApproveRejectStatus(claimedObject,4)" id="create_slot-btn">Approve</button>
                  <a href="" ng-click="saveApproveRejectStatus(claimedObject,5)"  class="reject-btn">Reject</a>
                </div>
               </form>
              </div>             
            </div>
          </div>
      </div>
      
      
      
      
 
 
      
      
      
    <!--   <script type="text/javascript">
$(document).ready(function(){
	c in claimDetailsList
    $("#home li:eq(1) a").tab('show');
})
</script>
  -->     
  <!-- <script type="text/javascript">
$(document).ready(function(){ 
    $("#myTab li:eq(1) a").tab('show');
});
</script> -->
  