<div class="admin-page">
<div class="section-content" id="slot-expense">
      <div class="upper-actions">
      <div class="info-expenses-section">
      	<div class="col-md-3">
      		<p><strong>Claim No:</strong> {{expenseObject.claimedNumber}}</p>
      		<p><strong>Employee No. :</strong> {{expenseObject.employee.empl_number}}</p>
      		<p><strong>Name : </strong> {{expenseObject.employee.name}}</p>
      	
      	</div>
      	<div class="col-md-5">
      		<p><strong>Type of Reimbursement :</strong> {{expenseObject.reimbursement_typeName}}</p>
      		<p><strong>Date of claim :</strong> {{dateformate(expenseObject.claimedDate)}}</p>
      	</div>
      	<div class="col-md-4">
      		<p><strong>Brand : </strong>{{expenseObject.brand.brandName}} </p>
      		<p><strong>Ship : </strong>{{expenseObject.ship.shipName}} </p>
      		<p><strong>Department :</strong>{{expenseObject.category.categoryName}} </p>
      		<p><strong>Position:</strong>{{expenseObject.position.positonname}} </p>
      	</div>
      </div>
      <div class="clearfix"></div>
        <div class="button-group" style="text-align: right;display: block;margin: 10px;">
                    <button class="btn btn-default btn-create" id="create-job-btn" style="background:#1fa67a;" ng-click="generateExcel()"><i class="fa fa-file-excel-o"></i></button>
                    <!-- <button class="btn btn-default btn-delete" ng-click="generatePDF()"><i class="fa fa-file-pdf-o"></i></button> -->
                </div>
                
        <div class="clearfix"></div>
        <div class="table-cntnr table-responsive">
          <table class="table table-striped red-table">
            <caption>Summary Report</caption>                   
            <thead>
              <tr>
                <th style="vertical-align: middle;">Name of Expense Head </th> 
               
                <th style="vertical-align: middle;">Total Claimed Amount</th>                
                              
                <th style="vertical-align: middle;">Total Approved Amount</th>                
                              
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="s in summaryReportList">
              
                <td style="font-weight:bold;">{{s.expense_headName}}
                 <div>
                 <ul ng-repeat="h in s.subHead" style="list-style-type:none;">
                	<li style="font-weight:400!important;">  {{h.expense_headName}}
              		</li>
              	</ul>
                </div>
                </td> 

                <td>{{s.totalClaimedAmnt}}
                
                 <ul ng-repeat="h in s.subHead" style="list-style-type:none;">
                	 <li > {{h.totalClaimedAmnt}}
              		</li>
              	</ul>
                
                </td>     
                <td>{{s.totalApprovedAmnt}}
                
                 <ul ng-repeat="h in s.subHead" style="list-style-type:none;">
                 <li>
                	{{h.totalApprovedAmnt}}
              		</li>
              	</ul>
                
                </td>                
                                         
              </tr>
            </tbody>
          </table>         
        </div> 
        </div>

		   <div class="btn-cntnr" style="margin-top: 20px; margin-bottom: 20px;text-align: right;">
             <!--  <button class="btn btn-default btn-bluer" ng-if="expenseObject.approverFlag == true && expenseObject.expStatusId != 6" ng-click="submitAprrovedList()" id="create_slot-btn">Submit</button> -->
              <a ui-sref="adminexpensedetails" >Back</a>
            </div>
      </div>
      </div>
      
      <div class="modal fade" id="claim_amount" role="dialog">
          <div class="modal-dialog modal-md add-brand">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Claimed Details:</h4>
              </div>
              <div class="modal-body">
                <div class="type-re" style="margin: 5px 0 10px;">
        <label style="font-size: 16px;">Claimed Amount:</label>
          <div class="reg-head">
            <p style="font-size: 14px;margin-left: 10px;">{{claimedObject.currencyTypeClmAmnt}}</p>
          </div> 
          </div>
          <div>
          <label style="font-size: 16px;">Maximum Brand Amount:</label>
          <div class="reg-head">          
            <p style="font-size: 14px;margin-left: 10px;">{{claimedObject.maxBrandAmnt}}</p>
          </div> 
        </div>
                <form>
                  <p>Approved Amount:</p>
                  <div class="form-group">
                    <input type="text" id="apprvd-amnt" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" ng-model="claimedObject.currencyTypeAprvdAmnt" ng-change="formatCurrency()" class="form-control flat-control-inner">
                  </div>
                 
                 <p>Comments:</p>
                  <div class="form-group">
                    <textarea class="form-control flat-control-inner" ng-model="claimedObject.comment" cols="7" rows="5"></textarea>
                  </div>
                

                <div class="btn-cntnr" style="margin-top: 20px; margin-bottom: 20px;">
                  <button class="btn btn-default btn-app" ng-click="saveApproveRejectStatus(claimedObject,4)" id="create_slot-btn">Approve</button>
                  <a href="" ng-click="saveApproveRejectStatus(claimedObject,5)"  class="reject-btn">Reject</a>
                </div>
               </form>
              </div>
              
            </div>
            
          </div>
      </div>