<div id="main-content">
  <div class="tab-content">
      
    <div id="owner" class="tab-pane fade in active">
      <div class="section-heading">
        <h4>Free Query List</h4>
      </div> 
      	
      <div class="section-content" id="list-uploaded-files">
      <div class="upper-actions">
          <!-- <div class="col-md-2 col-lg-2">
          <div class="button-group">
            <a class="btn btn-default btn-create" id="create-req-btn" ng-click="editFreeQuery(undefined)"><i class="icon-plus"></i></a>
            <button class="btn btn-default btn-delete" ng-click="check();" ><i class="icon-trash-2" data-target="#deletequerylist" ></i></button>
          </div>
          </div> -->
          <div class="col-md-1 col-lg-1">
            
          </div>
          <!-- <div class="col-md-3 col-md-offset-5">             
          <div class="button-group" style="text-align: right;display: block;">
                    <button class="btn btn-default btn-create" id="create-job-btn" style="background:#1fa67a;" ng-click="generateExcel()"><i class="fa fa-file-excel-o"></i></button>
                    <button class="btn btn-default btn-delete" ng-click="generatePDF()"><i class="fa fa-file-pdf-o"></i></button>
                </div>                   
          </div> -->
          <div class="col-md-5 col-md-offset-9">
          	<div class="search-cntnr" style="float: initial;">
            <div class="form-group search-box">
              <input type="text" name="" class="form-control flat-control-search"   ng-model="search" ng-keyup="searchOnEnter($event,search)">
              <i class="icon-search" ng-click="fetchqueryList(0,10,null,null,search);getQueryListCount(search)" ></i>
            </div>
       </div>
          </div>
          <!-- <div class="col-md-2 col-md-offset-5">             
          <div class="button-group" style="text-align: right;display: block;">
                    <button class="btn btn-default btn-create" id="create-job-btn" style="background:#1fa67a;" ng-click="generateExcel()"><i class="fa fa-file-excel-o"></i></button>
                    <button class="btn btn-default btn-delete" ng-click="generatePDF()"><i class="fa fa-file-pdf-o"></i></button>
                </div>                   
          </div> -->
          <div class="clearfix"></div>
        </div>
       <div class="table-cntnr">
          <table class="table table-striped red-table">
            <caption>Free Query List</caption>
            <thead>
            <tr>
                <!-- <th>
                  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="rd" name="check" class="flashadmin" ng-click="checkedAllList(freequerylist,all);" ng-model="all">
                      <label class="cstmchk_lbladmin" for="rd"></label> 
                    </div>
                </th> -->
                <th>Query name <i class="fa fa-sort" aria-hidden="true" ng-click="SortingFreeQueryList('fq_query_name',searchterm)"></i></th>
                <th>Updated Date <i class="fa fa-sort" aria-hidden="true"  ng-click="SortingFreeQueryList('fq_created_on',searchterm)"></i></th>
                <th>Created By <i class="fa fa-sort" aria-hidden="true" ng-click="SortingFreeQueryList('fq_created_by',searchterm)" ></i></th>
                <th>Execute </th>
                <th>Profile</th>
                <th>Last Run <i class="fa fa-sort" aria-hidden="true"  ng-click="SortingFreeQueryList('fq_datetime_execution',searchterm)"  ></i></th>
                <th>Access Rights</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
              <tr ng-repeat="q in freequerylist">
                <!-- <td>
                  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="checkid{{$index}}" name="check" class="flashadmin" ng-click="checkedList(q.id);" ng-checked="all">
                      <label class="cstmchk_lbladmin" for="checkid{{$index}}"></label> 
                    </div>
                </td> -->
                <td>{{q.name}}</td>
                <td>{{dateformate(q.createdOn)}}</td>
                <td>{{q.userName}}</td>
                <td>
                <div class="button-group">
          				<button ng-if="q.userPermission.executeQuery == true|| q.userPermission.edit == true || q.createdby == userdetails.id " class="btn-default btn-create"  title="Execute" style="background: #4caf50;" ng-click="generateExcel(q.id)"><i class="fa fa-bolt"  aria-hidden="true"></i></button>
           				<button ng-if="q.userPermission.executeQuery != true && q.userPermission.edit != true && q.createdby != userdetails.id " class="btn-default btn-create"  title="Execute" style="background: #4caf50;" disabled ><i class="fa fa-bolt" aria-hidden="true"  ></i></button>
           				
         			 </div>
                	
                </td>
                <td>{{q.profile}}</td>
                <td>{{datetimeformat(q.executionTime)}}</td>
                <td>
                	<div class="button-group">
                		<button ng-if="q.createdby == userdetails.id" class="btn-default btn-create" style="background-color:#e67e22" ng-click="redirectPage(q);userdata(q)">
                			<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                		</button>
                		<button ng-if="q.createdby != userdetails.id" class="btn-default btn-create" style="background-color:#e67e22" disabled>
                			<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                		</button>
                	</div>	
                </td>
                <td>
                	<div class="button-group">
          				<button ng-if="q.userPermission.edit == true || q.createdby == userdetails.id  "  class="btn-default btn-create icon-navigation1 dropdown-toggle" title="Edit" data-toggle="dropdown" id=""><i class="fa fa-pencil"  ng-click="editFreeQuery(q.id,q.queryFor)"></i></button>
          				<button  ng-if="q.userPermission.edit != true && q.createdby != userdetails.id "  class="btn-default btn-create icon-navigation1 dropdown-toggle" title="Edit" data-toggle="dropdown" disabled><i class="fa fa-pencil"></i></button>
          				
         			 </div>
                </td>
                <td>
                <div class="button-group">
          				<button  ng-if="q.userPermission.del == true || q.createdby == userdetails.id " class="btn-default btn-delete" title="delete" ><i class="fa fa-trash-o"  aria-hidden="true" ng-click="deleteThis(q.id)"></i></button>
          				<button  ng-if="q.userPermission.del != true && q.createdby != userdetails.id" class="btn-default btn-delete" title="delete" ><i class="fa fa-trash-o"  aria-hidden="true" disabled"></i></button>
          				
         			 </div>
                	
                </td>
                  <!-- <td data-toggle="modal" data-target="#logs-info"><button type="button" class="btn btn-default btn-bluer" ng-click="fetchDocumentUploadLogList(d.id);">Log</button></td> -->
              </tr>
              </tbody>
          </table>
          <div class="text-right">
            <ul class="pagination" style="margin-top: 0;">
				<li><a ng-hide="start == 0" ng-click="previous()">&laquo;</a>
				<li ng-repeat="i in navButtons" ng-class="$parent.offset == i * $parent.limit && 'active'"><a class="" ng-click="current(i)">{{i+1}}</a></li>
				<li><a ng-hide="(((start+5)*10) + 10) >= count" ng-click="next()">&raquo;</a></li>
			</ul>
          </div>
        </div>
        </div>
  <div id="deletequerylist" class="modal fade" role="dialog">
  	<div class="modal-dialog modal-sm add-brand">
    <!-- Modal content-->
	    <div class="modal-content flat-modal">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">x</button>
	        <h4 class="modal-title common-title" style="margin-left: 0;">Delete Record</h4>
	      </div>
	      <div class="modal-body flat-body">
	          <div class="clearfix" ></div>
	        Are you sure you want to delete  this query record?
	      <div class="modal-footer text-left">
	        <button type="button" class="btn btn-default" data-dismiss="modal" id="show_ass" ng-click="deleteFreeQuery();">Delete</button>
	        <a class="btn btn-link" data-dismiss="modal" >Cancel</a>
	      </div>
	    </div>
	   </div>
    </div>
  </div>
       <div class="section-content" id="list-uploaded-files" ng-if="queryInfoList.length>0">
       <div class="table-cntnr">
       		<div class="button-group" style="float:right;display: inline-block;margin:10px 0px">
               <button class="btn btn-default btn-create" id="create-report-btn" style="background:#1fa67a;" ng-click="generateExcel(queryId)"><i class="fa fa-file-excel-o"></i></button>
            </div>
          <table class="table table-striped red-table">
            <caption>Free Query Data List</caption>
            <thead>
            <tr>
               <!--  <th>
                  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="rd" name="check" class="flash">
                      <label class="cstmchk_lbl" for="rd"></label> 
                    </div>
                </th> -->
               
                	 <th ng-repeat="s in freeQueryList" >{{s.name}} </th>
                
            </tr>
            </thead>
            <tbody>
              <tr ng-repeat="q in queryInfoList">
               <!--  <td>
                  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="1" name="check" class="flash">
                      <label class="cstmchk_lbl" for="1"></label> 
                    </div>
                </td> -->
                
                <td ng-repeat="s in freeQueryList" >
                
                	<span ng-if="s.id==1">{{q.firstName}}</span>
                	<span ng-if="s.id==2">{{q.lastName}}</span>
                	<span ng-if="s.id==3">{{q.dob}}</span>
                	<span ng-if="s.id==4">{{q.gender}}</span>
                	<span ng-if="s.id==53">{{q.email}}</span>
                	<span ng-if="s.id==5">{{q.sourceOfInfo}}</span>
                	<span ng-if="s.id==7">{{q.qualification}}</span>
                	<span ng-if="s.id==8">{{q.yearOfPassing}}</span>
                	<span ng-if="s.id==9">{{q.Board_University}}</span>
                	<span ng-if="s.id==10">{{q.Grade_Score_Percentage}}</span>
                	<span ng-if="s.id==12">{{q.employersName}}</span>
                	<span ng-if="s.id==13">{{q.currentPosition}}</span>
                	<span ng-if="s.id==14">{{q.location}}</span>
                	<span ng-if="s.id==15">{{q.yearOfExperience}}</span>
                	<span ng-if="s.id==17">{{q.salary}}</span>
                	<span ng-if="s.id==20">{{q.houseNo}}</span>
                	<span ng-if="s.id==21">{{q.houseName}}</span>
                	<span ng-if="s.id==22">{{q.society}}</span>
                	<span ng-if="s.id==23">{{q.Street_Road}}</span>
                	<span ng-if="s.id==26">{{q.userState}}</span>
                	<span ng-if="s.id==25">{{q.userCity}}</span>
                	<span ng-if="s.id==27">{{q.mobileNumber}}</span>
                	<span ng-if="s.id==30">{{q.issueDate}}</span>
                	<span ng-if="s.id==31">{{q.expirydate}}</span>
                	<span ng-if="s.id==32">{{q.countryOfIssue}}</span>
                	<span ng-if="s.id==33">{{q.complianceName}}</span>
                	<span ng-if="s.id==34">{{q.appliedPosition}}</span>
                	<span ng-if="s.id==35">{{q.appliedDepartment}}</span>
                	<span ng-if="s.id==36">{{q.appliedOn}}</span>
                	<span ng-if="s.id==37">{{q.assessmentBrand}}</span>
                	<span ng-if="s.id==39">{{q.assessmentPosition}}</span>
                	<span ng-if="s.id==40">{{q.assessmentName}}</span>
                	<span ng-if="s.id==41">{{q.assessmentDate}}</span>
                	<span ng-if="s.id==42">{{q.assessmentDuration}}</span>
                	<span ng-if="s.id==44">{{q.assessmentStatus}}</span>
                	<span ng-if="s.id==45">{{q.nameOfSurvey}}</span>
                	<span ng-if="s.id==46">{{q.surveyStartDate}}</span>
                	<span ng-if="s.id==47">{{q.surveyEndDate}}</span>
                	<span ng-if="s.id==48">{{q.surveyCompletedDate}}</span>
                	<span ng-if="s.id==49">{{q.surveyStatus}}</span>
                	<span ng-if="s.id==50">{{q.docFileName}}</span>
                	<span ng-if="s.id==51">{{q.docFileType}}</span>
                	<span ng-if="s.id==52">{{q.docUploadDate}}</span>
                	<span ng-if="s.id==55">{{q.appliedBrand}}</span>
                	<span ng-if="s.id==56">{{q.appliedJobStatus}}</span>
                	<span ng-if="s.id==57">{{q.interviewdOn}}</span>
                	<span ng-if="s.id==58">{{q.interviewPosition}}</span>
                	
                
                </td>
                
              </tr>
              </tbody>
          </table>
        
        </div>
        </div>
        </div>
        </div>