<div class="admin-page tab-pane fade in" id="survey-report"  >
		<div class="section-heading">
                      <!-- <p class="survey-name">Survey Name:</p> -->
             <span class="name-su" style="display: inline-block;">{{surveyObj.assessmentName}}</span>
                      
                    </div>
		<div class="section-content">                    
       <div class="shadow-container">
       
      	<div class="survey-date" style="height: 45px;">
      	<select class="form-control flat-control-inner" id="dateRange"  ng-model="dateId"  ng-options="it.id as (it.startDate + ' To ' + it.endDate) for it in surveyTimelist" data-ng-change="selectedDate(dateId)" style="margin-bottom: 10px;width: 250px;float: left;margin-left: 20px;margin-top: 10px;">
        </select>  
        
        <div class="modal-footer text-left survey-close-btn">       
        		<a class="btn btn-link" ng-click=goToSurveyList()>Cancel</a>
      	 	</div> 
      	 </div>		
        
      	
          <div class="inner-head">
             <ul class="nav nav-tabs assessment-tabs1">
              <li id="summary" class="active"><a ng-click="selectedDate(selectedSurveyComId)" data-toggle="pill" href="">Summary</a></li>
              <li id="crosstabmenu"><a ng-click="fetchSurveyQuestions()" data-toggle="pill" href="" >Crosstab</a></li>
            </ul>   
          </div>
          
           <div class="tab-content">
            <div id="summary-survey" class="tab-pane fade in active">
              <div class="inner-form">
                <div class="hedaer-part-survey">
                <div class="row">
                    <div class="col-md-4">  
                    
                  </div>
                  <div class="col-md-3">
                    <div class="response-part">
                      <p>RESPONDENTS: {{surveyAttemptCount}} out of {{SurveyAssigneCount}}</p>
                    </div>
                  </div>
                  
                  <div class="col-md-2">             
          			<div class="button-group" style="text-align: right;display: block;">
                    <button class="btn btn-default btn-create" id="create-report-btn" style="background:#1fa67a;" ng-click="generateExcel()"><i class="fa fa-file-excel-o"></i></button>                    
                  	</div>                   
                  </div>
                  <!-- <div class="col-md-5"  >
                    <select class="form-control flat-control-inner" placeholder="Date Range" style="margin-bottom: 10px;width: 250px;float: right;">
                      <option>02-04-2018 To 16-04-2018</option>
                      <option>25-04-2018 To 04-06-2018</option>
                    </select> 
                    
                     
                  </div> -->                  
                 </div>  
                 <div class="clearfix"></div>
                 <div class="col-md-8"></div>
                 <div class="col-md-4">
                </div>
              </div>
              
              <div class="innr-level">              
                  <div class="questn-type" ng-repeat="q in questionData" style="border-bottom: 1px solid #ccc;margin:10px 0;">
                      <span>Q{{$index+1}}.</span> 
                      <p>{{q.questionText}}</p><button class="btn btn-default btn-create" id="create-job-btn" data-toggle="collapse" data-target="#{{$index}}" ng-click="chart(q,$index)" style="margin-left: 30px;background:#4CAF50!important"><i class="fa fa-bar-chart"></i></button>  
                    <ul>        
                
                 <div class="inner-form">    
                 <div id="{{$index}}" class="row collapse">
                  <div class="col-md-2"></div>
                  <div class="col-md-8">
                    <div class="chart-report">
                      <div class="survey-chart">
                        <canvas  id="myChart{{$index}}" width="700" height="500"></canvas>                         
                      </div>  
                    </div>
                  </div>
                  <div class="col-md-2" >           
                  </div>
                </div>
                </div>
                    
                      <li ng-repeat="a in q.ans" style="margin: 0 10px;">
                        <div class="answr-survey"  >
                          <span class="survey-manual-ans" data-toggle="tooltip" data-placement="top" title="{{a.answerText}}" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;cursor: pointer;display: block;">{{a.answerText}}</span>
                          <p ng-click="fetchuserList(a.id,q.id)">{{a.count}}</p>
                        </div> 
                      </li>
                     <!--  <li>
                        <div class="answr-skipped">
                          <span class="survey-manual-ans">Skipped</span>
                          <p>1</p>
                        </div>
                      </li> -->                  
                    </ul>  
                  </div>               
                </div>
               </div>   
           </div>
        </div>
        
        <div id="crosstab" class="tab-pane fade in active">
              <div class="section-content" id="select-que-generate-report">
                <div class="inner-form" style="background:transparent;">
                  <div id="av" class="row">
                    <table class="table table-striped red-table">
                        <caption>Questions List</caption>
                        <thead>
                          <tr>
                            <th></th>
                            <!-- <th>Seq. No.</th> -->
                            <th>Questions</th>
                            <th>Question Type</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="s in surveyQuestionsList">
                            <td>
                              <div class="chckbx-cntnr zeromargin">
                                <input type="checkbox" id="{{s.id}}" ng-click="getSelectedForGenerate(s.id)" name="check" class="flashadmin">
                                <label class="cstmchk_lbladmin" for="{{s.id}}"></label> 
                              </div>
                            </td>
                            <!-- <td>1</td> -->
                            <td>
                              <p class="que-big" data-toggle="tooltip" data-placement="top" title="{{s.questionText}}">{{s.questionText}}</p>
                            </td>
                            <td>{{s.questionTypeName}}</td>
                          </tr>              
                          </tbody>
                      </table>
                  </div>
                  <div class="btn-cntnr" style="margin-top: 20px;">
                    <button class="btn btn-default btn-bluer" id="generate_survey" style="margin-right: 0px;" ng-click="generateCrossTab()">Generate</button>
                  </div>
                   <div class="section-content" id="generated_survey" style="display: none;" >
                        <div class="inner-head">
                          <h4>Generated Report</h4>
                        </div>
                         <div class="inner-form gen-table" style="background:transparent; display: inline-block;width: 100%;border: 1px solid #ddd;margin: 20px 0;">
                          <div class="col-md-2 que2-side" style="padding: 0;background-color: #f1f1f1;">
                            <p>{{questionsList[0].questionText}}</p>
                            <ul class="que1-ans" ng-repeat="q in questionsList[0].ans">
                               <li data-toggle="tooltip" data-placement="top" title="{{q.answerText}}" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;cursor: pointer;display: block;">{{q.answerText}}</li>
                               <!-- <li>Monthly</li>
                               <li>Other</li> -->
                            </ul>
                          </div>
                          <div class="surveytble-bckground">
                          <div class="col-md-10 que1-side">
                            <p style="padding: 15px 0 0;">{{questionsList[1].questionText}}</p>
                            <!-- <div class="clearfix"></div> -->
                            <ul class="que2-ans" ng-repeat="q in questionsList[1].ans">
                               
                                <li data-toggle="tooltip" data-placement="top" title="{{q.answerText}}" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;cursor: pointer;display: block;">{{q.answerText}}</li>
                              
                            </ul>
                          </div>
                          </div>
                           <div class="col-md-2"></div>
                          <div class="col-md-10" ng-repeat="c in crosstabData">
                            <div class="generate-answer" style="margin-left: 10px;" ng-repeat="an in c.crossans">
                            <ul>
                              <li>
                                <div class="answr-survey-table square-answer">
                                  <p id="show-report-ans" style="cursor: pointer;" ng-click="fetchUsersList(an.crosstabId)">{{an.count}}</p>
                                </div>
                              </li>
                            </ul>                                
                          </div> 
                        </div>                         
                    </div>
                    <div>
                    
                    </div>
                </div>
                 <div id="gotoque" class="modal-footer text-left">       
        			<a class="btn btn-link" ng-click=showQuetionsList()>Cancel</a>
      			</div>
            </div>
        </div>
        
      </div>
    </div>
    </div>
       
          <!-- Print Candidates -->
<div id="print_candidates" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content flat-modal" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h4 class="modal-title common-title" style="margin-left: 0;">User(s)</h4>
        <h4 class="modal-title common-title" style="margin-left: 0;"></h4>
      </div>
      <div class="modal-body flat-body">	 
      
 
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Ref No./Employee Number</th>
              <th>Name</th> 
              <th>Role</th>        
            </tr>
          </thead>
          <tbody ng-repeat="x in usersList">
            <tr>
            <td>{{x.refNo}}</td>
             <td>{{x.name}}</td> 
             <td>{{x.roleName}}</td>           
            </tr>            
          </tbody>
        </table>
      </div>
      <div class="modal-footer text-left">       
        <a class="btn btn-link" data-dismiss="modal">Cancel</a>
      </div>
    </div>

  </div>
</div>
	
      </div>
      
      

      
      
      
      
      
  <script src="resources/js/Chart.js"></script>
  <script type="text/javascript"> 
    $("#create-req-btn").click(function(){
      $("#create-req").show();
      $("#req-list").hide();
    });
    </script>