<!-- <style>
.right-alignment {
	display: inline-block;
}

.next-btn {
	padding: 20px;
}

.radiolabel {
	display: block;
	position: relative;
	margin-left: 25px;
	font-weight: 500 !important;
	margin-left: 25px;
}

.tooltips {
  display: inline;
  position: relative;
  color: #00aeef;
}
.tooltips:hover:after{
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  background: #444;
  border-radius: 5px;
  color: #fff;
  content: attr(title);
  margin: -65px auto 0;
  padding: 10px;
}
.tooltips:hover:before{
  border: solid;
  border-color: #444 transparent;
  border-width: 12px 6px 0 6px;
  content: "";
  left: 45%;
  bottom: 15px;
  position: absolute;
}

.tooltips i{
	font-size: 16px;
}
</style>
 -->
<div>
<div class="tab-pane fade in admin-page">
	<div class="section-heading">
		<h4>Interview Assessment Master</h4>
	</div>
	<div class="section-content" id="post-list">
		<div class="upper-actions" >
			<div class="row">
				<div class="col-md-3">
					<div class="button-group">
						<button class="btn-default btn-create" id="create-job-btn" ng-click="forwardInterviewassessment()" data-toggle="dropdown">
							<i class="icon-plus"></i>
						</button>

						<button class="btn-default btn-delete" data-target="#deletelist" ng-click="checkInterviewAssessment()" data-toggle="dropdown">
							<i class="icon-trash-2"></i>
						</button>
					</div>
				</div>
				<div class="col-md-4"></div>
				<div class="col-md-4" style="text-align: right">
					<!-- <div class="search-cntnr right-alignment">
						<div class="form-gadd-interviewroup search-box">
							<input type="text" class="form-control"> <i
								class="icon-search"></i>
						</div>
					</div>
					<div class="button-group right-alignment">
						<button
							class="btn-default btn-create icon-navigation1 dropdown-toggle"
							data-toggle="dropdown">
							<i class="fa fa-check-square-o"></i>
						</button>

					</div> -->
					<div class="search-cntnr search-box">
			            <div class="form-group search-box">
			              <input type="text" name="" id="id_of_textbox" class="form-control flat-control-search mar-bottom-zero" ng-model="searchterm">
			              <i class="icon-search" id="id_of_button" ng-click="fetchAssessmentMaster(0,10,null,null,searchterm,0,0,0,3);getAssessmentCount(searchterm,3)"></i>
			            </div>
         			</div>
				</div>
				
				 <div class="col-md-1">           
          
			          <div class="button-group">
			          	<button class="btn-default btn-create icon-navigation1 dropdown-toggle" data-toggle="dropdown" id="create-req-btn"><i class="fa fa-check-square-o"></i></button>
			           
				      			<ul class="dropdown-menu selection-column" style="overflow:auto;left: -73px;">
									 <li>
										  	<div class="chckbx-cntnr zeromargin">
										     <input type="checkbox" id="app1" name="check" class="flashadmin" ng-click="selectAllColoumns(colcheck);savesettings()" ng-model="colcheck">
										     <label class="cstmchk_lbladmin"  for="app1"></label><label for="app1" class="table-label">Select All</label> 
										   </div>
									  </li>
									  <li ng-repeat="c in columnlist">
										  <div class="chckbx-cntnr zeromargin" ng-if="c.name=='Assessments'">
										     <input type="checkbox" id="column{{$index}}" name="check" ng-model="c.isActive" class="flashadmin" ng-click="savesettings()" disabled>
										     <label class="cstmchk_lbladmin"  for="column{{$index}}"></label><label for="column{{$index}}" class="table-label">{{c.name}}</label> 
										   </div>
										  	<div class="chckbx-cntnr zeromargin" ng-hide="c.name=='Assessments'">
										     <input type="checkbox"  id="column{{$index}}" name="check" ng-model="c.isActive" class="flashadmin" ng-click="savesettings()">
										     <label class="cstmchk_lbladmin"  for="column{{$index}}"></label><label for="column{{$index}}" class="table-label">{{c.name}}</label> 
										   </div>
									  </li>
								</ul>
			          </div>
              </div>
			</div>
			 <div class="clearfix"></div>
        </div>

 <div class="table-cntnr">
        <div class="table-responsive">
          <table class="table table-striped red-table">
            <caption>Assessment</caption>
            <thead>
              <tr>
				<th style="vertical-align: middle;">
                  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="rd" name="check" class="flashadmin" ng-click="checkedAllList(assessmentList,all)" ng-model="all">
                      <label class="cstmchk_lbladmin" for="rd"></label> 
                    </div>
                </th>
                <th ng-show="activeColumn('Name')" Style="vertical-align: middle;">Name<i ng-click="SortingAssessmentMasterList('assessment',searchterm)" class="fa fa-sort" aria-hidden="true" style="font-size:12px;"></i></th>
             <th ng-show="activeColumn('Created Date')" Style="vertical-align: middle;min-width: 129px;">Created Date<i ng-click="SortingAssessmentMasterList('createdDate',searchterm)" class="fa fa-sort" aria-hidden="true" style="font-size:12px;"></i></th>
               <th ng-show="activeColumn('Brand')" Style="vertical-align: middle;min-width: 100px;">Brand<i ng-click="SortingAssessmentMasterList('Brand',searchterm)" class="fa fa-sort" aria-hidden="true" style="font-size:12px;"></i></th>               
               <th ng-show="activeColumn('Department')" Style="vertical-align: middle;min-width: 100px;">Department<i ng-click="SortingAssessmentMasterList('Category',searchterm)" class="fa fa-sort" aria-hidden="true" style="font-size:12px;"></i></th>
               <th ng-show="activeColumn('Position')" Style="vertical-align: middle;min-width: 100px;">Position<i ng-click="SortingAssessmentMasterList('Position',searchterm)" class="fa fa-sort" aria-hidden="true" style="font-size:12px;"></i></th>
               	 <th ng-show="activeColumn('No of questions')" Style="vertical-align: middle;min-width: 110px;">No of questions<i ng-click="SortingAssessmentMasterList('NoOfQuestion',searchterm)" class="fa fa-sort" aria-hidden="true" style="font-size:12px;"></i></th>
                <th ng-show="activeColumn('preview')" Style="vertical-align: middle;">Preview</th>
               </tr>
            </thead>
            <tbody>
            
            
              <tr ng-repeat="a in interviewassessmentList">
                <td>
                  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="{{a}}" name="check" class="flashadmin" ng-click="checkedAssessmentList(a.id)" ng-checked="all">
                      <label class="cstmchk_lbladmin" for="{{a}}"></label> 
                    </div>
                </td>
				<td ng-show="activeColumn('Name')"><a id="create-job-btn" ng-click="updateAssessmentDetails(a)" data-toggle="modal" >{{a.assessmentName}}</a></td>
              <!--  <td ng-show="activeColumn('Created Date')">{{a.createdDate}}</td> -->
               <td ng-show="activeColumn('Created Date')">{{formatDate(a.createdDate) |  date:'dd-MM-yyyy'}}</td>
				 
			   <td ng-show="activeColumn('Brand')">{{a.brand.name}}</td>          
              
               <td ng-show="activeColumn('Department')">{{a.category.name}}</td>
               <td ng-show="activeColumn('Position')">{{a.position.positonname}}</td> 
				 
				
				<td ng-show="activeColumn('No of questions')">
				<span ng-if="a.assessmentTypeId != 1">{{a.questionCount}}</span>
				<a ng-if="a.assessmentTypeId == 1" ng-click="openInterviewAssessmentQuestionPage(a.id)">{{a.questionCount}}
				</a>
				</td>
				<td ng-show="activeColumn('preview')"><button ng-if="a.assessmentTypeId != 3" class="btn btn-default btn-create" ng-click="PreviewAssessment(a)"><i class="fa fa-eye"></i></button>
					<button ng-if="a.assessmentTypeId == 3" class="btn btn-default btn-create"  disabled><i class="fa fa-eye"></i></button>
				</td>
              </tr>  
            </tbody>
          </table>
          </div>
           <div class="text-right">
            
            <ul class="pagination" style="margin-top: 20px;">
			<li><a ng-hide="start == 0" ng-click="previous()">&laquo;</a>
			<li ng-repeat="i in navButtons" ng-class="$parent.offset == i * $parent.limit && 'active'"><a class="" ng-click="current(i)">{{i+1}}</a></li>
			<li><a ng-hide="(((start+5)*10) + 10) >= count" ng-click="next()">&raquo;</a></li>
			</ul>
 
            </div>
        </div>
        
        </div>
      </div>
      
      
         <!----Modal delete-list---->
<div id="deletelist" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm add-brand">

    <!-- Modal content-->
    <div class="modal-content flat-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h4 class="modal-title common-title" style="margin-left: 0;">Delete Record</h4>
      </div>
      <div class="modal-body flat-body">
          <div class="clearfix" ng-value="getCheckedId()"></div>
        Are you sure want to delete {{getCheckedAssessmentid.length}} records?
      <div class="modal-footer text-left">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="show_ass" ng-click="deletefromListInterviewAssessment('Interview Assessment master')">Delete</button>
        <a class="btn btn-link" data-dismiss="modal" >Cancel</a>
      </div>
    </div>
   </div>
    </div>
    </div>
      
      </div>



