<style>
.passport_upload_box {
	background-color: #fff;
	padding: 30px 15px;
	border: 1px solid #ddd;
}
.enter_reference_box{
	padding-left: 0;
}
.reference_box{
	display: flex;
}
.reference_box > input{
	border: 1px solid rgb(224, 224, 224);
    background-color: rgb(255, 255, 255);
    border-radius: 0;
    height: 35px;
    font-family: montserrat-regular;
    padding-right: 30px;    
    margin-right: 15px;
    width: 60%;
}
.reference_box > input:focus{
    border-color: #00aeef;
    box-shadow: none !important;
    border-width: 1px;
    outline: 0;
    transition: 0.4s;
}
.reference_search_btn{
	font-size: 12px;
    background: #00aeef;
    color: #fff;
    border: 0px;
    margin: 2px 0px;
    padding: 7px 10px;
}
.reference_search_btn:hover, .reference_search_btn:focus, .reference_search_btn:active {
	box-shadow: 0px 2px 5.76px 0.24px rgb(0 0 0 / 24%);
	background-color: #009ad4 !important;
	color: #fff !important;
}
.passport_parrent{

}
.passport_body{
	padding: 20px 10px;
	border: 1px solid #ddd;
	display: flex;
}
.passport_body .col-md-8{
	padding-left:0;
}
.marg_top8{
	margin-top: 8px;
}
.img_width_css{
	width: 100%;
}
.upload_btn{
    position:relative;
    padding: 7px 10px;
    font-size: 14px !important;
    border-radius: 4px;
    color: #fff;
    background-color: #00aeef;
    font-weight: 400;
    text-align: center;
    border: none;
    cursor: pointer;
}
.upload_btn:hover, .upload_btn:focus ,.upload_btn:active{
	box-shadow: 0px 2px 5.76px 0.24px rgb(0 0 0 / 24%);
	background-color: #009ad4 !important;
	color: #fff !important;
}
.upload_btn input[type="file"]{
    position: absolute;
    top: -9999999;
    filter: alpha(opacity=0);
    opacity: 0;
    width:0;
    height:0;
    outline: none;
    cursor: inherit;
    display: block;
}
.passport_save_btn {
	border-radius: 4px;
	background-color: rgb(0, 174, 239);
	color: #fff;
	margin-right:40px;
}
.passport-cancel{
	color: #00aeef;
}
.passport-cancel:hover{
	color: #23527c;
	text-decoration: none;
}
.passport_save_btn:hover, .passport_save_btn:focus, .passport_save_btn:active {
	box-shadow: 0px 2px 5.76px 0.24px rgb(0 0 0 / 24%);
	background-color: #009ad4 !important;
	color: #fff !important;
}
</style>
<script>


$('#formdata').on('focus', ".dateonly1", function() {
	$(this).datetimepicker({
	format : 'DD-MM-YYYY',
	//useCurrent : false,
	maxDate:new Date()     
	}).on('dp.change', function(e) {
	$(this).change()
	});
	});
	$('#formdata').on('focus', ".dateonly2", function() {
		$(this).datetimepicker({
		format : 'DD-MM-YYYY',
		//useCurrent : false,
		maxDate:new Date()     
		}).on('dp.change', function(e) {
		$(this).change()
		});
		});
	$('#formdata').on('focus', ".dateonly3", function() {
		$(this).datetimepicker({
		format : 'DD-MM-YYYY',
		//useCurrent : false,
		//maxDate:new Date()     
		}).on('dp.change', function(e) {
		$(this).change()
		});
		});



</script>
<div id="passport" class="tab-pane fade in admin-page">
  <div class="section-heading">
    <h4>Passport Upload</h4>
  </div>
  <div class="section-content">
    <div class="passport_upload_box">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-6 enter_reference_box">
           <label>Reference Number:</label>
            <div class="form-group reference_box">
           
              <input type="text" name="" class="form-control" id="referencenofield" placeholder="Enter Reference Number" ng-model = "refnumber">
              <div class="button-group">
                <button class="btn btn-default reference_search_btn" ng-click="fetchPassportDetail(refnumber)">Search</button>
              </div>
            </div>
          </div>
          <div class="col-md-6 enter_reference_box">
           <label>Passport Number:</label>
            <div class="form-group reference_box">
           
              <input type="text" name="" class="form-control" id="passportnumber" placeholder="Enter Passport Number" ng-model = "passnumber">
              <div class="button-group">
                <button class="btn btn-default reference_search_btn" ng-click="fetchUserDetail(passnumber)">Search</button>
              </div>
            </div>
          </div>
         
        </div>        
      </div>
      
      
      
      
      <!-- passport body start here -->
      <div class="passport_parrent">
      	<div class="passport_body"  ng-show="passport">
		  <div class="col-md-8">
		  	<div class="col-md-6" id="countryOfIssue">
			  <div class="form-group">
			    <div>
			      <label>Country of Issue*</label>
			    </div>
			    <div class="radio-cntnr marg_top8">
			      <input type="radio" id="india" name="radiobtn" value="india" required ng-checked="true">
			      <label for="india">India</label>
			    </div>
			    <div class="radio-cntnr marg_top8">
			      <input type="radio" id="others" name="radiobtn" value="others" required="">
			      <label for="others">Others</label>
			    </div>
			    <div class="col-md-4">
		      <div class="form-group">
		                    <button class="btn btn-default passport_save_btn" id="editpassportdetails" ng-click="editpassportdetails()" >Edit</button>
		        </div>
		        </div>
			  </div>
			</div>	
			<div class="clearfix"></div>
			<div class="others_passport_det" id="Othercountry" style="display: none;" >
 			<div class="col-md-12">
				<p style="">Uh-Huh! Only Indian Passports allowed</p>
			</div>
			</div>
			<form ng-submit="SavePassportDetails(passportdetaildata)">
			<div class="confirmed_passport_det" id="formdata" style="display: none;">				  	
		    <div class="col-md-6">
		      <div class="form-group">
		        <label>Given Names</label>
		        <input type="text" id="sname" name="" ng-model="passportdetaildata.firstName"  
		        class="form-control flat-control-inner">
		      </div>
		    </div>
		    <div class="col-md-6">
		      <div class="form-group">
		        <label>Surname</label>
		        <input type="text" id="gname" name="" ng-model="passportdetaildata.lastName" 
		        class="form-control flat-control-inner">
		      </div>
		    </div>
		    <div class="col-md-6">
		      <div class="form-group">
		        <label>Date of Birth *</label>
		        <input type="text" id="dateofbirth" name="" ng-model="passportdetaildata.dateOfBirth" 
		         class="form-control flat-control-inner dateonly1" required>
		      </div>
		    </div>
		    <div class="col-md-6">
		      <div class="form-group">
		        <label>Passport No.*</label>
		        <input type="text" id="passportno" name="" ng-model="passportdetaildata.passportNo" 
		         class="form-control flat-control-inner" required>
		      </div>
		    </div>
		    <div class="col-md-6">
		      <div class="form-group">
		        <label>Place of Birth*</label>
		        <input type="text" id="placeofbirth" name="" ng-model="passportdetaildata.placeOfBirth" 
		         class="form-control flat-control-inner placeofbirth " required>
		      </div>
		    </div>		    
		    <div class="col-md-6">
		      <div class="form-group">
		        <label>Place of Issue*</label>
		        <input type="text" id="placeofissue" name="" ng-model="passportdetaildata.placeOfIssue" 
		        class="form-control flat-control-inner" required>
		      </div>
		    </div>
		    <div class="col-md-6">
		      <div class="form-group">
		        <label>Date of Issue*</label>
		        <input type="text" id="dateofissue" name="" ng-model="passportdetaildata.dateOfIssue" 
		         class="form-control flat-control-inner  dateonly2" required>
		      </div>
		    </div>
		    <div class="col-md-6">
		      <div class="form-group">
		        <label>Date of Expiry*</label>
		        <input type="text" id="dateofexpiry" name="" ng-model="passportdetaildata.expiryDate" 
		         class="form-control flat-control-inner  dateonly3" required>
		      </div>
		    </div>
		    
		    <div class="col-md-12">
		      <div class="form-group">
		        <button type="submit" class="btn btn-default passport_save_btn" id="savepassportdetails" >Save</button>
		        <a ng-click="cancel();">Cancel</a> </div>
		    </div>
		    </div>
		    </form>
		  </div>
		  
		  <div class="col-md-4" id="sampleuploadbutton">
		    <div class="form-group" id="dynamicpic"> 
		      <label>Upload Preview*</label>
		      <img ng-if="PassportNumber!=null" id="reuploadpassportimg" ng-src="{{passportdetaildata.path}}"
          class="img_width_css">
          <img ng-if="PassportNumber==null" id="uploadpassportimg" ng-src="resources/img/passport_sample.png" 
          class="img_width_css">
		      
		   </div>
		   <div class="form-group" id="staticpic"> 
		      <label>Upload Preview*</label>
          <img ng-src="resources/img/passport_sample.png" 
          class="img_width_css">
		      
		   </div>
		    <div class="col-md-12" >
		      <div class="btn-cntnr"  id="uploadfile" >
		      	<label ng-if="PassportNumber==null"  ng-disabled="disabledupload"  class="btn upload_btn"> Upload <input type="file" ng-disabled="disabledupload" id="uploadpassportfile" ng-click="getindex()" accept="image/x-png,image/gif,image/jpeg" /> </label>
            	<label ng-if="PassportNumber!=null"  ng-disabled="disabledreupload"  class="btn upload_btn"> Re-upload <input type="file" ng-disabled="disabledreupload" id="reuploadpassportfile" ng-click="getindex1()" accept="image/x-png,image/gif,image/jpeg" /> </label>
		      </div>
		       
		    </div>
		  </div>
		 
	  </div>
		</div>
		
      <!-- passport body end here -->
      
      
      
      <!-- Passport Details  Start-->
      
      
            <div class="passport_parrent" ng-show="details">
      	<div class="passport_body" >
		  <div class="col-md-8">
		  	
			<div class="confirmed_passport_det" id="formdata" >				  	
		    <div class="col-md-6">
		      <div class="form-group">
		        <label>C-Number</label>
		        <input type="text" id="cnumber" name=""  
		        class="form-control flat-control-inner"  ng-model="userdata.refNo"  disabled>
		      </div>
		    </div>
		    <div class="col-md-6">
		      <div class="form-group">
		        <label>Firstname</label>
		        <input type="text" id="fname" name="" 
		        class="form-control flat-control-inner"  ng-model="userdata.firstName"  disabled>
		      </div>
		    </div>
		    <div class="col-md-6">
		      <div class="form-group">
		        <label>Lastname</label>
		        <input type="text" id="passportno" name="" 
		         class="form-control flat-control-inner"  ng-model="userdata.lastName"  disabled>
		      </div>
		    </div>
		    <div class="col-md-6">
		      <div class="form-group">
		        <label>Date of Account Created</label>
		        <input type="text" id="dateofbirth" name=""
		         class="form-control flat-control-inner dateonly1"  ng-model="userdata.createdDate"  disabled>
		      </div>
		    </div>
		    <div class="col-md-6">
		      <div class="form-group">
		        <label>Email Address</label>
		        <input type="text" id="placeofbirth" name="" 
		         class="form-control flat-control-inner"  ng-model="userdata.email"  disabled>
		      </div>
		    </div>		    
		    </div>
		  </div>
		  
		
		 
	  </div>
		</div>
      
      <!-- Passport Details End -->
      
    </div>
  </div>
</div>