<div id="" class="tab-pane fade in admin-page">
<div class="section-content" id="email-listsec">
            
        <ul class="nav nav-tabs assessment-tabs1" style="border-bottom: 1px solid #ddd !important;">
             	 <li ng-class="{'active': approverTabFlag === 1}" ><a ng-click="setapproverTabFlag(1)">Candidate</a></li>
             	 <li ng-class="{'active': approverTabFlag === 2}"><a ng-click="setapproverTabFlag(2)">Employee</a></li>
        </ul>        
    
        <div class="tab-content">
            <div id="candidate" class="tab-pane fade in active" ng-show="approverTabFlag == 1">
            	<div class="section-content" id="create-job">
			        <div class="shadow-container">
			          <!-- <div class="inner-head">
			            <h4>Personal Information</h4>
			          </div> -->
			          <div class="inner-form configur-fields" ng-repeat="li in purgeDataCandidateList">
			          <h4>{{li.sectionName}}</h4>
			          	<div class="fields-form">
			          	<div class="col-md-6" ng-repeat="d in li.purgeUserDataList">
				          <div class="col-md-3" style="padding: 0;">
				          	<div class="form-group fields">
				          		<label style="overflow-wrap:break-word">{{d.name}}</label>
				          	</div>
				          </div>
				          <div class="col-md-9">
				          	<div class="radio-cntnr new-radio">
			          			<input type="radio" ng-click="setAction(1,d)" id="slot22{{d.id}}" name="radio-group{{d.id}}" class="flashadmin" ng-checked="d.action == 1" >
                  				<label for="slot22{{d.id}}" class="cstmchk_lbladmin">Encrypt</label>
                  			</div>
                  			<div class="radio-cntnr new-radio">
			          			<input type="radio" ng-click="setAction(2,d)" id="slot21{{d.id}}" name="radio-group{{d.id}}" class="flashadmin" ng-checked="d.action == 2" >
                  				<label for="slot21{{d.id}}" class="cstmchk_lbladmin">Delete</label>
                  			</div>
                  			<div class="radio-cntnr new-radio">
			          			<input type="radio" ng-click="setAction(3,d)" id="slot23{{d.id}}" name="radio-group{{d.id}}" class="flashadmin" ng-checked="d.action == 3" >
                  				<label for="slot23{{d.id}}" class="cstmchk_lbladmin">No Action</label>
                  			</div>
				          </div>
				         </div>
				         </div>
				      </div>
			         </div>    
            	</div>
            	<div class="btn-cntnr" style="margin-top: 20px; margin-bottom: 20px; text-align: right!important;">
              <button class="btn btn-default btn-bluer" id="update_slot-btn" ng-click="saveCandiadateConfiguration(purgeDataCandidateList)">Save</button>
               <a ui-sref="restricted.admin.dashboard" >Cancel</a>
              <!--  <a class="btn btn-default btn-bluer" data-dismiss="modal">Cancel</a> -->
            <!--   <a href="">Cancel</a> -->
            </div>
            </div>
            
            <div id="employee" class="tab-pane fade in active" ng-show="approverTabFlag == 2">
            <div class="section-content" id="create-job">
			        <div class="shadow-container">
			          <!-- <div class="inner-head">
			            <h4>Personal Information</h4>
			          </div> -->
			          <div class="inner-form configur-fields" ng-repeat="li in purgeDataEmployeeList">
			          <h4>{{li.sectionName}}</h4>
			          	<div class="fields-form">
			          	<div class="col-md-6" ng-repeat="d in li.purgeUserDataList">
				          <div class="col-md-3" style="padding: 0;">
				          	<div class="form-group fields">
				          		<label style="overflow-wrap:break-word">{{d.name}}</label>
				          	</div>
				          </div>
				          <div class="col-md-9">
				          	<div class="radio-cntnr new-radio">
			          			<input type="radio" ng-click="setAction2(1,d)" id="slott222{{d.id}}" name="radio-groupp{{d.id}}" class="flashadmin" ng-checked="d.action == 1">
                  				<label for="slott222{{d.id}}" class="cstmchk_lbladmin">Encrypt</label>
                  			</div>
                  			<div class="radio-cntnr new-radio">
			          			<input type="radio" ng-click="setAction2(2,d)" id="slott211{{d.id}}" name="radio-groupp{{d.id}}" class="flashadmin" ng-checked="d.action == 2">
                  				<label for="slott211{{d.id}}" class="cstmchk_lbladmin">Delete</label>
                  			</div>
                  			<div class="radio-cntnr new-radio">
			          			<input type="radio" ng-click="setAction2(3,d)" id="slott213{{d.id}}" name="radio-groupp{{d.id}}" class="flashadmin" ng-checked="d.action == 3">
                  				<label for="slott213{{d.id}}" class="cstmchk_lbladmin">No Action</label>
                  			</div>
				          </div>
				         </div>
				         </div>
				      </div>
			         </div>    
            	</div>
            <div class="btn-cntnr" style="margin-top: 20px; margin-bottom: 20px; text-align: right!important;">
              <button class="btn btn-default btn-bluer" id="update_slot-btn" ng-click="saveEmployeeConfiguration(purgeDataEmployeeList)">Save</button>
               <a ui-sref=restricted.admin.dashboard >Cancel</a>
              <!--  <a class="btn btn-default btn-bluer" data-dismiss="modal">Cancel</a> -->
            <!--   <a href="">Cancel</a> -->
            </div>
            </div>
        </div>
       </div>
     </div>