<div id="" class="tab-pane fade in admin-page">
      <div class="section-heading">
        <h4>Purge Requests</h4>
      </div>
      
      <div class="" style="padding: 10px 14px 0px 14px;">
     	 <ul class="nav nav-tabs assessment-tabs1" style="border-bottom: 1px solid #ddd !important;">
             <li id="purge-request-list" class="active"><a ng-click="listFlag=1;search=null;order='desc';colName=null;getPurgeRequestCount(search,listFlag)" data-toggle="pill" href="">Purge Request List</a></li>
             <li id="purged-list"><a ng-click="listFlag=2;search=null;order='desc';colName=null;getPurgeRequestCount(search,listFlag)" data-toggle="pill" href="" >Purged List</a></li>
         </ul>
      </div>
      
       <div class="section-content" id="list-uploaded-files">
      <div class="upper-actions">
          <div class="col-md-2 col-lg-2">
	          <!-- <div class="button-group">
	            <button class="btn btn-default btn-create" id="create-req-btn" ng-click="openEditWorkFlowPage(undefined)"><i class="icon-plus"></i></button>
	            <button class="btn btn-default btn-delete" ng-click="check();" ><i class="icon-trash-2" data-target="#deletequerylist" ></i></button>
	          </div> -->
          </div>
          <div class="col-md-1 col-lg-1">
            
          </div>
          
          <div class="col-md-3 col-md-offset-6">
          	<div class="search-cntnr" style="float: initial;">
            <div class="form-group search-box">
              <input type="text" name="" class="form-control flat-control-search"   ng-model="search" ng-keyup="searchOnEnter($event,search)">
              <i class="icon-search" ng-click="fetchPurgeRequestList(0,10,null,null,search);getPurgeRequestCount(search)" ></i>
            </div>
       </div>
          </div>
          <div class="clearfix"></div>
        </div>
       <div class="table-cntnr">
          <table class="table table-striped red-table">
            <caption>Purge Requests</caption>
            <thead>
            <tr>
                <th>
                  <!-- <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="rd" name="check" class="flashadmin" ng-click="checkedAllList(freequerylist,all);" ng-model="all">
                      <label class="cstmchk_lbladmin" for="rd"></label> 
                    </div> -->
                </th>
                <th>Ref No./Employee No. <i class="fa fa-sort" aria-hidden="true" ng-click="sortingPurgeReqList('refCode',searchterm)"></i></th>
                <th ng-if="listFlag == 1">Name <i class="fa fa-sort" aria-hidden="true" ng-click="sortingPurgeReqList('NAME',searchterm)"></i></th>
                <th>Reason <i class="fa fa-sort" aria-hidden="true" ng-click="sortingPurgeReqList('prq_request_comment',searchterm)" ></i></th>
                <th>Request Date <i class="fa fa-sort" aria-hidden="true"  ng-click="sortingPurgeReqList('prq_created_on',searchterm)"></i></th>
                <th ng-if="listFlag == 2">Purge Date <i class="fa fa-sort" aria-hidden="true"  ng-click="sortingPurgeReqList('prq_updated_on',searchterm)"></i></th>
                <!-- <th>Position <i class="fa fa-sort" aria-hidden="true" ng-click="sortingPurgeReqList('prq_role_id',searchterm)" ></i></th> -->
                <th ng-if="listFlag == 1">Action</th>
            </tr>
            </thead>
            <tbody>
              <tr ng-repeat="r in purgerequestlist">
                <td>
                  <!-- <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="checkid{{$index}}" name="check" class="flashadmin" ng-click="checkedList(q.id);" ng-checked="all">
                      <label class="cstmchk_lbladmin" for="checkid{{$index}}"></label> 
                    </div> -->
                </td>
                <td>{{r.refCode}}</td>
                <td ng-if="listFlag == 1">{{r.name}}</td>
                <td><a ng-click="displayComment(r.requestComment)">
                	<button class="btn-default btn-create"><i class="fa fa-commenting-o" aria-hidden="true"></i></button>
                </a></td>
                <td>{{dateformate(r.createdOnDate)}}</td>
                <td ng-if="listFlag == 2">{{dateformate(r.updatedOnDate)}}</td>
                <!-- <td>{{r.position}}</td> -->
                <td ng-if="listFlag == 1">
                	<div class="button-group">
          				<button class="btn btn-success " data-toggle="dropdown" id="" ng-click="setRequestObj(r)">Purge</button>
         			 </div>
                </td>
                  <!-- <td data-toggle="modal" data-target="#logs-info"><button type="button" class="btn btn-default btn-bluer" ng-click="fetchDocumentUploadLogList(d.id);">Log</button></td> -->
              </tr>
              </tbody>
          </table>
          <div class="text-right">
            <ul class="pagination" style="margin-top: 0;">
				<li><a ng-hide="start == 0" ng-click="previous()">&laquo;</a>
				<li ng-repeat="i in navButtons" ng-class="$parent.offset == i * $parent.limit && 'active'"><a class="" ng-click="current(i)">{{i+1}}</a></li>
				<li><a ng-hide="(((start+5)*10) + 10) >= count" ng-click="next()">&raquo;</a></li>
			</ul>
          </div>
 <div id="comment-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md modal-400">
    <div class="modal-content flat-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"></button>
        <h4 class="modal-title common-title"></h4>
      </div>
      <div class="modal-body flat-body">
           <p id="docUploadMod">{{requestComment}}</p>
           
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" >OK</button>
      </div>
    </div>
  </div>
</div>
<div id="purge-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md modal-400">
    <div class="modal-content flat-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"></button>
        <h4 class="modal-title common-title"></h4>
      </div>
      <div class="modal-body flat-body">
           <p id="docUploadMod">Are you sure you are accepting this request?</p>
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="acceptRequest(r)">OK</button>
         <a class="btn btn-link" data-dismiss="modal" >Cancel</a>
      </div>
    </div>
  </div>
</div>
        </div>
        </div> 
          <!-- Modal -->

 </div>