

<div id="template_type" class="tab-pane fade in admin-page">
      <div class="section-heading">
        <h4>Question Category</h4>
        <!--<p>Create and post new job or choose one from already posted jobs.</p>-->
      </div>
      <div class="section-content" id="post-list">
        <div class="upper-actions">
          <div class="button-group">
            <button class="btn btn-default btn-create" id="create-job-btn" data-toggle="modal" ng-click="clear()" data-target="#add_category"><i class="icon-plus"></i></button>
            <button class="btn btn-default btn-delete" data-target="#deletelist" ng-click="check()"><i class="icon-trash-2"></i></button>
          </div>
          <div class="search-cntnr">
            <div class="form-group search-box inline-blck">
              <input type="text" name="" id="id_of_textbox" class="form-control flat-control-search mar-bottom-zero" ng-model="searchterm">
              <i class="icon-search" id="id_of_button" ng-click="fetchquestioncategory(0,10,null,null,searchterm);getCategoryCount(searchterm)"></i>
            </div>
          </div>          
          <div class="clearfix"></div>
        </div>
        <div class="table-cntnr">
          <table class="table table-striped red-table">
            <caption>Question Category</caption>
            <thead>
              <tr>
                <th>
                  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="rd" name="check" class="flashadmin" ng-click="checkedAllList(TemplateTypeList,all)" ng-model="all">
                      <label class="cstmchk_lbladmin" for="rd"></label> 
                    </div>
                </th>
                <!-- <th>Position</th>
                <th>Brand</th>--> 
               <th>Category Name <i ng-click="SortingCategoryList('question category',searchterm)" class="fa fa-sort" aria-hidden="true" style="font-size:12px;"></i></th>
               </tr>
            </thead>
            <tbody>
              <tr ng-repeat="c in TemplateTypeList">
                <td>
                  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="{{c.id}}" name="check" class="flashadmin" ng-click="checkedtemplatetypeList(c.id)" ng-checked="all">
                      <label class="cstmchk_lbladmin" for="{{c.id}}"></label> 
                    </div>
                </td>
                <td><a id="create-job-btn" ng-click="templatetypes(c)" data-toggle="modal" data-target="#edit_category">{{c.categoryName}}</a></td>
              </tr>          
            </tbody>
          </table>
          
            <div class="text-right">
            
            <ul class="pagination" style="margin-top: 0;">
			<li><a ng-hide="start == 0" ng-click="previous()">&laquo;</a>
			<li ng-repeat="i in navButtons" ng-class="$parent.offset == i * $parent.limit && 'active'"><a class="" ng-click="current(i)">{{i+1}}</a></li>
			<li><a ng-hide="(((start+5)*10) + 10) >= count" ng-click="next()">&raquo;</a></li>
			</ul>
 
            </div>
          
        </div>
      </div>
    
      <div class="modal fade" id="add_category" role="dialog">
          <div class="modal-dialog modal-sm add-brand">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">X</button>
                <h4 class="modal-title">Add Category Name</h4>
              </div>
              <div class="modal-body">
                <form ng-submit="saveCategoryDetails(template)">
                  <p>Category Name:</p>
                  <div class="form-group">
                    <input type="text" name="brand-name" class="brand-name"  ng-model="template.categoryName" required>
                 </div>
                 
                <div class="form-group text-right">
                  <button type="submit" class="btn-info add_brand">Save</button>                
                </div>
               </form>
              </div>
              
            </div>
            
          </div>
      </div>

      <div class="modal fade" id="edit_category" role="dialog">
          <div class="modal-dialog modal-sm add-brand">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">X</button>
                <h4 class="modal-title">Edit Category Name</h4>
              </div>
              <div class="modal-body">
                <form ng-submit="updateCategoryDetails(templatetypemaster)">
                  <p>Category Name:</p>
                  <div class="form-group">
                    <input type="text" name="brand-name" ng-model="templatetypemaster.categoryName" class="brand-name" required>
                 </div>
                <div class="form-group text-right">
                  <button type="submit" class="btn-info add_brand">Save Changes</button>
                </div>
               </form>
              </div>
            </div>
            
          </div>
      </div>
      
            <!----Modal delete-list---->
<div id="deletelist" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm add-brand">

    <!-- Modal content-->
    <div class="modal-content flat-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">X</button>
        <h4 class="modal-title common-title" style="margin-left: 0;">Delete Record</h4>
      </div>
      <div class="modal-body flat-body">
          <div class="clearfix" ng-value="getCheckedId()"></div>
        Are you sure want to delete {{getCheckedtemplatetypeid.length}} records?
      <div class="modal-footer text-left">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="show_ass" ng-click="deleteCategoryFromList('question category')">Delete</button>
        <a class="btn btn-link" data-dismiss="modal" >Cancel</a>
      </div>
    </div>
   </div>
    </div>
    </div>
      
      
    </div>
 
    
       <script type="text/javascript">
       
       
        $("#id_of_textbox").keyup(function(event) {
            if (event.keyCode === 13) {
                $("#id_of_button").click();
            }
        });
        
    </script>