 <div> 
 <div class=" admin-page" >
 <div class="section-heading " >
        <h4>Survey Master</h4>
        <!--<p>Create and post new job or choose one from already posted jobs.</p>-->
      </div>
      <div class="section-content " id="post-list">
        <div class="upper-actions">
          <div class="col-md-3">
	          <div class="button-group">
	            <button class="btn btn-default btn-create"id="create-job-btn" ng-click="forwardSurvey()"><i class="icon-plus" ></i></button>
	           <!--  <button class="btn btn-default btn-create"id="create-job-btn" data-toggle="modal"ng-click="clear()" data-target="#add_assessment"><i class="icon-plus"></i></button>
	            --> 
	            <button class="btn btn-default btn-delete" data-target="#deletelist" ng-click="check1()"><i class="icon-trash-2"></i></button>
	          </div>      	
          </div>
          
          <!-- <div class="col-md-5">
          <div class="button-group" style="text-align: right;display: block;">
                    <button class="btn btn-default btn-create" id="create-job-btn" style="background:#1fa67a;" ng-click="generateExcel()"><i class="fa fa-file-excel-o"></i></button>
                    <button class="btn btn-default btn-delete" ng-click="generatePDF()"><i class="fa fa-file-pdf-o"></i></button>
                </div>         
          </div> -->
          <div class="col-md-3"></div>
          <div class="col-md-2">
	          <div class="form-group" style="float:right;">
	            <button class="btn btn-default btn-assign" ng-click="checkSelectedSurvey()" type="button" style="margin-right:0px !important;padding: 7px 10px;">Assign Survey</button>
	            </div> 
	       </div>
          <div class="col-md-3">
          <div class="search-cntnr search-box">
            <div class="form-group search-box inline-blck">
              <input type="text" name="" id="id_of_textbox" class="form-control flat-control-search mar-bottom-zero" ng-model="searchterm">
              <i class="icon-search" id="id_of_button" ng-click="getSurveycount(searchterm)"></i>
            </div>
          </div>
          </div>
          <div class="col-md-1">           
          
          <div class="button-group" style="float:right;">
          	<button class="btn-default btn-create icon-navigation1 dropdown-toggle" data-toggle="dropdown" id="create-req-btn"><i class="fa fa-check-square-o"></i></button>
           
	      <ul class="dropdown-menu selection-column" style="overflow:auto;left: -73px;">
						 <li>
						  	<div class="chckbx-cntnr zeromargin">
						     <input type="checkbox" id="app1" name="check" class="flashadmin" ng-click="selectAllColoumns(colcheck);savesettings()" ng-model="colcheck">
						     <label class="cstmchk_lbladmin"  for="app1"></label><label for="app1" class="table-label">Select All</label> 
						   </div>
						  </li>
						  <li ng-repeat="c in columnlist">
						  <div class="chckbx-cntnr zeromargin" ng-if="c.name=='Survey'">
						     <input type="checkbox" id="column{{$index}}" name="check" ng-model="c.isActive" class="flashadmin" ng-click="savesettings()" disabled>
						     <label class="cstmchk_lbladmin"  for="column{{$index}}"></label><label for="column{{$index}}" class="table-label">{{c.name}}</label> 
						   </div>
						  	<div class="chckbx-cntnr zeromargin" ng-hide="c.name=='Survey'">
						     <input type="checkbox"  id="column{{$index}}" name="check" ng-model="c.isActive" class="flashadmin" ng-click="savesettings()">
						     <label class="cstmchk_lbladmin"  for="column{{$index}}"></label><label for="column{{$index}}" class="table-label">{{c.name}}</label> 
						   </div>
						  </li>
						</ul>
          </div>
          
          
          
          </div>
          
          
          
          <div class="clearfix"></div>
        </div>
        <div class="table-cntnr">
        <div class="table-responsive">
          <table class="table table-striped red-table">
            <caption>Survey</caption>
            <thead>
              <tr>
				<th>
                  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="rd" name="check" class="flashadmin" ng-click="checkedAllList(surveyList,all)" ng-model="all">
                      <label class="cstmchk_lbladmin" for="rd"></label> 
                    </div>
                </th>
                 <th ng-show="activeColumn('Survey')" Style="vertical-align: middle;">Survey<i ng-click="SortingSurveyMasterList('assessment',searchterm)" class="fa fa-sort" aria-hidden="true" style="font-size:12px;"></i></th>               
                <th ng-show="activeColumn('No of questions')" Style="vertical-align: middle;">No of questions<i ng-click="SortingSurveyMasterList('quecount',searchterm)" class="fa fa-sort" aria-hidden="true" style="font-size:12px;"></i></th>
                <th ng-show="activeColumn('preview')" Style="vertical-align: middle;">Preview</th>
                 <th ng-show="activeColumn('Report')" Style="vertical-align: middle;">Report</th>
                
               </tr>
            </thead>
            <tbody>
                         
              <tr ng-repeat="a in surveyList">
             
                <td>
                  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="{{a}}" name="check" class="flashadmin" ng-click="checkedSurveyList(a.id)" ng-checked="all" >
                      <label class="cstmchk_lbladmin" for="{{a}}"></label> 
                    </div>
                </td>

               <td ng-show="activeColumn('Survey')"><a id="create-job-btn" ng-click="updateSurveyDetails(a)" data-toggle="modal" >{{a.assessmentName}}</a></td>
              <!--  <td ng-show="activeColumn('Created Date')">{{a.createdDate}}</td> -->     
                          		 
				<td ng-show="activeColumn('No of questions')"><a ng-click="openSurveyQuestionPage(a.id)">{{a.questionCount}}</a></td>
				
				<td ng-show="activeColumn('preview')"><button ng-if="a.assessmentTypeId != 3" class="btn btn-default btn-create" ng-click="fetchqestn(a)"><i class="fa fa-eye"></i></button>
					<button ng-if="a.assessmentTypeId == 3" class="btn btn-default btn-create"  disabled><i class="fa fa-eye"></i></button>
				</td>
				<td ng-show="activeColumn('Report')"><button ng-if="a.surveyCombinationCount!=0" class="btn btn-default btn-create" ng-click="clickonReport(a)"><i class="fa fa-tag"></i></button>
													<button ng-if="a.surveyCombinationCount==0" class="btn btn-default btn-create" disabled><i class="fa fa-tag"></i></button>
				</td>
				
              </tr>
                
            </tbody>
          </table>
          <div class="text-right">           
            <ul class="pagination" style="margin-top: 0;">
			<li><a ng-hide="start1 == 0" ng-click="previous1()">&laquo;</a>
			<li ng-repeat="i in navButtons1" ng-class="$parent.offset1 == i * $parent.limit1 && 'active'"><a class="" ng-click="current1(i)">{{i+1}}</a></li>
			<li><a ng-hide="(((start+5)*10) + 10) >= count1" ng-click="next1()">&raquo;</a></li>
			</ul>
          </div>          
          </div>
           <!-- <div class="text-right">
            
            <ul class="pagination" style="margin-top: 0;">
			<li><a ng-hide="start1 == 0" ng-click="previous1()">&laquo;</a>
			<li ng-repeat="i in navButtons1" ng-class="$parent.offset1 == i * $parent.limit1 && 'active'"><a class="" ng-click="current1(i)">{{i+1}}</a></li>
			<li><a ng-hide="(((start+5)*10) + 10) >= count1" ng-click="next1()">&raquo;</a></li>
			</ul>
 
            </div> -->
        </div>
      </div>
      </div>
       <div class="modal fade" id="add_assessment" role="dialog">
          <div class="modal-dialog modal-sm add-brand">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Assessment Name</h4>
              </div>
               
              <div class="modal-body">
              <form ng-submit="saveAssessmentDetails(assessment)">               
                  <p>Assessment Name:</p>
                  <div class="form-group">
                    <input type="text" name="brand-name" class="brand-name" ng-model="assessment.assessmentName" required>
                 </div>               
               
                <div class="form-group text-right">
                  <input type="submit" class="btn-info add_brand" value="Add">               
                </div>
               </form>
              </div>
              
            </div>
            
          </div>
      </div>
      
      
      <div class="modal fade" id="edit_assessment" role="dialog">
          <div class="modal-dialog modal-sm add-brand">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Assessment Name</h4>
              </div>
              <div class="modal-body">
                <form ng-submit="updateAssessmentDetails(assessmentmaster)">
                  <p>Assessment Name:</p>
                  <div class="form-group">
                   <input type="text" name="brand-name" class="brand-name" ng-model="assessmentmaster.assessmentName" required>
                 </div>
             
                <div class="form-group text-right">
                  <button type="submit" class="btn-info add_brand" >Save Changes</button>
                </div>
               </form>
              </div>
              
            </div>
            
          </div>
      </div>
      
      
        <!----Modal delete-list---->
<div id="deletelist" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm add-brand">

    <!-- Modal content-->
    <div class="modal-content flat-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h4 class="modal-title common-title" style="margin-left: 0;">Delete Record</h4>
      </div>
      <div class="modal-body flat-body">
          <div class="clearfix" ng-value="getCheckedId()"></div>
        Are you sure want to delete {{getCheckedSurveyid.length}} records?
      <div class="modal-footer text-left">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="show_ass" ng-click="deletefromList1('Assessment master')">Delete</button>
        <a class="btn btn-link" data-dismiss="modal" >Cancel</a>
      </div>
    </div>
   </div>
    </div>
    </div>

    
    
    <!-- preview que -->
    <div class="modal fade" id="preview-assessment-que" role="dialog">
          <div class="modal-dialog modal-lg add-brand">
          
            <!-- Modal content-->
            <div class="modal-content" style="height:500px;">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">X</button>
                <h4 class="modal-title">Logical Test</h4>
              </div>
              <div class="modal-body">
              <div class="col-md-7">
              <!-- 	<div class="form-group">
                <label><span class="que-no">1</span> What are three things your former manager would like you to improve on? </label>
                <div class="input-group">
                    <textarea class="form-control flat-control-inner" placeholder="Answer" style="width:100%;margin:10px 28px;" cols="100" rows="4"></textarea>
                </div>
                </div> -->
              
              <!-- Question with audio video and image-->
               <div class="form-group">
                <label><span class="que-no">1</span>Select correct answer? </label>
                    
	              <table class="table editing-tabel">
	              <tbody><tr>
	                <td>
	                  <div class="radio-cntnr new-chc" style="float:left;"><input type="radio" id="test1" name="radio-group" value="male" required="">
	                  <label for="test1"></label>
	                  </div>
	                  <P class="que-ans-opt">35</P>
	                </td>
	              </tr>
	               <tr>
	                <td>
	                  <div class="radio-cntnr new-chc" style="float:left;"><input type="radio" id="test2" name="radio-group" value="male" required="">
	                  <label for="test2"></label>
	                  </div>
	                  <P class="que-ans-opt">36</P>
	                </td>
	              </tr>
	               <tr>
	                <td>
	                  <div class="radio-cntnr new-chc" style="float:left;"><input type="radio" id="test3" name="radio-group" value="male" required="">
	                  <label for="test3"></label>
	                  </div>
	                  <p class="que-ans-opt">41</p>
	                </td>
	              </tr>
	               <tr>
	                <td>
	                  <div class="radio-cntnr new-chc" style="float:left;"><input type="radio" id="test4" name="radio-group" value="male" required="">
	                  <label for="test4"></label>
	                  </div>
	                  <p class="que-ans-opt">40</p>
	                </td>
	              </tr>
	            </tbody>
	           </table>
                 </div> 
               </div>
               <div class="col-md-5">
               		<img src="resources/img/question-img1.jpg" class="img-responsive img-thumbnail question-file">  
               		<!-- <video src="https://youtu.be/9xwazD5SyVg" type="video/mp4" controls></video>
               		<audio controls><source src="horse.ogg" type="audio/ogg"></audio> -->
               </div>
                 
                  <div class="row">
                    <div class="col-md-8"></div>
                    <div class="col-md-4 text-right">
                    <div class="control_btn text-right">
			          <button type="button"class="action_btn_page left-action" disabled="disabled"><i class="fa fa-chevron-circle-left"></i></button>
			          <button type="button" class="action_btn_page right-action" disabled="disabled"><i class="fa fa-chevron-circle-right"></i></button>
			        </div>
                    <!-- <button class="btn btn-default btn-bluer que-submit" id="" type="submit">Submit</button> -->
                      </div> 
                    </div> 
              </div>
              
            </div>
            
          </div>
      </div>

    
    <!----Modal priview for Questions---->
    <div class="modal fade" id="start-assessment-question" role="dialog">
     
          <div class="modal-dialog modal-lg add-brand" style="width:1000px;">
          
            <!-- Modal content-->
            <div class="modal-content" style="height:450px;">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">X</button>
                <h4 class="modal-title">{{selectedAssessment.assessmentName}}</h4>
              </div>
              <div class="modal-body">
               <form ng-submit="saveAns(ans);submitAndNext()"> 
              <div class="col-md-7">          
              
              
              <!-- Question with audio video and image-->
                <div class="form-group">
                <label  style="margin-left: 20px;"><span class="que-no" style="margin-left: -28px;position:absolute;">{{currentQuestionNo}}</span>{{question.questionText}}</label>
       
                    
	                 <ul class="single-ans"> 
	                         
	                         <li data-ng-if="question.questionType == 1">
	                       <!--   <input  type="text" data-ng-model="$parent.ans.text"> -->
	                       <div class="input-group" style="display: block !important;">
                                <textarea type="text" class="form-control flat-control-inner ng-pristine ng-valid ng-empty ng-touched" id="transcript1" data-ng-model="$parent.ans.text" placeholder="Answer" style="width:100%;" cols="100" rows="4"></textarea>
                            </div>
	                         </li>
	                                  
                      <li data-ng-repeat="a in question.ans" ng-if="question.questionType == 2" style="float: none;margin: 5px 35px;">
                   
                      	<div class="radio-cntnr new-chc radio-quecheck-ans" style="display: inline-block;margin-right: 0px;float: left;margin-top: -10px;">
                      	<input type="radio" id="redioAns{{$index}}" name="redioAnsName" data-ng-value="true" ng-click="checkRedio(a.id)" data-ng-model="redioCheck">
                  			<label for="redioAns{{$index}}"></label>
                  		</div>                  		
                  		<label for="redioAns{{$index}}" style="display:block !important;margin-left: 28px;">{{a.answerText}}</label> 
                  		
                  		</li>
                  		
                  		 <li data-ng-repeat="a in question.ans" ng-if="question.questionType == 3" style="float: none;margin: 5px 35px;">
                         
                          <div class="chckbx-cntnr que-check-box" style="float: left;margin-right: 18px;">                          
	                      <input type="checkbox" id="checkboxAns{{$index}}" class="flashadmin ng-pristine ng-untouched ng-valid" ng-change="checkBox(a.id,check5)" ng-model="check5">
	                      <label class="cstmchk_lbladmin" for="checkboxAns{{$index}}"></label> 	                      
                       	  </div>                         	                      
                           <label class="cstmchk_lbl que-ans-check" for="checkboxAns{{$index}}">{{a.answerText}}</label> 
                           
                        </li>
                        
                    </ul> 
	           
                 </div>  
                
               </div>
               <div class="col-md-5" ng-if="question.questionMediaType == 1">
               		<img   src="{{question.questionMedia}}" class="img-responsive img-thumbnail question-file"> 
               </div>
               
               <div class="col-md-5"ng-if="question.questionMediaType == 3">
               <video width="320" height="240"  src="{{question.questionMedia}}" type="video/mp4" id="mediaVideo" controls="" controlslist="nodownload"></video> 
               
               </div>
               
                 <div class="col-md-5" ng-if="question.questionMediaType == 2">
                 <audio width="320" height="240" controls="" controlslist="nodownload" id="audioMedia"><source src="{{question.questionMedia}}" type="audio/ogg"></audio> 
               </div>
                 
                  <div class="row">
                    <div class="col-md-8">
                     <p class="text-left que_count">{{currentQuestionNo}} of {{questionList.length}}</p> </div>
                    <div class="col-md-4 text-right">
                    
                   
                    
                    <button class="btn btn-default btn-bluer que-submit" id="" type="submit" >Submit & Next</button>
                      </div> 
                    </div> 
                    </form>
              </div>             
            </div>            
          </div>         
      </div>
      
      </div>
      
      
          <script type="text/javascript">       
 
        $(function(){ 
        	  $('#id_of_textbox').keyup(function(event) {
        		  if (event.keyCode === 13) {
                      $("#id_of_button").click();
                  }
        	  });
        	});
        
       
        $("document").ready(function() {

        	  $('.dropdown-menu').on('click', function(e) {
        	      if($(this).hasClass('selection-column')) {
        	          e.stopPropagation();
        	      }
        	  });
        	});
       
    </script>