<div id="survey" class="admin-page">
      <div class="section-heading">
        <h4>Assign Survey</h4>
      </div>
       <div class="section-content">
        <div class="shadow-container">
          <div class="inner-head">
            <h4 style="vertical-align: middle;display: inline-block;">{{surveyName}}</h4>
            <a href="" ng-click="cancel()" style="display: block;float: right;vertical-align: middle;">Back</a>
          </div>
          <div class="inner-form">
            <div class="row">
            <form>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Assigned To*</label>
                  <select class="form-control flat-control-inner" id="emp-user" ng-model="survey.roleId" ng-change="setFlag(survey.roleId)">
                            <option value = ""> --Please Select-- </option>
                             <option data-ng-repeat="s in SurveyforList" ng-value="{{s.id}}" ng-selected="s.id==survey.roleId">{{s.name}}</option>
                   </select>
                </div>
              </div>
              <div ng-if="candidateFlag" class="col-md-3">
                <div class="form-group">
                  <label>For </label>
                  <!-- <select class="form-control flat-control-inner" id="emp-user" ng-model="survey.roleId" ng-change="setFlag(survey.roleId)">
                            <option value = ""> --Please Select-- </option>
                             <option data-ng-repeat="cs in CandiateSurveyFor" ng-value="{{cs.id}}" ng-selected="s.id==survey.roleId">{{s.name}}</option>
                   </select> -->                   
               <select class="form-control flat-control-inner"  ng-model="survey.candidateSurveyFor" ng-options="cs.id as cs.name for cs in CandiateSurveyFor" required>
                    <option value="">--Select--</option>
               </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Start Date*</label>
                  <input type="text" ng-model="survey.startDate" id="startDate" class="form-control flat-control-inner dateonly"> 
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>End Date*</label>
                  <input type="text" ng-model="survey.endDate" id="endDate" class="form-control flat-control-inner dateonly" ng-change="validateDate('endDate'+$index)">
                </div>
              </div> 
             </form>            
            </div>
            
            <div class="row">
            	<div class="bordr-bttm" style="border-top: 1px solid #ccc;">
            	</div>
            <div class="radio-cntnr new-chc" >
                   <input type="radio" name="option_0_0" id="option_0_1" class="ng-pristine ng-untouched ng-valid ng-not-empty" ng-checked="disableCombination">                  			
                   <label style="margin-bottom: -58px;margin-left: 11px;padding-left: 0px;" ng-click="disableFlag(1)" class="blue-button" for="option_0_1"></label>
            </div>
            	
               <div class="clearfix"></div>
                 		
              <div class="select-sec-cat survey-selcetion-part">
                <div class="col-md-3" style="margin-left: 32px;">
                  <div class="form-group">
                    <label>Brand</label>
                    <select ng-disabled="!disableCombination" class="form-control flat-control-inner with-caret"  id="brandid" ng-model="survey.brand.id" ng-change="fetchShipsbyBrand(survey.brand.id)" ng-options="b.id as b.brandName for b in brandsList">
                 
                  <option value = "">--Please Select--</option>                                     
                  </select>
                  </div>
                 </div>
                 <div ng-if="shipListFlag" class="col-md-3">
                  <div  class="form-group">
                    <label>Ship</label>
                    <select  ng-disabled="!disableCombination" class="form-control flat-control-inner with-caret"  id="shipid" ng-model="survey.ship.id" ng-options="s.id as s.name for s in shipsList">
                  <option value = "">--Please Select--</option>                                    
                  </select>
                  </div>
                 </div>   
                 <div class="col-md-3">
                  <div class="form-group">
                    <label>Department</label>
                    <select  ng-disabled="!disableCombination" class="form-control flat-control-inner"  id="categoryid" ng-model="survey.category.id" ng-change="fetchpositonbydipartment(survey.category.id)" ng-options="c.id as c.name for c in categoryList">
                  <option value = "">--Please Select--</option>                  
                  </select>
                  </div>
                 </div>                  
                 <div class="col-md-3">
                  <div class="form-group">
                    <label>Position</label>
                    <select  ng-disabled="!disableCombination" class="form-control flat-control-inner" id="positionid" ng-model="survey.position.id" ng-options="p.id as p.positonname for p in positionbydepartment">
                  <option value = "">--Please Select--</option>                                   
                  </select>
                  </div>
                 </div>     
              </div>             
            </div>

            <div class="row">
            
            <div class="bordr-bttm" style="border-top: 1px solid #ccc;margin-bottom: 39px;">
            </div>
            <div ng-if="emplDetailFlag">
            	<div class="row">
            	<div class="col-md-4">
            		 <label ng-if="survey.roleId == 1" style="margin-left: 16%;">Ref. Id/Email</label>
                    <label ng-if="survey.roleId == 2" style="margin-left: 16%;">Empolyee No./Email</label>
            	</div>
            	</div>
            	<div class="claerfix"></div>
            	<div class="col-md-1" style="width: 3.5%;">
            	<div class="radio-cntnr new-chc" style="display:block;margin-top:12px;">
                      	<!-- <input type="radio" name="option_0_0" id="option_0_0" class="ng-pristine ng-untouched ng-valid ng-not-empty" value="true">                  			
                  		<label  style="position: Absolute;margin-left: -242px;margin-top: 15px;" class="blue-button" for="option_0_0"></label> -->
                
                		<input type="radio" name="option_0_0" id="option_0_2" class="ng-pristine ng-untouched ng-valid ng-not-empty" value="true">                  			
                   <label  ng-click="disableFlag(2)" class="blue-button" for="option_0_2"></label>                
                </div>
                </div>
                <div class="col-md-3">

                  <div id="assignTo" class="form-group">
                     <!-- <input type="text" name="" class="form-control flat-control-search mar-bottom-zero"> -->                     
                     <input class="form-control flat-control-inner" id="userdetail" ng-model="survey.employerName" ng-disabled="!disableInput" ng-change="fetchUserDetails(survey.employerName,survey.roleId)" list="userDetails" required>
					       <datalist id="userDetails">
					    		<option  data-ng-repeat="u in EmployeeNumberList" value="{{u.detail}}"> 
					 </datalist>
                     
                  </div>
                 </div>
                 </div> 
            </div>
           <!--  <div class="que_add text-right">
             <button class="btn btn-default btn-round-add mar-bottom-zero" ng-click="clearRecords()"><i class="icon-plus"></i></button>
            </div> -->
             <div class="btn-cntnr" style="margin-top: 20px;">
              <button class="btn btn-default btn-bluer" id="post_job-btn" style="margin-right: 0px;float: right;margin-bottom: 10px;" ng-click="assignSurvey(survey)">Assign</button>
            </div>

            
            <div class="row assignng">
            <div ng-if="surveyList.length <= 0"><p class="data-av">Survey Not Assigned Yet!!!</p></div>
               <div ng-if="surveyList.length > 0" class="table-cntnr">
                <table class="table table-striped red-table">
                 <caption>Survey Assigned List</caption> 
                  <thead>
                    <tr>
                      <th>
                          <div ng-show="checkBoxFlag" class="chckbx-cntnr zeromargin">
                            <input type="checkbox" id="rd" name="check" class="flashadmin" ng-click="checkedAllList(surveyList,all)" ng-model="all">
                            <label class="cstmchk_lbladmin" for="rd"></label> 
                          </div>
                      </th>
                      <th>Assigned To</th>
                      <th>For</th>
                      <th>Start Date</th>
                      <th>End Date</th>
                      <th></th>
                     </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="s in surveyList">
                      <td>
                        <div ng-hide="s.assignFlag == 1" class="chckbx-cntnr zeromargin">
                            <input type="checkbox" id="{{s.id}}" name="check" ng-click="checkedAssignedList(s.id)" ng-checked="all" class="flashadmin">
                            <label class="cstmchk_lbladmin" for="{{s.id}}"></label> 
                          </div>
                      </td>
<!--                       <td>{{getName(s.brandId,1)}}<span ng-if="s.shipId != undefined">>{{getName(s.shipId,2)}}</span><span ng-if="s.deptId != undefined">>{{getName(s.deptId,3)}}</span><span ng-if="s.positionId != undefined">>{{getName(s.positionId,4)}}</span><span ng-if="s.userDetail != undefined">> {{s.userDetail}} &nbsp {{getName(s.userDetail,5)}}</span></td>
 -->                    <td style="width:56%;"><span ng-if="s.brand.brandName != undefined" class="brnd-spn"><b>Brand:</b> {{s.brand.brandName}}</span> <span ng-if="s.ship.shipName != undefined" class="brnd-spn"><b>Ship:</b> {{s.ship.shipName}}</span> <span ng-if="s.category.categoryName != undefined" class="brnd-spn"><b>Department:</b> {{s.category.categoryName}}</span> <span ng-if="s.position.positonname != undefined" class="brnd-spn"><b>Position:</b> {{s.position.positonname}}</span> <span ng-if="s.name != undefined"><b>User Name:</b> {{s.name}}</span>
 						<span ng-if="s.brand.brandName == undefined && s.ship.shipName == undefined && s.category.categoryName == undefined && s.position.positonname == undefined && s.name == undefined" style="display: block;"><b>All</b></span>
 						</td>
 						<td>
	 						<span ng-if="s.roleId == 3">{{s.roleName}}</span>
	 						<span ng-if="s.roleId == 2 && s.candidateSurveyFor != 0">{{s.roleName}} ({{s.appliedStatus}})</span>
	 						<span ng-if="s.roleId == 2 && s.candidateSurveyFor == 0">{{s.roleName}}</span>
 						</td>
 						<td>{{s.startDate}}</td>
						<td>{{s.endDate}}</td>
                      <td><button class="btn btn-default btn-delete" ng-if="s.assignFlag == 0" ng-click="openDeleteModal(s.id)"><i class="icon-trash-2"></i></button></td>
                    </tr>                    
                   </tbody>
                </table>
              </div>
            </div>
             <div ng-show="checkBoxFlag" class="btn-cntnr" style="margin-top: 20px;">
              <button class="btn btn-default btn-bluer" id="post_job-btn" style="margin-right: 0px;float: right;margin-top: -38px;" ng-click="publishSurvey()" >Publish</button>              
            </div>
          </div>
        </div>
      </div>
      
      <div id="deletelist" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm add-brand">

    <!-- Modal content-->
    <div class="modal-content flat-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h4 class="modal-title common-title" style="margin-left: 0;">Delete Record</h4>
      </div>
      <div class="modal-body flat-body">
          <div class="clearfix"></div>
        Are you sure want to delete record?
      <div class="modal-footer text-left">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="show_ass" ng-click="deleteFromSurveyList(deleteId)">Delete</button>
        <a class="btn btn-link" data-dismiss="modal" >Cancel</a>
      </div>
    </div>
   </div>
    </div>
    </div>      
 </div>
 
  <script>
 $('#survey').on('focus',".dateonly", function(){  
 	$('.dateonly').datetimepicker({	    		
			 format: 'DD-MM-YYYY',
			 useCurrent: true, 
			 minDate:new Date()     	
 	}).on('dp.change', function (e) { $(this).change()});
});
 </script>
 
<!-- <script type="text/javascript">
 			$(function () {
                $('.dateonly').datetimepicker({
                   format: 'DD-MM-YYYY',
                   useCurrent: false
                });
                $( ".dateonly" ).datetimepicker({ 
                	minDate: 0
                	});
            });

</script>  -->
 
 