<div id="user-detail-modal" class="tab-pane fade in admin-page" role="dialog">
  <div class="section-content">
    <!-- Modal content-->   
         <div class="row" style="margin: 0px;">
          <div class="col-md-5">
            <div class="user_details_pop">
              <div class="pop-pic inline-blck" style="background-image: url({{picpath}});"></div>
              <div class="pop-name inline-blck" >
                <h3>{{username}}</h3>
                <h4 class="designation">{{position}}</h4>
                <h4>{{location}}</h4>
                <h4>{{refNo}}</h4>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-5 text-center">
                <div class="chart profile-charts"><span>{{percent}}%</span></div>
                <div>Profile Completed</div>
              </div>
              
              
              <div ng-show="ratingPercent>=0" class="col-md-5 text-center" >
                <div class="chartnew profile-charts" data-percent="0"><span style="color: #ef1e25;" >{{ratingPercent}}%</span></div>
                <div>Rating</div>
              </div>
              
               <div class="col-md-5 text-center" ng-show="ratingPercent<0">
                <div  style="font-size: 50px;margin: 20px 0;">NA</div>
                <div>Rating</div>
              </div>
              
            </div>
            </div>
             
           <div class="col-md-2 text-right">
            <button type="button" class="btn bigblue-btn" id="" ng-click="download(cvpath)" ng-disabled="buttondisable(cvpath)"><i class="fa fa-file-text-o" aria-hidden="true"></i> Download CV </button>
          </div>
          
        </div>
        

        <div class="lower-tabs">
          <div class="row" style="margin: 0px;">
            <div class="col-md-12" style="">
            <div class="recent-searches " style="">
            <ul class="nav nav-pills nav-stacked dash-tab" id="scroll" style="white-space: nowrap;overflow-x: auto;overflow-y: hidden;">
			  <li class="" id="list1"><a data-toggle="tab" href="" ng-click="showFlag(1)">Professional Info</a></li>
			  <li class="" id="list2"><a href="" ng-click="showFlag(2);appliedJobContactInfo(id)">Contact Info</a></li>
			  <li class="" id="list3"><a href="" ng-click="showFlag(3);appliedJobEducationalInfo(id)">Educational Info</a></li>
			  <li class="" id="list4"><a href="" ng-click="showFlag(4);appliedJobComplianceLog(id)">Compliance Log </a></li>
			  <li class="" id="list5"><a href="" ng-click="showFlag(5);appliedJobAssessmentLog(jobId);AssessmentFlag(1)">Assessment Log </a></li>
			  <li class="" id="list6"><a href="" ng-click="showFlag(6)">Communication Log </a></li>
			  <li class="" id="list7"><a href="" ng-click="showFlag(7);getUserActivityList(id)">Activity Log </a></li>
			  <li class="" id="list8"><a href="" ng-click="showFlag(8)">Decision Log </a></li>
			  <li class="" id="list9"><a href="" ng-click="showFlag(9)">Scheduler Log </a></li>
			  <li class="" id="list11"><a href="" ng-click="showFlag(11)" ng-if=flag==true>To Do List</a></li>  
			</ul>
        </div>
        </div>
<div class="col-md-12">
<div class="tab-content">
  <div id="prof" class="tab-pane fade in active" ng-show="showflag == 1" >
    <table class="table table-bordered">
    	<thead>
    		<tr>
    			<th>Position</th>
    			<th>Employer's Name</th>
    			<th>Rating</th>
    			<th>From Date</th>
    			<th>To Date</th>
    			<th>Download</th>
    		</tr>
    	</thead>
    	<tbody>
    		 <tr ng-repeat="x in userworklist">
    			<td>{{x.position}}</td>
    			<td>{{x.employerName}}</td> 
    			<td>{{x.rating}}</td>
    			<td>{{formatDate(x.fromDate) | date:'dd-MM-yyyy'}}</td> 
    			<td>{{formatDate(x.toDate) | date:'dd-MM-yyyy'}}</td> 
    			<td class="text-center"><button class="btn bigblue-btn new-btn-dwn" ng-click="download(x.certificatePath)" ng-if="x.certificatePath != null || x.certificatePath != undefined"><i class="fa fa-download" aria-hidden="true"></i></button></td>
    		</tr>
    	</tbody>
    </table>   
  </div>  
  <div class="tab-pane fade in active" ng-show="showflag == 2" ng-repeat="x in contactInfo">  
    <ul type="none" class="detailed-ul"  >
      <li>
        <div class="row" >
          <div class="col-md-3">
            <h4>Flat/House No.:</h4>
            <p>{{x.houseNo}}</p>
          </div>
          <div class="col-md-4">
            <h4>Building/House:</h4>
            <p>{{x.houseName}}</p>
          </div>
          <div class="col-md-4">
            <h4>Society:</h4>
            <p>{{x.society}}</p>
          </div>
          
          </div>
          </li>
          <li>
           <div class="row" >
           <div class="col-md-3">
            <h4>PIN/ZIP Code:</h4>
            <p>{{x.pincode}}</p>
          </div>
           <div class="col-md-9">
            <h4>Street/Road:</h4>
            <p>{{x.street}}</p>
          </div>
          
        </div>
      </li> 
      <li>
        <div class="row">
          <div class="col-md-3">
            <h4>City:</h4>
            <p>{{x.city.cityName}}</p>
          </div>
          <div class="col-md-3">
            <h4>State:</h4>
            <p>{{x.state.stateName}}</p>
          </div>
          <div class="col-md-3">
            <h4>Country:</h4>
            <p>{{x.countryName}}</p>
          </div>         
        </div>
      </li>
      <li>
	      <div class="row">
	        <div class="col-md-3">
	            <h4>Mobile Number:</h4>
	            <p>{{x.phoneNumber}}</p>
	          </div>
	         <div class="col-md-3">
	            <h4>Email:</h4>
	            <p>{{x.email}}</p>
	          </div>            
	        </div>
      </li>
    </ul> 
  </div> 
  <div id="edu" class="tab-pane fade in active" ng-show="showflag == 3">
    <table class="table table-bordered">
    <tr>
    	<th>Qualification</th>
    	<th>Year of Passing</th>
    	<th>Issuing Authority</th>
    	<th>Grade/Score/Percentage</th>
    </tr>
    <tr ng-repeat="x in educationalInfo">
	    <td>{{x.qualificationObj.qualificationName}}</td>
	    <td>{{x.yearOfPassing}}</td> 
	  
	    <td>{{x.board}}</td>
	    <td>{{x.gradeScore}}</td>
    </tr>
    </table>
    </div>    
  
  <div id="comp" class="tab-pane fade in active" ng-show="showflag == 4" >
    <table class="table table-striped red-table">
            <caption>List of Compliances</caption>
            <thead>
              <tr>
                <th>Name</th>
                <th>Expiry Date</th>
                <th class="text-center">Download</th>
              </tr>
            </thead>
            <tbody ng-repeat="x in compliancelog" > 
              <tr>
                <td>{{x.compliance.complianceName}}</td>            
                
                <td>{{formatDate(x.expiryDate) |  date:'dd-MM-yyyy hh:mm a'}}</td>
                
                <td class="text-center" >
                
            <label ng-if="buttondisable(x.path) == true" class="btn bigblue-btn new-btn-dwn" ng-disabled="true"><i class="fa fa-download" aria-hidden="true"></i></label>
            <label ng-if="buttondisable(x.path) == false" class="btn bigblue-btn new-btn-dwn" ng-click="download(x.path)" ng-disabled="false"><i class="fa fa-download" aria-hidden="true"></i></label>
              
                </td>   
                            
              </tr>           
            </tbody>
          </table>
  </div>
  <div id="assess" class="tab-pane fade in active"  ng-show="showflag == 5">
  
  <div id="exTab2" > 
          <ul  class="nav nav-pills cur-point">
                <li id="activetab11" class="active" >
                  <a ng-click="AssessmentFlag(1)">Job Assessment</a>
                </li>
                <li id="activetab21">
                	<a ng-click="AssessmentFlag(2);fetchAssignAssessment(id,roleId)" >Assigned Assessment</a>
                </li>       
                <li id="activetab31">
                	<a>User Answers</a>
                </li>
              </ul>
              
           <div ng-if="assessmentFlag==3 && assessmentobjectforuserclickpic.statusId==1" class="user-click"><a ng-click="AssessmentFlag(4);getAssessmentTestImages(assessmentobjectforuserclickpic)">View User Pictures.</a></div>   
              
            
            <div class="tab-content clearfix" style="padding: 20px 0px;">
            
     <div class="tab-pane active" id="" ng-show="assessmentFlag == 1">
              	<table class="table table-striped red-table">
            <caption>List of Job Assessments</caption>
            <thead>
              <tr>             
                <th>Assessment</th>
                <th >Score</th>
                <th>Comment(if any)</th>
                <th>Assess by</th>
                <th>Date</th>
              </tr>
            </thead>
      <tbody>
              <tr ng-repeat="x in assessments">                       
                <td ng-model="assessments[$index].name" >{{x.assessmentName}}</td>
                <td>
                <div class="form-group" style="margin-bottom: 0">
                    <input type="text" ng-model="assessments[$index].score" ng-change="myFunc(x)" class="form-control flat-control-inner" style="margin-bottom: 0" required>
                  </div></td>   
                  <td><div class="form-group" style="margin-bottom: 0">
                    <input type="text" ng-model="assessments[$index].comment" ng-change="myFunc(x)" class="form-control flat-control-inner" style="margin-bottom: 0" required>                    
                 </div></td>    
                  <td><div class="form-group" style="margin-bottom: 0">
                  <input type="text" ng-if="assessments[$index].score != null || assessments[$index].comment != null" ng-model="assessments[$index].name" class="form-control flat-control-inner"  disabled style="margin-bottom: 0">
                  <input type="text" ng-if="assessments[$index].score == null && assessments[$index].comment == null" class="form-control flat-control-inner" disabled style="margin-bottom: 0">
                  </div></td>
                   <td> 
                   <div class="form-group" style="margin-bottom: 0">
	               <input type="text" id="date{{$index}}" ng-model="assessments[$index].completedon" class="dateonly form-control flat-control-inner" style="margin-bottom: 0">
                   	</div>                	
                   </td>    
              </tr>           
      
        </tbody>            
          </table>         
          	  <button ng-if="savFlage" class="btn btn-default btn-bluer" ng-click="" disabled>Save</button> 
               <button ng-if="!savFlage" class="btn btn-default btn-bluer" ng-click="saveassessmentslog()">Save</button> 
      </div>
              
  <div class="tab-pane active" id="" ng-show="assessmentFlag == 2">
  <div class="table-responsive" style="overflow-y: scroll;height: 400px">
              <table class="table table-striped red-table">
            <caption>List of Assigned Assessments</caption>
            <thead>
              <tr>             
                <th>Assessment</th>
                <th style="width:85px;">Score</th>
                <th style="width:170px;">Comment (if any)</th>
                <th style="width:170px;">Assessed by</th>                
                <th>Is Self</th>
                <th>Completed Date</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody >
              <tr ng-repeat="x in AssignAssessmentList">                         
                <td ng-model="AssignAssessmentList[$index].name" ng-click="switchTab(x);setSaveButtonFlag(x)" ><a href="">{{x.assessmentName}}</a></td>              
              
               <td ng-if="x.statusId != 2 && x.statusId != 3">    
                  <div class="form-group" style="margin-bottom: 0">
                  <label ng-change="myFunc(x)" style="margin-bottom: 0" >{{AssignAssessmentList[$index].score}}/{{AssignAssessmentList[$index].questionCount}}</label>
                  </div>
               </td>  
               <!-- <td ng-if="x.isAutoAssess != true && x.statusId != 2">
                  <div class="form-group" style="margin-bottom: 0">
                  <label   ng-change="myFunc(x)"  style="margin-bottom: 0" >{{AssignAssessmentList[$index].score}}/{{AssignAssessmentList[$index].questionCount}}</label>
                  </div>
               </td> -->
               
                <td ng-if="x.statusId == 2 || x.statusId == 3">    
                  <div class="form-group" style="margin-bottom: 0">
                  <label    ng-change="myFunc(x)" style="margin-bottom: 0" ></label>
                  </div>
               </td>  
               
               <td ng-if="x.statusId == 2">
              	  <div class="form-group" style="margin-bottom: 0">
                  <input type="text" ng-model="AssignAssessmentList[$index].comment" ng-change="myFunc(x)" class="form-control flat-control-inner" style="margin-bottom: 0" disabled>                    
                  </div>
              </td>
              <td ng-if="x.statusId != 2">
              	  <div class="form-group" style="margin-bottom: 0">
                  <input type="text" ng-model="AssignAssessmentList[$index].comment" ng-change="myFunc(x)" class="form-control flat-control-inner" style="margin-bottom: 0">                    
                  </div>
              </td>
              
               
               <td ng-if="x.isAutoAssess != true">
                  <div class="form-group" style="margin-bottom: 0">
                  <input type="text" ng-if="AssignAssessmentList[$index].score != null || AssignAssessmentList[$index].comment != null" ng-model="AssignAssessmentList[$index].assessbyName" class="form-control flat-control-inner"  disabled style="margin-bottom: 0">
                  <input type="text" ng-if="AssignAssessmentList[$index].score == null && AssignAssessmentList[$index].comment == null" class="form-control flat-control-inner" disabled style="margin-bottom: 0">
                  </div>               
              </td>   <!-- ng-if="x.isAutoAssess != true || x.statusId ==2"   ng-if="x.isAutoAssess == true || x.statusId !=2"-->
            
            <td ng-if="x.isAutoAssess == true">
                  <div class="form-group" style="margin-bottom: 0">
                  <input type="text" ng-if="AssignAssessmentList[$index].score != null || AssignAssessmentList[$index].comment != null" value="Auto" class="form-control flat-control-inner"  disabled style="margin-bottom: 0">
                  <input type="text" ng-if="AssignAssessmentList[$index].score == null && AssignAssessmentList[$index].comment == null && x.statusId ==2" value="" class="form-control flat-control-inner" disabled style="margin-bottom: 0">
                  </div>               
              </td>                    
        
               <td ng-model="AssignAssessmentList[$index].isSelfAssessment"> 
                <span ng-if="x.isSelfAssessment == true" >Yes</span>    
                <span ng-if="x.isSelfAssessment == false" >No</span>        
               </td>
               
               <td ng-if="x.statusId == 1">{{AssessmentdateFormat(x.assessmentDate) | date:'dd-MM-yyyy'}}</td>
                <td ng-if="x.statusId != 1"></td>
               
              <td ng-model="AssignAssessmentList[$index].statusName">
                <span ng-if="x.statusId == 2" class="label label-danger">{{x.statusName}}</span>    
                <span ng-if="x.statusId == 3" class="label label-info">{{x.statusName}}</span>
                <span ng-if="x.statusId == 1" class="label label-success" >{{x.statusName}} </span> 
                <span ng-if="x.statusId == 1" style="display:block;float:right;"><!-- <i class="fa fa-folder-open folder-opn" aria-hidden="true" ng-click="AssessmentFlag(4);getAssessmentTestImages(x)" style="font-size:20px;    color: #f8ce25;"></i>  --> </span>      
              </td> 
              </tr>                 
            </tbody>            
          </table>
          </div>
          
           <button ng-if="assignAssessmentSave" class="btn btn-default btn-bluer" ng-click="" style="margin-top: 20px;" disabled>Save</button> 
           <button ng-if="!assignAssessmentSave" class="btn btn-default btn-bluer" style="margin-top: 20px;" ng-click="saveAssignAssessment()" >Save</button> 
   </div> 
   
   
   
     <div class="tab-pane active" id="" ng-show="assessmentFlag == 3">    
       
       <div class="table-responsive">
       <form ng-submit="SaveScore()">
       <table class="table table-striped red-table">
            <caption>User Answer</caption>             
            <tbody >
              <tr ng-repeat="q in QuestionAnsList" ng-init="outerIndex12 = $index">                         
                
               <td>                  
                  {{q.questionText}} <label ng-if="q.questionMediaType == 1"><i class="fa fa-file-image-o"></i></label>
						                   <label ng-if="q.questionMediaType == 2"><i class="fa fa-file-audio-o" ></i></label>
						                   <label ng-if="q.questionMediaType == 3"><i class="fa fa-video-camera que-file"></i></label>
                    <ul class="single-ans">
                    
                    	<li ng-if="q.questionType==1 && q.isVoiceEnabled == false && q.isvideoEnabled==false" ng-bind="q.shortAns"></li>  
                                    	                   	
                    	<div ng-if="q.questionType==1 && q.isVoiceEnabled == true" id="media{{$index}}"> 
                    		 <!-- <i  class="fa fa-file-audio-o que-file" ng-click="enabledVoice=true"></i>  -->
                    		<img src="resources/img/updated-audio.png" style="    width: 95px;" class="audio-png"  ng-click="enabledVoice=true;displayUserAssessmentMedia();generatedSignUrl($index)" alt="img_May23201814-21-41GMT" style="display: block;">
               				<audio ng-if="enabledVoice"  width="568" id="audioMedia{{$index}}" height="240" controls controlsList="nodownload" style="margin: 10px 0px;"><source src="{{q.audioAns}}" type="audio/ogg" ></audio>
               			</div>	
               			<div ng-if="q.questionType==1 && q.isvideoEnabled == true" id="media{{$index}}"> 
                    		 <!-- <i  class="fa fa-file-audio-o que-file" ng-click="enabledVoice=true"></i>  -->
                    		<img src="resources/img/updated-video.png" style="    width: 95px;margin-right: 10px;" class="audio-png"  ng-click="enabledVoice=true;displayUserAssessmentMedia();generatedSignUrl($index)" alt="img_May23201814-21-41GMT" style="display: block;">
               				<video ng-if="enabledVoice"  width="568" id="audioMedia{{$index}}" height="240" controls controlsList="nodownload" style="margin: 10px 0px;"><source src="{{q.audioAns}}" type="video/mp4" ></audio>
               			</div>									             
                 
                        <li data-ng-repeat="a in q.ans" ng-if="q.questionType==2"  ng-init="innerIndex55 = $index">
                      	<div class="radio-cntnr new-chc radio-quecheck-ans" >
                      	<input type="hidden"  ng-value="checkedUserAns(a.id,q.userAns)">
                      	<input type="radio" name="option_{{outerIndex12}}_{{innerIndex55}}"  data-ng-value="true" data-ng-model="setRedioFlag" id="option_{{outerIndex12}}_{{innerIndex55}}" disabled>
                  			<label for="option_{{outerIndex12}}_{{innerIndex55}}"></label>
                  		</div>
                  		<label style="display:block !important;margin-left: 28px;">{{a.answerText}}</label>
                  		</li>   
                  		
                  		 <li ng-repeat="a in q.ans" ng-if="q.questionType==3">
                          <div class="chckbx-cntnr que-check-box">
	                      <input type="checkbox" id="checkoption{{$index}}" name="check" ng-checked="checkedUserAns(a.id,q.userAns)" class="flashadmin ng-pristine ng-untouched ng-valid" disabled>
	                      <label class="cstmchk_lbladmin" for="checkoption{{$index}}"></label> 
                       	  </div>                       
                           <label class="cstmchk_lbl que-ans-check" for="checkoption{{$index}}">{{a.answerText}}</label> 
                        </li>
                        
                    </ul>
                  
               </td>  
               
               <td ng-if="q.questionType==1" style="vertical-align: top !important;">
               	 <div class="form-group" style="margin-bottom: 0">																						 
                  <input type="number" id="" class="form-control flat-control-inner" style="margin-bottom: 0;width: 69px !important;height: 36px;" min="0" max="1" step=".01" ng-model="q.shortAnsScore" required>
                  </div>                  
               </td>  
                            
               <td ng-if="q.questionType==2 || q.questionType==3" style="width: 80px;vertical-align: top !important;text-align:center;">
               	 <!-- Ans status 1=right 2=wrong -->  	
               	  <i ng-if="q.ansStatus == 2" class="fa fa-times" style="text-align: center;font-size: 22px;color: #e7505a;"></i>
               	  <i ng-if="q.ansStatus == 1" class="fa fa-check" style="text-align: center;font-size: 22px;color: #21b524;"></i>
               </td>    
                         
              </tr>                 
            </tbody>            
          </table>
          
           <button ng-if="AnsSaveFlag==true" type="submit" class="btn bigblue-btn">Save</button>
       </form>
     
       </div>
       
       
   
   </div>
   
   <div class="tab-pane active" id="" ng-show="assessmentFlag == 4">  
     <div ng-if="assessmentTestImages.length>0">
    <table class="table table-bordered">
                  <thead>
                  <tr>
                    <th>Start Time: <h5 style="display: inline-block;margin-left: 5px;"> {{dateformate(assessmentTestImages[0].assessment.startTime)}}</h5></th>
                    <th>End Time: <h5 style="display: inline-block;margin-left: 5px;">{{dateformate(assessmentTestImages[0].assessment.endTime)}}</h5></th>
                  	
                  </tr>
                  </thead>
                </table>
  	<span ng-repeat="assImg in assessmentTestImages"> 
  	
  	<div class="col-md-3">
 	<a class="thumbnail" data-toggle="modal" data-target="#lightbox-new" ng-click="showThisBigImage(assImg.filePath)"> 
 	<img src="{{assImg.filePath}}" alt="{{assImg.name}}">{{assImg.name}}</a>
<!--  	<img src="https://s3.ap-south-1.amazonaws.com/cruisecareer/userProfile/9afeb180-1a28-40be-967e-63fa38894565ship_2.jpg" alt="{{assImg.name}}" >{{assImg.name}}</a>
 --> 	</div>
 	</span> 
 	</div>
 	<div ng-if="assessmentTestImages.length==0"><h4 class="no-data">No Images found</h4></div>
 	</div>
 	<!-- <img src="https://s3.ap-south-1.amazonaws.com/cruisecareer/userProfile/9afeb180-1a28-40be-967e-63fa38894565ship_2.jpg" class="img-responsive" alt="{{assImg.name}}"></a>{{assImg.name}}</span> -->
<!--     	<span ng-repeat="assImg in assessmentTestImages" ><img src="{{assImg.filePath}}" alt="{{assImg.name}}">{{assImg.name}}</span>
 -->   
<div id="lightbox-new" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="height: 475px;">
    <div class="modal-dialog">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">ï¿½</button>
        <div class="modal-content">
            <div class="modal-body">
                <span><img src="{{bigImage}}" style="width: 570px;height: 406px;" alt="" /></span>
            </div>
        </div>
    </div>
</div>

 
   
   
   
            
 </div>
 </div>      
          
 </div>
  
  <div id="comm" class="tab-pane fade in active inner-popup-tabs1" ng-show="showflag == 6">
    <ul type="none" class="detailed-ul"  ng-repeat="j in comLogList"> 
      <li>
        <!-- <h4>{{j.templeteName}} {{j.mode}}</h4> -->
        <h4 class="communi-temp-mode">{{j.templeteName}}</h4>
        <p>{{dateformate(j.dateTime) |  date:'dd-MM-yyyy hh:mm a'}}</p>
        <h4>Mode: {{j.mode}}</h4>
         
       <!--  <p>{{j.dateTime}}</p> -->
      </li>
    </ul>
  </div>
  <div id="act" class="tab-pane fade in active inner-popup-tabs1" ng-show="showflag == 7">
  <ul type="none" class="detailed-ul" ng-repeat="a in useractivityList">
      <li>
    
    <h4>{{a.activityDescription}}</h4>
       <p> {{a.createdDate}}</p>
      </li>
    </ul>
  </div>
  <div id="des" class="tab-pane fade in active" ng-show="showflag == 8" >
	<div class="text-left" style="float:left;">
		 <span > <button class="btn btn-primary" ng-click="showFlag(10);decisionLoglistForUser();" >Log</button></span>
	</div>
    <div class="text-right" style="margin-bottom: 20px;">
    <span > <button class="btn btn-info short-listed" ng-click="selectUserRequisition('Shortlisted')" ng-if="applicationStatus==true && status!='Closed'" >Short List</button>
    <button class="btn btn-info short-listed" ng-click="selectUserRequisition('Shortlisted')" ng-if="applicationStatus==false || status=='Closed'" disabled>Short List</button></span>
      <button class="btn btn-danger"data-target="#rejectbutton" data-toggle="modal" ng-if="status!='Not Successful' && status!='Closed'">Not Successful</button>
      <button class="btn btn-danger"data-target="#rejectbutton" data-toggle="modal" ng-if="status=='Not Successful' || status=='Closed'" disabled>Not Successful</button>
      <button class="btn btn-warning" ng-click="selectUserRequisition('Hold')" ng-if="status!='Hold' && status!='Closed'">Keep On Hold</button>
      <button class="btn btn-warning" ng-click="selectUserRequisition('Hold')" ng-if="status=='Hold' || status=='Closed'" disabled>Keep On Hold</button>
    </div> 
    
   <div class="col-md-3" style="padding: 0px;">
    <div class="status-log">
    	<p style="margin: 15px 0 0;"><strong>Status:</strong> {{status}}</p>
    </div>
    </div>
   <div class="col-md-6"></div>
   <div class="col-md-3" style="padding: 0px;">
    <div class="form-group search-box" >
         <input type="text" name="" id="id_of_textbox1" class="form-control flat-control-search mar-bottom-zero" ng-model="searchterm1" >
         <i class="icon-search" id="id_of_button1" ng-click="fetchrequisitionListForUser(0,100,null,null,searchterm1,jobId)"></i>    	
    </div>
    </div>
    
    <div ng-if="requisitionList.length!=0">
   <div class="table-responsive inner-popup-tabs" >
    <table class="table table-striped red-table" >

            <caption>List of Requisitions</caption>
            <thead>
              <tr>
                <th>
                </th>
                <th style="min-width: 116px;">Brand <i ng-click="SortingReqList('Brand',searchterm1)" class="fa fa-sort" aria-hidden="true"></i></th>
                <th style="min-width: 137px;" >Department <i ng-click="SortingReqList('Department',searchterm1)" class="fa fa-sort" aria-hidden="true"></i></th>                
                <th style="min-width: 160px;">Position <i ng-click="SortingReqList('Position',searchterm1)" class="fa fa-sort" aria-hidden="true"></i></th>
                <th style="min-width: 165px;">No. of Candidates <i  ng-click="SortingReqList('Candidatecount',searchterm1)" class="fa fa-sort" aria-hidden="true"></i></th>
                <th style="min-width: 165px;">Selected Candidates <i  ng-click="SortingReqList('SelectedCandidates',searchterm1)" class="fa fa-sort" aria-hidden="true"></i></th>
                <th style="min-width: 180px;" >Date of Requisition <i ng-click="SortingReqList('RequisitionDate',searchterm1)" class="fa fa-sort" aria-hidden="true"></i></th>
                <th style="min-width: 220px;" >Expected date of closure <i ng-click="SortingReqList('ClosureDate',searchterm1)" class="fa fa-sort" aria-hidden="true"></i> </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="j in requisitionList" class="bg-success" ng-if="j.id==selectedRequisitionId">
                <td class="bg-success">
                  <div class="radio-cntnr zeromargin">
                      <input type="radio" id="{{j.id}}" name="radio-group" class="" ng-click="checkedReqId(j.id,j.noOfCandidate,j.selectedUsers)" >
                      <label class="cstmchk_lbladmin" for="{{j.id}}"></label> 
                    </div>
                </td>
                <td class="bg-success" >{{j.brand.brandName}}</td>                
                <td class="bg-success">{{j.category.name}}</td>
                <td class="bg-success">{{j.position.name}}</td>
                <td class="bg-success">{{j.noOfCandidate}}</td>
                <td class="bg-success">{{j.selectedUsers}}</td>
                <td class="bg-success"> {{j.requisitiondate}}</td>
                <td class="bg-success">{{j.closuredate}}</td>
              </tr>
                <tr ng-repeat="j in requisitionList" ng-if="j.id!=selectedRequisitionId">
                <td>
                  <div class="radio-cntnr zeromargin">
                      <input type="radio" id="{{j.id}}" name="radio-group" class="" ng-click="checkedReqId(j.id,j.noOfCandidate,j.selectedUsers)"  >
                      <label class="cstmchk_lbladmin" for="{{j.id}}"></label> 
                    </div>
                </td>
                <td >{{j.brand.brandName}}</td>                
                <td>{{j.category.name}}</td>
                <td >{{j.position.name}}</td>
                <td>{{j.noOfCandidate}}</td>
                <td>{{j.selectedUsers}}</td>
                <td> {{j.requisitiondate}}</td>
                <td>{{j.closuredate}}</td>
              </tr>
            </tbody>
          </table>      
          </div>
          <div style="height: 20px;"></div>
           <button class="btn btn-success" ng-click="selectUserRequisition('Selected')" ng-if="applicationStatus==true && status!='Closed'">Select this Candidate</button>
            <button class="btn btn-success" ng-click="alreadySelected()" ng-if="applicationStatus==false && status!='Closed'">Select this Candidate</button>
             <button class="btn btn-success" ng-if="status=='Closed'" disabled>Select this Candidate</button>
            
  </div><div ng-if="requisitionList.length==0">No Requisition Found</div>
  </div>
  <div id="comm" class="tab-pane fade in active inner-popup-tabs1" ng-show="showflag == 9">
										<ul type="none" class="detailed-ul"
											ng-repeat="j in scheLogList">
											<li>
												<h4>{{j.name}}</h4>
												<p>{{dateformate(j.startTimeDate) |  date:'dd-MM-yyyy hh:mm a'}}</p>
											</li>
										</ul>
									</div>
									
									
		<div id="todo" class="tab-pane fade in active"  ng-show="showflag == 11">
    <table class="table table-striped red-table">
            <caption>Compliance Status List</caption>
            <thead>
              <tr>
              <!--   <th>
                  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="all" name="check" class="flash">
                      <label class="cstmchk_lbl" for="all"></label> 
                    </div>
                </th> -->
                <th>Document Name</th>
                <th>Expected Date</th>
                <th>Completion Date</th>
                <th>Status</th>
                <th>Download Document</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="cd in compliancesDetails" >
                         
                <td>{{cd.compliance.complianceName}}</td>
                <td>
                   <div class="form-group" style="margin-bottom: 0 !important;">
                    <input type="text" class="form-control flat-control-inner dateonly" placeholder="{{formatDate1(cd.updatedDate)}}" disabled style="margin-bottom: 0 !important;">
                  </div>
                </td>   
                <td>
                    <div class="form-group" style="margin-bottom: 0 !important;">
                     <input type="text" class="form-control flat-control-inner enterDate" ng-if="getflag(cd.compliance.id)==true" placeholder="{{formatDate1(cd.createdDate) | date:'dd-MM-yyyy'}}" disabled style="margin-bottom: 0 !important;"> 
                      <input type="text" class="form-control flat-control-inner enterDate" ng-if="getflag(cd.compliance.id)==false" placeholder="" disabled style="margin-bottom: 0 !important;">                                                                                                    
                    </div>
                </td> 
                
                <td class="text-center">
                  <!-- <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="todayBox" name="check" class="flash todate-date">
                      <label class="cstmchk_lbl" for="todayBox"></label> 
                    </div> -->
                    <div class="chckbx-cntnr zeromargin">  
                      <input type="checkbox" id="{{cd.compliance.id}}" ng-if="getflag(cd.compliance.id)==true" ng-checked="true" onclick="return false;" name="check" class="flashadmin">
                      <input type="checkbox" id="{{cd.compliance.id}}" ng-if="getflag(cd.compliance.id)==false" onclick="return false;" name="check" class="flashadmin">
                      <label class="cstmchk_lbladmin" for="{{cd.compliance.id}}"></label> 
                    </div>
                </td>  

                <td class="text-center">               
                <label ng-if="buttondisable(cd.path)==false" class="btn bigblue-btn new-btn-dwn" ng-disabled="false">
                  <i class="fa fa-download" aria-hidden="true" ng-click="download(cd.path)"  ng-disabled="false" id="download-doc"></i></label>
				 <label ng-if="buttondisable(cd.path)==true" class="btn bigblue-btn new-btn-dwn" ng-disabled="true"> <i class="fa fa-download" aria-hidden="true" id="download-doc" ></i></label>                                                   
                </td> 
              </tr>                       
             </tbody>
          </table>     
  </div>							
																		
	<div id="act" class="tab-pane fade in active" ng-show="showflag == 10">
  <div class="inner-popup-tabs1" ng-if="decisionLoglist.length!=0"><ul type="none" class="detailed-ul" ng-repeat="d in decisionLoglist">
      <li>
    
    <h4 ng-if="d.status=='Selected' || d.status=='Shortlisted'" style="float: left;">{{d.status}} by {{d.name}}</h4>
    <h4 ng-if="d.status=='Selected' || d.status=='Shortlisted'" style="margin: 0px 10px;float: left;"><b>Date:</b> {{ formatDate2(d.updatedDate) | date:'dd-MM-yyyy'}}</h4> 
    <h4 ng-if="d.status=='Selected' || d.status=='Shortlisted'"> <b>Requisition No.:</b> {{d.requisition.id}}</h4>
    <div class="tbl" ng-if="d.status=='Selected' || d.status=='Shortlisted' ">
    
                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <th>Brand</th>
                    <th>Department</th>
                  	<th>Position</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>{{d.requisition.brand.brandName}}</td>
                    <td>{{d.requisition.category.categoryName}}</td>
                  	<td>{{d.requisition.position.positonname}}</td>
                  </tr>
                </tbody>
                </table>
    </div>
    <h4 ng-if="d.status!='Selected' && d.status!='Shortlisted'">{{d.status}} by {{d.name}} &nbsp; &nbsp; &nbsp; &nbsp;</h4>
       <p ng-if="d.status!='Selected' && d.status!='Shortlisted'"><b>Date:</b> {{ formatDate2(d.updatedDate) | date:'dd-MM-yyyy'}}</p>	       
      </li>
    </ul>
    </div>
    <div ng-if="decisionLoglist.length<1"><h2>No Action Taken !!</h2></div>
     <div style="height: 20px;"></div>
     <button class="btn btn-primary" ng-click="showFlag(8)">Back</button>
  </div>
</div>
</div>
</div>
        </div>
      
       
      <div class="modal-footer text-right" style="text-align: right;border-top: 1px solid #e0e0e0;">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="" ng-click="refreshModal()">Close</button>
      </div>
    

  </div>
</div>