<link rel="stylesheet" href="resources/css/bootstrap-datepicker3.min.css">
<script src="resources/js/bootstrap-datepicker.min.js"></script>

<div id="scheduler" class="tab-pane fade in admin-page"  >


	<div class="section-heading">
        <h4>Meet A Recruiter</h4>
     </div>
	
	

	<div class="section-content" id="create_scheduler">
      <div class="shadow-container">
          <div class="inner-head">
            <h4>Edit Scheduler</h4>
          </div>
          <div class="inner-form">
            <div class="form-group">
              <label>Name of Scheduler*</label>
              <input type="text" name=""  class="form-control flat-control-inner" id="prefilled" value="Meet A Recruiter for IT Associates" required disabled>
             </div>
                     
            <div class="table-cntnr">
          <table class="table table-striped red-table">
            <caption>List of All Users</caption>
            <thead>
              <tr>               
                <th>Name</th>
                
                <th>
                  <div class="chckbx-cntnr zeromargin">
                      <input  type="checkbox" id="vr" name="check" class="flashadmin" disabled>
                      <label class="cstmchk_lbladmin" for="vr" ></label>    
                      
                       <input type="checkbox" id="vr" name="check" class="flashadmin">
                      <label  class="cstmchk_lbladmin" for="vr" ></label>    
                    </div>                    
                  <span class="leftpad10">Add/Edit</span></th>
                  
                <th>
                  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="vx" name="check" class="flashadmin" disabled>
                      <label class="cstmchk_lbladmin" for="vx"></label>    
                      
                      <input type="checkbox" id="vx" name="check" class="flashadmin">
                      <label class="cstmchk_lbladmin" for="vx"></label>                
                  </div>                  
                     <span class="leftpad10">Delete</span></th>
                 <th>
                 </th>  
              </tr>
            </thead>
            <tbody ng-repeat="x in userpermission">
             <tr>             
                <td ng-if="x.add=='false'">{{x.user.firstName+'&nbsp'+x.user.lastName}}</td>    
                  <!-- <td ng-if="x.add=='true'" ><input type='text' ng-change="serachAdminUsers(userName)" placeholder="Search user"></input></td>  -->  
                <td ng-if="x.add=='true'">
                  <div class="form-group" style="margin-bottom: 0">
                   <select class="form-control" ng-model="x.user.id" ng-options="x.id as x.name for x in adminUsers" required>
                              <option value="">--Select--</option>                          
                            </select>
                  </div>
                </td>                  
                  
                <td>
                  <div class="chckbx-cntnr zeromargin">
                      <input ng-if="!selectedschedular.edit" type="checkbox"  id="a{{$index}}" ng-model="x.edit" class="flashadmin" ng-checked="x.edit"  disabled>
                      <label ng-if="!selectedschedular.edit" class="cstmchk_lbladmin" for="a{{$index}}"></label> 
                      
                      <input ng-if="selectedschedular.edit" type="checkbox"  id="a{{$index}}" ng-model="x.edit" class="flashadmin" ng-checked="selectalledit || option1" ng-init="option1=x.edit">
                      <label ng-if="selectedschedular.edit" class="cstmchk_lbladmin" for="a{{$index}}"></label> 
                                            
                  </div>
                </td>
                <td>                
                  <div class="chckbx-cntnr zeromargin">
                      <input ng-if="!selectedschedular.edit" type="checkbox" id="b{{$index}}"  class="flashadmin" ng-model="x.del"  ng-checked="x.del" disabled>
                      <label ng-if="!selectedschedular.edit" class="cstmchk_lbladmin" for="b{{$index}}"></label>     
                      
                      <input ng-if="selectedschedular.edit" type="checkbox" id="b{{$index}}"  class="flashadmin" ng-model="x.del"  ng-checked="selectalldelete || option2" ng-init="option2=x.del">
                      <label ng-if="selectedschedular.edit" class="cstmchk_lbladmin" for="b{{$index}}"></label>                    
                  </div>                  
                </td>
                <td>
                <button ng-if="selectedschedular.delete" id="$index" class="btn btn-default btn-remove" ng-click="removeuser($index)"><i class="icon-x-circle"></i></button>
                <button ng-if="!selectedschedular.delete" id="$index" class="btn btn-default btn-remove" ng-click="removeuser($index)" disabled><i class="icon-x-circle" ></i></button>
                </td>
              </tr> 
           
            </tbody>
          </table>
        </div>
          <button ng-if="selectedschedular.edit" class="btn btn-default btn-round-add mar-bottom-zero" style="float: right;" ng-click="addnewuser()"><i class="icon-plus"></i></button>
         <button ng-if="!selectedschedular.edit" class="btn btn-default btn-round-add mar-bottom-zero" style="float: right;" ng-click="addnewuser()" disabled><i class="icon-plus"></i></button>
          <div class="clearfix"></div>
          <div style="height: 30px;"></div>
                                                                                                                                                                                                                                                                      
        

      <div class="table-cntnr" id="showwalkinslots">
          <table class="table table-striped red-table">
            <caption>List of All created slots</caption>
            <thead>
              <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Filled No.</th>
                <th>Total No.</th>
                <th>Balance No.</th>
                <th>Action</th>
                <th>
              </tr>
            </thead>
            <tbody>
               <tr>
                <td>06-03-2020</td>
                
                <td>3:57 PM</td>
              
                <td><a > 0</a>                
            
                </td>
                <td>5</td>
                <td>5</td>
                <td>
                	<button class="btn btn-default btn-round-add mar-bottom-zero" data-target="#edit_sloter" data-toggle="modal"><i class="icon-edit-2"></i></button>
               </td>
              	<td>
              		<button class="btn btn-default btn-remove"><i class="icon-x-circle"></i></button>
              	</td>
              </tr> 
              <tr>
                <td>08-03-2020</td>
                
                <td>11:30 AM</td>
              
                <td><a > 0</a>                
            
                </td>
                <td>5</td>
                <td>5</td>
                <td>
                	<button class="btn btn-default btn-round-add mar-bottom-zero" data-target="#edit_sloter" data-toggle="modal"><i class="icon-edit-2"></i></button>
               </td>
              	<td>
              		<button class="btn btn-default btn-remove"><i class="icon-x-circle"></i></button>
              	</td>
              </tr> 
              <tr>
                <td>11-03-2020</td>
                
                <td>11:30 PM</td>
              
                <td><a > 0</a>                
            
                </td>
                <td>5</td>
                <td>5</td>
                <td>
                	<button class="btn btn-default btn-round-add mar-bottom-zero" data-target="#edit_sloter" data-toggle="modal"><i class="icon-edit-2"></i></button>
               </td>
              	<td>
              		<button class="btn btn-default btn-remove"><i class="icon-x-circle"></i></button>
              	</td>
              </tr> 
              <tr>
                <td>26-03-2020</td>
                
                <td>11:30 PM</td>
              
                <td><a > 0</a>                
            
                </td>
                <td>5</td>
                <td>5</td>
                <td>
                	<button class="btn btn-default btn-round-add mar-bottom-zero" data-target="#edit_sloter" data-toggle="modal"><i class="icon-edit-2"></i></button>
               </td>
              	<td>
              		<button class="btn btn-default btn-remove"><i class="icon-x-circle"></i></button>
              	</td>
              </tr> 
            </tbody>
          </table>
        </div>

		<div class="btn-cntnr" style="margin-top: 20px; margin-bottom: 20px;">
        	
              <button type="submit" class="btn btn-default btn-bluer" id="update_slot-btn">Update</button>
              
             
              <a>Cancel</a>
              <button class="btn btn-default btn-round-add mar-bottom-zero" data-target="#edit_sloter" data-toggle="modal" style="float: right;"><i class="icon-plus"></i></button>
            </div>


        

        <!----Modal Edit Slot List---->
<div id="edit_sloter" class="modal fade" role="dialog">


  <div class="modal-dialog ">

    <!-- Modal content-->
    <form>
    <div class="modal-content flat-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h4 ng-if="!flag" class="modal-title common-title" style="margin-left: 0;">Add Slot</h4>
        <h4 ng-if="flag" class="modal-title common-title" style="margin-left: 0;">Update Slot</h4>
        
      </div>
      <div class="modal-body flat-body">
        <div class="row">
          <div class="col-md-6">
        	 <div class="input-group date form-group" id="datepicker">
			    <input type="text" class="form-control" id="Dates" name="Dates" placeholder="Select days" required style="display:none;"/>
			</div>
    	  </div>
          <div class="col-md-6">
          	<div id="datetimepicker3"></div>
       	</div>
        </div>
        <div style="height: 10px;"></div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>No. of Candidates*</label>
              <input type="number" name="" id="candidate" class="form-control flat-control-inner" ng-model="slotm.candidates" min="1" required>              
              <input type="hidden"  class="form-control flat-control-inner" ng-model="slotm.assignedUsers">
            </div>
          </div>
        </div>
      </div>
      
      <div class="modal-footer text-right">
      
        <button ng-if="!flag" type="submit" class="btn btn-default" data-dismiss="modal" ng-click="addslot(slotm)">Add</button>
        <button ng-if="flag" type="submit" class="btn btn-default" ng-click="updateslot(slotm)">Update</button>
        
        <a class="btn btn-link" data-dismiss="modal">Cancel</a>
      </div>
    </div></form>

  </div>
  
</div>



<!-- Print Candidates -->
<div id="print_candidates" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content flat-modal" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h4 class="modal-title common-title" style="margin-left: 0;">Selected Candidates</h4>
      </div>
      <div class="modal-body flat-body">
		<div class="header-inform-select">
          <div class="col-md-5">
             <div class="type-re">
                <label style="font-size: 14px;">Scheduler name:</label>
              <div class="reg-head-2">
                <p style="font-size: 14px;" class="ng-binding">{{updateevent.schedulerName}}</p>
              </div>  
            </div>          
       </div>
        <div class="col-md-4">
          <div class="type-re">
          <label style="font-size: 14px;">Date:</label>
            <div class="reg-head-2">
              <p style="font-size: 14px;" class="ng-binding" ng-bind="formatDate(slotDateTime) |  date:'dd-MM-yyyy'"></p>
              <!-- <td ng-modal="date" ng-bind="formatDate(x.dateTime) |  date:'dd-MM-yyyy'"></td> -->
            </div> 
          </div>  
        </div>
        <div class="col-md-3">
          <div class="type-re">
          <label style="font-size: 14px;">Time:</label>
            <div class="reg-head-2">
              <p style="font-size: 14px;" class="ng-binding">{{(slotDateTime).split(" ")[1]}} {{(slotDateTime).split(" ")[2]}}</p>
            </div> 
          </div>  
        </div>
       </div>      
      
      	<div class="text-right">
          <div class="button-group">
            <button class="btn btn-default btn-excel" ng-click="generateExcel()" id=""><i class="fa fa-file-excel-o"></i></button>
            <!-- <button class="btn btn-default btn-print"><i class="fa fa-print"></i></button> -->
          </div>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tbody ng-repeat="x in filledcandidates">
            <tr>
              <td>{{x.firstName}} {{x.lastName}}</td>
              <td><span class="cross-mark" id="$index"><i class="icon-x-circle" ng-click="removeselectedcandidate(x)"></i></span></td>
            </tr>            
          </tbody>
        </table>
      </div>
      <div class="modal-footer text-left">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="" ng-click="removeuUserBySlotId()">Save</button>
        <a class="btn btn-link" data-dismiss="modal">Cancel</a>
      </div>
    </div>

  </div>
</div>


</div>
        </div>
        </div>
 </div>
 
 <script>
 $(document).ready(function() {
	    $('#datepicker').datepicker({
	        multidate: true,
	        format: "dd/mm/yyyy",
	        language: 'en'
	    }).on('changeDate', function(e) {
	        // `e` here contains the extra attributes
	        $(this).find('.input-group-addon .count').text(' ' + e.dates.length);
	    });
	});

 
 </script>
<script type="text/javascript">
            $(function () {
                $('#datetimepicker3').datetimepicker({
                    format: 'LT',
                    inline: true
                });
            });
        </script>