
 <script type="text/javascript" src="resources/js/loader.js"></script> 
<script type="text/javascript">
    
    /*google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
    var myFruits = ['Genre','Completed', 'Not Completed', 'In Progree', { role: 'annotation' } ];
    var list = [];
       list.push(myFruits);
       for(var i=1; i<=5; i++){          
           li"src/main/webapp/resources/js/loader.js"st.push([i,i,i,i,i]);           
       }
        console.log(list);
         var data = google.visualization.arrayToDataTable(list);
          var view = new google.visualization.DataView(data);
          view.setColumns([0,1,2,3,
                           { calc: "stringify",
                             sourceColumn: 1,
                             type: "string",
                             role: "annotation" },
                           4]);

          var options = {
        width: 1000,
        height: 500,
        legend: { position: 'top', maxLines: 3 },
        bar: { groupWidth: '75%' },
        isStacked: true
      };
        
        
        var container = document.getElementById("barchart_values");
    var chart = new google.visualization.BarChart(container);
    google.visualization.events.addListener(chart, 'ready', function () {
      container.style.display = null;
    }); chart.draw(view, options);
        
        
        
        
        
  }
    
    
 google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['Genre', 'Assigned', 'Not Assigned', 'Completed', 'Overdue', { role: 'annotation' } ],
        ['1', 1,5,6,8,1],
        ['2', 2,4,5,8,10],
        ['3', 4,3,1,6,9],
        ['4', 2,2,2,9,3]
      ]);
        var list_workflow = 5;
        var height_div = 80*list_workflow;
          var view = new google.visualization.DataView(data);
          view.setColumns([0,1,2,3,4,
                           { calc: "stringify",
                             sourceColumn: 1,
                             type: "string",
                             role: "annotation" },
                           5]);

        var options = {
        width: 1000,
        height: height_div,
        legend: { position: 'top', maxLines: 3 },
        bar: { groupWidth: '75%' },
        colors: ['#3498db','#f64400','#268e08','#f68f40'],
        isStacked: true
      };
      var chart = new google.visualization.BarChart(document.getElementById("barchart_values"));
      chart.draw(view, options);
  }*/


  </script>         


<!----Main Content---->
<div id="main-content" class="admin-page">
  <div class="tab-content">
    <div id="owner-dashboard-det" class="tab-pane fade in active">
      <div class="section-heading">
        <h4 style="width: 80%;display: inline;">My Dashboard</h4>
       
							<a class="pull-right" ui-sref="restricted.admin.WfTicketStatusCount">Back</a>
		
      </div>
        <div  id="barchart_values" ng-click="getTicketListByWorkflowId()" style="width: 900px; height: 300px;"></div>
      </div> 
    </div>
</div>

  