<div id="main-content">
	<div class="tab-content">

		<div id="owner" class="tab-pane fade in active">
			<div class="section-heading">
				<h4>Document Configuration</h4>
			</div>
			<div class="section-content">
				<form ng-submit="insertIntoDocumentTypeRoleMap()">
					<div class="col-md-3">
						<div class="form-group">
							<label for="status" class="">Document Type</label>
							<select class="form-control flat-control-search mar-bottom-zero" id="openinterview"  ng-model="documentTypeObj.id" required  ng-change="fetchRoleListForDocumentType(documentTypeObjId)">
								<option value="" >--Please Select--</option>
								<option ng-repeat="document in documentType" value="{{document.id}}" >{{document.name}}</option>
							</select>
						</div>
					</div>
					<div class="col-md-1">
						<div class="button-group">
							<a button class="btn btn-default btn-create" id="create-req-btn" style="margin-top:50%" title="Add Document Type" data-toggle="modal" ng-click="documentTypeMaster.name='';documentTypeMaster.retentionDays='' " data-target="#add_documenttype" ><i class="icon-plus"> </i><a href=""></a></button>
            			</div>
					</div>
					<div class="col-md-8">
						<div class="assign-label">
							<label for="status" class="">Available To</label>
						</div>


						<div class="col-md-4" ng-repeat="role in roleList">
							<div class="chckbx-cntnr zeromargin role-new" style="display: block;">
								<input type="checkbox" id="column{{$index}}" name="role[]" value="{{role.id}}" ng-click="toggleSelection(role.id)" ng-checked="checkIfRoleMapped(role.id)"
									ng-modal="checkval"> <label class="cstmchk_lbladmin role-checkbox"
									for="column{{$index}}"></label>
							</div>
							<label for="column{{$index}}"
									class="table-label role-label">{{role.roleName}}</label>
						</div>


					</div>

					<div class="col-md-12">
						<div class="btn-cntnr" >
							<button class="btn btn-default btn-bluer" id="cancel-req-btn" >Add</button>
							<a ui-sref="restricted.admin.uploaddoclist">Cancel</a>
						</div>
					</div>
					
				</form>
				<div class="col-md-12">
					<div class="row">
					<div class="button-group">
					
					<button class="btn btn-default btn-delete" ng-click="check()">
						<i class="icon-trash-2"></i>
					</button>
				</div>
				</div>
				</div>


         <!-- <div class="search-cntnr">
					<div class="form-group search-box inline-blck">
						<input type="text" name="" id="id_of_textbox"
							class="form-control flat-control-search mar-bottom-zero"
							ng-model="searchterm"> <i class="icon-search"
							id="id_of_button"
							ng-click="fetchDocumentTypeListWithRole(0,10,null,null,searchterm);fetchDocumentTypeCount(searchterm)"></i>
					</div>
          
          <div class="clearfix"></div>
        </div> --> 





					<div class="table-cntnr"
						style="margin: 10px 0px; display: inline-block; width: 100%;">
						<table class="table table-striped red-table"
							id="table-configuration-info">
							<caption>Configuration</caption>
							<thead>
								<tr>
									<th style="vertical-align: middle;">
									<div class="chckbx-cntnr zeromargin">
									<input type="checkbox" id="rd" name="check"
										ng-click="checkedAllList(documentTypeList,all)" ng-model="all"
									class="flashadmin"> <label class="cstmchk_lbladmin"
									for="rd"></label>
									</div>
									</th>
									<th>Document Types<i class="fa fa-sort" aria-hidden="true"
										ng-click="SortingDocumentTypeList('Document Types',searchterm)"></i> </th>
									<th>Assign To</th>
									<th>Retention days</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="document in documentTypeList">
									<td>
										<div class="chckbx-cntnr zeromargin">
								<input type="checkbox" id="{{document.id}}" name="check"
									ng-click="addcheckedDocumentids(document.id)" ng-checked="all"
									class="flashadmin"> <label class="cstmchk_lbladmin"
									for="{{document.id}}"></label>
							</div>
									</td>
									<td>{{document.name}}</td>
									<td>{{document.roles}}</td>
									<td><a href="" ng-click="updateRetentionDays(document)">{{document.documentTypeMaster.retentionDays}}</a></td>
								</tr>
							</tbody>

						</table>
					</div>
				
					<div class="text-right" style="margin: 12px 0;">            
            <ul class="pagination" style="margin-top: 0;">
			<li><a ng-hide="start == 0" ng-click="previous()">&laquo;</a>
			<li ng-repeat="i in navButtons" ng-class="$parent.offset == i * $parent.limit && 'active'"><a class="" ng-click="current(i)">{{i+1}}</a></li>
			<li><a ng-hide="(((start+5)*10) + 10) >= count" ng-click="next()">&raquo;</a></li>
			</ul>
          </div>

      <div class="modal fade" id="add_documenttype" role="dialog">
          <div class="modal-dialog modal-sm add-brand">
          
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">X</button>
                <h4 class="modal-title">Add Document Type</h4>
              </div>
               <form id="DocumentTypeAdd" ng-submit="addDocumentType(documentTypeMaster)">
              <div class="modal-body">
               
                  <p>Document Type Name:</p>
                   <div class="form-group">
                    <input type="text" name="documentTypeMaster-name" class="form-control flat-control-inner documentTypeMaster-name" ng-model="documentTypeMaster.name" required>
                 </div>
                 
                 <p>Retention days:</p>
                   <div class="form-group">
                    <input type="number" id="days" min="1" name="documentTypeMaster-name" class="form-control flat-control-inner documentTypeMaster-name" ng-model="documentTypeMaster.retentionDays" required>
                 </div>
                
                  
                 <div class="form-group text-right">
                  <button id="brandbtn" type="submit" class="btn-info add_brand">Add </button>
                  
                </div>
             
              </div>
             </form>
            </div>
            
          </div>
      </div>
      
      <div id="deletelist" class="modal fade" role="dialog">
	<div class="modal-dialog modal-sm add-brand">

		<!-- Modal content-->
		<div class="modal-content flat-modal">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">X</button>
				<h4 class="modal-title common-title" style="margin-left: 0;">Delete
					Record</h4>
			</div>
			<div class="modal-body flat-body">
				<div class="clearfix"></div>
				Are you sure want to delete {{checkedDocumentids.length}} records?
				<div class="modal-footer text-left">
					<button type="button" class="btn btn-default" data-dismiss="modal"
						id="show_ass" ng-click="deleteDocument('DocumentType')">Delete</button>
					<a class="btn btn-link" data-dismiss="modal">Cancel</a>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- update retention days modal -->

<div class="modal fade" id="add_retentionDays" role="dialog">
          <div class="modal-dialog modal-sm add-brand">
          
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">X</button>
                <h4 class="modal-title">Add Retention Days</h4>
              </div>
               <form id="DocumentTypeAdd" ng-submit="updateRetentionDaysOfDocument(retentionDays)">
              <div class="modal-body">
            
                 <p>Retention days:</p>
                   <div class="form-group">
                    <input type="number" min="1" name="documentTypeMaster-name" class="form-control flat-control-inner documentTypeMaster-name" ng-model="documentRetentionDays" required>
                 </div>
                
                  
                 <div class="form-group text-right">
                  <button id="brandbtn" type="submit" class="btn-info add_brand">Add </button>
                  
                </div>
             
              </div>
             </form>
            </div>
            
          </div>
      </div>

				</div>
			</div>
		</div>
	</div>