<style>
.action_icon .accept i, .action_icon .accepted i{
	color:green !important;
}
.action_icon .reject i, .action_icon .rejected i{
	color:red !important;
}
.action_icon a:first-child{
	margin-right:10px;
}
.action_icon a:first-child i{

}
.action_icon a:nth-child(2) i{
    transform: scaleX(-1);
}
.action_icon .accepted, .action_icon .rejected{
    pointer-events: none;
    cursor: default !important;
}
.accepted i, .rejected i{
	opacity: 0.5;
}	
</style>
<br>
<div class="table-cntnr" style="padding: 0 14px;">
	<table class="table table-striped red-table internet-calling-table"
		style="margin-bottom: 0px;">
		<caption>Interview Request</caption>
		<thead>
			<tr>
			
				
			<th>Candidate Ref No <i  ng-click="SortingfetchInterviewRequestList('refno',searchterm)" class="fa fa-sort" aria-hidden="true"></i></th>
				<th>Candidate Name <i  ng-click="SortingfetchInterviewRequestList('name',searchterm)" class="fa fa-sort" aria-hidden="true"></i></th>
					<th>Event Name <i  ng-click="SortingfetchInterviewRequestList('eventname',searchterm)" class="fa fa-sort" aria-hidden="true"></i></th>
				 <th>Date & Time <i  ng-click="SortingfetchInterviewRequestList('datetime',searchterm)" class="fa fa-sort" aria-hidden="true"></i></th>
				<th style="vertical-align: middle;">Action <i  ng-click="SortingfetchInterviewRequestList('action',searchterm)" class="fa fa-sort" aria-hidden="true"></i>
				</th>
			</tr>
		</thead>
		<tbody>
		 <tr ng-repeat="rl in requestList" class="font-20 ">
				 <td>{{rl.refNo}}</td>
				<td><a ng-click="openUserDetailPage(rl);enableDisableToDo();fetchUserRatingValue()">{{rl.name}}</a></td>
				<td>{{rl.eventname}}</td>
				 <td>{{dateformate(rl.bookedSlotForJobFair)}} </td>
				<td  ng-if="rl.STATUS==0" class="action_icon">
				<a href="" title="Accept" class="accept" ng-click="updateApproveRejectStatus(rl.slotid,rl.id,1,rl)"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
				<a href="" title="Reject" class="reject" ng-click="updateApproveRejectStatus(rl.slotid,rl.id,2,rl)"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a>
				</td>
				<td  ng-if="rl.STATUS==1" class="action_icon">			
				<a href="" title="Accepted" class="accepted"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a> 
				<a href="" title="Reject" class="reject"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a>
				</td>	
				<td  ng-if="rl.STATUS==2" class="action_icon">			
				<a href="" title="Accept" class="accept"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
				<a href="" title="Rejected" class="rejected"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a>
				</td>	
			</tr>
			
	<!-- 		 <tr class="font-20 ">
				 <td>C-2360</td>
				<td><a href="#">Aditya</a></td>
				 <td>05-01-2022 09:33 PM </td>
				<td class="action_icon">
				<a href="" title="Accept" class="accept">
				<i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
				 <a href="" title="Reject" class="reject">
				 <i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a></td>				
			</tr>
			<tr class="font-20 ">
				 <td>C-2361</td>
				<td><a href="#">Shree</a></td>
				 <td>05-01-2022 09:33 PM </td>
				<td class="action_icon">
				<a href="" title="Accepted" class="accepted">
				<i class="fa fa-thumbs-up" aria-hidden="true"></i></a> 
				<a href="" title="Rejected" class="rejected">
				<i class="fa fa-thumbs-down" aria-hidden="true"></i></a></td>				
			</tr>  -->
		</tbody>
	</table>
</div>
