<!----Main Content---->
<div id="main-content">
  <div class="tab-content">
      
    <div id="owner" class="tab-pane fade in active">
      <div class="section-heading">
        <h4>Documents Logs</h4>
        <div class="col-md-4 pull-right">
						<div class="btn-cntnr" style="margin: 8% 0;text-align:right">
							<a ui-sref="restricted.admin.uploaddoclist">Back</a>
						</div>
      </div>
      <div class="section-content" id="list-uploaded-files">
       <div class="table-cntnr">
          <table class="table table-striped red-table">
            <caption>Documents Logs</caption>
            <thead>
            <tr>
                <th>
                  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="rd" name="check" class="flash">
                      <label class="cstmchk_lbl" for="rd"></label> 
                    </div>
                </th>
                <th>Upload Date <i class="fa fa-sort" aria-hidden="true" ng-click="SortingDocumentUploadLogList('d_upload_date',searchterm)"></i></th>
                <th>Total uploads <i class="fa fa-sort" aria-hidden="true"  ng-click="SortingDocumentUploadLogList('d_upload_count',searchterm)"></i></th>
                <th>Success <i class="fa fa-sort" aria-hidden="true"  ng-click="SortingDocumentUploadLogList('d_success_count',searchterm)"></i></th>
                <th>Failed <i class="fa fa-sort" aria-hidden="true"   ng-click="SortingDocumentUploadLogList('fail_count',searchterm)"></i></th>
            </tr>
            </thead>
            <tbody>
              <tr ng-repeat="d in documentloglist">
                <td>
                  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="1" name="check" class="flash">
                      <label class="cstmchk_lbl" for="1"></label> 
                    </div>
                </td>
                <td>{{d.dispalyUploadDate}}</td>
                <td>{{d.uploadCount}}</td>
                <td>{{d.successCount}}</td>
                <td><a data-toggle="modal" data-target="#logs-info" ng-click="fetchDocumentUploadLogList(d.id);" ng-if="d.failCount!=0">{{d.failCount}}</a>
                	<span ng-if="d.failCount==0">{{d.failCount}}</span>
                </td>
                  <!-- <td data-toggle="modal" data-target="#logs-info"><button type="button" class="btn btn-default btn-bluer" ng-click="fetchDocumentUploadLogList(d.id);">Log</button></td> -->
              </tr>
              </tbody>
          </table>
          <div class="text-right">
            <ul class="pagination" style="margin-top: 0;">
				<li><a ng-hide="start == 0" ng-click="previous()">&laquo;</a>
				<li ng-repeat="i in navButtons" ng-class="$parent.offset == i * $parent.limit && 'active'"><a class="" ng-click="current(i)">{{i+1}}</a></li>
				<li><a ng-hide="(((start+5)*10) + 10) >= count" ng-click="next()">&raquo;</a></li>
			</ul>
          </div>
        </div>
          
          <div class="modal fade" id="logs-info">
          <div class="modal-dialog modal-md add-brand">        
            <!-- Modal content-->
            <div class="modal-content" id="reason-1">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">X</button>
                <h4 class="modal-title">Logs</h4>               
              </div>
              <div class="modal-body">
                <div class="table-cntnr">
                  <table class="table table-striped red-table">
                    <caption>Uploaded Files</caption>
                    <thead>
                      <tr>
                        <th>File Name</th>
                        <th>Uploaded by</th>
                        <th>Reason </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="d in documentUploadLogList">
                        <td>{{d.fileName}}</td>
                        <td>{{d.emailDetails.email}}</td>
                        <td>{{d.message}}</td>
                      </tr>
                      </tbody>
                  </table>
                </div>
              </div>                                 
            </div> 
          </div>
      </div>
            
        </div>
      </div>
    </div>
    </div>