<div id="main-content">
  <div class="tab-content">
      
    <div id="owner" class="tab-pane fade in active">
      <div class="section-heading">
        <h4>Documents Logs</h4>
      </div>
      <div class="section-content">
          <form>
                    <div class="col-md-4">
                        <div class="form-group">
								<label for="status" class="">Mail Type</label>
								<select class="form-control flat-control-search mar-bottom-zero">
            				        <option value="" class="" selected="selected">--Please Select--</option>
                                    <option value="" class="" selected="selected">dummy@gmail.com</option>
                                    </select>
                            </div>
                    </div>
                  <div class="col-md-4">
                        <div class="assign-label">
				            <label for="status" class="">Assign To</label>
                        </div>
                              <div class="col-md-4">     
                                <div class="chckbx-cntnr">
                                  <input type="checkbox" id="1" name="check" class="flash">
                                  <label class="cstmchk_lbl" for="1">
                                  <p class="vali-sub-head" style="margin-left: 10px;">Admin</p>
                                  </label> 
                                </div>    
                              </div>
                            
                            
                              <div class="col-md-4">   
								<div class="chckbx-cntnr">
                                  <input type="checkbox" id="1" name="check" class="flash">
                                  <label class="cstmchk_lbl" for="1">
                                  <p class="vali-sub-head" style="margin-left: 10px;">Owner</p>
                                  </label> 
                                </div>    
                              </div>
                            
                        
                    </div>
                   
                    <div class="col-md-4">
                    <div class="btn-cntnr" style="margin: 8% 0;">
                        <button class="btn btn-default btn-bluer" id="cancel-req-btn">Add</button>
                        <a href="">Cancel</a>
                    </div>
                    </div>
                </form>
          
                <div class="table-cntnr" style="margin:10px 0px;display: inline-block;width:100%;">
          <table class="table table-striped red-table" id="table-configuration-info">
            <caption>Configuration</caption>
            <thead>
              <tr>
                <th>
                  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="rd" name="check" class="flash">
                      <label class="cstmchk_lbl" for="rd"></label> 
                    </div>
                </th>
                <th>Document Types</th>
                <th>Assign To</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="1" name="check" class="flash">
                      <label class="cstmchk_lbl" for="1"></label> 
                    </div>
                </td>
                <td>PDF</td>
                <td>Admin, Business, Job</td>
              </tr>
                <tr>
                <td>
                  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="1" name="check" class="flash">
                      <label class="cstmchk_lbl" for="1"></label> 
                    </div>
                </td>
                <td>DOC</td>
                <td>Admin, Office, Job</td>
              </tr>
              </tbody>
          </table>
        </div>
          
          
            
        </div>
      </div>
    </div>
    </div>