<div id="" class="tab-pane fade in admin-page">
<div class="section-content" id="email-listsec">
            
        <ul class="nav nav-tabs assessment-tabs1" style="border-bottom: 1px solid #ddd !important;">
             	 <li ng-class="{'active': approverTabFlag === 1}"><a   ng-click="approverTabFlag=1">Mail Box</a></li>
             	 <li  ng-class="{'active': approverTabFlag === 2}"><a   ng-click="approverTabFlag=2;emailTypeAssignToBeanList(offset,limit,null,null);">Access Rights</a></li>
        </ul>        
    
        <div class="tab-content">
            <div id="mail_box" class="tab-pane fade in active" ng-show="approverTabFlag == 1">
                <!-- <div class="addmore_email" style="float: left;">
                  <button type="button" class="btn btn-default btn-round-add" data-target="#role_map" data-toggle="modal"><i class="icon-plus"></i></button><p class="expense-heading">Add More</p>
                </div>
                <div class="act-btn">
                    <button type="submit" class="btn btn-default btn-bluer" id="create_slot-btn" ng-click="updateEmailConfigBean(EmailConfigBeanList[0]);">Submit</button>
                    <a href="">Cancel</a>
                </div> -->
                
                <div class="clearfix"></div>
                <div class="add-mail-box">
                <form ng-submit="updateEmailConfigBean(EmailConfigBeanList[0]);">
	                <div class="col-md-4">
	                 <div class="form-group">
						<label>Email</label>
	                	<input type="email" class="form-control flat-control-inner" name="expense-name" style="margin-bottom: 0px;" required="" placeholder="Email"  ng-model="EmailConfigBeanList[0].emailId">
	                </div>
	                </div>
	                
	                <div class="col-md-4">
	                 <div class="form-group">
	                	<label>Password</label>
	                    <input type="text" class="form-control flat-control-inner" name="expense-name" style="margin-bottom: 0px;" required="" placeholder="Password" ng-model="EmailConfigBeanList[0].password">
	                 </div>
	                </div>
	                
	                <div class="col-md-12">
		               <div class="act-btn new">
                   		 <button type="submit" class="btn btn-default btn-bluer" id="create_slot-btn" >Submit</button>
                    	 <a ui-sref="restricted.admin.emailtypes">Cancel</a>
                	   </div> 
	                </div>
	               </form>
                </div>
                
            </div>
            
            <div id="access_rights" class="tab-pane fade in active" ng-show="approverTabFlag == 2">
                 <!-- <div class="addmore_email" style="float: left;">
                  <button type="button" class="btn btn-default btn-round-add" data-target="#add_more_mails" data-toggle="modal"><i class="icon-plus"></i></button><p class="expense-heading">Add More</p>
                </div> -->
               <!--  <div class="act-btn">
                    <button type="submit" class="btn btn-default btn-bluer" id="create_slot-btn">Submit</button>
                    <a href="">Cancel</a>
                </div> -->
                <div class="mail-setting-sec">
                <div class="col-md-3">
                        <div class="form-group">
								<label for="status" class="">Mail From</label>
							    <select class="form-control flat-control-search mar-bottom-zero" id="openinterview" ng-model="email.id" ng-change="selectedList(email.id)" >
            				    <option value="" class="" selected="selected">--Please Select--</option>
            				   <option data-ng-repeat="b in EmailTypeAssignToBeanList" value="{{b.id}}"
								ng-selected="email.id==b.id" >{{b.emailType}}</option>
            					</select>
              			</div>
               </div>
               <div class="col-md-1">
               	<div class="button-group">
            		<button class="btn btn-default btn-create" id="create-job-btn"  data-toggle="modal" data-target="#add_email_doc"style="margin-top:50%;" title="Add Email Type" ng-click="emailConfigBean.name = '' ;emailConfigBean.retentionDays= '' " ><i class="icon-plus"></i></button>
            	</div>
               </div>
               <!-- <div class="clearfix"></div> -->
               <div class="col-md-8">
             	  	<div class="alert-msg">
	                 	 <label id="available_label" style="display: none; style="padding-left: 10px;">Available To</label>
		                  <div class="prefill" style="display: block;width: 100%;" >
			                  <div class="col-md-4 assign-sec-new" ng-repeat="r in email.emailTypeRoleMapBeanList">
				                  <div class="chckbx-cntnr" >
				                      <input type="checkbox" id="notify{{r.id}}" name="check" class="flashadmin" ng-model="r.check">
				                      <label class="cstmchk_lbladmin" for="notify{{r.id}}">
				                      <p class="vali-sub-head1">{{r.roleName}}</p>
				                    </label> 
				                  </div>
			                  </div>
			            </div>
                	</div>
             	  </div>
             	 
             	 <div class="clearfix"></div> 
             	 <div class="col-md-4">
             	 <div class="" style="margin: 5% 0;">
                    <button type="submit" class="btn btn-default btn-bluer" id="create_slot-btn" ng-click="updateEmailTypeRoleMap(email.id,offset,limit,null,null);">Add</button>
                    <a ui-sref="restricted.admin.emailtypes">Cancel</a>
                </div>
             	 </div>
           </div> 
                
         <div class="button-group">
           <button class="btn btn-default btn-delete" ng-click="check()" data-toggle="modal"><i class="icon-trash-2"></i></button>
          </div>
          
         <div class="table-cntnr" style="margin:10px 0px;">
          <table class="table table-striped red-table">
            <caption>Access Rights</caption>
            <thead>
              <tr>
                <th>
                  <!-- <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="rd" name="check" class="flash">
                      <label class="cstmchk_lbl" for="rd"></label> 
                    </div> -->
                    
                      <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="rd" name="check" class="flashadmin" ng-click="checkedAllList(fetchEmailTypeAssignToBeanListupdate,all);" ng-model="all">
                      <label class="cstmchk_lbladmin" for="rd"></label> 
                    </div>
                    
                </th>
                <th>Email Types<i ng-click="SortingByEmailId('EmailTypes')" class="fa fa-sort" aria-hidden="true" style="font-size:12px;"></th>
                <th>Rights</th>
                <th>Retention Days</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="b in fetchEmailTypeAssignToBeanListupdate">
                <td>
                 <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="checkid{{$index}}" name="check" class="flashadmin" ng-click="checkedList1(b.id);" ng-checked="all">
                      <label class="cstmchk_lbladmin" for="checkid{{$index}}"></label> 
                    </div>
                </td>
                <td>{{b.emailType}}</td>
               <!--  <td><div ng-repeat="r in b.emailTypeRoleMapBeanList"><h4 ng-if="r.check===true">{{r.roleName}}</h4></div></td> -->
                <td>{{b.assignedString}}</td>
                <td style="text-align: center;"><a data-toggle="modal" ng-click="setlistidRetentionDays(b)">{{b.retentionDays}}</a></td>
                <!-- <td>{{b.retentionDays}}</td> -->
              </tr>
              </tbody>
          </table>
        </div>
        
          <div class="text-right">
            
            <ul class="pagination" style="margin-top: 0;">
			<li><a ng-hide="start == 0" ng-click="previous()">&laquo;</a>
			<li ng-repeat="i in navButtons" ng-class="$parent.offset == i * $parent.limit && 'active'"><a class="" ng-click="current(i)">{{i+1}}</a></li>
			<li><a ng-hide="(((start+5)*10) + 10) >= count" ng-click="next()">&raquo;</a></li>
			</ul>
 
            </div>
        
        
        
       <!--  <div class="text-right">
                           <ul class="pagination" style="margin-top: 0;">
                              <li><a ng-hide="start == 0" ng-click="previous()">&laquo;</a>
                              <li ng-repeat="i in navButtons"
                                 ng-class="$parent.offset == i * $parent.limit && 'active'"><a
                                 class="" ng-click="current(i)">{{i+1}}</a></li>
                              <li><a ng-hide="(((start+5)*10) + 10) >= count"
                                 ng-click="next()">&raquo;</a></li>
                           </ul>
                        </div>
            </div> -->
            
        </div>
            
        
        </div>
       </div>
       
       <div class="modal fade" id="add_email_doc" role="dialog">
          <div class="modal-dialog modal-sm add-brand">
          
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">X</button>
                <h4 class="modal-title">Add Email Details</h4>
              </div>
               <form id="BrandAdd" ng-submit="addNewEmail(emailConfigBean)">
              <div class="modal-body">
                 
                  <p>Enter Email Id:</p>
                   <div class="form-group">
                    <input type="email" name="brand-name" class="brand-name" ng-model="emailConfigBean.name" required>
                 </div>
                
					<p>Retention Days:</p>
			      <div class="form-group">
			           <input type="number" min="1" class="brand-name" ng-model="emailConfigBean.retentionDays" required>
			       </div>
			                


                 <div class="form-group text-right">
                  <button id="brandbtn" type="submit" class="btn-info add_brand">Add </button>
                  
                </div>
             
              </div>
             </form>
            </div>
            
          </div>
      </div>
      
      
       <div id="deletelist" class="modal fade" role="dialog">
  	<div class="modal-dialog modal-sm add-brand">

    <!-- Modal content-->
	    <div class="modal-content flat-modal">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">x</button>
	        <h4 class="modal-title common-title" style="margin-left: 0;">Delete Record</h4>
	      </div>
	      <div class="modal-body flat-body">
	          <div class="clearfix" ></div>
	        Are you sure want to delete  {{getCheckedId.length}} records?
	      <div class="modal-footer text-left">
	        <button type="button" class="btn btn-default" data-dismiss="modal" id="show_ass" ng-click="deleteEmailTypeLogs();">Delete</button>
	        <a class="btn btn-link" data-dismiss="modal" >Cancel</a>
	      </div>
	    </div>
	   </div>
    </div>
   </div>
   
    <div class="modal fade" id="add_Days" role="dialog">
          <div class="modal-dialog modal-sm add-brand">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">X</button>
                <h4 class="modal-title">Add Retention Days</h4>
              </div>
              <div class="modal-body">
                <form id="BrandUpdate">
                  <p>Retention Days:</p>
                  <div class="form-group">
                    <input type="number" name="brand-name" class="brand-name" ng-model="retentionDays">                     
                 </div>
                 <div class="form-group text-right">
                  <button type="submit" id="btnupdate" class="btn-info add_brand" ng-click="retentionDaysUpdate(retentionDays)">Add</button>
                </div>
               </form>
              </div>         
            </div>            
          </div>   