<div id="main-content">
  <div class="tab-content">
      
    <div id="owner" class="tab-pane fade in active">
      <div class="section-heading">
        <h4>Documents Upload</h4>
      </div>
      <div class="section-content" id="list-uploaded-files">
        <div class="upper-actions">
       <!--  <div class="col-md-1" style="padding:0;">
        	<div class="button-group">
           		 <button class="btn btn-default btn-delete" ng-click="check();"><i class="icon-trash-2" data-target="#deletelist"></i></button>
          	</div>
        </div> -->
          <div class="col-md-4 col-lg-4" style="padding: 0;">
              <div class="addfiles-btn">
                  <a ui-sref="restricted.uploaddocs" target="_blank"><button class="btn btn-add-files new"><i class="fa fa-plus-circle" style="font-size: 20px;"></i>  Add Files</button></a>
                  <a ui-sref="restricted.admin.uploaddoclog" ><button class="btn btn-configuration">Document Log</button></a>
              </div>
              
          </div>
          <div class="col-md-1 col-lg-1">
            
          </div>
          <div class="col-md-7 col-lg-7">
            <div class="srch-uppr" style="float: right;">
                <div class="addfiles-btn" id="documents-upload-configur">
                    <a ui-sref="restricted.admin.document_type"><button class="btn btn-configuration"><i class="fa fa-cog" style="font-size: 20px;"></i>  Configuration</button></a>
              </div>
            <div class="button-group" style="text-align: right;display: inline-block;padding-left: 10px;">
               <button class="btn btn-default btn-create" id="create-report-btn" style="background:#1fa67a;" ng-click="generateExcel()"><i class="fa fa-file-excel-o"></i></button>
            </div>
          <div class="search-cntnr" style="float: initial;">
            <div class="form-group search-box">
              <input type="text" name="" class="form-control flat-control-search" ng-model="searchterm" ng-keyup="searchOnEnter($event,searchterm)">
              <i class="icon-search" ng-click="fetchDocumentList(0,10,null,null,searchterm);fetchDocumentListCount(searchterm)"></i>
            </div>
          </div>
          <div class="button-group postion-relative" style="padding-left: 10px;">
            <button class="btn btn-default btn-create" style="margin-right: 0px;" data-toggle="dropdown"><i class="fa fa-check-square-o"></i></button>
             <ul class="dropdown-menu selection-column" style="overflow:auto;width: 100%;">
						 <li>
						  	<div class="chckbx-cntnr zeromargin">
						     <input type="checkbox" id="app1" name="check" class="flashadmin" ng-click="selectAllColoumns(colcheck);savesettings()" ng-model="colcheck">
						     <label class="cstmchk_lbladmin"  for="app1"></label><label for="app1" class="table-label">Select All</label> 
						   </div>
						  </li>
						  <li ng-repeat="c in columnlist">
						  	<div class="chckbx-cntnr zeromargin" ng-if="c.name=='Emp Number' || c.name=='Emp Name' || c.name=='File Name'">
						     <input type="checkbox"  id="column{{$index}}" name="check" ng-model="c.isActive" class="flashadmin" ng-click="savesettings()" disabled>
						     <label class="cstmchk_lbladmin"  for="column{{$index}}"></label><label for="column{{$index}}" class="table-label">{{c.name}}</label> 
						   </div>
						   <div class="chckbx-cntnr zeromargin" ng-hide="c.name=='Emp Number' || c.name=='Emp Name' || c.name=='File Name'">
						     <input type="checkbox"  id="column{{$index}}" name="check" ng-model="c.isActive" class="flashadmin" ng-click="savesettings()">
						     <label class="cstmchk_lbladmin"  for="column{{$index}}"></label><label for="column{{$index}}" class="table-label">{{c.name}}</label> 
						   </div>
						  </li>
						  
			</ul>
          </div>
        </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="table-cntnr">
          <table class="table table-striped red-table">
            <caption>Uploaded Files</caption>
            <thead>
              <tr>
                <th>
                  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="rd" name="check" class="flashadmin" ng-click="checkedAllList(documentList,all);" ng-model="all">
                      <label class="cstmchk_lbladmin" for="rd"></label> 
                    </div>
                </th>
               <!--  <th style="vertical-align: middle;min-width: 135px;" >#</th> -->
                <th style="vertical-align: middle;min-width: 95px;" ng-show="activeColumn('Emp Number')">Emp Number<i class="fa fa-sort" aria-hidden="true" ng-click="SortingDocumentList('d_emp_id',searchterm)"></i></th> 
                <th style="vertical-align: middle;min-width: 125px;" ng-show="activeColumn('Emp Name')">Emp Name<i class="fa fa-sort" aria-hidden="true" ng-click="SortingDocumentList('NAME',searchterm)"></i></th>
                <th style="vertical-align: middle;min-width: 95px;" ng-show="activeColumn('File Name')">File Name <i class="fa fa-sort" aria-hidden="true" ng-click="SortingDocumentList('d_filename',searchterm)"></i></th>
                <th style="vertical-align: middle;min-width: 145px;" ng-show="activeColumn('File Type')">File Type<i class="fa fa-sort" aria-hidden="true" ng-click="SortingDocumentList('fileType',searchterm)"></i></th>
                <th style="vertical-align: middle;min-width: 135px;" ng-show="activeColumn('Upload Date')" >Upload Date <i class="fa fa-sort" aria-hidden="true" ng-click="SortingDocumentList('d_created_on',searchterm)"></i></th>
                
                
                <th style="vertical-align: middle;">Download</th>  
                <th style="vertical-align: middle;">View</th> 
                <!--  <th style="vertical-align: middle;min-width: 135px;" ng-show="activeColumn('Expiry Date')" >Expiry Date <i class="fa fa-sort" aria-hidden="true"></i></th> -->
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="document in documentList">
                <td>
                  <div class="chckbx-cntnr zeromargin">
                      <input type="checkbox" id="checkid{{$index}}" name="check" class="flashadmin" ng-click="checkedList(document.id);" ng-checked="all">
                      <label class="cstmchk_lbladmin" for="checkid{{$index}}"></label> 
                    </div>
                </td>
               <!--  <td><a data-toggle="modal" data-target="#email-info-modal"
							style="cursor: pointer;" >#{{$index+1}}</a></td> -->
				<td ng-show="activeColumn('Emp Number')" >{{document.emp_id}}</td>
                <td ng-show="activeColumn('Emp Name')">{{document.firstName}}</td>
                <td ng-show="activeColumn('File Name')">{{document.filename}}</td>
                <td ng-show="activeColumn('File Type')">{{document.fileType}}</td>
                <!-- <td ng-show="activeColumn('Upload Date')">{{dateformate(document.created_on)}}</td> -->
                <td ng-show="activeColumn('Upload Date')">{{dateformatte(document.dispalyCreatedOnDate) | date:'dd-MM-yyyy hh:mm a'}}</td>
                <td><i class="fa fa-download" ng-click="download(document.url)" style="font-size: 20px; padding-right:5px; color: #00aeef; cursor:pointer"></i>
                		<!-- <i class="fa fa-eye" style="font-size: 20px; color:#1fa67a; cursor:pointer"></i> -->
                
                </td>
                <td> <button class="btn btn-default btn-create" id="create-job-btn" ng-click="PreviewDownload(document.url)" data-toggle="modal"  data-target="#preview-screen-for-user"><i class="fa fa-eye"></i></button></td>  
                 <!-- <td><a data-toggle="modal" data-target="#add_expiry_date" ng-click="setlistid(document)">{{dateformate(document.expiryDate)}}</a> </td> -->
                <!--   <td ng-show="activeColumn('Expiry Date')" style="text-align: center;" data-toggle="modal" data-target="#add_expiry_date">
                <a ng-if="document.expiryDate != undefined" ng-click="setlistid(document)">{{dateformate(document.expiryDate)}}</a>
                <a ng-if="document.expiryDate == undefined" ng-click="setlistid(document)">No Date</a>
                </td> -->
              </tr>
              </tbody>
          </table>
          <div class="text-right">
            <ul class="pagination" style="margin-top: 0;">
				<li><a ng-hide="start == 0" ng-click="previous()">&laquo;</a>
				<li ng-repeat="i in navButtons" ng-class="$parent.offset == i * $parent.limit && 'active'"><a class="" ng-click="current(i)">{{i+1}}</a></li>
				<li><a ng-hide="(((start+5)*10) + 10) >= count" ng-click="next()">&raquo;</a></li>
			</ul>
          </div>
        </div>
        </div>
      <div>
    </div>
 </div>
 <div id="deletelist" class="modal fade" role="dialog">
  	<div class="modal-dialog modal-sm add-brand">

    <!-- Modal content-->
	    <div class="modal-content flat-modal">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">X</button>
	        <h4 class="modal-title common-title" style="margin-left: 0;">Delete Record</h4>
	      </div>
	      <div class= "modal-body flat-body">
	          <div class="clearfix" ></div>
	        Are you sure want to delete  {{getCheckedId.length}} records?
	      <div class="modal-footer text-left">
	        <button type="button" class="btn btn-default" data-dismiss="modal" id="show_ass" ng-click="deleteFileLogs();">Delete</button>
	        <a class="btn btn-link" data-dismiss="modal" >Cancel</a>
	      </div>
	    </div>
	   </div>
    </div>
   </div>
   
    <!-- -----------------------------------------PreView btn---------------------------------------------------- -->
    
<div class="modal fade" id="preview-screen-for-user" role="dialog">
         <div class="modal-dialog modal-md add-brand">
           <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">X</button>
               <h4 class="modal-title">Document</h4>
             </div>
             <div class="modal-body">
             <div  id="imagetab">
             <img ng-show="imageFlag == true" ng-src="{{fileurl}}" width="100%"  class="img-responsive" id="imgtab1">
              <iframe ng-show="pdfFlag == true"  ng-src="{{pdfDocPath}}" height="410px" width="100%" id="imgtab1"></iframe>
       <!-- <img width="100%" src="resources/img/Fake.jpg" class="img-responsive" id="imgtab1"> -->
       <!-- <iframe ng-show="pdfFlag == true" ng-src="{{pdfDocPath}}" height="410px" width="100%"></iframe>  -->
      </div>
             </div>            
           </div>
         </div>
     </div>


<!-- ------------------------------------------------------------------------------------------------------ -->
   
   <div class="modal fade" id="add_expiry_date" role="dialog">
          <div class="modal-dialog modal-sm add-brand">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">X</button>
                <h4 class="modal-title">Add Expiry Date</h4>
              </div>
              <div class="modal-body">
               <form id="maxDaysUpdate">
                  <p>Expiry Date :</p>
                  <div class="form-group">
                      <input type="text" name="" id="expiryDate1" class="form-control flat-control-inner dateonly" ng-model="expiryDate">                     
                 </div>
                 <div class="form-group text-right">
                  <button type="submit" id="btnupdate" class="btn-info add_brand" ng-click="addExpirydate()">Add</button>
                </div>
               </form>
              </div>             
            </div>            
          </div>   
      </div>
</div> 

    
 </div>
 
  <script type="text/javascript">
 
	  $('#add_expiry_date').on('focus',".dateonly", function(){ 
		 	$('.dateonly').datetimepicker({	    		
					 format: 'DD-MM-YYYY',
					 minDate:moment().subtract(1,'d'), 
		 	});
		 }); 
</script>