<style>
	#career-main {
		margin-top:70px;
	}
</style>


<div class="height-70"></div>
<section id="career-main">
	<div class="container">
		<div class="career-slide">
			<div>
				<img src="resources/img/crew-slider1.png">
			</div>
			<div>
				<iframe src="https://www.youtube.com/embed/1xHHgnV69PA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<div>
				<img src="resources/img/crew-slider2.png">
			</div>
			<div>
				<img src="resources/img/crew-slider1.png">
			</div>
			<div>
				<iframe src="https://www.youtube.com/embed/1xHHgnV69PA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<div>
				<img src="resources/img/crew-slider2.png">
			</div>
			<div>
				<img src="resources/img/crew-slider1.png">
			</div>
			<div>
				<iframe  src="https://www.youtube.com/embed/1xHHgnV69PA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<div>
				<img src="resources/img/crew-slider2.png">
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="carrer-box">
					<div>
						<h4>Congratulation ! your interview is schedule for 23/12/2018 at 9.30 AM</h4>
					</div>
					<div>
						<h5>
							Cancel your Slot
						</h5>
					</div>
					<div>
						<button class="btn ">
							Start
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="career-slide">
			<div>
				<img src="resources/img/crew-slider1.png">
			</div>
			<div>
				<iframe src="https://www.youtube.com/embed/1xHHgnV69PA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<div>
				<img src="resources/img/crew-slider2.png">
			</div>
			<div>
				<img src="resources/img/crew-slider1.png">
			</div>
			<div>
				<iframe src="https://www.youtube.com/embed/1xHHgnV69PA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<div>
				<img src="resources/img/crew-slider2.png">
			</div>
			<div>
				<img src="resources/img/crew-slider1.png">
			</div>
			<div>
				<iframe  src="https://www.youtube.com/embed/1xHHgnV69PA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<div>
				<img src="resources/img/crew-slider2.png">
			</div>
		</div>
	</div>
</section>

<script>
	$('.career-slide').slick({
  infinite: true,
  slidesToShow: 3,
  slidesToScroll: 3,
  autoplay:false,
  arrows:false
});
</script>