<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<style>
.config-content {
    margin-left: 250px;
}
.create-req-btn a{
	color: #00aeef !important;
}
.date-cal input{
	position:relative;
}
.date-cal i {
    position: absolute;
    font-size: 20px;
    top: 32px;
    right: 25px;
    cursor: pointer;
}
</style>
</head>
<body ng-controller="CreateCrewDeploymentRequisition_Ctrl">
	
	<div class="config-content">
		<div class="section-heading">
			<h4>Create Requisition</h4>
		</div>
			
		<div class="inner-form">
			<form ng-submit="saveOrUpdateCrewDeployRequisition(credeployrequisitionstn)">
				<div class="row" id="formdata">
					<div class="col-md-4">
						<div class="form-group">
							<label>Requisition Name*</label>
							<input type="text" class="form-control flat-control-inner" id="name" value="credeployrequisitionstn.name"  ng-model="credeployrequisitionstn.name" required oninvalid="this.setCustomValidity('Please enter information in this field')" oninput="setCustomValidity('')">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label>Brand*</label>
							<select ng-disabled="crewDeployRequisitionFlag" class="form-control flat-control-inner with-caret"  ng-change="fetchshipbybrand(credeployrequisitionstn.brand_id)"
							ng-model="credeployrequisitionstn.brand_id"  
		                    ng-options="cl.id as cl.brandName for cl in brandsList" required>
		                    <option value="">--Select--</option>
                    
                  			</select>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label>Department*</label>
							<select  ng-disabled="crewDeployRequisitionFlag" class="form-control flat-control-inner" ng-change="fetchpositonbydipartment(credeployrequisitionstn.category_id)"
		                    ng-model="credeployrequisitionstn.category_id" ng-options="cl.id as cl.name for cl in categoryList" required>
		                    <option value="">--Select--</option>
		                    </select>
					    </div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label>Position*</label>
							<select  ng-disabled="crewDeployRequisitionFlag" class="form-control flat-control-inner" 
							ng-model="credeployrequisitionstn.position_id"   
			                  		ng-options="cl.id as cl.positonname for cl in positionbydepartment" required>                  
			                   		 <option value="">--Select--</option>
			                </select>
					     </div>
					 </div>
					<div class="col-md-4">
						<div class="form-group">
							<label>No. of Candidates*</label>
							<input type="number" min="1"  class="form-control flat-control-inner" id="no_of_candidate" value="credeployrequisitionstn.no_of_candidates"  ng-model="credeployrequisitionstn.no_of_candidates" required oninvalid="this.setCustomValidity('Please enter information in this field')" oninput="setCustomValidity('')">
             			</div>
					</div>
				         
				   	<div class="col-md-4">
			    		<div class="form-group">
		            		<label>Ship*</label>
		                	<select  ng-disabled="crewDeployRequisitionFlag" class="form-control flat-control-inner" ng-model="credeployrequisitionstn.ship_id"   
			                  		ng-options="cl.id as cl.shipName for cl in shipbybrand" required>                  
			                   		 <option value="">--Select--</option>
			                </select>
			           	</div>
			         </div>
				
			         <div class="col-md-4">
						<div class="form-group">
						  	<label>Port of joining*</label>
						  	<input type="text" class="form-control flat-control-inner" id="port" value="credeployrequisitionstn.port"  ng-model="credeployrequisitionstn.port" required oninvalid="this.setCustomValidity('Please enter information in this field')" oninput="setCustomValidity('')">
						</div>
			         </div>
				     <div class="col-md-4">
				     	<div class="form-group date-cal">
				            <label>Expected Joining Date*</label>
				            <input type="text"  class="form-control flat-control-inner dateonly2" id="joining_date" value="credeployrequisitionstn.joining_date"  ng-model="credeployrequisitionstn.joining_date" required oninvalid="this.setCustomValidity('Please enter information in this field')" oninput="setCustomValidity('')">
						    <i class="fa fa-calendar-o" aria-hidden="true"></i>
				        </div>
				     </div>
				</div>
			    <div class="btn-cntnr create-req-btn">
					 <button class="btn btn-default btn-bluer" ng-if="!crewDeployRequisitionFlag" type="submit" id="save-req-btn">Save</button>
		              <button class="btn btn-default btn-bluer" ng-if="crewDeployRequisitionFlag" type="submit" id="save-req-btn" >Update</button>
		             <button class="btn btn-default btn-bluer" ng-if="!crewDeployRequisitionFlag" ng-click="TriggerCDRequisition()" id="save-trigger-btn">Save and Trigger</button>             
		             <button class="btn btn-default btn-bluer" ng-if="crewDeployRequisitionFlag" ng-click="TriggerCDRequisition()" id="update-trigger-btn">Update and Trigger</button>             
					<a ng-click="cancel()" href="">Cancel</a>
            	</div>
			</form>
		</div>
	</div>
<script type="text/javascript">
 			$(function () {
                $('.dateonly').datetimepicker({
                   format: 'DD-MM-YYYY',
                   useCurrent: false
                });
            });
 			
 			$('#formdata').on('focus', ".dateonly2", function() {
 				$(this).datetimepicker({
 				format : 'DD-MM-YYYY',
 				//useCurrent : false,
 				minDate:new Date()     
 				}).on('dp.change', function(e) {
 				$(this).change()
 				});
 				});

</script>

</body>
</html>