<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
.report-content{
	margin-left: 250px;
}

.report-inner-head{
	display: flex; 
	flex-direction: row; 
	justify-content: space-between;
}
.middle-action{
	width: 98.5%;
	display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
}
.red-table .Acceptgreen{
	color: #5cb85c;
}
.red-table .Declinered{
	color:red;
}

/*------------pagination css--------------------------*/
.text-right{
	margin:12px 0;
}
.pagination{
	margin-top: 0;
}
.pagination li:first-child{
	display:none;
}
</style>
</head>
<body>
	
	<div class="report-content">
		<div class="section-heading conf-heading">
			<h4>Reports</h4>
		</div>
		
		<div class="section-content">	
			<div class="inner-head report-inner-head">
	            <h4 style="padding: 10px 0px;">Commis for Carnival Cruise Line</h4>
				<button type="button" class="btn btn-default bigblue-btn">Back</button>
	        </div>
          
			<div class="middle-action">
				<div class="col-md-3">
					<h4>Req. Code:</h4>
					<p>CruiseLine_AML_24</p>
				</div>
				<div class="col-md-4">
					<h4>Position:</h4>
					<p>1st Commis</p>
				</div>
				<div class="col-md-4">
					<h4>Brand:</h4>
					<p>Carnival Cruise Line</p>
				</div>
			                                                                    
				<div class="middledata" style=" margin-top: 20px; margin-bottom: 20px;">
					<div class="col-md-3">
						<h4>Ship:</h4>
						<p>Amul ship</p>
					</div>
					<div class="col-md-4">
						<h4>Port of Joining:</h4>
						<p>Mumbai</p>
					</div>
					<div class="col-md-4">
						<h4>Expected Joining Date:</h4>
						<p>10-12-2021</p>
					</div>
				</div>
			</div>
	    
	    	<div class="table-responsive">
				<table class="table table-striped red-table">
					<caption>Details</caption>
					<thead>
						<tr>                
			                <th style="min-width: 150px;vertical-align: middle;">First Name</th>
			                <th style="min-width: 94px;vertical-align: middle;">Last Name</th>				
			                <th style="min-width: 150px;vertical-align: middle;">Emp No.</th>
			                <th style="min-width: 100px;vertical-align: middle;">Email</th>
							<th style="min-width: 213px;vertical-align: middle;">Details</th>
							<th style="min-width: 213px;vertical-align: middle;">Acceptance status </th>
							<th style="min-width: 213px;vertical-align: middle;">Acceptance Date</th>
							<th style="min-width: 180px;vertical-align: middle;">Approver status </th>
							<th style="min-width: 180px;vertical-align: middle;">Approved By</th>
							<th style="min-width: 213px;vertical-align: middle;">Approved Date</th>
							<th style="min-width: 220px;vertical-align: middle;">Comments</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Aditya</td>
							<td>Yadav</td>
							<td>E121</td>
							<td>aditya121@gmail.com</td>
							<td>Internal server error</td>
							<td class="Acceptgreen">Accept</td>
							<td>03/02/2022</td>
							<td class="Acceptgreen">Accept</td>
							<td>Admin</td>
							<td>04/02/2022</td>
							<td> </td>
						</tr>
						<tr>   
							<td>Ashmita</td>
							<td>Biya</td>
							<td>E122</td>
							<td>ashmita122@gmail.com</td>
							<td>Emp Id missing</td>
							<td class="Declinered">Decline</td>
							<td>02/01/2022</td>
							<td>NA</td>
							<td>NA</td>
							<td>NA</td>
							<td> </td>
						</tr>
						<tr>  
							<td>Priyanka</td>
							<td>Jangir</td>
							<td>E123</td>
							<td>priyanka123@gmail.com</td>
							<td>Internal server error</td>
							<td class="Acceptgreen">Accept</td>
							<td>23/02/2022</td>
							<td class="Acceptgreen">Accept</td>
							<td>Admin</td>
							<td>24/02/2022</td>
							<td> </td>
						</tr>
						<tr>
							<td>Sushmita</td>
							<td>Biya</td>
							<td>E124</td>
							<td>sushmita124@gmail.com</td>
							<td>Last Name missing</td>
							<td class="Acceptgreen">Accept</td>
							<td>07/03/2022</td>
							<td class="Acceptgreen">Accept</td>
							<td>Admin</td>
							<td>08/03/2022</td>
							<td> </td>
						</tr>
						<tr>
							<td>Vicky</td>
							<td>Pal</td>
							<td>E231</td>
							<td>vicky231@gmail.com</td>
							<td>Emp Id missing</td>
							<td class="Acceptgreen">Accept</td>
							<td>16/02/2022</td>
							<td class="Declinered">Reject</td>
							<td>Admin</td>
							<td>17/02/2022</td>
							<td>Rejection comment</td>
						</tr>
					</tbody>
				</table>
         	</div>         	
	    </div>	    
	</div>
</body>
</html>