<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<style>
.config-content {
    margin-left: 250px;
}

.add-download-btn {
    width: 15%;
}	
.button-group{
	padding-top: 25px;
}
.search-box{
	margin-top: 24px;
}
.date-cal input{
	position:relative;
}
.datepicker-background{
	position:relative;
} 
.datepicker-background:after{
	content: "\f133"; 
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	position: absolute;
	font-size: 20px;
	color: #000;	
	z-index: 1;
	top:28px;
	right:10px;
	cursor: pointer;
}
.date-cal i {
    position: absolute;
    font-size: 20px;
    top: 32px;
    right: 25px;
    cursor: pointer;
}
.text-right{
	margin:12px 0;
}
.pagination{
	margin-top: 0;
}
.pagination li:first-child{
	display:none;
}
.filter-div{
	width: 13.666667% !important;
}
.last-btn-col{
	width: 4.666667% !important;
    padding-left: 0px;
}
.red-table .Acceptgreen{
	color: #5cb85c;
}
.red-table .Declinered{
	color:red;
}
.requisition-list-log{
	width: 90%;
}
</style>
</head>
<body ng-controller="CrewDeploymentRequisitionList_Ctrl">
	<div class="config-content">
		<div class="tab-content">
			<div class="section-heading conf-heading">
				<h4>Requisition List</h4>
			</div>
			<div class="section-content">
				<div class="upper-actions">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-1 add-download-btn">
							    <div class="button-group">
							    	<button class="btn btn-default btn-create" ng-click="createCrewDeployRequisitionPage()"><i class="icon-plus"> </i><a href=""></a></button>
							    	<button class="btn btn-default btn-delete" ng-click="checkifRequisitionSelected()"><i class="icon-trash-2"></i></button>
							    </div>
							    <div class="button-group excel-download">
			                    	<button class="btn btn-default btn-create"  style="background:#1fa67a;" ng-click="generateExcel()"><i class="fa fa-file-excel-o"></i></button>
			                	</div>
							</div>
							<div class="col-md-2">
								<div class="form-group date-cal datepicker-background">
							       	<label>From Date:</label>
							       	<input type="text" id="fromdate" ng-model="fromDate" class="form-control flat-control-inner dateonly">
							       	
							     </div>
							</div>
							<div class="col-md-2">
								<div class="form-group date-cal datepicker-background">
							      	<label>To Date:</label>
							      	<input type="text" id="todate" ng-model="toDate" class="form-control flat-control-inner dateonly">
							      	
								</div>
							</div>
							
							<div class="col-md-2">
								<div class="form-group">
									<label>Filter By Brand Name</label>							        
							    	<select class="form-control flat-control-inner"  id="brandId" ng-model="b.id" 
							    	ng-options="b.id as b.brandName for b in brandsList ">
								    	<option value="">--Select--</option>
							    	</select>
							    </div>
							</div>
							<div class="col-md-2 filter-div">
					    		<div class="button-group" style="/* margin: 26px 0px 0px 0px; */">
			              			<button class="btn btn-default btn-create" ng-click="filterCrewDeployRequisitionList(0,10,null,null,b.id,fromDate,toDate);getCrewDeployRequisitionCount(b.id,fromDate,toDate);triggerFilter()">
			              			<i class="fa fa-filter" id="brandId"></i></button>
									<a ng-show='displayClearFilter' ng-click="cancel()"> Clear Filter </a>
						    	</div>
              				</div>
							<div class="col-md-2">
								<div class="search-cntnr" style="	">
									<div class="form-group search-box">
										<input type="text" name="" class="form-control flat-control-search" style="" id="id_of_textbox" ng-model="searchterm">
										<i class="icon-search" id="id_of_button" ng-click="fetchCrewDeployRequisitionList(0,10,null,null,searchterm,fromDate,toDate);getCrewDeployRequisitionCount(searchterm,fromDate,toDate)"></i>
									</div>
								</div>
							</div>
							<div class="col-md-1 last-btn-col">
								<div class="button-group">
									<button class="btn-default btn-create icon-navigation1 dropdown-toggle" data-toggle="dropdown" id="create-req-btn"><i class="fa fa-check-square-o"></i></button>	
									 <ul class="dropdown-menu selection-column" style="overflow:auto;width: 100%;left: -73px;">
						 <li>
						  	<div class="chckbx-cntnr zeromargin">
						     <input type="checkbox" id="app11" name="check" class="flashadmin" ng-click="selectAllColoumns(colcheck);savesettings()" ng-model="colcheck">
						     <label class="cstmchk_lbladmin"  for="app11"></label><label for="app11" class="table-label">Select All</label> 
						   </div>
						  </li>
						   <li ng-repeat="c in columnlist">
						   <div class="chckbx-cntnr zeromargin" ng-if="c.name=='Brand' || c.name=='No. of Candidates' || c.name=='Req. Name'">
						     <input type="checkbox"  id="column{{$index}}" name="check" ng-model="c.isActive" class="flashadmin" ng-click="savesettings()" disabled>
						     <label class="cstmchk_lbladmin"  for="column{{$index}}"></label><label for="column{{$index}}" class="table-label">{{c.name}}</label> 
						   </div>
						  	<div class="chckbx-cntnr zeromargin" ng-hide="c.name=='Brand' || c.name=='No. of Candidates' || c.name=='Req. Name'">
						     <input type="checkbox"  id="column{{$index}}" name="check" ng-model="c.isActive" class="flashadmin" ng-click="savesettings()">
						     <label class="cstmchk_lbladmin"  for="column{{$index}}"></label><label for="column{{$index}}" class="table-label">{{c.name}}</label> 
						   </div>
						  </li>
						</ul>					
								</div>
							</div>
						</div>
					</div>
				</div>
			
				<div class="table-responsive"  >
					<table class="table table-striped red-table Requisition-red-table">
						<caption>List of Requisition</caption>
						<thead>
							<tr>
							   <th style="vertical-align: middle;">
				                 <div class="chckbx-cntnr zeromargin">
				                    <input type="checkbox" id="rd" name="check" class="flashadmin" ng-click="checkedAllList(crewdeployrrequisitionList,all)" ng-model="all">
				                    <label class="cstmchk_lbladmin" for="rd"></label> 
				                  </div>
				              </th>
								<th style="min-width: 80px;vertical-align: middle;" ng-show="activeColumn('Req. Name')">Req. Name <i class="fa fa-sort" aria-hidden="true" ng-click="SortingCrewRequisitionList('Req. Name',searchterm,fromDate,toDate)"></i></th>
								<th style="min-width: 7px;vertical-align: middle;" ng-show="activeColumn('Req. Code')">Req. Code <i class="fa fa-sort" aria-hidden="true" ng-click="SortingCrewRequisitionList('Req. Code',searchterm,fromDate,toDate)"></i></th>
								<th style="min-width: 120px;vertical-align: middle;" ng-show="activeColumn('Position')">Position <i class="fa fa-sort" aria-hidden="true" ng-click="SortingCrewRequisitionList('Position',searchterm,fromDate,toDate)"></i></th>
								<th style="min-width: 80px;vertical-align: middle;" ng-show="activeColumn('Brand')">Brand <i class="fa fa-sort" aria-hidden="true" ng-click="SortingCrewRequisitionList('Brand',searchterm,fromDate,toDate)"></i></th>
								<th style="min-width: 100px;vertical-align: middle;" class="" ng-show="activeColumn('Ship')">Ship <i class="fa fa-sort" aria-hidden="true" ng-click="SortingCrewRequisitionList('Ship',searchterm,fromDate,toDate)"></i></th> 
								<th style="min-width: 90px;vertical-align: middle;" class="" ng-show="activeColumn('Expected Joining Date')">Joining Date <i class="fa fa-sort" aria-hidden="true" ng-click="SortingCrewRequisitionList('Expected Joining Date',searchterm,fromDate,toDate)"></i> </th>
								<th style="min-width: 70px;vertical-align: middle;" class="" ng-show="activeColumn('Approval status')">Approval Status<i class="fa fa-sort" aria-hidden="true" ng-click="SortingCrewRequisitionList('Approval status',searchterm,fromDate,toDate)"></i> </th>
								<th style="min-width: 70px;vertical-align: middle;" class="" ng-show="activeColumn('Acceptance status')">Acceptance Status <i class="fa fa-sort" aria-hidden="true" ng-click="SortingCrewRequisitionList('Acceptance status',searchterm,fromDate,toDate)"></i> </th>
								<th style="min-width: 100px;vertical-align: middle;" class="" ng-show="activeColumn('Action')">Action<i aria-hidden="true" ng-click="SortingCrewRequisitionList('Action',searchterm,fromDate,toDate)"></i> </th>
								<th style="min-width: 70px;vertical-align: middle;" class="">Log <i aria-hidden="true"></i> </th>
							</tr>
						</thead>
						<tbody ng-if="crewdeployrrequisitionList.length>0">
							<tr ng-repeat="j in crewdeployrrequisitionList">					                
				                <td>
				                <div class="chckbx-cntnr zeromargin">
				                    <input ng-if="j.status=='Started' || j.status=='Closed'" ng-disabled="j.status=='Started' || j.status=='Closed'" type="checkbox" id="{{j.id}}" name="check" class="flashadmin">
				                    <input ng-if="j.status=='Created' || j.status=='Closed'" type="checkbox" id="{{j.id}}" name="check" class="flashadmin" ng-click="checkedList(j.id,j.status)" ng-checked="all">
				                    <label class="cstmchk_lbladmin" for="{{j.id}}"></label> 
				                  </div>
				              </td>
				              <td><a ng-if="j.status=='Started' || j.status=='Closed'" ng-click="fetchCrewDeployRequisitionById(j.id)" class="disabled" ng-show="activeColumn('Req. Name')">{{j.name}}</a>
				              	  <a ng-if="j.status=='Created'" ng-click="fetchCrewDeployRequisitionById(j.id)" ng-show="activeColumn('Req. Name')">{{j.name}}</a>
				              </td>
				              <td ng-show="activeColumn('Req. Code')">{{j.code}}</td>
				              <td ng-show="activeColumn('Position')">{{j.positonname}}</td>
				              <td ng-show="activeColumn('Brand')">{{j.brandName}}</td>
				              <td ng-show="activeColumn('Ship')">{{j.shipName}}</td>
				              <td ng-show="activeColumn('Expected Joining Date')">{{j.joining_date}}</td>
				              <td ng-show="activeColumn('Approval status')">{{j.approved_count}} / {{j.no_of_candidates}}</td>
				              <td ng-show="activeColumn('Acceptance status')">{{j.accepted_count}} / {{j.no_of_candidates}}</td>
							 <td ng-show="activeColumn('Action')"><button ng-if="j.status=='Created'" ng-click="TriggerCDReqCommunication(j)" class="btnbtn-primary" style="background-color: #36d336; color: #fff; padding: 5px 16px; border-radius: 4px; border: none;" >Trigger Communication</button>
							  <button ng-if="j.status=='Started'" class="btnbtn-primary" style="background-color: #dddd66; color: #000; padding: 5px 16px; border-radius: 4px; border: none; opacity: 0.5; border: none; cursor: not-allowed;">Running</button>
							   <button ng-if="j.status=='Closed'" class="btnbtn-primary" style="background-color: red; color: #fff; padding: 5px 16px; border-radius: 4px; border: none; opacity: 0.5; border: none; cursor: not-allowed;">Closed</button></td>
							  
							  </td>
							   <td> <button class="btn btn-default btn-delete"  data-toggle="modal"   ng-click="fetchLogList(j.id,j)"><i class="fa fa-eye"></i></button></td>
							  
							  </tr>
							
							 
						</tbody>
						<tbody ng-if="crewdeployrrequisitionList.length==0" class="ng-scope" style="text-align: center;width: 100%;">
						<tr>
						<td colspan="15">
						<p style="/* text-align: center; */ /* vertical-align: middle; */ width: 100%;margin: 0 auto;display: block;align-items: center;">
						No Record Found
						</p>
						</td>
						</tr>
						</tbody>
					</table>
         		</div>
        		<div class="text-right">
	            <ul class="pagination" style="margin-top: 15px;">
				<li><a ng-hide="start == 0" ng-click="previous()">&laquo;</a>
				<li ng-repeat="i in navButtons" ng-class="$parent.offset == i * $parent.limit && 'active'"><a class="" ng-click="current(i)">{{i+1}}</a></li>
				<li><a ng-hide="(((start+5)*10) + 10) >= count" ng-click="next()">&raquo;</a></li>
				</ul>
 			</div> 
			</div>
		</div>	
	</div>  


	<div class="modal fade" id="req_log_modal" role="dialog">
          <div class="modal-dialog modal-lg add-brand requisition-list-log" style="">
            <div class="modal-content log-modal-height">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{RequisitionName}}</h4>
              </div>
              <div class="modal-body">
              	
              	<div class="middledata">
              		<div class="row">
						<div class="col-md-3">
							<h4>Req. Code:</h4>
							<p>{{RequisitionCode}}</p>
						</div>
						<div class="col-md-3">
							<h4>Position:</h4>
							<p>{{RequisitionPosition}}</p>
						</div>
						<div class="col-md-3">
							<h4>Brand:</h4>
							<p>{{RequisitionBrand}}</p>
						</div>
						<div class="col-md-3">
							<h4>Department:</h4>
							<p>{{RequisitionCategoryName}}</p>
						</div>
					</div>
			                                                                   
					<div class="row">
					<div class="col-md-3">
							<h4>No. of Candidates:</h4>
							<p>{{RequisitionNoOfCandidates}}</p>
						</div>
						<div class="col-md-3">
							<h4>Ship:</h4>
							<p>{{RequisitionShip}}</p>
						</div>
						<div class="col-md-3">
							<h4>Port of Joining:</h4>
							<p>{{RequisitionPort}}</p>
						</div>
						<div class="col-md-3">
							<h4>Expected Joining Date:</h4>
							<p>{{RequisitionJoiningDate}}</p>
						</div>
					</div>
				</div> 
				
				<div id="reason-body" class="table-responsive">
				<table class="table table-striped red-table">
					<caption>Details</caption>
					<thead>
						<tr>                
							<th style="min-width: 90px;vertical-align: middle;"">Date of Batch Trigger</th>
			                <th style="min-width: 90px;vertical-align: middle;">First Name</th>
			                <th style="min-width: 90px;vertical-align: middle;">Last Name</th>				
			                <th style="min-width: 80px;vertical-align: middle;">Emp No.</th>
			                <th style="min-width: 100px;vertical-align: middle;">Email</th>
							<th style="min-width: 80px;vertical-align: middle;">Acceptance status </th>
							<th style="min-width: 80px;vertical-align: middle;">Acceptance Date</th>
							<th style="min-width: 80px;vertical-align: middle;">Approver status </th>
							<th style="min-width: 80px;vertical-align: middle;">Approved By</th>
							<th style="min-width: 80px;vertical-align: middle;">Approved Date</th>
							<th style="min-width: 120px;vertical-align: middle;">Comments</th>
						</tr>
					</thead>
					<tbody>
						<tr  ng-repeat="l in logList">
							<td>{{l.batchtrigger_time}}</td>
							<td>{{l.crewdata.firstname}}</td>
							<td>{{l.crewdata.lastname}}</td>
							<td>{{l.crewdata.empid}}</td>
							<td>{{l.crewdata.email}}</td>
							<td ng-if="l.crew_status==1" style="color:green;">Accepted</td>
                            <td ng-if="l.crew_status==2" style="color:red;">Declined</td>
                            <td ng-if="l.crew_status==0">NA</td>
							<td>{{l.crew_status_date}}</td>
							<td ng-if="l.approval_status==1" style="color:green;">Approved</td>
                            <td ng-if="l.approval_status==2" style="color:red;">Rejected</td>
                            <td ng-if="l.approval_status==0">NA</td>
							<td>{{l.approve_by_name}}</td>
							<td ng-if="l.approval_status_date==null">NA</td>
                            <td>{{l.approval_status_date}}</td>
							<td>{{l.comment}}</td>
						</tr>
						
					</tbody>
				</table>
         	</div> 
			</div>
      </div>              
            </div>            
          </div>
      </div>

<!----Modal delete-list---->
<div id="deletelist" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm add-brand">

    <!-- Modal content-->
    <div class="modal-content flat-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h4 class="modal-title common-title" style="margin-left: 0;">Delete Record</h4>
      </div>
      <div class="modal-body flat-body">
          <div class="clearfix" ng-value="getCheckedId()"></div>
        Are you sure you want to delete {{getCheckedId.length}} record(s)?
      <div class="modal-footer text-left">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="show_ass" ng-click="deletefromListCDreq('Crew Deployment')">Delete</button>
        <a class="btn btn-link" data-dismiss="modal" >Cancel</a>
      </div>
    </div>
   </div>
    </div>
    </div>
    
<script type="text/javascript">
$("document").ready(function() {

	  $('.dropdown-menu').on('click', function(e) {
	      if($(this).hasClass('selection-column')) {
	          e.stopPropagation();
	      }
	  });
	});
</script>       
       <script type="text/javascript">
       
       
        $("#id_of_textbox").keyup(function(event) {
            if (event.keyCode === 13) {
                $("#id_of_button").click();
            }
        });
        $("#todate").keyup(function(event) {
            if (event.keyCode === 13) {
                $("#cal").click();
            }
        });
        </script>
        
<script type="text/javascript">
	$(function () {
        $('.dateonly').datetimepicker({
           format: 'DD-MM-YYYY',
           useCurrent: false
        });
    });
	$(function () {
        $('.dateonly1').datetimepicker({
           format: 'DD-MM-YYYY',
           useCurrent: false
        });
    });
</script>
</body>
</html>