<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
.report-content{
	margin-left: 250px;
}
.excel-download{
	text-align: left;
	float: right;
	margin-top: 25px;
}
.date-cal input{
	position: relative;
}
.date-cal i{
	position: absolute;
	font-size: 20px;
    top: 32px;
    right: 25px;
    cursor:pointer;
}

/*------------pagination css--------------------------*/
.text-right{
	margin:12px 0;
}
.pagination{
	margin-top: 0;
}
.pagination li:first-child{
	display:none;
}
</style>
</head>
<body>
	<div class="report-content">
		<div class="section-heading conf-heading">
			<h4>Reports</h4>
		</div>
		
		<div class="section-content">	
			<div class="upper-actions" style="display: flex; flex-direction: row; justify-content: flex-end;">
	        	
	        	<div class="col-md-1">
	        		<div class="button-group excel-download">
                    	<button class="btn btn-default btn-create" style="background:#1fa67a;"><i class="fa fa-file-excel-o"></i></button>
                	</div>
	        	</div>
				<div class="col-md-2">
					<div class="form-group date-cal">
				       	<label>From Date:</label>
				       	<input type="text" class="form-control flat-control-inner dateonly">
				       	<i class="fa fa-calendar-o" aria-hidden="true"></i>
				     </div>
				</div>
				<div class="col-md-2">
					<div class="form-group date-cal">
				      	<label>To Date:</label>
				      	<input type="text" class="form-control flat-control-inner dateonly">
				      	<i class="fa fa-calendar-o" aria-hidden="true"></i>
					</div>
				</div>
		        <div class="col-md-2">
					<div class="form-group">
						<label>Filter By Brand*</label>
						<select class="form-control flat-control-inner">
							<option label="Carnival" value="" selected="selected">Carnival</option>
							<option label="Admin" value="">Admin</option>
							<option label="Amul" value="">Amul</option>
						</select>	
					</div>
		        </div>
		       	<div class="col-md-1">
		
					<div class="button-group" style="margin: 26px 0px 0px 0px;">
						<button class="btn btn-default btn-create"><i class="fa fa-filter"></i></button>
					</div>
		       	</div>
	              
	          
				<div class="col-md-2" style=" padding-left: 0; padding-right: 0;">
					<div class="search-cntnr" style=" margin-top: 24px;">
					  <div class="form-group search-box inline-blck">
					    <input type="text" name=""  class="form-control flat-control-search mar-bottom-zero">
					    <i class="icon-search"></i>
					  </div>
					</div> 
				</div>
	            <div class="clearfix"></div>         
	                
	          
	
			</div>
	    
	    	<div class="table-responsive">
				<table class="table table-striped red-table">
					<caption>Report</caption>
					<thead>
						<tr>
						  
							<th style="min-width: 150px;vertical-align: middle;" class="">Req. Name <i class="fa fa-sort" ></i></th>
							<th style="min-width: 94px;vertical-align: middle;" class="">Req. Code <i class="fa fa-sort"></i></th>
							<th style="min-width: 150px;vertical-align: middle;" class="">Position <i class="fa fa-sort" ></i></th>
							<th style="min-width: 100px;vertical-align: middle;">Brand <i class="fa fa-sort"></i></th>
							<th style="min-width: 126px;vertical-align: middle;" class="">Ship <i class="fa fa-sort" ></i></th> 
							<th style="min-width: 126px;vertical-align: middle;" class="">Port of Joining<i class="fa fa-sort"></i></th>
							<th style="min-width: 163px;vertical-align: middle;" class="">No. of Candidates <i class="fa fa-sort"></i></th>
							<th style="min-width: 213px;vertical-align: middle;" class="">Expected Joining Date <i class="fa fa-sort"></i> </th>
							<th style="min-width: 213px;vertical-align: middle;" class="">Approval status <i class="fa fa-sort"></i> </th>
							<th style="min-width: 213px;vertical-align: middle;" class="">Acceptance status <i class="fa fa-sort"></i> </th>
						
						</tr>
					</thead>
					<tbody>
						<tr>					                
			                <td><a>Commis for Carnival Cruise Line</a></td>
			                <td>CruiseLine_AML_24</td>					                
			                <td>1st Commis</td>
							<td>Carnival Cruise Line</td>
			                <td>Amul ship</td>
			                <td>Mumbai</td>
			                <td>5</td>
			                <td>10-12-2021</td>
							<td>4/5</td>
							<td>4/5</td>
						</tr>
						<tr>
					        <td><a>Commis Baker for Costa Cruises-Asia</a></td>
			                <td>CommisBaker_CCC_263</td>					                
			                <td>1st Commis Baker</td>
			                <td>Costa Cruises-Asia</td>
			                <td>Carnival</td>
			                <td>Chennai </td>
			                <td>20</td>
			                <td>10-12-2021</td>
			                <td>5/20</td>
							<td>3/20</td>					
					    </tr>
						<tr>					                
			                <td><a>Commis Pastry for Costa Cruises-Europe</a></td>
			                <td>CommisPastry_CCE_260</td>					                
			                <td>1st Commis Pastry</td>
			                <td>Costa Cruises-Europe</td>					
			                <td>Costa Asia</td>
			                <td>Port Blair</td>
			                <td>10</td>			                
			                <td>11-11-2021</td> 
			                <td>5/10</td>
							<td>2/10</td>					
					    </tr>
				        <tr>					  
							<td><a>Commis for Costa Europe Talent pool</a></td>
							<td>Commis_CETP_261</td>					  
							<td>2nd Commis</td>
							<td>Costa Europe Talent pool</td>
							<td>Multi-task ship</td>
							<td>Kolkata </td>
							<td>11</td>
							<td>11-11-2021</td>
							<td>8/11</td>
							<td>8/11</td>
						</tr>
						<tr>						  
							<td><a>Commis Bakery for CSSI</a></td>
							<td>CommisBakery_CSSI_259</td>					  
							<td>2nd Commis Bakery</td>
							<td>CSSI</td>
							<td>nyka ship</td>
							<td>Tuticorin </td>
							<td>8</td>
							<td>25-11-2021</td>
							<td>6/8</td>
							<td>4/8</td>
						</tr>
						<tr>					  
							<td><a>Commis Butcher for Cunard</a></td>
							<td>CommisButcher_C_258</td>
							<td>2nd Commis Butcher</td>
							<td>Cunard</td>
							<td>P&amp;O - Europe1</td>
							<td>Cochin </td>
							<td>2</td>					 
							<td>06-10-2021</td>
							<td>2/2</td>
							<td>1/2</td>
						</tr>
						<tr>						   
							<td><a>3rd Officer for Holland America</a></td>
							<td>3rdOfficer_HA_257</td>
							<td>3rd Officer</td>
							<td>Holland America</td>
							<td>Peppership</td>
							<td>Ennore </td>
							<td>5</td>
							<td>30-09-2021</td> 
							<td>5/6</td>
							<td>4/3</td>
						 </tr>						 
						 <tr>						   
							<td><a>Admin Management for P&amp;O Cruise</a></td>
							<td>AdminManagement_POC_256</td>
							<td>Admin Management</td>
							<td>P&amp;O Cruises</td>
							<td>QA Tester</td>
							<td>Panambur </td>
							<td>16</td>
							<td>22-10-2021</td> 
							<td>14/16</td>
							<td>13/16</td>
						 </tr>
						 <tr>						   
							<td><a>Amul cheese maker for P&amp;O Cruises Australia</a></td>
							<td>Amulcheesemaker_POCA_255</td>
							<td>Amul cheese maker</td>
							<td>P&amp;O Cruises Australia</td>
							<td>SamTest Ship</td>
							<td>Vizag </td>
							<td>6</td>				  
							<td>28-08-2021</td>  
							<td>5/6</td>
							<td>4/6</td>
						 </tr>
						 <tr>
							<td><a>APM Lights for Princess Cruises</a></td>
							<td>APMLights_PC_254</td>  
							<td>APM Lights</td>
							<td>Princess Cruises</td>
							<td>Ship Milky way</td>
							<td>Mumbai</td>
							<td>2</td>
							<td>11-09-2021</td> 
							<td>2/2</td>
							<td>0/2</td>
						 </tr>
					</tbody>
				</table>
         	</div> 
        	<div class="text-right">            
	            <ul class="pagination">
					<li><a>&laquo;</a></li>
					<li class="active"><a>1</a></li>
					<li><a>2</a></li>
					<li><a>3</a></li>
					<li><a>4</a></li>
					<li><a>5</a></li>
					<li><a>&raquo;</a></li>
				</ul> 
            </div>        	
	    </div>	    
	</div>
	
</body>
</html>