<div class="height-70"></div>
<section id="jobs-main">
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
			<div class="login-cntnr">
				<h4 class="form-heading">Reset your password</h4>
				<h4 style="font-size: 14px; line-height: 21px;">Enter Current Password</h4>
				<form ng-submit="resetPassword(u)" name="myForm">
					<div class="form-group icon-grup icon-grup-password">
						<input type="password" name="" class="form-control flat-control" placeholder="Enter Current Password" ng-model="u.password" required>
					</div>
					<h4 style="font-size: 14px; line-height: 21px;">Enter New Password</h4>
					
					<span class="password-validation" ng-show="!myForm.password.$error.required && (myForm.password.$error.minlength || myForm.password.$error.maxlength) && myForm.password.$dirty">Passwords must be between 8 and 20 characters.</span>
               	 <span class="password-validation" ng-show="!myForm.password.$error.required && !myForm.password.$error.minlength && !myForm.password.$error.maxlength && myForm.password.$error.pattern && myForm.password.$dirty">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</span>
       
					<div class="form-group icon-grup icon-grup-password">
						<input type="password" id="password" name="password" class="form-control flat-control" placeholder="Enter New Password" ng-model="u.newPassword" 
						ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required>
					</div>
					
					<h4 style="font-size: 14px; line-height: 21px;">Enter Confirm Password</h4>
					<div class="form-group icon-grup icon-grup-password">
						<input type="password" name="" class="form-control flat-control" placeholder="Enter Confirm Password" ng-model="u.confirmPassword" required>
					</div>
					<div class="form-group">
						<button class="btn btn-default btn-bluer" type="submit" >Reset Password</button>
						<a ng-if="userdetails.changePasswordFlag == true"ng-click="cancel()">Cancel</a>
					</div>
					<!-- <div class="form-group">
						<button ui-sref="restricted.dashboard" class="btn btn-default  btn-login" type="submit" >Cancel</button>
					</div> -->
				</form>
			</div>
		</div>
	</div>
</div>


</section>
<div class="modal fade"  role="dialog" id="logout">
    <div class="modal-dialog modal-sm add-brand" >
      <div class="modal-content">
        <div class="modal-header">
         <!--  <button type="button" class="close" data-dismiss="modal">&times;</button> -->
          <h4 class="modal-title">Change Password</h4>
        </div>
        <div class="modal-body">
         <p>You have changed your password successfully. Please login to the site with new password to continue.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-info add_brand" data-dismiss="modal" ng-click="logout()">Ok</button>
        </div>
      </div>
    </div>
  </div>  
  
