<div ng-controller="Register_Ctrl">
<header>
	<nav class="navbar navbar-default header-nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle hide-logo" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand cruise-logo" href="#!home/" style="position: absolute;"><img src="resources/img/logo-big.png"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="login-li"><span class="black-text">Already have an account?</span>
        	<span class="linked"><a href="#!login">Log in</a></span>
        </li>
      </ul>
    </div>
  </div>
</nav>	
</header>

	<!----Main-cntnr---->
<!-- <div class="container-fluid" style="display:none;">
	<div class="row">
		<div class="col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
			<div class="login-cntnr">
				<h4 class="form-heading">Reset your password</h4>
				<h4 style="font-size: 14px; line-height: 21px;">Enter your registered email ID below to proceed.</h4>
				<form ng-submit="forgetPassword(u)">
					<div class="form-group icon-grup icon-grup-email">
						<input type="email" name="" class="form-control flat-control" placeholder="E-mail" ng-model="u.email">
					</div>
					
					<div class="form-group">
						<button class="btn btn-default btn-block btn-login" type="submit" >Proceed</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div> -->

<div class="container-fluid" id="selectmfa" >
	<div class="row">
		<div class="col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
			<div class="login-cntnr">
				<h4 class="form-heading">Multi-factor Authentication</h4>
				<!-- <hr/> -->
				<h4 style="font-size: 14px; line-height: 21px;">Please select one of the validation options:</h4>
				
				<div class="MFA_options">
					<div class="radio-cntnr new-radio" style="width: 100%;">
						<input type="radio" class="flashadmin" value="email"  id="email" name="radio-group"> <label for="email" class="cstmchk_lbladmin">Email</label>
					</div>
					<div class="radio-cntnr new-radio"  style="width: 100%;">
						<input type="radio" class="flashadmin" value="sms"   id="sms" name="radio-group"> <label for="sms" class="cstmchk_lbladmin">SMS</label>
					</div>
				</div>
				<div class="form-group">
						<button class="btn btn-default btn-block btn-login" type="submit" ng-click="sendOtp(button)">Proceed</button>
					</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid" style="display:none" id="validateotp">
	<div class="row">
		<div class="col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
			<div class="login-cntnr">
				<h4 class="form-heading">Multi-factor Authentication</h4>
				<!-- <hr/> -->
				<h4 style="font-size: 14px; line-height: 24px;">OTP has been sent to <b>{{userdetail}}</b>. Please provide OTP below:</h4>
				<form>
					<div class="form-group" style="margin-bottom:8px!important;">
						<input type="text" name="" class="form-control" ng-model="userotp" placeholder="OTP">
					</div>
					<p style="font-size: 13px;">OTP expires in <b style="color:red;font-weight:400!important;"><label id="mysmstimer"></label></b></p>
					
					<div class="form-group">
						<button class="btn btn-default btn-block btn-login" type="submit" ng-click="validateUserOtp(userotp)" >Proceed</button>
					</div>
				</form>
				
				
			</div>
		</div>
	</div>
</div>
 <div id="resendactivationlink" class="modal fade in" role="dialog" style="">
		<div class="modal-dialog ">	
		  <!-- Modal content-->
			<div class="modal-content flat-modal resendactivationlink-modal" style="height: 220px;">
				<div class="modal-header">
				  	<button type="button" class="close" data-dismiss="modal">x</button>
				  	<h4 class="modal-title common-title" style=""></h4>
				</div>
				<div class="modal-body flat-body">
				<p>Your account is not yet activated.</p>
				<p>Please click on "OK"  to receive an activation link on your email.</p>
				</div>
				<div class="modal-footer text-left">
				<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="resendActivationLink()">OK</button>
				<!-- <a class="btn btn-link" data-dismiss="modal">Cancel</a> -->
				</div>
			</div>
		 </div>
	</div> 

<!-- <div class="container-fluid">
	<div class="row">
		<div class="col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
			<div class="login-cntnr">
				<h4 class="form-heading">Reset your password</h4>
				<h4 style="font-size: 14px; line-height: 21px;">Enter your registered email ID below to proceed.</h4>
				<form ng-submit="forgetPassword(u)">
					<div class="form-group icon-grup icon-grup-password">
							<input type="password" name="" class="form-control flat-control" placeholder="Enter New Password" required>
					</div>
		
					<div class="form-group icon-grup icon-grup-password">
							<input type="password" name="" class="form-control flat-control" placeholder="Enter Confirm Password" required>
					</div>
					<div class="form-group">
						<button class="btn btn-default btn-block btn-login" type="submit" >Proceed</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div> -->

<!----Footer---->
<footer id="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-sm-4">
        <img src="resources/img/logo-big.png">
      </div>
      <div class="col-md-3 col-sm-4">
        <h5>ADDRESS</h5>
        <p>Carnival Support Services India Ltd,
Kohinoor City, Tower 2, Floor 5,
Kirol Road, Off. LBS Marg, Kurla West,
Mumbai 400 070</p>
<p>RPSL License No: RPSL - MUM - 062 (Valid till 14 December 2021)</p>
      </div>
      <div class="col-md-2 col-sm-4">
        <h5>CONTACT</h5>
        <p><a class="footer-contact" href="tel:+917942529292">+91-7942529292</a>
 </p>
      </div>
      <div class="col-md-2 col-sm-12">
        <h5>GET IN TOUCH</h5>
        <ul type="none" class="social-foot">
          <li><a href="https://www.facebook.com/cruisecareersindia/" target="_blank" class="facebook-link"><i class="icon-facebook"></i></a></li>
          <li><a href="https://twitter.com/cruisecareers" target="_blank" class="twitter-link"><i class="icon-twitter2"></i></a></li>
          <!-- <li><a href="" target="_blank" class="google-link"><i class="icon-instagram"></i></a></li> -->
          <li><a href="https://www.linkedin.com/company/carnival-support-services-india-pvt.-ltd" target="_blank" class="utube-link"><i class="icon-linkedin"></i></a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-12">
        <h5>MOBILE APP</h5>
        <ul type="none" class="social-foot">
          <li><a href="#!comingsoon" class="android-link"><i class="icon-android"></i></a></li>
          <li><a href="#!comingsoon" class="ios-link"><i class="icon-apple"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<div class="lower-footer">
  &copy; 2017 CSSI Pvt. Ltd.
</div>
<script>
	///Script to hide logo on click
    $(".hide-logo").click(function(){
    	$(".cruise-logo").fadeToggle();
    });
	</script>
</div>



