
<div>
<!---- Sticky Button ---->
<a class="btn btn-default sticky-btn smooth" href="#slider">
	<i class="icon-chevron-left"></i>
</a>
   <header>
	<nav class="navbar navbar-default header-nav navbar-fixed-top" id="sc">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle hide-logo" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand cruise-logo smooth" href="index.html" style="position: absolute;"><img src="resources/img/logo-big.png"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right uppermenu">
        <!-- <li class=""><a href="#jobs" class="smooth">Hot Jobs</a></li>
        <li class=""><a href="#steps" class="smooth">How do I apply</a></li>
        <li class=""><a href="#testimonials" class="smooth">Testimonials</a></li> -->
        <li class=""><a href="#!home/" class="smooth">Home</a></li>
         <li class=""><a ui-sref="register" ui-sref-active="active" class="smooth"><span class="icon-edit"></span> Sign up</a></li>
        <li class=""><a ui-sref="login" ui-sref-active="active" class="smooth"><span class="icon-log-in"></span> Login</a></li>
       </ul>
    </div>
  </div>
</nav>	
</header>

	
<div class="height-70"></div>

<section id="coming-inner" style="padding: 2% 0;">
	<h1>Our apps will be<br> LAUNCHED soon...</h1>
</section>


</div>
