<style>
.role_spec_btn{
	padding:9px;
	font-family: montserrat-semi;
}
.check_icon{
	text-align:center;
}
.check_icon i{
	font-size: 25px;
	color: green;
	margin-top: 7px;
}
.cross_icon{
	text-align:center;
}
.cross_icon i{
	font-size: 25px;
	color: red;
	margin-top: 7px;
}
.min_width_select{
	min-width: 200px;
}
</style>
<div >
<!---- Sticky Button ---->
<!-- <a class="btn btn-default sticky-btn smooth" href="#slider">
	<i class="icon-chevron-left"></i>
</a> -->
   <header ng-if="userdetails == undefined">
	<nav class="navbar navbar-default header-nav navbar-fixed-top nofixed" id="sc" style="box-shadow: none !important;border: 0px !important;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle hide-logo" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a ng-if="userdetails == undefined" class="navbar-brand cruise-logo smooth" href="#!home/" style="position: absolute;"><img src="resources/img/logo-big.png"></a>
       <a ng-if="userdetails != undefined"  class="navbar-brand cruise-logo smooth" href="#!dashboard/" style="position: absolute;"><img src="resources/img/logo-big.png"></a>
    </div>
    <div class=" navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav uppermenu upper-men">
        <!-- <li class=""><a href="#jobs" class="smooth">Hot Jobs</a></li>
        <li class=""><a href="#steps" class="smooth">How do I apply</a></li>
        <li class=""><a href="#testimonials" class="smooth">Testimonials</a></li> -->
        <li class="" style="visibility: hidden;"><a href="#!home/" class="smooth">Home</a></li>
        <li class="" style="visibility: hidden;"><a href="#!register/" class="smooth"><span class="icon-edit"></span> Sign up</a></li>
        <li class=""><a ui-sref="job_result" ui-sref-active="active" class="smooth" style="text-transform: initial;"><span class="icon-chevron-left"></span> Back to jobs list</a></li>
      </ul>
    </div>
  </div>
</nav>	
</header>

	
<div class="height-70"></div>
     
<section id="jobs-desc">
  <div class="container-fluid">
<!--      <a ui-sref="job_result" ui-sref-active="active" class="smooth" style="text-transform: initial;"><span class="icon-chevron-left"></span> Back to jobs list</a> -->
     
    <div class="row equal-row">
      <div class="col-md-7 col-md-offset-2 col-xs-12 zeropadding-right">
    <div class="job-search-cntnr" style="margin-bottom: 0;">
      <div class="job-description">
        <h2>{{jobById.position.name}}</h2>
        <img ng-src="{{jobById.brand.logoPath}}" class="brand-img" style="height:64px;">
          <div class="inner-job"><b>Department: </b>{{jobById.category.name}}</div>
          <div class="inner-job"><b>Brand: </b>{{jobById.brand.brandName}}</div>
          <div class="inner-job"><b>Date posted: </b> {{jobById.createdDate}}</div>
          <div class="inner-job"><img src="resources/img/ships/ship_{{jobById.brand.id}}.jpg" class="img-responsive"></div>
          <div class="inner-job"><p ng-bind-html="jobById.summery">
               </p>
                
                 <ul>
              <li id="jobimages" >
                <div ng-repeat="i in jobById.jobImages" class="img-cntnr"><img src="{{i.path}}" class="img-responsive"></div>
                <!-- <div class="img-cntnr"><img src="resources/img/Male-Chef.png" class="img-responsive"></div> -->
              </li>
            </ul>
          </div>
        <div class="row hidden-xs">
        	<div style="height: 30px;"></div>
        	<div class="col-md-4">
        		<button ng-if="jobById.status != 'Applied' && jobById.status != 'Hold' && jobById.statusId ==1" class="btn btn-block btn-primary btn-apply" type="button" id="applyJobs" ng-click="applyForJob()">Apply for this job</button>
          <button ng-if="(jobById.status == 'Applied'||jobById.status == 'Hold' )  &&  jobById.statusId == 1" class="btn btn-block btn-primary btn-apply" type="button" ng-click="applyForJob()" disabled>Already Applied</button>
          <button ng-if="jobById.statusId !=1" class="btn btn-block btn-primary btn-apply" type="button" ng-click="applyForJob()" disabled>Apply for this job</button>
          </div>
        	<div class="col-md-4">
        		 <button ng-if="jobById.notifyFlag == 'Not Notified' && jobById.statusId ==2" class="btn btn-block btn-primary btn-notify" type="button" ng-click="notify()">Notify when available</button>
          <button ng-if="jobById.notifyFlag == 'Notified' &&  jobById.statusId ==2"  class="btn btn-block btn-primary btn-notify" type="button" disabled>Already Notified</button>
          <button ng-if=" jobById.statusId !=2"  class="btn btn-block btn-primary btn-notify" type="button" disabled>Notify when available</button>
          </div>
        	<div class="col-md-4">
        		<button class="btn btn-block btn-primary btn-refer" type="button" ng-click="openModalForRefer()" style="border: 1px solid #e0e0e0">Refer a friend</button>
        	</div>
        	<div class="col-md-4">
        		<button  ng-if="jobById.status != 'Applied' && jobById.status != 'Hold' && jobById.statusId ==1" class="btn btn-block btn-warning role_spec_btn" type="button" data-toggle="modal" ng-click="fetchUserComplianceMandatorydetails()">Role Specific Compliances</button>
        		<button ng-if="(jobById.status == 'Applied'||jobById.status == 'Hold' )  &&  jobById.statusId == 1" class="btn btn-block btn-warning role_spec_btn"  type="button" ng-click="fetchUserComplianceMandatorydetails()" disabled>Role Specific Compliances</button>
          
        	</div>
      	</div>
      </div>
     
    </div>
      </div>
      <div class="col-md-2 col-xs-12 apply-btns zeropadding-left">
        <form >
        <div class="">
          <button ng-if="jobById.status != 'Applied' && jobById.status != 'Hold' && jobById.statusId ==1" class="btn btn-block btn-primary btn-apply" type="button" ng-click="applyForJob()">Apply for this job</button>
          <button ng-if="(jobById.status == 'Applied'||jobById.status == 'Hold' ) &&  jobById.statusId == 1" class="btn btn-block btn-primary btn-apply" type="button" ng-click="applyForJob()" disabled>Already Applied</button>
          <button ng-if="jobById.statusId !=1" class="btn btn-block btn-primary btn-apply" type="button" ng-click="applyForJob()" disabled>Apply for this job</button>
          
          
         <button ng-if="jobById.notifyFlag == 'Not Notified' && jobById.statusId ==2" class="btn btn-block btn-primary btn-notify" type="button" ng-click="notify()">Notify when available</button>
          <button ng-if="jobById.notifyFlag == 'Notified' &&  jobById.statusId ==2"  class="btn btn-block btn-primary btn-notify" type="button" disabled>Already Notified</button>
          <button ng-if=" jobById.statusId !=2"  class="btn btn-block btn-primary btn-notify" type="button" disabled>Notify when available</button>
          
           <button class="btn btn-block btn-primary btn-refer" type="button" ng-click="openModalForRefer()">Refer a friend</button>
           <button  ng-if="jobById.status != 'Applied' && jobById.status != 'Hold' && jobById.statusId ==1" class="btn btn-block btn-warning role_spec_btn" type="button" data-toggle="modal" ng-click="fetchUserComplianceMandatorydetails()">Role Specific <br> Compliances</button>
           <button ng-if="(jobById.status == 'Applied'||jobById.status == 'Hold' )  &&  jobById.statusId == 1" class="btn btn-block btn-warning role_spec_btn" type="button" ng-click="fetchUserComplianceMandatorydetails()" disabled>Role Specific <br> Compliances</button>
          
         <!--  <button ng-if="jobById.status == 'Applied'" class="btn btn-block btn-primary btn-refer" type="button" ng-click="openModalForRefer()" disabled>Refer a friend</button>
         -->
         </div>
      </form>
      </div>
    </div>
  </div>
</section>

<!----Footer---->
<footer id="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-sm-4">
        <img src="resources/img/logo-big.png">
      </div>
      <div class="col-md-3 col-sm-4">
        <h5>ADDRESS</h5>
        <p>Carnival Support Services India Ltd,
Kohinoor City, Tower 2, Floor 5,
Kirol Road, Off. LBS Marg, Kurla West,
Mumbai 400 070</p>
      </div>
      <div class="col-md-2 col-sm-4">
        <h5>CONTACT</h5>
        <p>+91-7942529292
 </p>
      </div>
      <div class="col-md-2 col-sm-12">
        <h5>GET IN TOUCH</h5>
        <ul type="none" class="social-foot">
          <li><a href="https://www.facebook.com/cruisecareersindia/" target="_blank" class="facebook-link"><i class="icon-facebook"></i></a></li>
          <li><a href="https://twitter.com/cruisecareers" target="_blank" class="twitter-link"><i class="icon-twitter2"></i></a></li>
          <!-- <li><a href="" target="_blank" class="google-link"><i class="icon-instagram"></i></a></li> -->
          <li><a href="https://www.linkedin.com/company/carnival-support-services-india-pvt.-ltd" target="_blank" class="utube-link"><i class="icon-linkedin"></i></a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-12">
        <h5>MOBILE APP</h5>
        <ul type="none" class="social-foot">
          <li><a href="#!comingsoon" class="android-link"><i class="icon-android"></i></a></li>
          <li><a href="#!comingsoon" class="ios-link"><i class="icon-apple"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<div class="lower-footer">
 &copy; 2017 CSSI Pvt. Ltd.
</div>

<!-- update compliances modal start here-->
<div id="update_compliances_modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md modal-400">
    <!-- Modal content-->
    <div class="modal-content flat-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title common-title"> There are some additional </h4>
      </div>
      <div class="modal-body flat-body">
        <p>Compliance required for this role. Please update to continue with application.  </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"  data-toggle="modal" data-dismiss="modal" ng-click="fetchUserComplianceMandatorydetails()">Update Now</button>
        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<!-- update compliances modal end here -->


<!-- apply job modal start here-->
<div id="apply_job_modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg" style="width: 75%;">
    <!-- Modal content-->
    <div class="modal-content flat-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title common-title" style="margin-left: 0 !important;">Compliances For : <span> {{jobById.position.name}}</span></h4>
      </div>
      <div class="modal-body flat-body">
<!--       <form ng-submit="addForUserCompliance(fetchUserComplianceMandatoryDetails)" class="ng-pristine ng-valid ng-valid-required"> -->
        <div class="" ng-if="fetchUserComplianceMandatoryDetails.length>0">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Document's Name*</th>
                  <th>Form
                    <label><i class="fa fa-question-circle-o" style="color: #A9A9A9;" data-toggle="tooltip" data-placement="top" title="" data-original-title="If download icon appears please download form, complete it and attach the form."></i></label></th>
                  <th>Document No.*</th>
                  <th>Issue Date*</th>
                  <th>Expiry Date*</th>
                  <th>Country of Issue*</th>
                  <th>Attach Document</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>                
                <tr ng-repeat="c in fetchUserComplianceMandatoryDetails">
                  <td>
					<div ng-if="c.compliance.complianceName!=null">
					<label>{{c.compliance.complianceName}}</label>
					</div>
                  </td>
                   <td>
                   <button type="button" ng-if="c.compliance.complianceFormPath != null || c.compliance.complianceFormPath != undefined" ng-click="download(c.compliance.complianceFormPath)" 
                     class="btn bigblue-btn new-btn-dwn"><i class="fa fa-download" aria-hidden="true" ng-disabled="{{c.ocr == 1}}"></i></button></td>                                            
                  <td>
                  <div class="form-group width-200">
                      <input class="form-control flat-control-inner" ng-model="c.documentNumber" ng-disabled="{{c.ocr == 1}}">
                    </div>
                    </td>
                    <td>
                    <div class="form-group width-200">
                      <input class="form-control flat-control-inner linked-date3" id="issuedate{{$index}}" ng-model="c.issueDate" ng-disabled="{{c.ocr == 1}}">
                    </div></td>
                  <td><div class="form-group width-200">
                      <input class="form-control flat-control-inner linked-date4" id="expirydate{{$index}}" ng-model="c.expiryDate" ng-disabled="{{c.ocr == 1}}"
						ng-change="validateDate(c,'expirydate'+$index)" >
                    </div></td>
                  <td><div class="form-group width-200 min_width_select">
                      <select class="form-control flat-control-inner" ng-disabled="{{c.ocr == 1}}"
						ng-model="c.countryOfIssue" id="countryOfIssue" 
						ng-options="c.id as c.CountryName for c in countryList">
                        <option value="">--Select--</option>
                      </select>
                    </div></td>
                  <td>
                  	<div class="form-group width-200" id="browse">
                      <div class="input-group">
                        <input type="text" id="docfilepath{{$index}}"
						class="form-control flat-control-inner" readonly="" >
                        <span class="input-group-btn"> <span class="btn btn-primary btn-file" ng-disabled="{{c.ocr == 1}}"> Browse
                        <input type="file" id="documentfile{{$index}}" onchange="angular.element(this).scope().fileNameChanged(this)" single ng-disabled="{{c.ocr == 1}}">
                        </span> </span>
                      </div>
                      <div ng-if=" c.path != null || c.path != undefined " ng-disabled="{{c.ocr == 1}}">
					  <a href="" ng-click="download(c.path)" target="_blank">Download</a>
					  <a ng-click="PreviewDocument(c.path)" data-toggle="modal" data-target="#expand_view">View</a> 
					  </div>
                    </div>
                  </td>
                  <td class="cross_icon" ng-if="!c.compliance.check"> 
                  <i class="fa fa-times-circle" aria-hidden="true"></i> 
                  </td>
                  <td class="check_icon" ng-if="c.compliance.check"> 
                  <i class="fa fa-check-circle" aria-hidden="true"></i> 
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
         <div class="modal-footer">
        <button class="btn btn-default btn-bluer" id="" type="button" ng-click="addForUserCompliance(fetchUserComplianceMandatoryDetails)">Save</button>
        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
      </div>
      </div>
      <div  style="height: 200px; margin-bottom: 20px;" ng-if="fetchUserComplianceMandatoryDetails.length==0">
          		 <h4 class="no-data">No Role Specific Compliances Found !</h4>
          </div>
<!--        </form> -->
    </div>
      </div>   
  </div>
</div>

<!-- Modal -->
<div id="apply" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-md modal-400">

    <!-- Modal content-->
    <div class="modal-content flat-modal">
      <div class="modal-header">
       <!--  <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        <h4 class="modal-title common-title"><i class="icon-thumbs-up"></i> Successfully Applied</h4>
      </div>
      <div class="modal-body flat-body">
        <p>You have successfully applied for this job.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="redirectToJobList()">OK</button>
      </div>
    </div>

  </div>
</div>

<div class="modal fade" id="expand_view" role="dialog">
          <div class="modal-dialog modal-md add-brand">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">X</button>
                <h4 class="modal-title">Document</h4>
              </div>
              <div class="modal-body">
              <div  id="imagetab">
              <img ng-show="imageFlag == true" ng-src="{{fileurl}}" width="100%"  class="img-responsive" id="imgtab1">
               <iframe ng-show="pdfFlag == true"  ng-src="{{pdfDocPath}}" height="410px" width="100%" id="imgtab2"></iframe>
		        <!-- <img width="100%" src="resources/img/Fake.jpg" class="img-responsive" id="imgtab1"> -->
		        <!-- <iframe ng-show="pdfFlag == true" ng-src="{{pdfDocPath}}" height="410px" width="100%"></iframe>  -->
		       </div>
              </div>             
            </div>
          </div>
      </div>
    

<!-- Modal -->
<div id="refer" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md modal-400">

    <!-- Modal content-->
    <div class="modal-content flat-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title common-title" style="margin-left: 0;">Refer a friend</h4>
      </div>
      <div class="modal-body flat-body">
        <p>Refer your friends via email.</p>
       
        <div class="form-group flat-group">
          <textarea class="form-control flat-control-inner" rows="5" style="margin-bottom: 5px;" type="email" ng-model="refer.emails" required></textarea>
          <span>enter comma to separate emails</span>
        </div>
	
      </div>
      <div class="modal-footer text-left">
        <button type="button" class="btn btn-default" ng-click="referFriends(refer)">OK</button>
        <a class="btn btn-link" data-dismiss="modal">Cancel</a>
      </div>
    </div>

  </div>
</div>

<div id="alreadyappliedforjob" class="modal fade in" role="dialog" style="">
		<div class="modal-dialog ">	
		  <!-- Modal content-->
			<div class="modal-content flat-modal" style="height: 200px;">
				<div class="modal-header">
				  	<button type="button" class="close" data-dismiss="modal">x</button>
				  	<h4 class="modal-title common-title" style="">Alert</h4>
				</div>
				<div class="modal-body flat-body">
				<p>You have already applied for a position. Withdraw the previous applied position and then try to apply for this.</p>
				</div>
				<div class="modal-footer text-left">
				<button type="button" class="btn btn-default" ng-click="reload()">OK</button>
				<!-- <a class="btn btn-link" data-dismiss="modal">Cancel</a> -->
				</div>
			</div>
		 </div>
	</div> 

</div>

 <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  
  <script>
  var docWidth = document.documentElement.offsetWidth;

  [].forEach.call(
    document.querySelectorAll('*'),
    function(el) {
      if (el.offsetWidth > docWidth) {
        //console.log(el);
      }
    }
  );
  
 $('#apply_job_modal').on('focus', ".linked-date3", function() {
 $('.linked-date3').datetimepicker({
 format : 'DD-MM-YYYY'
 }).on('dp.change', function(e) {
 $(this).change()
 });
 });

 $('#apply_job_modal').on('focus', ".linked-date4", function() {
 $('.linked-date4').datetimepicker({
 format : 'DD-MM-YYYY'
 }).on('dp.change', function(e) {
 $(this).change()
 });
 });

 $('#apply_job_modal').on('focus', ".dateonly", function() {
	 $('.dateonly').datetimepicker({
	 format : 'DD-MM-YYYY',
	 useCurrent : false, //Important! See issue #1075

	 }).on('dp.change', function(e) {
	 $(this).change()
	 });
	 });
  </script>

<!-- <script type="text/javascript">
  $(document).ready(function(){
  var max = 1;
$('.equal-row > div').each(function() {
var h = $(this).height(); 
max = h > max ? h : max;
        
$(this).css({'min-height': max});
});
});
</script> -->
