<div ng-controller="Register_Ctrl">
	<!----Navbar---->
<header>
	<nav class="navbar navbar-default header-nav navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle hide-logo" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand cruise-logo" href="#!home" style="position: absolute;"><img src="resources/img/logo-big.png"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right zeromargin">
        <li class="login-li"><span class="black-text">Already have an account?</span>
        	<span class="linked"><a href="#!login" >LOG IN</a></span>
        </li>
      </ul>
    </div>
  </div>
</nav>	
</header>
<div class="height-100"></div>
	<!----Main-cntnr---->
<div class="container-fluid">
	<div class="row">
		<div class="col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1 hidden-xs hidden-sm">
			<div class="chef-img">
				<img src="resources/img/chef-register.png" width="100%">
			</div>
		</div>
		<div class="col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-1 col-sm-6 col-sm-offset-3 col-xs-12">
			<div class="login-cntnr">
				<h4 class="form-heading">Sign Up and Start Applying</h4>
				<!-- <div class="social-btns text-center">
				
			<button class="btn btn-default btn-fb" ng-click="fbLogin();checkLogin(1)" id="fbLink"><i class="icon-facebook"></i></button>	
		     	
		     	 <div id="divId" class="g-signin2" onclick="ClickLogin()" ng-click ="checkLogin(2)" data-onsuccess="onSignIn"  ></div> 	 	
					
				</div>
				<h4 class="or">OR</h4> -->
				<form ng-submit="getRegister(user)" name="myForm">
					<div class="form-group icon-grup icon-grup-name">
						<input type="text" name="" class="form-control flat-control" placeholder="First Name" ng-model="user.firstName" required>
					</div>
					<div class="form-group icon-grup icon-grup-name">
						<input type="text" name="" class="form-control flat-control" placeholder="Last Name" ng-model="user.lastName" required>
					</div>
					<div class="form-group icon-grup icon-grup-email">
						<input type="email" name="" class="form-control flat-control" placeholder="E-mail" ng-model="user.email"   required>
					</div>
					
               <span class="password-validation" ng-show="!myForm.password.$error.required && (myForm.password.$error.minlength || myForm.password.$error.maxlength) && myForm.password.$dirty">Passwords must be between 8 and 20 characters.</span>
                <span class="password-validation" ng-show="!myForm.password.$error.required && !myForm.password.$error.minlength && !myForm.password.$error.maxlength && myForm.password.$error.pattern && myForm.password.$dirty">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</span>
       
					<div class="form-group icon-grup icon-grup-password">
						<input type="password" id="password" name="password" class="form-control flat-control" placeholder="Password" ng-model="user.password" 
						ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required>
					</div>
					<div class="form-group icon-grup icon-grup-password">
						<input type="password" name="" class="form-control flat-control" placeholder="Confirm Password" ng-model="cofirmpassword" required>
					</div>
					<div class="form-group">
						
							</div>
			       
		       <p class="terms"> 
		       <div class="chckbx-cntnr zeromargin" style="padding:2px;vertical-align:middle"><input type="checkbox" id="rd" name="check" class="flashadmin" ng-model="user.tnc" ng-click="setbuttonFlag(user.tnc)"><label class="cstmchk_lbladmin" for="rd"></label></div>
		       I agree to the <a class="tc-pp" href="#!terms_conditions" target="_blank">Terms of Use</a> and <a class="tc-pp" href="#!privacy_policy" target="_blank">Privacy Policy</a>.</p>
			
			<button  id="signup"class="btn btn-default btn-block btn-login" type="submit"  ng-disabled="!buttonFlag" >Sign up</button>
						<!-- <button ng-if="buttonFlag==false" id="signup" class="btn btn-default btn-block btn-login" disabled  >Sign up</button>  -->
			
				</form>
			</div>
		</div>
	</div>
</div>

</div>
  
 <!----Modal on successful Registeration---->
				<div id="registration" class="modal fade" role="dialog">
				  <div class="modal-dialog modal-md add-brand">
				    <!-- Modal content-->
				    <div class="modal-content flat-modal">
				      <div class="modal-header">
				    <button type="button" class="close"  ng-click="goTOLogin()" style="padding: 0px;">X</button>  
				        <h4 class="modal-title common-title" style="margin-left: 0;">successfully registered</h4>
				      </div>
				      <div class="modal-body flat-body success-registered">
				          <div class="clearfix" ></div>
				    <h4><span>Woo Hoo! You have successfully registered!</span><br> Look out for the activation link in your email.</h4> 
				      <div class="modal-footer text-left">
				        <button type="button" class="btn close" ng-click="goTOLogin()" >Back to Log In Page</button>				      
				      </div>
				    </div>
				   </div>
				    </div>
				    </div>
<script>
	  
	///Script to hide logo on click
    $(".hide-logo").click(function(){
    	$(".cruise-logo").fadeToggle();
    });	
	</script>
	
    <script src="https://apis.google.com/js/client:platform.js?onload=startApp"></script>	
	<script>
	var clicked=false;
	
	function ClickLogin()
	{
	    clicked=true;
	}	 
	 
 	  function onSignIn(googleUser) 
	{  if (clicked) {	
	  var profile = googleUser.getBasicProfile(); 		 
	  angular.element(document.getElementById('divId')).scope().UserGoogleRegistration(profile);	
	}
	}	 
   	</script>
  