
<div >
<!---- Sticky Button ---->
<a class="btn btn-default sticky-btn smooth" href="#slider">
	<i class="icon-chevron-left"></i>
</a>
   <header>
	<nav class="navbar navbar-default header-nav navbar-fixed-top" id="sc">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle hide-logo" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand cruise-logo smooth" href="#!home/" style="position: absolute;"><img src="resources/img/logo-big.png"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right uppermenu">
        <li class=""><a href="#!home" class="smooth">Home</a></li>
        <!-- <li class=""><a href="#steps" class="smooth">How do I apply</a></li>
        <li class=""><a href="#testimonials" class="smooth">Testimonials</a></li>
        <li class=""><a href="#about" class="smooth">About us</a></li> -->
         <li class=""><a ui-sref="register" ui-sref-active="active" class="smooth"><span class="icon-edit"></span> Sign up</a></li>
        <li class=""><a ui-sref="login" ui-sref-active="active" class="smooth"><span class="icon-log-in"></span> Login</a></li>
       </ul>
    </div>
  </div>
</nav>	
</header>

	
<div class="height-70"></div>

<section id="testimonials-inner">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8">
				<div class="tab-content">
					<div id="test-active" class="active main-testimonial">
					    <div class="row">
					    	<div class="col-md-6">
					    		<div ng-if="testimonialsDetails.type == 'Image'" class="img-test" style="background:url({{testimonialsDetails.profilePicPath}}) no-repeat center;"></div>
					    		 <div ng-if="testimonialsDetails.type == 'Video'" class="picture-test">
            						<iframe width="100%" ng-src="{{urlVideo}}" frameborder="0" allowfullscreen></iframe>
          						</div>
					    	</div>
					    	<div class="col-md-6">
					    		<div class="name-designation">
					    			<h3>{{testimonialsDetails.name}}</h3>
					    			<h4>{{testimonialsDetails.position}}</h4>
					    		</div>
					    		<div class="test-desc">
					    			<h1>&ldquo;</h1>
					    			<p>{{testimonialsDetails.description}}
									</p>
					    		</div>
					    	</div>
					    </div>
					</div>
			</div>
			<div class="col-md-4">
				
			</div>
		</div>
		
		 <div class="col-md-4">
				<div class="all-test">
          <h5>All Testimonials</h5>
          <ul type="none">
            <li ng-repeat="list in testimonialsList">
             <div ng-if="list.type == 'Image'" class="test-pic-small" style="background-image:url({{list.profilePicPath}});"></div>
			<div ng-if="list.type == 'Video'" class="test-pic-small" style="background-image:url(resources/img/play-btn.png);">
            	
          	</div> 
            
            <span><a ng-click="readDetailsOfTestimonials(list.id)">{{list.name}}</a></span>
              <p>{{list.description}}</p>
              </li>
            <!-- <li><div class="test-pic-small" style="background-image: url(img/test3.png);"></div><span>Samuel Peterson</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</p>
            </li>
            <li><div class="test-pic-small" style="background-image: url(img/test4.png);"></div><span>John Doe</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</p>
            </li> -->
          </ul>
        </div>
			</div> 
		
	</div>
	</div>
</section>




<!----Footer---->
<!-- <footer id="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <img src="resources/img/logo-big.png">
      </div>
      <div class="col-md-3">
        <h5>ADDRESS</h5>
        <p>Carnival Support Services India Ltd,
Kohinoor City, Tower 2, Floor 5,
Kirol Road, Off. LBS Marg, Kurla West,
Mumbai 400 070</p>
      </div>
      <div class="col-md-2">
        <h5>CONTACT</h5>
        <p><a class="footer-contact" href="tel:+917942529292">+91-7942529292</a>
 </p>
      </div>
      <div class="col-md-2">
        <h5>GET IN TOUCH</h5>
        <ul type="none" class="social-foot">
          <li><a href="https://www.facebook.com/cruisecareersindia/" target="_blank" class="facebook-link"><i class="icon-facebook"></i></a></li>
          <li><a href="https://twitter.com/cruisecareers" target="_blank" class="twitter-link"><i class="icon-twitter2"></i></a></li>
          <li><a href="" target="_blank" class="google-link"><i class="icon-instagram"></i></a></li>
          <li><a href="https://www.linkedin.com/company/carnival-support-services-india-pvt.-ltd" target="_blank" class="utube-link"><i class="icon-linkedin"></i></a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5>MOBILE APP</h5>
        <ul type="none" class="social-foot">
          <li><a href="" target="_blank" class="android-link"><i class="icon-android"></i></a></li>
          <li><a href="" target="_blank" class="ios-link"><i class="icon-apple"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer> -->



<!-- <div class="lower-footer">
  &copy; 2017 CSSI Pvt. Ltd.
</div>
 -->
</div>
<script type="text/javascript">
    
//Script for smooth scrolling
$('a.smooth').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
        || location.hostname == this.hostname) {

        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
           if (target.length) {
             $('html,body').animate({
                 scrollTop: target.offset().top - 70
            }, 1000);
            return false;
        }
    }
});
  </script>
   <script type="text/javascript">
    $(document).ready(function(){
      $('.company-slider').slick({
  dots: false,
  infinite: true,
  arrows: true,
  speed: 300,
  slidesToShow: 5,
  slidesToScroll: 1,
  adaptiveHeight: true,
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 3,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
});

    });
  </script>
  
  <script language="JavaScript" type="text/javascript">
  $(document).ready(function(){
    $('.carousel').carousel({
      interval: 3500
    });
    
    ///Script to hide logo on click
    $(".hide-logo").click(function(){
    	$(".cruise-logo").fadeToggle();
    });
    //Script for animate on scroll
    AOS.init();
  });    
</script>

<script>
//Script for sticky button
$(window).scroll(function(){
     var scroll = $(window).scrollTop();

    if (scroll >= 1000) {
        $(".sticky-btn").addClass("reveal1");
    }
  else {
        $(".sticky-btn").removeClass("reveal1");
    }
    if (scroll >= 2000) {
        $(".sticky-btn").addClass("reveal2");
    }
  else {
        $(".sticky-btn").removeClass("reveal2");
    }

});

</script>
